openapi: 3.1.0
info:
  title: MLB MLB v3 Headshots NBA v3 Projections API
  version: '1.0'
  description: MLB API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: NBA v3 Projections
paths:
  /v3/nba/projections/{format}/PlayerGameProjectionStatsByDate/{date}:
    get:
      description: SportsDataIO's proprietary projections, including DFS salary information and injuries, for fantasy players, called by date.
      operationId: nba_v3_projections_projected_player_game_stats___by_date
      summary: Projected Player Game Stats - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Projections
  /v3/nba/projections/{format}/DfsSlatesByDate/{date}:
    get:
      description: Returns DFS Slates which have not yet started, with their player and salary information.
      operationId: nba_v3_projections_dfs_slates___by_date
      summary: DFS Slates - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DfsSlate'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Projections
  /v3/nba/projections/{format}/PlayerSeasonProjectionStats/{season}:
    get:
      description: SportsDataIO's proprietary projections for all active players for the season.
      operationId: nba_v3_projections_projected_player_season_stats
      summary: Projected Player Season Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeasonProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Projections
  /v3/nba/projections/{format}/PlayerSeasonProjectionStatsByTeam/{season}/{team}:
    get:
      description: SportsDataIO's proprietary projections for all active players for the season, called by team
      operationId: nba_v3_projections_projected_player_season_stats___by_team
      summary: Projected Player Season Stats - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'The abbreviation of the requested team.

          <br>Examples: <code>MIA</code>, <code>PHI</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeasonProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Projections
  /v3/nba/projections/{format}/StartingLineupsByDate/{date}:
    get:
      description: This endpoint provides the projected & confirmed starting lineups for NBA games on a given date.
      operationId: nba_v3_projections_starting_lineups___by_date
      summary: Starting Lineups - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br> Examples: <code>2021-OCT-12</code>, <code>2021-DEC-09</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StartingLineups'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Projections
  /v3/nba/projections/{format}/InjuredPlayers:
    get:
      description: This endpoint provides all currently injured NBA players, along with injury details.
      operationId: nba_v3_projections_player_details___by_injured
      summary: Player Details - by Injured
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Projections
components:
  schemas:
    PlayerSeasonProjection:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the player's team
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition).
        Season:
          type:
          - integer
          - 'null'
          description: The NBA season in which these totals apply
        Name:
          type:
          - string
          - 'null'
          description: The name of the player
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the player's team
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s position associated with the given game or season. Possible values: PG; SG; SF; PF; C'
        Started:
          type:
          - integer
          - 'null'
          description: Indicates how many games the player has started in the season
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        FieldGoalsMade:
          type:
          - number
          - 'null'
          description: Total number of field goals made
        FieldGoalsAttempted:
          type:
          - number
          - 'null'
          description: Total number of field goals attempted
        FieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total field goal percentage
        EffectiveFieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total effective field goals percentage
        TwoPointersMade:
          type:
          - number
          - 'null'
          description: Total two pointers made
        TwoPointersAttempted:
          type:
          - number
          - 'null'
          description: Total two pointers attempted
        TwoPointersPercentage:
          type:
          - number
          - 'null'
          description: Total two pointers percentage
        ThreePointersMade:
          type:
          - number
          - 'null'
          description: Total three pointers made
        ThreePointersAttempted:
          type:
          - number
          - 'null'
          description: Total three pointers attempted
        ThreePointersPercentage:
          type:
          - number
          - 'null'
          description: Total three pointers percentage
        FreeThrowsMade:
          type:
          - number
          - 'null'
          description: Total free throws made
        FreeThrowsAttempted:
          type:
          - number
          - 'null'
          description: Total free throws attempted
        FreeThrowsPercentage:
          type:
          - number
          - 'null'
          description: Total free throws percentage
        OffensiveRebounds:
          type:
          - number
          - 'null'
          description: Total offensive rebounds
        DefensiveRebounds:
          type:
          - number
          - 'null'
          description: Total defensive rebounds
        Rebounds:
          type:
          - number
          - 'null'
          description: Total rebounds
        OffensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total offensive rebounds percentage
        DefensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total defensive rebounds percentage
        TotalReboundsPercentage:
          type:
          - number
          - 'null'
          description: The player/team total rebounds percentage
        Assists:
          type:
          - number
          - 'null'
          description: Total assists
        Steals:
          type:
          - number
          - 'null'
          description: Total steals
        BlockedShots:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Turnovers:
          type:
          - number
          - 'null'
          description: Total turnovers
        PersonalFouls:
          type:
          - number
          - 'null'
          description: Total personal fouls
        Points:
          type:
          - number
          - 'null'
          description: Total points scored
        TrueShootingAttempts:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting attempts as defined here: http://www.basketball-reference.com/about/glossary.html'
        TrueShootingPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        PlayerEfficiencyRating:
          type:
          - number
          - 'null'
          description: 'The player''s linear weight efficiency rating as defined here: http://bleacherreport.com/articles/113144-cracking-the-code-how-to-calculate-hollingers-per-without-all-the-mess'
        AssistsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s assist percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        StealsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s steal percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        BlocksPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s block percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        TurnOversPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s turnover percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        UsageRatePercentage:
          type:
          - number
          - 'null'
          description: 'The player''s usage rate percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        DoubleDoubles:
          type:
          - number
          - 'null'
          description: Total double-doubles scored
        TripleDoubles:
          type:
          - number
          - 'null'
          description: Total triple-doubles scored
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
        IsClosed:
          type: boolean
          description: Indicates whether the game is over and the stats for this player have been verified and closed out.
        LineupConfirmed:
          type:
          - boolean
          - 'null'
          description: Indicates whether starting lineup is confirmed
        LineupStatus:
          type:
          - string
          - 'null'
          description: Indicates whether player is starting, active, or inactive
    StartingLineups:
      properties:
        GameID:
          type: integer
          description: The unique ID of the game associated with this lineup
        Season:
          type: integer
          description: The NBA season of the game that the lineups is associated with
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition).
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: Date and Time of Game
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled; InProgress; Final; F/OT; Suspended; Postponed; Delayed; Canceled; Forfeit'
        HomeTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the home team
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        AwayTeamID:
          type:
          - integer
          - 'null'
          description: Unique ID of Away Team
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        HomeLineup:
          type: array
          items:
            $ref: '#/components/schemas/Lineup'
          description: The lineup (starters and bench players) of the home team in a given game
        AwayLineup:
          type: array
          items:
            $ref: '#/components/schemas/Lineup'
          description: The lineup (starters and bench players) of the away team in a given game
    Lineup:
      properties:
        PlayerID:
          type: integer
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        TeamID:
          type: integer
          description: The unique ID of the team
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        FirstName:
          type:
          - string
          - 'null'
          description: The player's first name
        LastName:
          type:
          - string
          - 'null'
          description: The player's last name
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s primary position. Possible values: C; PF; PG; SF; SG'
        Starting:
          type:
          - boolean
          - 'null'
          description: Indicates whether this player is in the starting lineup or on the bench
        Confirmed:
          type:
          - boolean
          - 'null'
          description: Indicated whether the 'Starting' field has been confirmed for a player
        LineupStatus:
          type:
          - string
          - 'null'
          description: Indicates whether player is starting, active, or inactive
    DfsSlateGame:
      properties:
        SlateGameID:
          type: integer
          description: Unique ID of a SlateGame (assigned by SportsDataIO).
        SlateID:
          type: integer
          description: The SlateID that this SlateGame refers to.
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of the game associated with this SlateGame. This points to data in the schedule/game/box score feeds.
        Game:
          $ref: '#/components/schemas/Game'
          description: The details of the Game that this SlateGame refers to.
        OperatorGameID:
          type:
          - integer
          - 'null'
          description: Unique ID of a SlateGame (assigned by the operator).
        RemovedByOperator:
          type:
          - boolean
          - 'null'
          description: Indicates whether this game was removed/deleted by the operator.
    Game:
      properties:
        GameID:
          type: integer
          description: The unique ID of this game
        Season:
          type: integer
          description: The NBA season of the game
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition)
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled, InProgress, Final, F/OT, Suspended, Postponed, Delayed, Canceled, Forfeit, NotNecessary'
        Day:
          type:
          - string
          - 'null'
          description: The date of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        AwayTeamID:
          type: integer
          description: The unique ID of the away team
        HomeTeamID:
          type: integer
          description: The unique ID of the home team
        StadiumID:
          type:
          - integer
          - 'null'
          description: The unique ID of the stadium
        Channel:
          type:
          - string
          - 'null'
          description: The television station broadcasting the game
        Attendance:
          type:
          - integer
          - 'null'
          description: The total number of people in attendance at the game
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of points the away team scored in the game
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of points the home team scored in this game
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when this game was last updated (in US Eastern Time)
        Quarter:
          type:
          - string
          - 'null'
          description: 'The current quarter in the game. Possible values include: 1, 2, 3, 4, Half, OT, NULL'
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: The number of minutes remaining in the quarter
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: The number of seconds remaining in the quarter
        PointSpread:
          type:
          - number
          - 'null'
          description: The oddsmaker Point Spread at game start from the perspective of the HomeTeam (negative numbers indicate the HomeTeam is favored; positive numbers indicate the AwayTeam is favored)
        OverUnder:
          type:
          - number
          - 'null'
          description: The sportsbook's total points scored over under for the game
        AwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Money line from the perspective of the away team
        HomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Money line from the perspective of the home team
        GlobalGameID:
          type: integer
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalAwayTeamID:
          type: integer
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues.
        GlobalHomeTeamID:
          type: integer
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues.
        PointSpreadAwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The money line payout odds when betting on the away team with the point spread.
        PointSpreadHomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The money line payout odds when betting on the away team with the point spread.
        LastPlay:
          type:
          - string
          - 'null'
          description: The description of the most recent play/event of the game. This is for display purposes and does not include corresponding data points.
        IsClosed:
          type: boolean
          description: 'Indicates whether the game is over and the final score has been verified and closed out. Note: it is recommend for bet resulting to use IsClosed = True rather than simply Final game status'
        Quarters:
          type: array
          items:
            $ref: '#/components/schemas/Quarter'
          description: The details of the quarters (including overtime periods) for this game.
        GameEndDateTime:
          type:
          - string
          - 'null'
          description: The date and time that the game ended (in US Eastern Time)
        HomeRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the home team for this game
        AwayRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the away team for this game
        NeutralVenue:
          type:
          - boolean
          - 'null'
          description: Indicates whether this game is played in a neutral venue
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the over on the total points line
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under on the total points line
        CrewChiefID:
          type:
          - integer
          - 'null'
          description: Unique ID of officiating Crew Chief
        UmpireID:
          type:
          - integer
          - 'null'
          description: Unique ID of officiating Umpire referee
        RefereeID:
          type:
          - integer
          - 'null'
          description: Unique ID of officiating referee
        AlternateID:
          type:
          - integer
          - 'null'
          description: Unique ID of officiating Alternate referee
        DateTimeUTC:
          type:
          - string
          - 'null'
          description: The date and time of the game in UTC
        SeriesInfo:
          $ref: '#/components/schemas/Series'
          description: Contains relevant series data for playoff series only - HomeTeamWins, AwayTeamWins, GameNumber, and MaxLength
        InseasonTournament:
          type:
          - boolean
          - 'null'
          description: A flag to indicate this game is part of the inseason NBA tournament (can be considered a part of regular season still) - a null would also indicate false
        RescheduledFromGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the originally scheduled, postponed game, that this game was rescheduled from. This only pertains to games that are scheduled as "make up" games.
        RescheduledGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the game that was rescheduled from this game. This only pertains to postponed games that require rescheduling.
    PlayerGameProjection:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition)
        Season:
          type:
          - integer
          - 'null'
          description: The NBA season of the game
        Name:
          type:
          - string
          - 'null'
          description: The name of the player
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the player's team
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s position associated with the given game or season. Possible values: C, F, FC, G, GF, PF, PG, SF, SG'
        Started:
          type:
          - integer
          - 'null'
          description: 'Indicates whether or not the player started the game Note: this will be one or zero for single game feeds'
        FanDuelSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for FanDuel daily fantasy contests.
        DraftKingsSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for DraftKings daily fantasy contests.
        FantasyDataSalary:
          type:
          - integer
          - 'null'
          description: The player's salary as calculated by SportsDataIO (formerly known as FantasyData).  Based on the same salary cap as DraftKings contests ($50,000).
        YahooSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for Yahoo daily fantasy contests.
        InjuryStatus:
          type:
          - string
          - 'null'
          description: 'The player''s current injury status; in the form of likelihood that player plays. Possible values: Probable; Questionable; Doubtful; Out'
        InjuryBodyPart:
          type:
          - string
          - 'null'
          description: The body part that is injured (Knee, Groin, Calf, Hamstring, etc.)
        InjuryStartDate:
          type:
          - string
          - 'null'
          description: The day that the injury started or was first discovered.
        InjuryNotes:
          type:
          - string
          - 'null'
          description: Brief description of the player's injury and expected availability.
        FanDuelPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in FanDuel's daily fantasy sports platform.
        DraftKingsPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in DraftKings' daily fantasy sports platform.
        YahooPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Yahoo's daily fantasy sports platform.
        OpponentRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent with regards to fantasy points allowed.
        OpponentPositionRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent by position with regards to fantasy points allowed.
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        FantasyDraftSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for Fantasy Draft's daily fantasy contests.
        FantasyDraftPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Fantasy Draft's daily fantasy sports platform.
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of this game
        OpponentID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's opponent
        Opponent:
          type:
          - string
          - 'null'
          description: The name of the opponent 
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Whether the team is home or away
        IsGameOver:
          type: boolean
          description: Whether the game is over (true/false)
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalOpponentID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this opponent. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        FieldGoalsMade:
          type:
          - number
          - 'null'
          description: Total number of field goals made
        FieldGoalsAttempted:
          type:
          - number
          - 'null'
          description: Total number of field goals attempted
        FieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total field goal percentage
        EffectiveFieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total effective field goals percentage
        TwoPointersMade:
          type:
          - number
          - 'null'
          description: Total two pointers made
        TwoPointersAttempted:
          type:
          - number
          - 'null'
          description: Total two pointers attempted
        TwoPointersPercentage:
          type:
          - number
          - 'null'
          description: Total two pointers percentage
        ThreePointersMade:
          type:
          - number
          - 'null'
          description: Total three pointers made
        ThreePointersAttempted:
          type:
          - number
          - 'null'
          description: Total three pointers attempted
        ThreePointersPercentage:
          type:
          - number
          - 'null'
          description: Total three pointers percentage
        FreeThrowsMade:
          type:
          - number
          - 'null'
          description: Total free throws made
        FreeThrowsAttempted:
          type:
          - number
          - 'null'
          description: Total free throws attempted
        FreeThrowsPercentage:
          type:
          - number
          - 'null'
          description: Total free throws percentage
        OffensiveRebounds:
          type:
          - number
          - 'null'
          description: Total offensive rebounds
        DefensiveRebounds:
          type:
          - number
          - 'null'
          description: Total defensive rebounds
        Rebounds:
          type:
          - number
          - 'null'
          description: Total rebounds
        OffensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total offensive rebounds percentage
        DefensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total defensive rebounds percentage
        TotalReboundsPercentage:
          type:
          - number
          - 'null'
          description: The player/team total rebounds percentage
        Assists:
          type:
          - number
          - 'null'
          description: Total assists
        Steals:
          type:
          - number
          - 'null'
          description: Total steals
        BlockedShots:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Turnovers:
          type:
          - number
          - 'null'
          description: Total turnovers
        PersonalFouls:
          type:
          - number
          - 'null'
          description: Total personal fouls
        Points:
          type:
          - number
          - 'null'
          description: Total points scored
        TrueShootingAttempts:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting attempts as defined here: http://www.basketball-reference.com/about/glossary.html'
        TrueShootingPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        PlayerEfficiencyRating:
          type:
          - number
          - 'null'
          description: 'The player''s linear weight efficiency rating as defined here: http://bleacherreport.com/articles/113144-cracking-the-code-how-to-calculate-hollingers-per-without-all-the-mess'
        AssistsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s assist percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        StealsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s steal percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        BlocksPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s block percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        TurnOversPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s turnover percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        UsageRatePercentage:
          type:
          - number
          - 'null'
          description: 'The player''s usage rate percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        DoubleDoubles:
          type:
          - number
          - 'null'
          description: Total double-doubles scored
        TripleDoubles:
          type:
          - number
          - 'null'
          description: Total triple-doubles scored
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
        IsClosed:
          type: boolean
          description: Indicates whether the game is over and the stats for this player have been verified and closed out.
        LineupConfirmed:
          type:
          - boolean
          - 'null'
          description: Indicates whether starting lineup is confirmed
        LineupStatus:
          type:
          - string
          - 'null'
          description: Indicates whether player is starting, active, or inactive
    DfsSlate:
      properties:
        SlateID:
          type: integer
          description: Unique ID of a Slate (assigned by SportsDataIO).
        Operator:
          type:
          - string
          - 'null'
          description: 'The name of the operator who is running contests for this slate. Possible values: FanDuel, DraftKings, Yahoo, FantasyDraft, etc.'
        OperatorSlateID:
          type:
          - integer
          - 'null'
          description: Unique ID of a slate (assigned by the operator).
        OperatorName:
          type:
          - string
          - 'null'
          description: 'The name of the slate (assigned by the operator). Possible values: Main, Express, Arcade, Late Night, etc.'
        OperatorDay:
          type:
          - string
          - 'null'
          description: The day (in EST/EDT) that the slate begins (assigned by the operator).
        OperatorStartTime:
          type:
          - string
          - 'null'
          description: The date/time (in EST/EDT) that the slate begins (assigned by the operator).
        NumberOfGames:
          type:
          - integer
          - 'null'
          description: The number of actual games that this slate covers.
        IsMultiDaySlate:
          type:
          - boolean
          - 'null'
          description: Whether this slate uses games that take place on different days.
        RemovedByOperator:
          type:
          - boolean
          - 'null'
          description: Indicates whether this slate was removed/deleted by the operator.
        OperatorGameType:
          type:
          - string
          - 'null'
          description: The game type of the slate. Will often be null as most operators only have one game type.
        DfsSlateGames:
          type: array
          items:
            $ref: '#/components/schemas/DfsSlateGame'
          description: The games that are included in this slate
        DfsSlatePlayers:
          type: array
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          description: The players that are included in this slate
        SlateRosterSlots:
          type: array
          items:
            type:
            - string
            - 'null'
          description: The positions that need to be filled for this particular slate
        SalaryCap:
          type:
          - integer
          - 'null'
          description: The salary cap for the current slate (is null for slates with no salary cap such a Tiers gametypes)
    Quarter:
      properties:
        QuarterID:
          type: integer
          description: Unique identifier for each Quarter.
        GameID:
          type: integer
          description: The unique ID of the game associated with this quarter
        Number:
          type: integer
          description: The Number (Order) of the Quarter in the scope of the Game.
        Name:
          type:
          - string
          - 'null'
          description: 'The Name of the Quarter (possible values: 1, 2, 3, 4, OT, OT2, OT3, etc)'
        AwayScore:
          type:
          - integer
          - 'null'
          description: The total points scored by the away team in the given period only
        HomeScore:
          type:
          - integer
          - 'null'
          description: The total points scored by the home team in the given period only
    DfsSlatePlayer:
      properties:
        SlatePlayerID:
          type: integer
          description: Unique ID of a SlatePlayer (assigned by SportsDataIO).
        SlateID:
          type: integer
          description: The SlateID that this SlatePlayer refers to.
        SlateGameID:
          type:
          - integer
          - 'null'
          description: The SlateGameID that this SlatePlayer refers to.
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        PlayerGameProjectionStatID:
          type:
          - integer
          - 'null'
          description: The SportsDataIO StatID that this SlatePlayer refers to. This points to data in the respective sports' projected player game stats feeds.
        OperatorPlayerID:
          type:
          - string
          - 'null'
          description: Unique ID of the Player (assigned by the operator).
        OperatorSlatePlayerID:
          type:
          - string
          - 'null'
          description: Unique ID of the SlatePlayer (assigned by the operator).
        OperatorPlayerName:
          type:
          - string
          - 'null'
          description: The player's name (assigned by the operator).
        OperatorPosition:
          type:
          - string
          - 'null'
          description: The player's eligible positions for the contest (assigned by the operator).
        OperatorSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for the contest (assigned by the operator).
        OperatorRosterSlots:
          type: array
          items:
            type:
            - string
            - 'null'
          description: The player's eligible positions to be played in the contest (assigned by the operator). This would include UTIL, etc plays for those that are eligible.
        RemovedByOperator:
          type:
          - boolean
          - 'null'
          description: Indicates whether this player was removed/deleted by the operator.
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the player's team
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the player's team
    Series:
      properties:
        HomeTeamWins:
          type: integer
          description: Total number of wins by the home team in the series
        AwayTeamWins:
          type: integer
          description: Total wins in the series by the away team
        GameNumber:
          type: integer
          description: The game number in the series
        MaxLength:
          type: integer
          description: The maximum number of games that can be played in a series
    Unauthorized:
      properties:
        HttpStatusCode:
          type: integer
        Code:
          type: integer
        Description:
          type: string
        Help:
          type: string
    Player:
      properties:
        PlayerID:
          type: integer
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        SportsDataID:
          type:
          - string
          - 'null'
          description: Deprecated. Use SportRadarPlayerID instead.
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the player''s status of being on an active roster. Possible values include: Active, Inactive'
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the player's team
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the player's team
        Jersey:
          type:
          - integer
          - 'null'
          description: The player's jersey number.
        PositionCategory:
          type:
          - string
          - 'null'
          description: 'The player''s position category. Possible values: C, F, G'
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s primary position. Possible values: PG; SG; SF; PF; C'
        FirstName:
          type:
          - string
          - 'null'
          description: The player's first name.
        LastName:
          type:
          - string
          - 'null'
          description: The player's last name.
        Height:
          type:
          - integer
          - 'null'
          description: The player's height in inches.
        Weight:
          type:
          - integer
          - 'null'
          description: The player's weight in pounds (lbs).
        BirthDate:
          type:
          - string
          - 'null'
          description: The player's date of birth.
        BirthCity:
          type:
          - string
          - 'null'
          description: The city in which the player was born.
        BirthState:
          type:
          - string
          - 'null'
          description: The state in which the player was born.
        BirthCountry:
          type:
          - string
          - 'null'
          description: The country in which the player was born.
        HighSchool:
          type:
          - string
          - 'null'
          description: The high school that the player attended.
        College:
          type:
          - string
          - 'null'
          description: The college that the player attended.
        Salary:
          type:
          - integer
          - 'null'
          description: Deprecated (do not use)
        PhotoUrl:
          type:
          - string
          - 'null'
          description: This field is deprecated. Photos are no longer available through it. Headshots are now delivered through IMAGN. Please see our Headshots products for further information.
        Experience:
          type:
          - integer
          - 'null'
          description: The number of years experience the player has in the NBA.
        SportRadarPlayerID:
          type:
          - string
          - 'null'
          description: The player's cross reference PlayerID to the SportRadar API.
        RotoworldPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the Rotoworld news feed.
        RotoWirePlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the RotoWire news feed.
        FantasyAlarmPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the FantasyAlarm news feed.
        StatsPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the STATS data feeds.
        SportsDirectPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the SportsDirect data feeds, now part of Nielsen GraceNote.
        XmlTeamPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the XML Team data feeds.
        InjuryStatus:
          type:
          - string
          - 'null'
          description: 'The player''s current injury status; in the form of likelihood that player plays  Possible values: Probable; Questionable; Doubtful; Out'
        InjuryBodyPart:
          type:
          - string
          - 'null'
          description: The body part that is injured (Knee, Groin, Calf, Hamstring, etc.)
        InjuryStartDate:
          type:
          - string
          - 'null'
          description: The day that the injury started or first discovered.
        InjuryNotes:
          type:
          - string
          - 'null'
          description: Brief description of the player's injury and expected availability.
        FanDuelPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to FanDuel.
        DraftKingsPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to DraftKings.
        YahooPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to Yahoo Daily Fantasy Sports Contests.
        FanDuelName:
          type:
          - string
          - 'null'
          description: The player's full name in FanDuel's daily fantasy sports platform.
        DraftKingsName:
          type:
          - string
          - 'null'
          description: The player's full name in DraftKings' daily fantasy sports platform.
        YahooName:
          type:
          - string
          - 'null'
          description: The player's full name in Yahoo's daily fantasy sports platform.
        DepthChartPosition:
          type:
          - string
          - 'null'
          description: The position of the player on the depth chart.
        DepthChartOrder:
          type:
          - integer
          - 'null'
          description: The order of the player on the depth chart.
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        FantasyDraftName:
          type:
          - string
          - 'null'
          description: The player's full name in FantasyDraft's daily fantasy sports platform.
        FantasyDraftPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to Fantasy Draft.
        UsaTodayPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to USA Today headshot data feeds.
        UsaTodayHeadshotUrl:
          type:
          - string
          - 'null'
          description: The player's headshot URL as provided by USA Today. License from USA Today is required.
        UsaTodayHeadshotNoBackgroundUrl:
          type:
          - string
          - 'null'
          description: The player's transparent background headshot URL as provided by USA Today. License from USA Today is required.
        UsaTodayHeadshotUpdated:
          type:
          - string
          - 'null'
          description: The last updated date of the player's headshot as provided by USA Today. License from USA Today is required.
        UsaTodayHeadshotNoBackgroundUpdated:
          type:
          - string
          - 'null'
          description: The last updated date of the player's transparent background headshot as provided by USA Today. License from USA Today is required.
        NbaDotComPlayerID:
          type:
          - integer
          - 'null'
          description: The player's personID on nba dot com
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: key
      in: query
