openapi: 3.1.0
info:
  title: MLB MLB v3 Headshots Soccer v4 Odds API
  version: '1.0'
  description: MLB API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Soccer v4 Odds
paths:
  /v4/soccer/odds/{format}/GameOddsLineMovement/{competition}/{gameid}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games on a given date. Non-full-game means 1st-half or 1st-quarter, for example, rather than full game. Returns the full line movement for the given game within a competition. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line.
      operationId: soccer_v4_odds_pre_game_odds_line_movement
      summary: Pre-Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games API.  Valid entries are <code>14060</code>, <code>14061</code>, etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/LiveGameOddsLineMovement/{competition}/{gameid}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for a given game in a given competition. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line.
      operationId: soccer_v4_odds_in_game_odds_line_movement
      summary: In-Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games API.  Valid entries are <code>14060</code>, <code>14061</code>, etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/GameOddsByDate/{competition}/{date}:
    get:
      description: Returns full game odds (spread, moneyline, total) for games from a given competition on a given date. Only returns the most recently seen odds, not inclusive of line movement.
      operationId: soccer_v4_odds_pre_game_odds___by_date
      summary: Pre-Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: "The date of the game(s). \n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/ActiveSportsbooks:
    get:
      description: A list of all available sportsbooks with their associated unique IDs.
      operationId: soccer_v4_odds_sportsbooks___by_active
      summary: Sportsbooks - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sportsbook'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingEventsBySeason/{competition}/{season}:
    get:
      description: The list of current BettingEvents for the given season within a given competition, from which Betting Market data can be gathered via the Betting Markets by Event endpoint, for all available Betting Market types (e.g. Player Props, Team Props.)
      operationId: soccer_v4_odds_betting_events___by_season
      summary: Betting Events - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingFuturesBySeason/{competition}/{season}:
    get:
      description: Returns available Futures markets for the given season and a given competition. Does not include line movement.
      operationId: soccer_v4_odds_betting_futures___by_season
      summary: Betting Futures - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMarket/{competition}/{marketId}:
    get:
      description: Returns full line movement for a given BettingMarket. Due to the sheer size of the output and the level of detail, it is intended for historical data purposes and not for the most up-to-the-second lines.
      operationId: soccer_v4_odds_betting_market
      summary: Betting Market
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: marketId
        in: path
        description: The MarketId of the desired market for which to pull all outcomes/bets.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMarkets/{competition}/{eventId}:
    get:
      description: Returns the markets of all available types (e.g. Player Props, Team Props) and available outcomes for a given BettingEventID within a given competition.
      operationId: soccer_v4_odds_betting_markets___by_event
      summary: Betting Markets - by Event
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMarketsByGameID/{competition}/{gameid}:
    get:
      description: Returns the markets of all available types (e.g. Player Props, Team Props) and available outcomes for a given GameID within a given competition.
      operationId: soccer_v4_odds_betting_markets___by_game
      summary: Betting Markets - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of the desired game for which to pull all betting markets (includes outcomes/bets).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMarketsByMarketType/{competition}/{eventId}/{marketTypeID}:
    get:
      description: Returns Markets and available outcomes for a given event (within a competition) and market type requested. A lighter call than by BettingEventID as it only includes markets tagged with the specific MarketType, a full list of which is available for each sport in its Betting Metadata endpoint.
      operationId: soccer_v4_odds_betting_markets___by_market_type
      summary: Betting Markets - by Market Type
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets).
        required: true
        schema:
          type: string
      - name: marketTypeID
        in: path
        description: 'The Market Type ID of the desired MarketTypes to pull. Some common types include: <code>1</code> for Game Lines, <code>2</code> for Player Props, <code>3</code> for Team Props, <code>6</code> for Game Props'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMetadata:
    get:
      description: Returns the list of MarketTypes, BetTypes, PeriodTypes, OutcomeTypes, and ResultTypes to map the IDs to descriptive names. Also includes a list of the MarketType, BetType & PeriodType combinations which we will have resulting for.
      operationId: soccer_v4_odds_betting_metadata
      summary: Betting Metadata
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingEntityMetadataCollection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingEventsByDate/{competition}/{date}:
    get:
      description: The list of current BettingEvents for the given date and competition, from which Betting Market data can be gathered via the Betting Markets by Event endpoint, for all available Betting Market types (e.g. Player Props, Team Props.)
      operationId: soccer_v4_odds_betting_events___by_date
      summary: Betting Events - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-11-20</code>, <code>2018-11-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingPlayerPropsByGameID/{competition}/{gameId}:
    get:
      description: This works in the same way as Betting Markets by Market Type but is prefiltered to the Player Props type only. Ideal if your application will only ever require Player Props, but if you also want Team Props etc. it is recommended to use the by Market Type endpoint.
      operationId: soccer_v4_odds_betting_player_props___by_game
      summary: Betting Player Props - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameId
        in: path
        description: The unique GameID of the game in question.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/AlternateMarketGameOddsLineMovement/{competition}/{gameid}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games on a given date. Non-full-game means 1st-half or 1st-quarter, for example, rather than full game. Returns the full line movement for the given game within a competition. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line.
      operationId: soccer_v4_odds_period_game_odds_line_movement
      summary: Period Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games API.  Valid entries are <code>41323</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/LiveGameOddsByDate/{competition}/{date}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games on a given date in a given competition. Only returns the most recently seen odds, not inclusive of line movement. As this is in-game, it will only return results while the game is in progress.
      operationId: soccer_v4_odds_in_game_odds___by_date
      summary: In-Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-06-20</code>, <code>2018-06-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/AlternateMarketGameOddsByDate/{competition}/{date}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games on a given date in a given competition. Non-full-game means 1st-half or 1st-quarter, for example, rather than full game. Only returns the most recently seen odds, not inclusive of line movement.
      operationId: soccer_v4_odds_period_game_odds___by_date
      summary: Period Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: "The date of the game(s). \n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/PreGameOddsByDate/{competition}/{date}/{sportsbookgroup}:
    get:
      description: Returns the full-game and non-full-game odds (spread, moneyline, total) for games on a given date for a given competition. Only returns the most recently seen odds, not inclusive of line movement. A Sportsbook Group must be specified as a URL parameter.
      operationId: soccer_v4_odds_pre_game_and_period_game_odds___by_date__sportsbook_group
      summary: Pre-Game and Period Game Odds - by Date [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: "The date of the game(s). \n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>."
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/InGameOddsByDate/{competition}/{date}/{sportsbookgroup}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games on a given date and competition. Only returns the most recently seen odds, not inclusive of line movement. As this is in-game, it will only return results while the game is in progress. A Sportsbook Group must be specified as a URL parameter.
      operationId: soccer_v4_odds_in_game_odds___by_date__sportsbook_group
      summary: In-Game Odds - by Date [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-06-20</code>, <code>2018-06-23</code>.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/PreGameOddsLineMovement/{competition}/{gameid}/{sportsbookgroup}:
    get:
      description: Returns the game odds for a given game in a given competition. In this endpoint both full-game and partial-game odds are included. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line. A Sportsbook Group must be specified as a URL parameter.
      operationId: soccer_v4_odds_pre_game_and_period_game_odds_line_movement__sportsbook_group
      summary: Pre-Game and Period Game Odds Line Movement [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games API.  Valid entries are <code>14060</code>, <code>14061</code>, etc.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/InGameOddsLineMovement/{competition}/{gameid}/{sportsbookgroup}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for a given game and competition. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line. A Sportsbook Group must be specified as a URL parameter.
      operationId: soccer_v4_odds_in_game_odds_line_movement__sportsbook_group
      summary: In-Game Odds Line Movement [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games API.  Valid entries are <code>14060</code>, <code>14061</code>, etc.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/PreGameOddsLineMovementWithResulting/{competition}/{gameid}/{sportsbookgroup}:
    get:
      description: 'Returns the game odds for a given game and competition. In this endpoint both full-game and partial-game odds are included. This also includes Resulting: for markets with a ResultType, each line will be graded and it will be determined whether the bet would have won or lost. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line. A Sportsbook Group must be specified as a URL parameter.'
      operationId: soccer_v4_odds_pre_game_and_period_game_odds_line_movement_with_resulting__sportsbook_group
      summary: Pre-Game and Period Game Odds Line Movement with Resulting [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games API.  Valid entries are <code>14060</code>, <code>14061</code>, etc.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfoResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/InGameOddsLineMovementWithResulting/{competition}/{gameid}/{sportsbookgroup}:
    get:
      description: 'Returns in-play game odds (spread, moneyline, total) for a given game in a competition. This also includes Resulting: for markets with a ResultType, each line will be graded and it will be determined whether the bet would have won or lost. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line. A Sportsbook Group must be specified as a URL parameter.'
      operationId: soccer_v4_odds_in_game_odds_line_movement_with_resulting__sportsbook_group
      summary: In-Game Odds Line Movement with Resulting [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games API.  Valid entries are <code>14060</code>, <code>14061</code>, etc.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfoResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingFuturesBySeason/{competition}/{season}/{sportsbookgroup}:
    get:
      description: Returns available Futures markets for the given season. Does not include line movement. A Sportsbook Group must be specified as a URL parameter.
      operationId: soccer_v4_odds_betting_futures___by_season__sportsbook_group
      summary: Betting Futures - by Season [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>, etc.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMarket/{competition}/{marketId}/{sportsbookgroup}:
    get:
      description: Returns full line movement for a given BettingMarket. Due to the sheer size of the output and the level of detail, it is intended for historical data purposes and not for the most up-to-the-second lines. A Sportsbook Group must be specified as a URL parameter.
      operationId: soccer_v4_odds_betting_market__sportsbook_group
      summary: Betting Market [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: marketId
        in: path
        description: The MarketId of the desired market for which to pull all outcomes/bets.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMarketsByEvent/{competition}/{eventId}/{sportsbookgroup}:
    get:
      description: Returns the markets and available outcomes for a given BettingEventID. A Sportsbook Group must be specified as a URL parameter.
      operationId: soccer_v4_odds_betting_markets___by_event__sportsbook_group
      summary: Betting Markets - by Event [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets).

          '
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMarketsByGameID/{competition}/{gameid}/{sportsbookgroup}:
    get:
      description: Returns the markets of all available types (e.g. Player Props, Team Props) and available outcomes for a given GameID in a competition. A Sportsbook Group must be specified as a URL parameter.
      operationId: soccer_v4_odds_betting_markets___by_game__sportsbook_group
      summary: Betting Markets - by Game [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of the desired game for which to pull all betting markets (includes outcomes/bets).
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMarketsByMarketType/{competition}/{eventId}/{marketTypeID}/{sportsbookgroup}:
    get:
      description: Returns Markets and available outcomes for a given event and market type requested. A lighter call than by BettingEventID as it only includes markets tagged with the specific MarketType, a full list of which is available for each sport in its Betting Metadata endpoint. A Sportsbook Group must be specified as a URL parameter.
      operationId: soccer_v4_odds_betting_markets___by_market_type__sportsbook_group
      summary: Betting Markets - by Market Type [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets).
        required: true
        schema:
          type: string
      - name: marketTypeID
        in: path
        description: 'The Market Type ID of the desired MarketTypes to pull. Some common types include: <code>1</code> for Game Lines, <code>2</code> for Player Props, <code>3</code> for Team Props, <code>6</code> for Game Props'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingPlayerPropsByGameID/{competition}/{gameId}/{sportsbookgroup}:
    get:
      description: This works in the same way as Betting Markets by Market Type but is prefiltered to the Player Props type only. Ideal if your application will only ever require Player Props, but if you also want Team Props etc. it is recommended to use the by Market Type endpoint. A Sportsbook Group must be specified as a URL parameter.
      operationId: soccer_v4_odds_betting_player_props___by_game__sportsbook_group
      summary: Betting Player Props - by Game [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameId
        in: path
        description: The unique GameID of the game in question.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
components:
  schemas:
    BettingEntityMetadataCollection:
      properties:
        BettingBetTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: The list of the bet types that can be found within a market
        BettingMarketTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible market types within a Betting Event (e.g. Game Line, Team prop, Player Future, etc.)
        BettingPeriodTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: The name of the period type of a market (e.g. Regular Season; 1st half; 90 Minutes and Stoppage Time; etc.)
        BettingEventTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible BettingEventTypes (e.g. Game, Future)
        BettingOutcomeTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible BettingOutcomeTypes (e.g. Home; Away; Under; Over)
    GameOddOutcome:
      properties:
        GameOddId:
          type: integer
          description: The unique ID of this odd
        GameOddResultTypeId:
          type:
          - integer
          - 'null'
          description: The GameOddResultType of this outcome as an integer
        GameOddResultType:
          type:
          - string
          - 'null'
          description: The string identifier of the GameOddResultType of this outcome (e.g. Won, Lost, Push, Not Resulted, Incomplete)
        OddType:
          type:
          - string
          - 'null'
          description: 'The market type of the odd (ex: live; pregame; 90 minutes + stoppage time; etc.)'
        GameOddType:
          type:
          - string
          - 'null'
          description: The GameOddOutcomeType of this outcome as a string
        BetValue:
          type:
          - number
          - 'null'
          description: The value that was bet in this outcome (if applicable)
        ActualValue:
          type:
          - number
          - 'null'
          description: The value that actually occurred in game (if applicable)
    GameOdd:
      properties:
        GameOddId:
          type: integer
          description: The unique ID of this odd
        Sportsbook:
          type:
          - string
          - 'null'
          description: The name of the sportsbook
        GameId:
          type: integer
          description: The unique ID of the game
        Created:
          type:
          - string
          - 'null'
          description: The timestamp of when these odds were first created (in US Eastern Time)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when these odds were last updated, based on US Eatern Time (EST/EDT). If these are the latest odds for this game, and they have not been updated within the last few minutes, then it indicates that there were problems connecting to the sportsbook.
        HomeMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's moneyline for the home team
        AwayMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's money line for the away team
        DrawMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's money line for a draw
        HomePointSpread:
          type:
          - number
          - 'null'
          description: The sportsbook's point spread for the home team
        AwayPointSpread:
          type:
          - number
          - 'null'
          description: The sportsbook's point spread for the away team
        HomePointSpreadPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's point spread payout for the home team
        AwayPointSpreadPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's point spread payout for the away team
        OverUnder:
          type:
          - number
          - 'null'
          description: The sportsbook's total goals line (over/under) for the game
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the over bet on the total goals line
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under bet on the total goals line
        SportsbookId:
          type:
          - integer
          - 'null'
          description: The unique ID of the sportsbook
        SportsbookUrl:
          type:
          - string
          - 'null'
          description: The URL for sportsbook event
        HomeTeamAsianHandicap:
          type:
          - number
          - 'null'
          description: The sportsbook's asian handicap for the home team
        AwayTeamAsianHandicap:
          type:
          - number
          - 'null'
          description: The sportsbook's asian handicap for the away team
        HomeTeamAsianHandicapPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's Asian handicap payout for the home team
        AwayTeamAsianHandicapPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's asian handicap payout for the away team covering
        AsianTotal:
          type:
          - number
          - 'null'
          description: The sportsbook's asian total for the game
        AsianTotalOverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for a result over the asian total
        AsianTotalUnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for a result under the asian total
        OddType:
          type:
          - string
          - 'null'
          description: 'The market type of the odd (ex: live; pregame; 90 minutes + stoppage time; etc.)'
    GameOddResult:
      properties:
        GameOddID:
          type: integer
          description: The unique ID of this odd
        Sportsbook:
          type:
          - string
          - 'null'
          description: The name of the sportsbook
        GameID:
          type: integer
          description: The unique ID of the game
        Created:
          type:
          - string
          - 'null'
          description: The timestamp of when these odds were first created (in US Eastern Time)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when these odds were last updated, based on US Eatern Time (EST/EDT). If these are the latest odds for this game, and they have not been updated within the last few minutes, then it indicates that there were problems connecting to the sportsbook.
        HomeMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's moneyline for the home team
        AwayMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's money line for the away team
        HomePointSpread:
          type:
          - number
          - 'null'
          description: The sportsbook's point spread for the home team
        AwayPointSpread:
          type:
          - number
          - 'null'
          description: The sportsbook's point spread for the away team
        HomePointSpreadPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's point spread payout for the home team
        AwayPointSpreadPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's point spread payout for the away team
        OverUnder:
          type:
          - number
          - 'null'
          description: The sportsbook's total goals line (over/under) for the game
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the over bet on the total goals line
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under
        SportsbookID:
          type:
          - integer
          - 'null'
          description: The unique ID of the sportsbook
        SportsbookUrl:
          type:
          - string
          - 'null'
          description: The URL for sportsbook event
        OddType:
          type:
          - string
          - 'null'
          description: The odd type of this specific odd
        GameOddOutcomeResults:
          type: array
          items:
            $ref: '#/components/schemas/GameOddOutcome'
          description: List of outcomes showing results of betting markets that were bet on for the given match
    BettingOutcome:
      properties:
        BettingOutcomeID:
          type:
          - integer
          - 'null'
          description: The unique ID associated with this specific outcome
        BettingMarketID:
          type:
          - integer
          - 'null'
          description: The unique ID of the betting market
        SportsBook:
          $ref: '#/components/schemas/Sportsbook'
          description: The sportsbook offering this outcome for betting
        BettingOutcomeTypeID:
          type:
          - integer
          - 'null'
          description: The ID associated with the betting outcome type
        BettingOutcomeType:
          type:
          - string
          - 'null'
          description: The name of the betting outcome within a betting market (e.g. Home; Away; Under; Over)
        PayoutAmerican:
          type:
          - integer
          - 'null'
          description: 'The american odds payout '
        PayoutDecimal:
          type:
          - number
          - 'null'
          description: The decimal odds payout
        Value:
          type:
          - number
          - 'null'
          description: The number associated with the outcome of a market (e.g. the spread, game total, etc.)
        Participant:
          type:
          - string
          - 'null'
          description: 'The name of the participant (typically team or player) associated with the outcome.  NOTE: This is provided by the sportsbook. In the case of Player odds, we highly recommend using PlayerID as names of players can be inconsistent between sportsbooks.'
        IsAvailable:
          type:
          - boolean
          - 'null'
          description: Indicates if this outcome is available for betting as of the last update
        IsAlternate:
          type:
          - boolean
          - 'null'
          description: Indicates if this is an alternate value or the core value
        Created:
          type:
          - string
          - 'null'
          description: The created date of the outcome (in US Eastern Time)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the betting outcome was last updated (US Eastern Time)
        Unlisted:
          type:
          - string
          - 'null'
          description: The timestamp of when the outcome was no longer available for betting
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team associated with betting outcome
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID stays with the player their entire career'
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team associated with this outcome (where applicable)
        SportsbookUrl:
          type:
          - string
          - 'null'
          description: The URL for sportsbook event
        IsInPlay:
          type:
          - boolean
          - 'null'
          description: Was this outcome created after the start time of the game (only applies when the betting event is of type game)
    GameInfoResult:
      properties:
        GameID:
          type: integer
          description: The unique ID of the game
        Season:
          type: integer
          description: The soccer regular season for which these totals apply
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 4=Offseason, 5=AllStar).
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game (in UTC)
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled, InProgress, Break, Final, Awarded, Postponed, Canceled, Suspended. If a game is called off before it starts, the Status is set to Postponed, until a new date/time is scheduled, at which point, the DateTime is updated, and the Status is set back to Scheduled. If a game has already started, and temporarily interrupted, it''s Status is set to Suspended, until it either resumes, or gets postponed and replayed at a later date. If the game is at halftime, then the Status will be Break. Awarded is used in cases where a game is decided on the so called "green table." That means that a game was decided by the Federation/League to one team for a reason. This can include situations like riots, where the opponent team gets 3:0 win awarded as punishment. Awarded is also used when a club withdraws during the season from the competition then all the remaining matches getting awarded 3:0.'
        AwayTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the away team
        HomeTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the home team
        AwayTeamName:
          type:
          - string
          - 'null'
          description: The name of the away team
        HomeTeamName:
          type:
          - string
          - 'null'
          description: The name of the home team
        GlobalGameID:
          type: integer
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalAwayTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues.
        GlobalHomeTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues.
        PregameOdds:
          type: array
          items:
            $ref: '#/components/schemas/GameOddResult'
          description: List of Pregame GameOdds from different sportsbooks with results
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: Score of the home team (updated after game ends to allow for resolving bets)
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: Score of the away team (updated after game ends to allow for resolving bets)
        TotalScore:
          type:
          - integer
          - 'null'
          description: The total combined score of both teams in the game (updated after game ends to allow for resolving bets)
        RoundID:
          type: integer
          description: The unique ID of the round that this game is associated with
        Week:
          type:
          - integer
          - 'null'
          description: The week during the season/round in which this game occurs
        AlternateMarketPregameOdds:
          type: array
          items:
            $ref: '#/components/schemas/GameOddResult'
          description: List of Alternate Market GameOdds from different sportsbooks (such as 1st-half; 1st-qtr; etc)
        Period:
          type:
          - string
          - 'null'
          description: 'The final period of the game. Possible values: Regular = Game ended in 90 minutes of regular time; ExtraTime = Game ended in extra time / overtime; PenaltyShootout = Game finished in penalty shootout time'
        Clock:
          type:
          - integer
          - 'null'
          description: 'The clock for the game if it is in progress. Note: if the game hasn''t started or the game is over; then this will be NULL'
        Winner:
          type:
          - string
          - 'null'
          description: 'The winner of the game. Possible values: AwayTeam; HomeTeam; Draw'
        AwayTeamScorePeriod1:
          type:
          - integer
          - 'null'
          description: The first period score of the away team.
        AwayTeamScorePeriod2:
          type:
          - integer
          - 'null'
          description: The second period score of the away team.
        AwayTeamScoreExtraTime:
          type:
          - integer
          - 'null'
          description: The extra time (overtime) score of the away team (if applicable).
        AwayTeamScorePenalty:
          type:
          - integer
          - 'null'
          description: The penalty shootout score of the away team (if applicable).
        HomeTeamScorePeriod1:
          type:
          - integer
          - 'null'
          description: The first period score of the home team
        HomeTeamScorePeriod2:
          type:
          - integer
          - 'null'
          description: The second period score of the home team
        HomeTeamScoreExtraTime:
          type:
          - integer
          - 'null'
          description: The extra time (overtime) score of the home team (if applicable)
        HomeTeamScorePenalty:
          type:
          - integer
          - 'null'
          description: The penalty shootout score of the home team (if applicable)
        ClockExtra:
          type:
          - integer
          - 'null'
          description: 'The added stoppage time minute the game is currently in. Note: will be null when game is not in stoppage time'
        ClockDisplay:
          type:
          - string
          - 'null'
          description: A convenient string display of the current clock with format Clock+ClockExtra (ex 90+3)
        IsClosed:
          type:
          - boolean
          - 'null'
          description: Indicates whether the game is over and the final score and stats have been verified and closed out
        LiveOdds:
          type: array
          items:
            $ref: '#/components/schemas/GameOddResult'
          description: List of Live Odds from different sportsbooks with results
    GameInfo:
      properties:
        GameId:
          type: integer
          description: The unique ID of the game
        RoundId:
          type: integer
          description: The unique ID of the round that this game is associated with
        Season:
          type: integer
          description: The soccer regular season for which these totals apply
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 4=Offseason, 5=AllStar).
        Week:
          type:
          - integer
          - 'null'
          description: The week during the season/round in which this game occurs
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game (in UTC)
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled, InProgress, Break, Final, Awarded, Postponed, Canceled, Suspended. If a game is called off before it starts, the Status is set to Postponed, until a new date/time is scheduled, at which point, the DateTime is updated, and the Status is set back to Scheduled. If a game has already started, and temporarily interrupted, it''s Status is set to Suspended, until it either resumes, or gets postponed and replayed at a later date. If the game is at halftime, then the Status will be Break. Awarded is used in cases where a game is decided on the so called "green table." That means that a game was decided by the Federation/League to one team for a reason. This can include situations like riots, where the opponent team gets 3:0 win awarded as punishment. Awarded is also used when a club withdraws during the season from the competition then all the remaining matches getting awarded 3:0.'
        AwayTeamId:
          type:
          - integer
          - 'null'
          description: The unique ID of the away team
        HomeTeamId:
          type:
          - integer
          - 'null'
          description: The unique ID of the home team
        AwayTeamName:
          type:
          - string
          - 'null'
          description: The name of the away team
        HomeTeamName:
          type:
          - string
          - 'null'
          description: The name of the home team
        GlobalGameId:
          type: integer
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalAwayTeamId:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues.
        GlobalHomeTeamId:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues.
        PregameOdds:
          type: array
          items:
            $ref: '#/components/schemas/GameOdd'
          description: List of Pregame Odds from different sportsbooks
        LiveOdds:
          type: array
          items:
            $ref: '#/components/schemas/GameOdd'
          description: List of Live Odds from different sportsbooks
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: Score of the home team (updated after game ends to allow for resolving bets)
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: Score of the away team (updated after game ends to allow for resolving bets)
        TotalScore:
          type:
          - integer
          - 'null'
          description: The total combined score of both teams in the game (updated after game ends to allow for resolving bets)
        AlternateMarketPregameOdds:
          type: array
          items:
            $ref: '#/components/schemas/GameOdd'
          description: List of Alternate Market GameOdds from different sportsbooks (such as 1st-half, 1st-qtr, etc)
    Sportsbook:
      properties:
        SportsbookID:
          type: integer
          description: The unique ID of the sportsbook
        Name:
          type:
          - string
          - 'null'
          description: The name of the sportsbook
    BettingEvent:
      properties:
        BettingEventID:
          type: integer
          description: The unique ID assocated with the betting event
        Name:
          type:
          - string
          - 'null'
          description: The name of this betting event
        Season:
          type:
          - integer
          - 'null'
          description: The soccer regular season for which these totals apply
        BettingEventTypeID:
          type: integer
          description: The ID associated with the type of betting event
        BettingEventType:
          type:
          - string
          - 'null'
          description: Indicates the type of betting event - Game or Future
        StartDate:
          type:
          - string
          - 'null'
          description: The last day for betting on this event
        Created:
          type:
          - string
          - 'null'
          description: The created date of this betting event (in US Eastern Time)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the betting event record was last updated (US Eastern Time)
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of the game
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game tied to this event
        GameStatus:
          type:
          - string
          - 'null'
          description: The status of the game tied to this event
        Quarter:
          type:
          - string
          - 'null'
          description: The quarter of the game tied to this event
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team tied to this event
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team tied to this event
        AwayTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the away team tied to this event
        HomeTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the home team tied to this event
        GlobalAwayTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the away team tied to this event
        GlobalHomeTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the home team tied to this event
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: The away team score of the game tied to this event (updated after game ends to allow for resolving bets)
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: The home team score of the game tied to this event (updated after game ends to allow for resolving bets)
        TotalScore:
          type:
          - integer
          - 'null'
          description: The total combined score of both teams in the game (updated after game ends to allow for resolving bets)
        AwayRotationNumber:
          type:
          - integer
          - 'null'
          description: The away team rotation number of the game tied to this event
        HomeRotationNumber:
          type:
          - integer
          - 'null'
          description: The home team rotation number of the game tied to this event
        BettingMarkets:
          type: array
          items:
            $ref: '#/components/schemas/BettingMarket'
          description: The list of betting markets for this event
        CompetitionId:
          type:
          - integer
          - 'null'
          description: The Id of the competition related to this betting event
    BettingMarket:
      properties:
        BettingMarketID:
          type: integer
          description: The unique ID of the betting market
        BettingEventID:
          type: integer
          description: The unique ID assocated with the betting event
        BettingMarketTypeID:
          type:
          - integer
          - 'null'
          description: The unique ID associated with the name of the market type
        BettingMarketType:
          type:
          - string
          - 'null'
          description: The name of the market type within a betting market (e.g. Player Prop, Team Prop, Game Prop, etc.)
        BettingBetTypeID:
          type:
          - integer
          - 'null'
          description: The ID associated with the name of the bet type within a market
        BettingBetType:
          type:
          - string
          - 'null'
          description: The name of the bet type within a market (e.g. Spread, Moneyline, Total Goals, etc.)
        BettingPeriodTypeID:
          type:
          - integer
          - 'null'
          description: The ID associated with the betting period type which we can result
        BettingPeriodType:
          type:
          - string
          - 'null'
          description: The name of the period type of a market (e.g. Regular Season; 1st half; 90 Minutes and Stoppage Time; etc.)
        Name:
          type:
          - string
          - 'null'
          description: The name of this betting market
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team associated with betting market
        TeamKey:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team associated with this betting market
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID stays with the player their entire career'
        PlayerName:
          type:
          - string
          - 'null'
          description: The player's full name tied to this betting market
        Created:
          type:
          - string
          - 'null'
          description: The created date of this market (in US Eastern Time)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the betting market record was last updated (US Eastern Time)
        AvailableSportsbooks:
          type: array
          items:
            $ref: '#/components/schemas/Sportsbook'
          description: The sportsbooks that have had odds in this market
        AnyBetsAvailable:
          type:
          - boolean
          - 'null'
          description: Shows if any bets are currently available for betting in this market
        BettingOutcomes:
          type: array
          items:
            $ref: '#/components/schemas/BettingOutcome'
          description: The list of betting outcomes from each sportsbook in this market
        ConsensusOutcomes:
          type: array
          items:
            $ref: '#/components/schemas/ConsensusOutcome'
          description: The single set of consesnus outcomes of this market
    Unauthorized:
      properties:
        HttpStatusCode:
          type: integer
        Code:
          type: integer
        Description:
          type: string
        Help:
          type: string
    ConsensusOutcome:
      properties:
        NumberOfSportsbooks:
          type: integer
          description: The number of sportsbooks odds that went into creating this consensus outcome
        BettingOutcomeID:
          type:
          - integer
          - 'null'
          description: The unique ID associated with this specific outcome
        BettingMarketID:
          type:
          - integer
          - 'null'
          description: The unique ID of the betting market
        SportsBook:
          $ref: '#/components/schemas/Sportsbook'
          description: The sportsbook offering this outcome for betting
        BettingOutcomeTypeID:
          type:
          - integer
          - 'null'
          description: The ID associated with the betting outcome type
        BettingOutcomeType:
          type:
          - string
          - 'null'
          description: The name of the betting outcome within a betting market (e.g. Home; Away; Under; Over)
        PayoutAmerican:
          type:
          - integer
          - 'null'
          description: 'The american odds payout '
        PayoutDecimal:
          type:
          - number
          - 'null'
          description: The decimal odds payout
        Value:
          type:
          - number
          - 'null'
          description: The number associated with the outcome of a market (e.g. the spread, game total, etc.)
        Participant:
          type:
          - string
          - 'null'
          description: 'The name of the participant (typically team or player) associated with the outcome.  NOTE: This is provided by the sportsbook. In the case of Player odds, we highly recommend using PlayerID as names of players can be inconsistent between sportsbooks.'
        IsAvailable:
          type:
          - boolean
          - 'null'
          description: Indicates if this outcome is available for betting as of the last update
        IsAlternate:
          type:
          - boolean
          - 'null'
          description: Indicates if this is an alternate value or the core value
        Created:
          type:
          - string
          - 'null'
          description: The created date of the outcome (in US Eastern Time)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the betting outcome was last updated (US Eastern Time)
        Unlisted:
          type:
          - string
          - 'null'
          description: The timestamp of when the outcome was no longer available for betting
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team associated with betting outcome
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID stays with the player their entire career'
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team associated with this outcome (where applicable)
        SportsbookUrl:
          type:
          - string
          - 'null'
          description: The URL for sportsbook event
        IsInPlay:
          type:
          - boolean
          - 'null'
          description: Was this outcome created after the start time of the game (only applies when the betting event is of type game)
    BettingEntityMetadata:
      properties:
        RecordId:
          type: integer
          description: 'The ID of the record. NOTE: Unique only within the same entity type (i.e. BettingMarketType Ids overlap with BettingBetType Ids)'
        Name:
          type:
          - string
          - 'null'
          description: Denotes the name of the Type  (e.g. Betting Market Type, Betting Event Type, Betting Period Type)
        Active:
          type:
          - boolean
          - 'null'
          description: Whether or not this market is currently is use
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: key
      in: query
