openapi: 3.1.0
info:
  title: MLB MLB v3 Headshots MLB v3 Stats API
  version: '1.0'
  description: MLB API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: MLB v3 Stats
paths:
  /v3/mlb/stats/{format}/PlayerGameStatsByDate/{date}:
    get:
      description: Returns the box score statistical record for all involved players across a given date, updated live as the game takes place.
      operationId: mlb_v3_stats_player_game_stats___by_date__live___final
      summary: Player Game Stats - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/PlayerSeasonStats/{season}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each individual game record) for all players for a given season.
      operationId: mlb_v3_stats_player_season_stats
      summary: Player Season Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.

          <br>Examples: <code>2017</code>, <code>2018</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/PlayerSeasonStatsByTeam/{season}/{team}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each individual game record) for a given team's players in a given season.
      operationId: mlb_v3_stats_player_season_stats___by_team
      summary: Player Season Stats - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.

          <br>Examples: <code>2017</code>, <code>2018</code>.

          '
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'The abbreviation of the requested team.

          <br>Examples: <code>SF</code>, <code>NYY</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/BoxScores/{date}:
    get:
      description: Full statistical information for a specified game, down to the team and player stat level, delivered live during the game, called for all games on a given date.
      operationId: mlb_v3_stats_box_scores___by_date__live___final
      summary: Box Scores - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/BoxScore/{gameid}:
    get:
      description: Full statistical information for a specified game, down to the team and player stat level, delivered live during the game, called per individual game.
      operationId: mlb_v3_stats_box_score__live___final
      summary: Box Score [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an MLB game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code> or <code>16905</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/BoxScoresDelta/{date}/{minutes}:
    get:
      description: This method returns all box scores for a given date, but only returns player stats that have changed in the last X minutes as specified in your API call. By definition this is a live endpoint, not final.
      operationId: mlb_v3_stats_box_scores_delta___by_date
      summary: Box Scores Delta - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.'
        required: true
        schema:
          type: string
      - name: minutes
        in: path
        description: 'Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back. Valid entries are:

          <code>1</code>, <code>2</code> ... <code>all</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/PlayerSeasonSplitStats/{season}/{split}:
    get:
      description: All players' split stats for the season. Split stats are available for left, right, and switch-handed pitchers and hitters.
      operationId: mlb_v3_stats_player_season_split_stats
      summary: Player Season Split Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.

          <br>Examples: <code>2017</code>, <code>2018</code>.'
        required: true
        schema:
          type: string
      - name: split
        in: path
        description: 'The desired split of stats. Currently, we support vs. Left/Right/Switch handed pitchers/hitters. Possible values are: <code>L</code>, <code>R</code> and <code>S</code>'
        required: true
        schema:
          type: string
          enum:
          - L
          - R
          - S
          default: L
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/HitterVsPitcher/{hitterid}/{pitcherid}:
    get:
      description: Stat records for a given hitter and a given pitcher, called by PlayerId in both cases.
      operationId: mlb_v3_stats_batter_vs__pitcher_stats
      summary: Batter vs. Pitcher Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: hitterid
        in: path
        description: 'Unique FantasyData Player ID.

          Example:<code>10000031</code>.'
        required: true
        schema:
          type: string
      - name: pitcherid
        in: path
        description: 'Unique FantasyData Player ID.

          Example:<code>10000618</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/PlayerSeasonStatsSplitByTeam/{season}:
    get:
      description: All a given team's players' split stats for the season. Split stats are available for left, right, and switch-handed pitchers and hitters.
      operationId: mlb_v3_stats_player_season_stats_split___by_team
      summary: Player Season Stats Split - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.

          <br>Examples: <code>2017</code>, <code>2018</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/PlayerSeasonHomeStats/{season}:
    get:
      description: All players' stats for the season taken only from their home games.
      operationId: mlb_v3_stats_player_season_stats___by_home
      summary: Player Season Stats - by Home
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.

          <br>Examples: <code>2017</code>, <code>2018</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/PlayerSeasonAwayStats/{season}:
    get:
      description: All players' stats for the season taken only from their road games.
      operationId: mlb_v3_stats_player_season_stats___by_away
      summary: Player Season Stats - by Away
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.

          <br>Examples: <code>2017</code>, <code>2018</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/TeamHittersVsPitcher/{gameid}/{team}:
    get:
      description: For a given game, returns a team's hitting record versus the projected or confirmed starting pitcher for the game in question.
      operationId: mlb_v3_stats_team_hitting_vs__starting_pitcher
      summary: Team Hitting vs. Starting Pitcher
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an MLB game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code> or <code>16905</code>
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'The abbreviation of the requested team.

          <br>Examples: <code>SF</code>, <code>NYY</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/PlayerGameStatsBySeason/{season}/{playerid}/{numberofgames}:
    get:
      description: Specify a season, a player, and number of games (either an integer or <code>all</code>) to see all of their box score logs. Refreshed after their most recent game is complete.
      operationId: mlb_v3_stats_player_game_logs___by_season
      summary: Player Game Logs - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: Season to get games from. Example <code>2019POST</code>, <code>2020</code>
        required: true
        schema:
          type: string
      - name: playerid
        in: path
        description: 'Unique SportsDataIO Player ID.

          Example:<code>10001365</code>.'
        required: true
        schema:
          type: string
      - name: numberofgames
        in: path
        description: How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/PlayerGameStatsByDateFinal/{date}:
    get:
      description: Returns the box score statistical record for all involved players across all teams' games on a given date after each game has concluded.
      operationId: mlb_v3_stats_player_game_stats___by_date__final
      summary: Player Game Stats - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/BoxScoreFinal/{gameid}:
    get:
      description: Full statistical information for a specified game, down to the team and player stat level, delivered after the game is complete.
      operationId: mlb_v3_stats_box_score__final
      summary: Box Score [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an MLB game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code> or <code>16905</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/BoxScoresFinal/{date}:
    get:
      description: Full statistical information for a specified date for each game that took place, down to the team and player stat level, delivered after the game is complete.
      operationId: mlb_v3_stats_box_scores___by_date__final
      summary: Box Scores - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
  /v3/mlb/stats/{format}/FantasyGameStatsByDate/{date}:
    get:
      description: Returns a simple list of fantasy points and stats for each player for a given date.
      operationId: mlb_v3_stats_fantasy_points___by_date
      summary: Fantasy Points - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FantasyGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - MLB v3 Stats
components:
  schemas:
    PlayerGame:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The team's unique TeamID as assigned by SportsDataIO
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their MLB career'
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar)
        Season:
          type:
          - integer
          - 'null'
          description: The MLB season of the game
        Name:
          type:
          - string
          - 'null'
          description: Player's full name
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s position associated with the given game or season. Possible values: 1B, 2B, 3B, C, CF, DH, IF, LF, OF, P, PH, PR, RF, RP, SP, SS'
        PositionCategory:
          type:
          - string
          - 'null'
          description: 'The player''s position category. Possible values: DH; IF; OF; P; PH; PR'
        Started:
          type:
          - integer
          - 'null'
          description: 'Whether the player started in the game. Note: started = 1 and not starting = 0'
        BattingOrder:
          type:
          - integer
          - 'null'
          description: Where the player batted in the lineup for the game (1;2;3; etc.)
        FanDuelSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for FanDuel daily fantasy contests.
        DraftKingsSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for DraftKings daily fantasy contests.
        FantasyDataSalary:
          type:
          - integer
          - 'null'
          description: The player's salary as calculated by SportsDataIO (formerly known as FantasyData). Based on the same salary cap as DraftKings contests ($50,000)
        YahooSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for Yahoo daily fantasy contests
        InjuryStatus:
          type:
          - string
          - 'null'
          description: 'The player''s current injury status; in the form of likelihood that player plays. Possible values: Probable; Questionable; Doubtful; Out'
        InjuryBodyPart:
          type:
          - string
          - 'null'
          description: Indicates the player's injured body part. (e.g. ankle; knee; elbow; etc.)
        InjuryStartDate:
          type:
          - string
          - 'null'
          description: The day that the injury started or first discovered.
        InjuryNotes:
          type:
          - string
          - 'null'
          description: Brief description of the player's injury and expected availability
        FanDuelPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in FanDuel's daily fantasy sports platform.
        DraftKingsPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in DraftKings' daily fantasy sports platform.
        YahooPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Yahoo's daily fantasy sports platform
        OpponentRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent with regards to fantasy points allowed
        OpponentPositionRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent by position with regards to fantasy points allowed
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues
        FantasyDraftSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for Fantasy Draft daily fantasy contests.
        FantasyDraftPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Fantasy Drafts daily fantasy sports platform.
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of this game
        OpponentID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's opponent
        Opponent:
          type:
          - string
          - 'null'
          description: The name of the opponent 
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Whether the team is home or away
        IsGameOver:
          type: boolean
          description: Whether the game is over (true/false)
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalOpponentID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this opponent. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time).
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played.
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        AtBats:
          type:
          - number
          - 'null'
          description: At bats while hitting
        Runs:
          type:
          - number
          - 'null'
          description: Total runs scored.
        Hits:
          type:
          - number
          - 'null'
          description: Total hits
        Singles:
          type:
          - number
          - 'null'
          description: Total singles
        Doubles:
          type:
          - number
          - 'null'
          description: Total doubles
        Triples:
          type:
          - number
          - 'null'
          description: Total triples
        HomeRuns:
          type:
          - number
          - 'null'
          description: Total home runs
        RunsBattedIn:
          type:
          - number
          - 'null'
          description: Total runs batted in
        BattingAverage:
          type:
          - number
          - 'null'
          description: Total batting average
        Outs:
          type:
          - number
          - 'null'
          description: Total outs
        Strikeouts:
          type:
          - number
          - 'null'
          description: Total strikeouts
        Walks:
          type:
          - number
          - 'null'
          description: Total walks
        HitByPitch:
          type:
          - number
          - 'null'
          description: Total times hit by pitch
        Sacrifices:
          type:
          - number
          - 'null'
          description: Total sacrifices
        SacrificeFlies:
          type:
          - number
          - 'null'
          description: Total sacrifice flies
        GroundIntoDoublePlay:
          type:
          - number
          - 'null'
          description: Total times grounded into double play
        StolenBases:
          type:
          - number
          - 'null'
          description: Total stolen bases
        CaughtStealing:
          type:
          - number
          - 'null'
          description: Total caught stealing
        PitchesSeen:
          type:
          - number
          - 'null'
          description: Total pitches seen
        OnBasePercentage:
          type:
          - number
          - 'null'
          description: Total on base percentage
        SluggingPercentage:
          type:
          - number
          - 'null'
          description: Total slugging percentage
        OnBasePlusSlugging:
          type:
          - number
          - 'null'
          description: Total on base plus percentage 
        Errors:
          type:
          - number
          - 'null'
          description: Total errors
        Wins:
          type:
          - number
          - 'null'
          description: Total wins by the team/player
        Losses:
          type:
          - number
          - 'null'
          description: Total losses by the team/player
        Saves:
          type:
          - number
          - 'null'
          description: Total saves by team/player
        InningsPitchedDecimal:
          type:
          - number
          - 'null'
          description: Decimal representation of total innings pitched (e.g. 1.33, 7.66, etc)
        TotalOutsPitched:
          type:
          - number
          - 'null'
          description: Total outs pitched by team/player
        InningsPitchedFull:
          type:
          - number
          - 'null'
          description: Total full innings pitched (e.g. 6, 71, 89, etc)
        InningsPitchedOuts:
          type:
          - number
          - 'null'
          description: 'Outs pitched beyond InningsPitchedFull (possible values: 0, 1, 2)'
        EarnedRunAverage:
          type:
          - number
          - 'null'
          description: Total earned run average by team/player
        PitchingHits:
          type:
          - number
          - 'null'
          description: Hits allowed while pitching
        PitchingRuns:
          type:
          - number
          - 'null'
          description: Runs allowed while pitching
        PitchingEarnedRuns:
          type:
          - number
          - 'null'
          description: Earned runs allowed while pitching
        PitchingWalks:
          type:
          - number
          - 'null'
          description: Walks allowed while pitching
        PitchingStrikeouts:
          type:
          - number
          - 'null'
          description: Strikeouts allowed while pitching
        PitchingHomeRuns:
          type:
          - number
          - 'null'
          description: Home runs allowed while pitching
        PitchesThrown:
          type:
          - number
          - 'null'
          description: Total pitches thrown while pitching
        PitchesThrownStrikes:
          type:
          - number
          - 'null'
          description: Total pitches thrown for strikes while pitching
        WalksHitsPerInningsPitched:
          type:
          - number
          - 'null'
          description: Walks plus hits per innings pitched (WHIP) while pitching
        PitchingBattingAverageAgainst:
          type:
          - number
          - 'null'
          description: Total batting average against (BAA) while pitching
        GrandSlams:
          type:
          - number
          - 'null'
          description: Total grand slams
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel fantasy points
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings fantasy points
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo fantasy points
        PlateAppearances:
          type:
          - number
          - 'null'
          description: Total plate appearances
        TotalBases:
          type:
          - number
          - 'null'
          description: Number of total bases
        FlyOuts:
          type:
          - number
          - 'null'
          description: Total fly outs
        GroundOuts:
          type:
          - number
          - 'null'
          description: Total ground outs
        LineOuts:
          type:
          - number
          - 'null'
          description: Total line outs
        PopOuts:
          type:
          - number
          - 'null'
          description: Total pop outs
        IntentionalWalks:
          type:
          - number
          - 'null'
          description: Total intentional walks
        ReachedOnError:
          type:
          - number
          - 'null'
          description: Total times reached on error
        BallsInPlay:
          type:
          - number
          - 'null'
          description: Total balls in play
        BattingAverageOnBallsInPlay:
          type:
          - number
          - 'null'
          description: Total batting average on balls in play (BABIP)
        WeightedOnBasePercentage:
          type:
          - number
          - 'null'
          description: Total weight on base percentage
        PitchingSingles:
          type:
          - number
          - 'null'
          description: Total singles allowed while pitching
        PitchingDoubles:
          type:
          - number
          - 'null'
          description: Total doubles allowed while pitching
        PitchingTriples:
          type:
          - number
          - 'null'
          description: Total triples allowed while pitching
        PitchingGrandSlams:
          type:
          - number
          - 'null'
          description: Total grand slams allowed while pitching
        PitchingHitByPitch:
          type:
          - number
          - 'null'
          description: Total batters hit by pitch while pitching
        PitchingSacrifices:
          type:
          - number
          - 'null'
          description: Total sacrifices while pitching
        PitchingSacrificeFlies:
          type:
          - number
          - 'null'
          description: Total sacrifice flies while pitching
        PitchingGroundIntoDoublePlay:
          type:
          - number
          - 'null'
          description: Total grounded into double plays while pitching
        PitchingCompleteGames:
          type:
          - number
          - 'null'
          description: Total complete games while pitching
        PitchingShutOuts:
          type:
          - number
          - 'null'
          description: Total shuouts while pitching
        PitchingNoHitters:
          type:
          - number
          - 'null'
          description: Total no hitters while pitching
        PitchingPerfectGames:
          type:
          - number
          - 'null'
          description: Total perfect games while pitching
        PitchingPlateAppearances:
          type:
          - number
          - 'null'
          description: Total plate appearances while pitching
        PitchingTotalBases:
          type:
          - number
          - 'null'
          description: Total bases while pitching
        PitchingFlyOuts:
          type:
          - number
          - 'null'
          description: Total fly outs while pitching
        PitchingGroundOuts:
          type:
          - number
          - 'null'
          description: Total ground outs while pitching
        PitchingLineOuts:
          type:
          - number
          - 'null'
          description: Total line outs while pitching
        PitchingPopOuts:
          type:
          - number
          - 'null'
          description: Total pop outs while pitching
        PitchingIntentionalWalks:
          type:
          - number
          - 'null'
          description: Total intentional walks while pitching
        PitchingReachedOnError:
          type:
          - number
          - 'null'
          description: Total times reached on error while pitching
        PitchingCatchersInterference:
          type:
          - number
          - 'null'
          description: Total catchers interference while pitching
        PitchingBallsInPlay:
          type:
          - number
          - 'null'
          description: Total balls in play while pitching
        PitchingOnBasePercentage:
          type:
          - number
          - 'null'
          description: Total on base percentage (OBP) while pitching
        PitchingSluggingPercentage:
          type:
          - number
          - 'null'
          description: Total slugging percentage (SLG) while pitching
        PitchingOnBasePlusSlugging:
          type:
          - number
          - 'null'
          description: Total on base plus slugging (OPS) while pitching
        PitchingStrikeoutsPerNineInnings:
          type:
          - number
          - 'null'
          description: Total strikeouts per nine innings (K/9) while pitching
        PitchingWalksPerNineInnings:
          type:
          - number
          - 'null'
          description: Total walks per nine innings (BB/9) while pitching
        PitchingBattingAverageOnBallsInPlay:
          type:
          - number
          - 'null'
          description: Total batting average on balls in play (BABIP) while pitching
        PitchingWeightedOnBasePercentage:
          type:
          - number
          - 'null'
          description: Total weighted on base percentage while pitching 
        DoublePlays:
          type:
          - number
          - 'null'
          description: 'Total double plays, defined as one of: Bunted into Double Play, Fly into Double Play, Fouled into Double Play, Ground into Double Pla,y Line into Double Play, Popped into Double Play'
        PitchingDoublePlays:
          type:
          - number
          - 'null'
          description: Total double plays while pitching
        BattingOrderConfirmed:
          type:
          - boolean
          - 'null'
          description: Whether the batting order is confirmed (true/false)
        IsolatedPower:
          type:
          - number
          - 'null'
          description: Total isolated power (ISO)
        FieldingIndependentPitching:
          type:
          - number
          - 'null'
          description: Total fielding independent pitching (FIP)
        PitchingQualityStarts:
          type:
          - number
          - 'null'
          description: Total quality starts pitched
        PitchingInningStarted:
          type:
          - integer
          - 'null'
          description: The inning that the pitcher entered the game (if any).
        LeftOnBase:
          type:
          - number
          - 'null'
          description: Total left on base percentage 
        PitchingHolds:
          type:
          - number
          - 'null'
          description: Total holds pitched
        PitchingBlownSaves:
          type:
          - number
          - 'null'
          description: Total blown saves pitched
        SubstituteBattingOrder:
          type:
          - integer
          - 'null'
          description: The position in the batting order where this player was substituted into the game (does not include players in the starting lineup)
        SubstituteBattingOrderSequence:
          type:
          - integer
          - 'null'
          description: The sequence in which this player was substituted into the game, within the particular batting order
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft fantasy points
        FantasyPointsBatting:
          type:
          - number
          - 'null'
          description: Total batting fantasy points
        FantasyPointsPitching:
          type:
          - number
          - 'null'
          description: Total pitching fantasy points
    Inning:
      properties:
        InningID:
          type: integer
          description: The unique ID of this specific inning
        GameID:
          type: integer
          description: The unique ID of the game tied to this Inning
        InningNumber:
          type: integer
          description: The current inning number of the game
        AwayTeamRuns:
          type:
          - integer
          - 'null'
          description: Number of runs scored by the away team in the specific inning
        HomeTeamRuns:
          type:
          - integer
          - 'null'
          description: Number of runs scored by the home team in the specific inning
    Game:
      properties:
        GameID:
          type: integer
          description: The unique ID of this game
        Season:
          type: integer
          description: The MLB season of the game
        SeasonType:
          type: integer
          description: The type of season stage the game belongs to, e.g. Regular season, Post-season. For a description of possible values and how they work, see <a href="https://support.sportsdata.io/hc/en-us/articles/15196612633623-Process-Guide-Season-Types-and-Parameters" target="_blank">here.
        Status:
          type:
          - string
          - 'null'
          description: The status of the game. For a description of possible values, see <a href="https://support.sportsdata.io/hc/en-us/articles/14287629964567-Process-Guide-Game-Status" target="_blank">here.</a> For how suspended and postponed games are handled specifically, see <a href="https://support.sportsdata.io/hc/en-us/articles/4404845580567-Postponed-and-Rescheduled-Games" target="_blank">here</a>.
        Day:
          type:
          - string
          - 'null'
          description: The date of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game (in US Eastern Time)
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        AwayTeamID:
          type: integer
          description: The unique TeamID of the away team
        HomeTeamID:
          type: integer
          description: The unique ID of the home team
        RescheduledGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the game that was rescheduled from this game. This only pertains to postponed games that require rescheduling.
        StadiumID:
          type:
          - integer
          - 'null'
          description: The unique ID of the stadium
        Channel:
          type:
          - string
          - 'null'
          description: The television station broadcasting the game
        Inning:
          type:
          - integer
          - 'null'
          description: 'The inning that the game is currently in, or the inning in which the game ended. Possible values include: NULL, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, etc)'
        InningHalf:
          type:
          - string
          - 'null'
          description: 'The inning half that the game is currently in; or the inning half in which the game ended (possible values: T; B; E: M: NULL)'
        AwayTeamRuns:
          type:
          - integer
          - 'null'
          description: Number of runs scored by the away team in the game
        HomeTeamRuns:
          type:
          - integer
          - 'null'
          description: Number of runs scored by the home team in the game
        AwayTeamHits:
          type:
          - integer
          - 'null'
          description: Total hits by the away team in the game
        HomeTeamHits:
          type:
          - integer
          - 'null'
          description: Total hits by the home team in the game
        AwayTeamErrors:
          type:
          - integer
          - 'null'
          description: Total errors committed by the away team in the game
        HomeTeamErrors:
          type:
          - integer
          - 'null'
          description: Total errors committed by the home team in the game
        WinningPitcherID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the pitcher who recorded the win in the game
        LosingPitcherID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the losing pitcher in the game
        SavingPitcherID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the pitcher who recorded the save in the game
        Attendance:
          type:
          - integer
          - 'null'
          description: Total number of people who attended the game
        AwayTeamProbablePitcherID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the away team's probable pitcher
        HomeTeamProbablePitcherID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the home team's probable pitcher
        Outs:
          type:
          - integer
          - 'null'
          description: The number of outs recorded in the current inning of the game
        Balls:
          type:
          - integer
          - 'null'
          description: The number of balls thrown for the current at bat
        Strikes:
          type:
          - integer
          - 'null'
          description: The number of strikes thrown for the current at bat
        CurrentPitcherID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the current pitcher
        CurrentHitterID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the current hitter
        AwayTeamStartingPitcherID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the away team's starting pitcher
        HomeTeamStartingPitcherID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the home team starting pitcher in the game
        CurrentPitchingTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the current pitcher's team
        CurrentHittingTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the current hitter's team
        PointSpread:
          type:
          - number
          - 'null'
          description: 'The consensus Run Line at game start from the perspective of the HomeTeam (in the Game table, the PointSpread field''s negative numbers indicate the HomeTeam is favored; positive numbers indicate the AwayTeam is favored. Note that this rule does not hold in betting-related tables, where the run line is contingent on the bet line). Note: In MLB, Point Spread may also be referred to as Run Line'
        OverUnder:
          type:
          - number
          - 'null'
          description: The oddsmaker total points line at game start
        AwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Moneyline from the perspective of the away team
        HomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Moneyline from the perspective of the home team
        ForecastTempLow:
          type:
          - integer
          - 'null'
          description: The forecasted low temperature on game day at this venue (in Fahrenheit)
        ForecastTempHigh:
          type:
          - integer
          - 'null'
          description: The forecasted high temperature on game day at this venue (in Fahrenheit)
        ForecastDescription:
          type:
          - string
          - 'null'
          description: 'The description of the weather forecast. Posible values include: Broken Clouds, Clear Sky, Few Clouds, Heavy Intensity Rain, Light Rain, Moderate Rain, Mostly Cloudy, Mostly Sunny, Overcast Clouds, Partly Cloudy, Scattered Clouds, Showers, Thunderstorms'
        ForecastWindChill:
          type:
          - integer
          - 'null'
          description: The forecasted wind chill on game day at this venue.
        ForecastWindSpeed:
          type:
          - integer
          - 'null'
          description: The forecasted wind speed on game day at this venue.
        ForecastWindDirection:
          type:
          - integer
          - 'null'
          description: The wind direction isn't baseball specific.  It refers to the direction that the wind is coming from.  90 would be wind coming from the east.  180 is wind from the south.  270 is a wind from the west ... and so on.
        RescheduledFromGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the originally scheduled, postponed game, that this game was rescheduled from. This only pertains to games that are scheduled as "make up" games.
        RunnerOnFirst:
          type:
          - boolean
          - 'null'
          description: Indicates if there is a runner on first base
        RunnerOnSecond:
          type:
          - boolean
          - 'null'
          description: Indicates if there is a runner on second base
        RunnerOnThird:
          type:
          - boolean
          - 'null'
          description: Indicates if there is a runner on third base
        AwayTeamStartingPitcher:
          type:
          - string
          - 'null'
          description: The first and last name of the away team's starting pitcher for the game
        HomeTeamStartingPitcher:
          type:
          - string
          - 'null'
          description: The first and last name of the home team starting pitcher for the game
        CurrentPitcher:
          type:
          - string
          - 'null'
          description: Indicates the current pitcher's name
        CurrentHitter:
          type:
          - string
          - 'null'
          description: Indicates the current hitter's name
        WinningPitcher:
          type:
          - string
          - 'null'
          description: The name of the pitcher who recorded the win in the game
        LosingPitcher:
          type:
          - string
          - 'null'
          description: The first and last name of the losing pitcher in the game
        SavingPitcher:
          type:
          - string
          - 'null'
          description: The name of the pitcher who recorded the save in the game
        DueUpHitterID1:
          type:
          - integer
          - 'null'
          description: The PlayerID of the hitter due up first from the current hitter
        DueUpHitterID2:
          type:
          - integer
          - 'null'
          description: The PlayerID of the hitter due up second from the current hitter
        DueUpHitterID3:
          type:
          - integer
          - 'null'
          description: The PlayerID of the hitter due up third from the current hitter
        GlobalGameID:
          type: integer
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues
        GlobalAwayTeamID:
          type: integer
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues
        GlobalHomeTeamID:
          type: integer
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues.
        PointSpreadAwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The moneyline payout odds when betting on the away team with the run line
        PointSpreadHomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The moneyline payout odds when betting on the home team with the run line
        LastPlay:
          type:
          - string
          - 'null'
          description: The description of the most recent play/event of the game. This is for display purposes and does not include corresponding data points.
        IsClosed:
          type: boolean
          description: 'Indicates whether the game is over and the final score has been verified and closed out. Note: it is recommend for bet resulting to use IsClosed = True rather than simply Final game status'
        Updated:
          type:
          - string
          - 'null'
          description: The date and time of the late update made to this record (in US Eastern Time)
        Innings:
          type: array
          items:
            $ref: '#/components/schemas/Inning'
          description: The inning details associated with the game
        GameEndDateTime:
          type:
          - string
          - 'null'
          description: The date and time that the game ended in US Eastern Time
        HomeRotationNumber:
          type:
          - integer
          - 'null'
          description: Rotation number of home team for this game
        AwayRotationNumber:
          type:
          - integer
          - 'null'
          description: Rotation number of away team for this game
        NeutralVenue:
          type:
          - boolean
          - 'null'
          description: 'Indicates whether this game is played in a neutral venue. Note: Neutral = True, not neutral = False'
        InningDescription:
          type:
          - string
          - 'null'
          description: 'The current status of the inning for display purposes (possible values: Top 2, Mid 2, Bot 2, End 2, etc)'
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the over
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under
        SeriesInfo:
          $ref: '#/components/schemas/Series'
          description: Contains relevant series data for postseason series only - HomeTeamWins; AwayTeamWins; GameNumber; and MaxLength
        DateTimeUTC:
          type:
          - string
          - 'null'
          description: The date and time of the game in UTC
        HomeTeamOpener:
          type:
          - boolean
          - 'null'
          description: 'Indicates whether the home team will use an opener as the starting pitcher. NOTE: An opener is a pitcher (typically a relief pitcher) that is only scheduled to pitch the first 1-3 innings of the game'
        AwayTeamOpener:
          type:
          - boolean
          - 'null'
          description: 'Indicates whether the away team will use an opener as the starting pitcher.. NOTE: An opener is a pitcher (typically a relief pitcher) that is only scheduled to pitch the first 1-3 innings of the game'
        SuspensionResumeDay:
          type:
          - string
          - 'null'
          description: The date a game that was suspended in play will be resumed for play. Useful for tracking when a Suspended game will return to an InProgress status.
        SuspensionResumeDateTime:
          type:
          - string
          - 'null'
          description: The date and start-time that the suspended in play game will be resumed for play. Useful for tracking when a Suspended game will return to an InProgress status.
    BoxScore:
      properties:
        Game:
          $ref: '#/components/schemas/Game'
          description: The details of the game associated with this box score
        Innings:
          type: array
          items:
            $ref: '#/components/schemas/Inning'
          description: The inning details associated with the box score
        TeamGames:
          type: array
          items:
            $ref: '#/components/schemas/TeamGame'
          description: The team game stats associated with this box score
        PlayerGames:
          type: array
          items:
            $ref: '#/components/schemas/PlayerGame'
          description: The player game stats associated with this box score
    PlayerSeason:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The team's unique TeamID as assigned by SportsDataIO
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their MLB career'
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar)
        Season:
          type:
          - integer
          - 'null'
          description: The MLB season for which these totals apply
        Name:
          type:
          - string
          - 'null'
          description: Player's full name
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s position associated with the given game or season. Possible values: 1B; 2B; 3B; C; CF; DH; IF; LF; OF; P; PH; PR; RF; RP; SP; SS'
        PositionCategory:
          type:
          - string
          - 'null'
          description: 'The player''s position category. Possible values: DH; IF; OF; P; PH; PR'
        Started:
          type:
          - integer
          - 'null'
          description: Number of games started in the season
        BattingOrder:
          type:
          - integer
          - 'null'
          description: This field is expected to be NULL
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues
        AverageDraftPosition:
          type:
          - number
          - 'null'
          description: The auction value for this player as it pertains to auction-style drafts for season-long fantasy baseball
        AuctionValue:
          type:
          - integer
          - 'null'
          description: The auction value for this player as it pertains to auction-style drafts for season-long fantasy baseball
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time).
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played.
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        AtBats:
          type:
          - number
          - 'null'
          description: At bats while hitting
        Runs:
          type:
          - number
          - 'null'
          description: Total runs scored.
        Hits:
          type:
          - number
          - 'null'
          description: Total hits
        Singles:
          type:
          - number
          - 'null'
          description: Total singles
        Doubles:
          type:
          - number
          - 'null'
          description: Total doubles
        Triples:
          type:
          - number
          - 'null'
          description: Total triples
        HomeRuns:
          type:
          - number
          - 'null'
          description: Total home runs
        RunsBattedIn:
          type:
          - number
          - 'null'
          description: Total runs batted in
        BattingAverage:
          type:
          - number
          - 'null'
          description: Total batting average
        Outs:
          type:
          - number
          - 'null'
          description: Total outs
        Strikeouts:
          type:
          - number
          - 'null'
          description: Total strikeouts
        Walks:
          type:
          - number
          - 'null'
          description: Total walks
        HitByPitch:
          type:
          - number
          - 'null'
          description: Total times hit by pitch
        Sacrifices:
          type:
          - number
          - 'null'
          description: Total sacrifices
        SacrificeFlies:
          type:
          - number
          - 'null'
          description: Total sacrifice flies
        GroundIntoDoublePlay:
          type:
          - number
          - 'null'
          description: Total times grounded into double play
        StolenBases:
          type:
          - number
          - 'null'
          description: Total stolen bases
        CaughtStealing:
          type:
          - number
          - 'null'
          description: Total caught stealing
        PitchesSeen:
          type:
          - number
          - 'null'
          description: Total pitches seen
        OnBasePercentage:
          type:
          - number
          - 'null'
          description: Total on base percentage
        SluggingPercentage:
          type:
          - number
          - 'null'
          description: Total slugging percentage
        OnBasePlusSlugging:
          type:
          - number
          - 'null'
          description: Total on base plus percentage 
        Errors:
          type:
          - number
          - 'null'
          description: Total errors
        Wins:
          type:
          - number
          - 'null'
          description: Total wins by the team/player
        Losses:
          type:
          - number
          - 'null'
          description: Total losses by the team/player
        Saves:
          type:
          - number
          - 'null'
          description: Total saves by team/player
        InningsPitchedDecimal:
          type:
          - number
          - 'null'
          description: Decimal representation of total innings pitched (e.g. 1.33, 7.66, etc)
        TotalOutsPitched:
          type:
          - number
          - 'null'
          description: Total outs pitched by team/player
        InningsPitchedFull:
          type:
          - number
          - 'null'
          description: Total full innings pitched (e.g. 6, 71, 89, etc)
        InningsPitchedOuts:
          type:
          - number
          - 'null'
          description: 'Outs pitched beyond InningsPitchedFull (possible values: 0, 1, 2)'
        EarnedRunAverage:
          type:
          - number
          - 'null'
          description: Total earned run average by team/player
        PitchingHits:
          type:
          - number
          - 'null'
          description: Hits allowed while pitching
        PitchingRuns:
          type:
          - number
          - 'null'
          description: Runs allowed while pitching
        PitchingEarnedRuns:
          type:
          - number
          - 'null'
          description: Earned runs allowed while pitching
        PitchingWalks:
          type:
          - number
          - 'null'
          description: Walks allowed while pitching
        PitchingStrikeouts:
          type:
          - number
          - 'null'
          description: Strikeouts allowed while pitching
        PitchingHomeRuns:
          type:
          - number
          - 'null'
          description: Home runs allowed while pitching
        PitchesThrown:
          type:
          - number
          - 'null'
          description: Total pitches thrown while pitching
        PitchesThrownStrikes:
          type:
          - number
          - 'null'
          description: Total pitches thrown for strikes while pitching
        WalksHitsPerInningsPitched:
          type:
          - number
          - 'null'
          description: Walks plus hits per innings pitched (WHIP) while pitching
        PitchingBattingAverageAgainst:
          type:
          - number
          - 'null'
          description: Total batting average against (BAA) while pitching
        GrandSlams:
          type:
          - number
          - 'null'
          description: Total grand slams
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel fantasy points
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings fantasy points
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo fantasy points
        PlateAppearances:
          type:
          - number
          - 'null'
          description: Total plate appearances
        TotalBases:
          type:
          - number
          - 'null'
          description: Number of total bases
        FlyOuts:
          type:
          - number
          - 'null'
          description: Total fly outs
        GroundOuts:
          type:
          - number
          - 'null'
          description: Total ground outs
        LineOuts:
          type:
          - number
          - 'null'
          description: Total line outs
        PopOuts:
          type:
          - number
          - 'null'
          description: Total pop outs
        IntentionalWalks:
          type:
          - number
          - 'null'
          description: Total intentional walks
        ReachedOnError:
          type:
          - number
          - 'null'
          description: Total times reached on error
        BallsInPlay:
          type:
          - number
          - 'null'
          description: Total balls in play
        BattingAverageOnBallsInPlay:
          type:
          - number
          - 'null'
          description: Total batting average on balls in play (BABIP)
        WeightedOnBasePercentage:
          type:
          - number
          - 'null'
          description: Total weight on base percentage
        PitchingSingles:
          type:
          - number
          - 'null'
          description: Total singles allowed while pitching
        PitchingDoubles:
          type:
          - number
          - 'null'
          description: Total doubles allowed while pitching
        PitchingTriples:
          type:
          - number
          - 'null'
          description: Total triples allowed while pitching
        PitchingGrandSlams:
          type:
          - number
          - 'null'
          description: Total grand slams allowed while pitching
        PitchingHitByPitch:
          type:
          - number
          - 'null'
          description: Total batters hit by pitch while pitching
        PitchingSacrifices:
          type:
          - number
          - 'null'
          description: Total sacrifices while pitching
        PitchingSacrificeFlies:
          type:
          - number
          - 'null'
          description: Total sacrifice flies while pitching
        PitchingGroundIntoDoublePlay:
          type:
          - number
          - 'null'
          description: Total grounded into double plays while pitching
        PitchingCompleteGames:
          type:
          - number
          - 'null'
          description: Total complete games while pitching
        PitchingShutOuts:
          type:
          - number
          - 'null'
          description: Total shuouts while pitching
        PitchingNoHitters:
          type:
          - number
          - 'null'
          description: Total no hitters while pitching
        PitchingPerfectGames:
          type:
          - number
          - 'null'
          description: Total perfect games while pitching
        PitchingPlateAppearances:
          type:
          - number
          - 'null'
          description: Total plate appearances while pitching
        PitchingTotalBases:
          type:
          - number
          - 'null'
          description: Total bases while pitching
        PitchingFlyOuts:
          type:
          - number
          - 'null'
          description: Total fly outs while pitching
        PitchingGroundOuts:
          type:
          - number
          - 'null'
          description: Total ground outs while pitching
        PitchingLineOuts:
          type:
          - number
          - 'null'
          description: Total line outs while pitching
        PitchingPopOuts:
          type:
          - number
          - 'null'
          description: Total pop outs while pitching
        PitchingIntentionalWalks:
          type:
          - number
          - 'null'
          description: Total intentional walks while pitching
        PitchingReachedOnError:
          type:
          - number
          - 'null'
          description: Total times reached on error while pitching
        PitchingCatchersInterference:
          type:
          - number
          - 'null'
          description: Total catchers interference while pitching
        PitchingBallsInPlay:
          type:
          - number
          - 'null'
          description: Total balls in play while pitching
        PitchingOnBasePercentage:
          type:
          - number
          - 'null'
          description: Total on base percentage (OBP) while pitching
        PitchingSluggingPercentage:
          type:
          - number
          - 'null'
          description: Total slugging percentage (SLG) while pitching
        PitchingOnBasePlusSlugging:
          type:
          - number
          - 'null'
          description: Total on base plus slugging (OPS) while pitching
        PitchingStrikeoutsPerNineInnings:
          type:
          - number
          - 'null'
          description: Total strikeouts per nine innings (K/9) while pitching
        PitchingWalksPerNineInnings:
          type:
          - number
          - 'null'
          description: Total walks per nine innings (BB/9) while pitching
        PitchingBattingAverageOnBallsInPlay:
          type:
          - number
          - 'null'
          description: Total batting average on balls in play (BABIP) while pitching
        PitchingWeightedOnBasePercentage:
          type:
          - number
          - 'null'
          description: Total weighted on base percentage while pitching 
        DoublePlays:
          type:
          - number
          - 'null'
          description: 'Total double plays, defined as one of: Bunted into Double Play, Fly into Double Play, Fouled into Double Play, Ground into Double Pla,y Line into Double Play, Popped into Double Play'
        PitchingDoublePlays:
          type:
          - number
          - 'null'
          description: Total double plays while pitching
        BattingOrderConfirmed:
          type:
          - boolean
          - 'null'
          description: Whether the batting order is confirmed (true/false)
        IsolatedPower:
          type:
          - number
          - 'null'
          description: Total isolated power (ISO)
        FieldingIndependentPitching:
          type:
          - number
          - 'null'
          description: Total fielding independent pitching (FIP)
        PitchingQualityStarts:
          type:
          - number
          - 'null'
          description: Total quality starts pitched
        PitchingInningStarted:
          type:
          - integer
          - 'null'
          description: The inning that the pitcher entered the game (if any).
        LeftOnBase:
          type:
          - number
          - 'null'
          description: Total left on base percentage 
        PitchingHolds:
          type:
          - number
          - 'null'
          description: Total holds pitched
        PitchingBlownSaves:
          type:
          - number
          - 'null'
          description: Total blown saves pitched
        SubstituteBattingOrder:
          type:
          - integer
          - 'null'
          description: The position in the batting order where this player was substituted into the game (does not include players in the starting lineup)
        SubstituteBattingOrderSequence:
          type:
          - integer
          - 'null'
          description: The sequence in which this player was substituted into the game, within the particular batting order
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft fantasy points
        FantasyPointsBatting:
          type:
          - number
          - 'null'
          description: Total batting fantasy points
        FantasyPointsPitching:
          type:
          - number
          - 'null'
          description: Total pitching fantasy points
    FantasyGame:
      properties:
        GameID:
          type: integer
          description: The unique ID of this game
        PlayerID:
          type: integer
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their MLB career'
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar).
        Season:
          type:
          - integer
          - 'null'
          description: The MLB season of the game
        Day:
          type:
          - string
          - 'null'
          description: The date of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game in US Eastern Time
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Opponent:
          type:
          - string
          - 'null'
          description: The name [Key] of the player's opponent in the game
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Whether the team is home or away
        Jersey:
          type:
          - integer
          - 'null'
          description: The player's jersey number.
        Name:
          type:
          - string
          - 'null'
          description: Player's full name
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s position associated with the given game or season. Possible values: 1B, 2B, 3B, C, CF, DH, IF, LF, OF, P, PH, PR, RF, RP, SP, SS'
        PositionCategory:
          type:
          - string
          - 'null'
          description: 'The player''s position category. Possible values: DH; IF; OF; P; PH; PR'
        Games:
          type:
          - integer
          - 'null'
          description: 'The number of games played by the player. Note: for game feeds this will always = 1'
        Started:
          type:
          - integer
          - 'null'
          description: 'Whether the player started in the game. Note: started = 1 and not starting = 0'
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points by the player during the game
        FantasyPointsBatting:
          type:
          - number
          - 'null'
          description: Total batting fantasy points by the player in the game
        FantasyPointsPitching:
          type:
          - number
          - 'null'
          description: Total pitching fantasy points by the player in the game
        IsGameOver:
          type:
          - boolean
          - 'null'
          description: Whether or not the game is over (returns ture/false)
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel fantasy points by the player in the game
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo fantasy points by the player in the game
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings fantasy points by the player in the game
        FanDuelPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in FanDuel's daily fantasy sports platform.
        DraftKingsPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in DraftKings' daily fantasy sports platform.
        YahooPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Yahoo's daily fantasy sports platform
        OpponentRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent with regards to fantasy points allowed
        OppositionPositionRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent by position with regards to fantasy points allowed
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The date and time of the late update made to this record (in US Eastern Time)
    Series:
      properties:
        HomeTeamWins:
          type: integer
          description: 'Number of wins by the home team on in the series. Note: this is for postseason series only.'
        AwayTeamWins:
          type: integer
          description: 'Number of wins by the away team in the series. Note: This is for postseason series only.'
        GameNumber:
          type: integer
          description: 'Game number in series. Note: this applies to postseason series only.'
        MaxLength:
          type: integer
          description: 'Maximum number of games in the series. Note: this is for postseason series only.'
    TeamGame:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The team's unique TeamID as assigned by SportsDataIO
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 4=Offseason, 5=AllStar)
        Season:
          type:
          - integer
          - 'null'
          description: The MLB season of the game
        Name:
          type:
          - string
          - 'null'
          description: Team's full name (city and mascot)
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of this game
        OpponentID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's opponent
        Opponent:
          type:
          - string
          - 'null'
          description: The name of the opponent 
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Whether the team is home or away
        IsGameOver:
          type: boolean
          description: Whether the game is over (true/false)
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalOpponentID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this opponent. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time).
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played.
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        AtBats:
          type:
          - number
          - 'null'
          description: At bats while hitting
        Runs:
          type:
          - number
          - 'null'
          description: Total runs scored.
        Hits:
          type:
          - number
          - 'null'
          description: Total hits
        Singles:
          type:
          - number
          - 'null'
          description: Total singles
        Doubles:
          type:
          - number
          - 'null'
          description: Total doubles
        Triples:
          type:
          - number
          - 'null'
          description: Total triples
        HomeRuns:
          type:
          - number
          - 'null'
          description: Total home runs
        RunsBattedIn:
          type:
          - number
          - 'null'
          description: Total runs batted in
        BattingAverage:
          type:
          - number
          - 'null'
          description: Total batting average
        Outs:
          type:
          - number
          - 'null'
          description: Total outs
        Strikeouts:
          type:
          - number
          - 'null'
          description: Total strikeouts
        Walks:
          type:
          - number
          - 'null'
          description: Total walks
        HitByPitch:
          type:
          - number
          - 'null'
          description: Total times hit by pitch
        Sacrifices:
          type:
          - number
          - 'null'
          description: Total sacrifices
        SacrificeFlies:
          type:
          - number
          - 'null'
          description: Total sacrifice flies
        GroundIntoDoublePlay:
          type:
          - number
          - 'null'
          description: Total times grounded into double play
        StolenBases:
          type:
          - number
          - 'null'
          description: Total stolen bases
        CaughtStealing:
          type:
          - number
          - 'null'
          description: Total caught stealing
        PitchesSeen:
          type:
          - number
          - 'null'
          description: Total pitches seen
        OnBasePercentage:
          type:
          - number
          - 'null'
          description: Total on base percentage
        SluggingPercentage:
          type:
          - number
          - 'null'
          description: Total slugging percentage
        OnBasePlusSlugging:
          type:
          - number
          - 'null'
          description: Total on base plus percentage 
        Errors:
          type:
          - number
          - 'null'
          description: Total errors
        Wins:
          type:
          - number
          - 'null'
          description: Total wins by the team/player
        Losses:
          type:
          - number
          - 'null'
          description: Total losses by the team/player
        Saves:
          type:
          - number
          - 'null'
          description: Total saves by team/player
        InningsPitchedDecimal:
          type:
          - number
          - 'null'
          description: Decimal representation of total innings pitched (e.g. 1.33, 7.66, etc)
        TotalOutsPitched:
          type:
          - number
          - 'null'
          description: Total outs pitched by team/player
        InningsPitchedFull:
          type:
          - number
          - 'null'
          description: Total full innings pitched (e.g. 6, 71, 89, etc)
        InningsPitchedOuts:
          type:
          - number
          - 'null'
          description: 'Outs pitched beyond InningsPitchedFull (possible values: 0, 1, 2)'
        EarnedRunAverage:
          type:
          - number
          - 'null'
          description: Total earned run average by team/player
        PitchingHits:
          type:
          - number
          - 'null'
          description: Hits allowed while pitching
        PitchingRuns:
          type:
          - number
          - 'null'
          description: Runs allowed while pitching
        PitchingEarnedRuns:
          type:
          - number
          - 'null'
          description: Earned runs allowed while pitching
        PitchingWalks:
          type:
          - number
          - 'null'
          description: Walks allowed while pitching
        PitchingStrikeouts:
          type:
          - number
          - 'null'
          description: Strikeouts allowed while pitching
        PitchingHomeRuns:
          type:
          - number
          - 'null'
          description: Home runs allowed while pitching
        PitchesThrown:
          type:
          - number
          - 'null'
          description: Total pitches thrown while pitching
        PitchesThrownStrikes:
          type:
          - number
          - 'null'
          description: Total pitches thrown for strikes while pitching
        WalksHitsPerInningsPitched:
          type:
          - number
          - 'null'
          description: Walks plus hits per innings pitched (WHIP) while pitching
        PitchingBattingAverageAgainst:
          type:
          - number
          - 'null'
          description: Total batting average against (BAA) while pitching
        GrandSlams:
          type:
          - number
          - 'null'
          description: Total grand slams
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel fantasy points
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings fantasy points
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo fantasy points
        PlateAppearances:
          type:
          - number
          - 'null'
          description: Total plate appearances
        TotalBases:
          type:
          - number
          - 'null'
          description: Number of total bases
        FlyOuts:
          type:
          - number
          - 'null'
          description: Total fly outs
        GroundOuts:
          type:
          - number
          - 'null'
          description: Total ground outs
        LineOuts:
          type:
          - number
          - 'null'
          description: Total line outs
        PopOuts:
          type:
          - number
          - 'null'
          description: Total pop outs
        IntentionalWalks:
          type:
          - number
          - 'null'
          description: Total intentional walks
        ReachedOnError:
          type:
          - number
          - 'null'
          description: Total times reached on error
        BallsInPlay:
          type:
          - number
          - 'null'
          description: Total balls in play
        BattingAverageOnBallsInPlay:
          type:
          - number
          - 'null'
          description: Total batting average on balls in play (BABIP)
        WeightedOnBasePercentage:
          type:
          - number
          - 'null'
          description: Total weight on base percentage
        PitchingSingles:
          type:
          - number
          - 'null'
          description: Total singles allowed while pitching
        PitchingDoubles:
          type:
          - number
          - 'null'
          description: Total doubles allowed while pitching
        PitchingTriples:
          type:
          - number
          - 'null'
          description: Total triples allowed while pitching
        PitchingGrandSlams:
          type:
          - number
          - 'null'
          description: Total grand slams allowed while pitching
        PitchingHitByPitch:
          type:
          - number
          - 'null'
          description: Total batters hit by pitch while pitching
        PitchingSacrifices:
          type:
          - number
          - 'null'
          description: Total sacrifices while pitching
        PitchingSacrificeFlies:
          type:
          - number
          - 'null'
          description: Total sacrifice flies while pitching
        PitchingGroundIntoDoublePlay:
          type:
          - number
          - 'null'
          description: Total grounded into double plays while pitching
        PitchingCompleteGames:
          type:
          - number
          - 'null'
          description: Total complete games while pitching
        PitchingShutOuts:
          type:
          - number
          - 'null'
          description: Total shuouts while pitching
        PitchingNoHitters:
          type:
          - number
          - 'null'
          description: Total no hitters while pitching
        PitchingPerfectGames:
          type:
          - number
          - 'null'
          description: Total perfect games while pitching
        PitchingPlateAppearances:
          type:
          - number
          - 'null'
          description: Total plate appearances while pitching
        PitchingTotalBases:
          type:
          - number
          - 'null'
          description: Total bases while pitching
        PitchingFlyOuts:
          type:
          - number
          - 'null'
          description: Total fly outs while pitching
        PitchingGroundOuts:
          type:
          - number
          - 'null'
          description: Total ground outs while pitching
        PitchingLineOuts:
          type:
          - number
          - 'null'
          description: Total line outs while pitching
        PitchingPopOuts:
          type:
          - number
          - 'null'
          description: Total pop outs while pitching
        PitchingIntentionalWalks:
          type:
          - number
          - 'null'
          description: Total intentional walks while pitching
        PitchingReachedOnError:
          type:
          - number
          - 'null'
          description: Total times reached on error while pitching
        PitchingCatchersInterference:
          type:
          - number
          - 'null'
          description: Total catchers interference while pitching
        PitchingBallsInPlay:
          type:
          - number
          - 'null'
          description: Total balls in play while pitching
        PitchingOnBasePercentage:
          type:
          - number
          - 'null'
          description: Total on base percentage (OBP) while pitching
        PitchingSluggingPercentage:
          type:
          - number
          - 'null'
          description: Total slugging percentage (SLG) while pitching
        PitchingOnBasePlusSlugging:
          type:
          - number
          - 'null'
          description: Total on base plus slugging (OPS) while pitching
        PitchingStrikeoutsPerNineInnings:
          type:
          - number
          - 'null'
          description: Total strikeouts per nine innings (K/9) while pitching
        PitchingWalksPerNineInnings:
          type:
          - number
          - 'null'
          description: Total walks per nine innings (BB/9) while pitching
        PitchingBattingAverageOnBallsInPlay:
          type:
          - number
          - 'null'
          description: Total batting average on balls in play (BABIP) while pitching
        PitchingWeightedOnBasePercentage:
          type:
          - number
          - 'null'
          description: Total weighted on base percentage while pitching 
        DoublePlays:
          type:
          - number
          - 'null'
          description: 'Total double plays, defined as one of: Bunted into Double Play, Fly into Double Play, Fouled into Double Play, Ground into Double Pla,y Line into Double Play, Popped into Double Play'
        PitchingDoublePlays:
          type:
          - number
          - 'null'
          description: Total double plays while pitching
        BattingOrderConfirmed:
          type:
          - boolean
          - 'null'
          description: Whether the batting order is confirmed (true/false)
        IsolatedPower:
          type:
          - number
          - 'null'
          description: Total isolated power (ISO)
        FieldingIndependentPitching:
          type:
          - number
          - 'null'
          description: Total fielding independent pitching (FIP)
        PitchingQualityStarts:
          type:
          - number
          - 'null'
          description: Total quality starts pitched
        PitchingInningStarted:
          type:
          - integer
          - 'null'
          description: The inning that the pitcher entered the game (if any).
        LeftOnBase:
          type:
          - number
          - 'null'
          description: Total left on base percentage 
        PitchingHolds:
          type:
          - number
          - 'null'
          description: Total holds pitched
        PitchingBlownSaves:
          type:
          - number
          - 'null'
          description: Total blown saves pitched
        SubstituteBattingOrder:
          type:
          - integer
          - 'null'
          description: The position in the batting order where this player was substituted into the game (does not include players in the starting lineup)
        SubstituteBattingOrderSequence:
          type:
          - integer
          - 'null'
          description: The sequence in which this player was substituted into the game, within the particular batting order
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft fantasy points
        FantasyPointsBatting:
          type:
          - number
          - 'null'
          description: Total batting fantasy points
        FantasyPointsPitching:
          type:
          - number
          - 'null'
          description: Total pitching fantasy points
    Unauthorized:
      properties:
        HttpStatusCode:
          type: integer
        Code:
          type: integer
        Description:
          type: string
        Help:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: key
      in: query
