openapi: 3.1.0
info:
  title: MLB MLB v3 Headshots Soccer v4 Scores API
  version: '1.0'
  description: MLB API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Soccer v4 Scores
paths:
  /v4/soccer/scores/{format}/GamesByDate/{competition}/{date}:
    get:
      description: Full scores and gameday info delivered live and post-game. Live data includes half and score info. Gameday info includes weather, TV channel etc
      operationId: soccer_v4_scores_games___by_date__live___final
      summary: Games - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/Areas:
    get:
      description: A list of countries, continents etc. for finding their respective competitions.
      operationId: soccer_v4_scores_areas__countries
      summary: Areas (Countries)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Area'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/Competitions:
    get:
      description: A list of all competitions (leagues, cups etc.) and their associated countries or areas.
      operationId: soccer_v4_scores_competitions__leagues
      summary: Competitions (Leagues)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Competition'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/Teams/{competition}:
    get:
      description: 'Full team information: team name and city, conference and division, and colors. Also contains basic fantasy info such as IDs as well as full stadium data. This endpoint returns the teams ever associated with a competition; use Team Profiles - by Season for just the current ones.'
      operationId: soccer_v4_scores_team_profiles___by_competition
      summary: Team Profiles - by Competition
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/Venues:
    get:
      description: Stadium information from across the world
      operationId: soccer_v4_scores_venues
      summary: Venues
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Venue'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/SeasonTeams/{competition}/{seasonid}:
    get:
      description: 'Full team information: team name and city, conference and division, and colors. Also contains basic fantasy info such as IDs as well as full stadium data. This endpoint returns the teams currently associated with a competition''s active season; use Team Profiles - by Competition for all-time (e.g. teams since relegated from the EPL.)'
      operationId: soccer_v4_scores_team_profiles___by_season
      summary: Team Profiles - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: seasonid
        in: path
        description: "Unique FantasyData Season ID. SeasonIDs can be found in the Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>, <code>3</code>, etc"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SeasonTeam'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/Schedule/{competition}/{season}:
    get:
      description: Home and away teams, date and time, season type and week etc. are included. Also includes gameday information. This includes full stadium information (capacity, lat/long, surface etc.), top-line betting information (spread, moneyline, total), weather conditions, and broadcast information.
      operationId: soccer_v4_scores_schedules
      summary: Schedules
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Round'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/PlayersByTeam/{competition}/{teamid}:
    get:
      description: Full player bio and details, including injury notes, for all available players by team.
      operationId: soccer_v4_scores_player_details___by_team
      summary: Player Details - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: teamid
        in: path
        description: "Unique FantasyData Team ID. \nExample:<code>516</code>."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/TeamSeasonStats/{competition}/{season}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each individual game record) for all teams (aggregated from all players) for a given season.
      operationId: soccer_v4_scores_team_season_stats
      summary: Team Season Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Round'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/TeamGameStatsByDate/{competition}/{date}:
    get:
      description: Returns the box score statistical record team-wide (aggregated from all players) for all games on a given date within a competition, both live and post-game.
      operationId: soccer_v4_scores_team_game_stats___by_date__live___final
      summary: Team Game Stats - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/Standings/{competition}/{season}:
    get:
      description: Includes regular season standings in a given league or tournament and season.
      operationId: soccer_v4_scores_standings
      summary: Standings
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Round'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/CompetitionDetails/{competition}:
    get:
      description: Full scores and gameday info delivered live and post-game. Live data includes half and score info, delivered by competition.
      operationId: soccer_v4_scores_games___by_competition__live___final
      summary: Games - by Competition [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/HistoricalMembershipsByTeam/{competition}/{teamid}:
    get:
      description: Historical memberships of a team, i.e. players who were once on the roster but have since left.
      operationId: soccer_v4_scores_memberships_historical___by_team
      summary: Memberships Historical - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: teamid
        in: path
        description: "Unique FantasyData Team ID. \nExample:<code>516</code>."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Membership'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/ActiveMemberships/{competition}:
    get:
      description: Players currently active on teams within a specified competition.
      operationId: soccer_v4_scores_memberships___by_active
      summary: Memberships - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Membership'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/RecentlyChangedMemberships/{competition}/{days}:
    get:
      description: A list of all recently changed memberships (e.g. player transfers, releases) for a given competition, called by number of days ago.
      operationId: soccer_v4_scores_memberships___by_recently_changed
      summary: Memberships - by Recently Changed
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: days
        in: path
        description: 'The number of days since memberships were updated. For example, if you pass <code>3</code>, you''ll receive all memberships that have been updated in the past 3 days. Valid entries are: <code>1</code>, <code>2</code> ... <code>30</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Membership'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/CanceledMemberships:
    get:
      description: Memberships (players' membership of a team) that have since been revoked by our system.
      operationId: soccer_v4_scores_memberships___by_canceled
      summary: Memberships - by Canceled
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanceledMembership'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/SchedulesBasic/{competition}/{season}:
    get:
      description: A lightweight schedule endpoint without gameday information. Home and away teams, the date and time of the game, and season type, week etc. are included. Ideal for the most basic information required to build a schedule.
      operationId: soccer_v4_scores_schedules__basic
      summary: Schedules (Basic)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/ScoresBasic/{competition}/{date}:
    get:
      description: Full scores and gameday info delivered live and post-game, called by date and competition.
      operationId: soccer_v4_scores_games__basic____by_date__live___final
      summary: Games (Basic) - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/PlayersByTeamBasic/{competition}/{teamid}:
    get:
      description: Roster information for a given team. Player profiles include basic biographical information, position, etc. Specify a TeamId parameter to receive all players currently on that team.
      operationId: soccer_v4_scores_player_profiles___by_team
      summary: Player Profiles - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: teamid
        in: path
        description: "Unique FantasyData Team ID. \nExample:<code>516</code>."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/GamesByDateFinal/{competition}/{date}:
    get:
      description: Full scores and gameday info, as well as half and full-time score, delivered post-game.
      operationId: soccer_v4_scores_games___by_date__final
      summary: Games - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/ScoresBasicFinal/{competition}/{date}:
    get:
      description: The most top-line full-time information, ideal for basic applications, called by competition and date, delivered post-game.
      operationId: soccer_v4_scores_games__basic____by_date__final
      summary: Games (Basic) - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
components:
  schemas:
    Game:
      properties:
        GameId:
          type: integer
          description: The unique ID of the game
        RoundId:
          type: integer
          description: The unique ID of the round that this game is associated with.
        Season:
          type: integer
          description: The soccer regular season for which these totals apply
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 4=Offseason, 5=AllStar).
        Group:
          type:
          - string
          - 'null'
          description: 'The name of the group in which this game occurs. Note: This is used in tournaments & cups'
        AwayTeamId:
          type:
          - integer
          - 'null'
          description: The unique ID of the away team
        HomeTeamId:
          type:
          - integer
          - 'null'
          description: The unique ID of the home team
        VenueId:
          type:
          - integer
          - 'null'
          description: The unique ID of the venue
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game (in UTC)
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled, InProgress, Break, Final, Awarded, Postponed, Canceled, Suspended. If a game is called off before it starts, the Status is set to Postponed, until a new date/time is scheduled, at which point, the DateTime is updated, and the Status is set back to Scheduled. If a game has already started, and temporarily interrupted, it''s Status is set to Suspended, until it either resumes, or gets postponed and replayed at a later date. If the game is at halftime, then the Status will be Break. Awarded is used in cases where a game is decided on the so called "green table." That means that a game was decided by the Federation/League to one team for a reason. This can include situations like riots, where the opponent team gets 3:0 win awarded as punishment. Awarded is also used when a club withdraws during the season from the competition then all the remaining matches getting awarded 3:0.'
        Week:
          type:
          - integer
          - 'null'
          description: The week during the season/round in which this game occurs
        Period:
          type:
          - string
          - 'null'
          description: 'The final period of the game. Possible values: Regular = Game ended in 90 minutes of regular time; ExtraTime = Game ended in extra time / overtime; PenaltyShootout = Game finished in penalty shootout time'
        Clock:
          type:
          - integer
          - 'null'
          description: 'The clock for the game if it is in progress.  Note: if the game hasn''t started or the game is over; then this will be NULL'
        Winner:
          type:
          - string
          - 'null'
          description: 'The winner of the game. Possible values: AwayTeam; HomeTeam; Draw'
        VenueType:
          type:
          - string
          - 'null'
          description: 'Shows which team has home field advantage. Possible values: Home; Away; Neutral'
        AwayTeamKey:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        AwayTeamName:
          type:
          - string
          - 'null'
          description: The name of the away team
        AwayTeamCountryCode:
          type:
          - string
          - 'null'
          description: The country code of the away team.
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: The final score of the away team
        AwayTeamScorePeriod1:
          type:
          - integer
          - 'null'
          description: The first period score of the away team.
        AwayTeamScorePeriod2:
          type:
          - integer
          - 'null'
          description: The second period score of the away team.
        AwayTeamScoreExtraTime:
          type:
          - integer
          - 'null'
          description: The extra time (overtime) score of the away team (if applicable).
        AwayTeamScorePenalty:
          type:
          - integer
          - 'null'
          description: The penalty shootout score of the away team (if applicable).
        HomeTeamKey:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        HomeTeamName:
          type:
          - string
          - 'null'
          description: The name of the home team
        HomeTeamCountryCode:
          type:
          - string
          - 'null'
          description: The country code of the home team
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: The final score of the home team
        HomeTeamScorePeriod1:
          type:
          - integer
          - 'null'
          description: The first period score of the home team
        HomeTeamScorePeriod2:
          type:
          - integer
          - 'null'
          description: The second period score of the home team
        HomeTeamScoreExtraTime:
          type:
          - integer
          - 'null'
          description: The extra time (overtime) score of the home team (if applicable)
        HomeTeamScorePenalty:
          type:
          - integer
          - 'null'
          description: The penalty shootout score of the home team (if applicable)
        HomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Payout on a bet that the away home wins
        AwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Payout on a bet that the away team wins.
        DrawMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's money line for a draw
        PointSpread:
          type:
          - number
          - 'null'
          description: Point spread for the home team
        HomeTeamPointSpreadPayout:
          type:
          - integer
          - 'null'
          description: Payout if the home team covers the spread
        AwayTeamPointSpreadPayout:
          type:
          - integer
          - 'null'
          description: Payout if the away team covers the spread
        OverUnder:
          type:
          - number
          - 'null'
          description: The sportsbook's total goals line (over/under) for the game
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the over bet on the total goals line
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under
        Attendance:
          type:
          - integer
          - 'null'
          description: The attendance for the game.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        UpdatedUtc:
          type:
          - string
          - 'null'
          description: The timestamp of when this record was updated (in UTC)
        GlobalGameId:
          type: integer
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalAwayTeamId:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues.
        GlobalHomeTeamId:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues.
        ClockExtra:
          type:
          - integer
          - 'null'
          description: 'The added stoppage time minute the game is currently in.  Note: will be null when game is not in stoppage time'
        ClockDisplay:
          type:
          - string
          - 'null'
          description: 'A convenient string display of the current clock with format Clock+ClockExtra (example: 90+3)'
        IsClosed:
          type:
          - boolean
          - 'null'
          description: Indicates whether the game is over and the final score and stats have been verified and closed out
        HomeTeamFormation:
          type:
          - string
          - 'null'
          description: The formation for the home team (4-4-2; 4-3-3; etc.)
        AwayTeamFormation:
          type:
          - string
          - 'null'
          description: The formation for the away team (4-4-2, 4-3-3, etc.)
        PlayoffAggregateScore:
          $ref: '#/components/schemas/PlayoffAggregateScore'
          description: Aggregate scoring information for 2-leg/home-and-home games (i.e. Champions League Round of 16). Team A is determined by the first legs home team.
    PlayerSeason:
      properties:
        StatId:
          type: integer
          description: The unique ID of the stat associated with this player
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 4=Offseason, 5=AllStar).
        Season:
          type: integer
          description: The soccer regular season for which these totals apply
        RoundId:
          type:
          - integer
          - 'null'
          description: The unique ID of the round that this player is associated with
        TeamId:
          type:
          - integer
          - 'null'
          description: The unique ID of the player's team
        PlayerId:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID stays with the player their entire career'
        Name:
          type:
          - string
          - 'null'
          description: The player's full name
        ShortName:
          type:
          - string
          - 'null'
          description: The short name of the player
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        PositionCategory:
          type:
          - string
          - 'null'
          description: The player's position category
        Position:
          type:
          - string
          - 'null'
          description: 'The position of the player. Possible values include: A (Attacker), M (Midfielder), D (Defender), GK (Goalkeeper)'
        Started:
          type:
          - integer
          - 'null'
          description: The total number of games the player started in the season
        GlobalTeamId:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        UpdatedUtc:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (UTC Time)
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total Fan Duel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total Draft Kings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        FantasyPointsMondogoal:
          type:
          - number
          - 'null'
          description: Total Mondogoal fantasy points scored
        Minutes:
          type:
          - number
          - 'null'
          description: Total minutes played
        Goals:
          type:
          - number
          - 'null'
          description: Total goals scored
        Assists:
          type:
          - number
          - 'null'
          description: Total assists scored
        Shots:
          type:
          - number
          - 'null'
          description: Total shots attempted
        ShotsOnGoal:
          type:
          - number
          - 'null'
          description: Total shots on goal attempted
        YellowCards:
          type:
          - number
          - 'null'
          description: Total yellow cards against
        RedCards:
          type:
          - number
          - 'null'
          description: Total red cards against
        YellowRedCards:
          type:
          - number
          - 'null'
          description: Total double yellow cards against (which result in a red card)
        Crosses:
          type:
          - number
          - 'null'
          description: Total passes from a wide area of the field towards the center of the field near the opponent's goal
        TacklesWon:
          type:
          - number
          - 'null'
          description: Total tackles won
        Interceptions:
          type:
          - number
          - 'null'
          description: Total interceptions made
        OwnGoals:
          type:
          - number
          - 'null'
          description: Total goals scored against own team (accidentally)
        Fouls:
          type:
          - number
          - 'null'
          description: Total fouls made
        Fouled:
          type:
          - number
          - 'null'
          description: Total times fouled
        Offsides:
          type:
          - number
          - 'null'
          description: Total offsides against
        Passes:
          type:
          - number
          - 'null'
          description: Total passes attempted
        PassesCompleted:
          type:
          - number
          - 'null'
          description: Total passes completed successfully to teammate
        LastManTackle:
          type:
          - number
          - 'null'
          description: Total tackles made when there is no one else available to stop the opponent from scoring (this can be the goalkeeper)
        CornersWon:
          type:
          - number
          - 'null'
          description: Total corner kicks awarded
        BlockedShots:
          type:
          - number
          - 'null'
          description: Total shots blocked
        Touches:
          type:
          - number
          - 'null'
          description: Total times this player touched the ball
        DefenderCleanSheets:
          type:
          - number
          - 'null'
          description: Total defender clean sheets (awarded when zero goals were allowed to the opponent and the player played at least 60 minutes)
        GoalkeeperSaves:
          type:
          - number
          - 'null'
          description: Total saves made by goalkeeper
        GoalkeeperGoalsAgainst:
          type:
          - number
          - 'null'
          description: Total goals allowed by goalkeeper
        GoalkeeperSingleGoalAgainst:
          type:
          - number
          - 'null'
          description: Total games where this goalkeeper allowed exactly one goal
        GoalkeeperCleanSheets:
          type:
          - number
          - 'null'
          description: Total goalkeeper clean sheets (awarded when zero goals were allowed to the opponent and the player played at least 60 minutes)
        GoalkeeperWins:
          type:
          - number
          - 'null'
          description: Total goalkeeper wins (awarded when zero goals were allowed to the opponent and the player played at least 45 minutes)
        PenaltyKickGoals:
          type:
          - number
          - 'null'
          description: Total penalty kick goals
        PenaltyKickMisses:
          type:
          - number
          - 'null'
          description: Total penalty kick misses
        PenaltyKickSaves:
          type:
          - number
          - 'null'
          description: Total penalty kick saves
        PenaltiesWon:
          type:
          - number
          - 'null'
          description: Total penalties won
        PenaltiesConceded:
          type:
          - number
          - 'null'
          description: 'Total penalties conceded '
        Score:
          type:
          - number
          - 'null'
          description: Goals scored by entire team
        OpponentScore:
          type:
          - number
          - 'null'
          description: Goals allowed to opponent
        Tackles:
          type:
          - number
          - 'null'
          description: Total Tackles
    TeamSeason:
      properties:
        StatId:
          type: integer
          description: The unique ID of the stat associated with this team
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 4=Offseason, 5=AllStar).
        Season:
          type: integer
          description: The soccer regular season for which these totals apply
        RoundId:
          type:
          - integer
          - 'null'
          description: The unique ID of the round that this team is associated with
        TeamId:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        Name:
          type:
          - string
          - 'null'
          description: The team's full name
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        GlobalTeamId:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        Possession:
          type:
          - number
          - 'null'
          description: Percentage of ball possession by the team in the season
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        UpdatedUtc:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (UTC Time)
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total Fan Duel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total Draft Kings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        FantasyPointsMondogoal:
          type:
          - number
          - 'null'
          description: Total Mondogoal fantasy points scored
        Minutes:
          type:
          - number
          - 'null'
          description: Total minutes played
        Goals:
          type:
          - number
          - 'null'
          description: Total goals scored
        Assists:
          type:
          - number
          - 'null'
          description: Total assists scored
        Shots:
          type:
          - number
          - 'null'
          description: Total shots attempted
        ShotsOnGoal:
          type:
          - number
          - 'null'
          description: Total shots on goal attempted
        YellowCards:
          type:
          - number
          - 'null'
          description: Total yellow cards against
        RedCards:
          type:
          - number
          - 'null'
          description: Total red cards against
        YellowRedCards:
          type:
          - number
          - 'null'
          description: Total double yellow cards against (which result in a red card)
        Crosses:
          type:
          - number
          - 'null'
          description: Total passes from a wide area of the field towards the center of the field near the opponent's goal
        TacklesWon:
          type:
          - number
          - 'null'
          description: Total tackles won
        Interceptions:
          type:
          - number
          - 'null'
          description: Total interceptions made
        OwnGoals:
          type:
          - number
          - 'null'
          description: Total goals scored against own team (accidentally)
        Fouls:
          type:
          - number
          - 'null'
          description: Total fouls made
        Fouled:
          type:
          - number
          - 'null'
          description: Total times fouled
        Offsides:
          type:
          - number
          - 'null'
          description: Total offsides against
        Passes:
          type:
          - number
          - 'null'
          description: Total passes attempted
        PassesCompleted:
          type:
          - number
          - 'null'
          description: Total passes completed successfully to teammate
        LastManTackle:
          type:
          - number
          - 'null'
          description: Total tackles made when there is no one else available to stop the opponent from scoring (this can be the goalkeeper)
        CornersWon:
          type:
          - number
          - 'null'
          description: Total corner kicks awarded
        BlockedShots:
          type:
          - number
          - 'null'
          description: Total shots blocked
        Touches:
          type:
          - number
          - 'null'
          description: Total times this player touched the ball
        DefenderCleanSheets:
          type:
          - number
          - 'null'
          description: Total defender clean sheets (awarded when zero goals were allowed to the opponent and the player played at least 60 minutes)
        GoalkeeperSaves:
          type:
          - number
          - 'null'
          description: Total saves made by goalkeeper
        GoalkeeperGoalsAgainst:
          type:
          - number
          - 'null'
          description: Total goals allowed by goalkeeper
        GoalkeeperSingleGoalAgainst:
          type:
          - number
          - 'null'
          description: Total games where this goalkeeper allowed exactly one goal
        GoalkeeperCleanSheets:
          type:
          - number
          - 'null'
          description: Total goalkeeper clean sheets (awarded when zero goals were allowed to the opponent and the player played at least 60 minutes)
        GoalkeeperWins:
          type:
          - number
          - 'null'
          description: Total goalkeeper wins (awarded when zero goals were allowed to the opponent and the player played at least 45 minutes)
        PenaltyKickGoals:
          type:
          - number
          - 'null'
          description: Total penalty kick goals
        PenaltyKickMisses:
          type:
          - number
          - 'null'
          description: Total penalty kick misses
        PenaltyKickSaves:
          type:
          - number
          - 'null'
          description: Total penalty kick saves
        PenaltiesWon:
          type:
          - number
          - 'null'
          description: Total penalties won
        PenaltiesConceded:
          type:
          - number
          - 'null'
          description: 'Total penalties conceded '
        Score:
          type:
          - number
          - 'null'
          description: Goals scored by entire team
        OpponentScore:
          type:
          - number
          - 'null'
          description: Goals allowed to opponent
        Tackles:
          type:
          - number
          - 'null'
          description: Total Tackles
    Venue:
      properties:
        VenueId:
          type: integer
          description: The unique ID of the venue
        Name:
          type:
          - string
          - 'null'
          description: The full name of the venue
        Address:
          type:
          - string
          - 'null'
          description: The address where the venue is located
        City:
          type:
          - string
          - 'null'
          description: The city where the venue is located
        Zip:
          type:
          - string
          - 'null'
          description: The zip code of where the venue is located
        Country:
          type:
          - string
          - 'null'
          description: The country name of where the venue is located
        Open:
          type: boolean
          description: Indicates whether this venue is actively used
        Opened:
          type:
          - integer
          - 'null'
          description: The year the venue opened (e.g. 1950; 1960; etc)
        Nickname1:
          type:
          - string
          - 'null'
          description: A nickname for this venue
        Nickname2:
          type:
          - string
          - 'null'
          description: A nickname for this venue
        Capacity:
          type:
          - integer
          - 'null'
          description: The estimated seating capacity of the venue
        Surface:
          type:
          - string
          - 'null'
          description: 'The playing surface of the stadium. Possible values: Grass; Artificial'
        GeoLat:
          type:
          - number
          - 'null'
          description: The geographic latitude coordinate of this venue
        GeoLong:
          type:
          - number
          - 'null'
          description: The geographic latitude coordinate of this venue
    Player:
      properties:
        PlayerId:
          type: integer
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID stays with the player their entire career.'
        FirstName:
          type:
          - string
          - 'null'
          description: The player's first name
        LastName:
          type:
          - string
          - 'null'
          description: The last name of the player
        CommonName:
          type:
          - string
          - 'null'
          description: The player's common name
        ShortName:
          type:
          - string
          - 'null'
          description: The short name of the player
        Position:
          type:
          - string
          - 'null'
          description: 'The position of the player. Possible values include: A (Attacker); M (Midfielder); D (Defender); GK (Goalkeeper).'
        PositionCategory:
          type:
          - string
          - 'null'
          description: The player's position category
        Jersey:
          type:
          - integer
          - 'null'
          description: The player's jersey number
        Foot:
          type:
          - string
          - 'null'
          description: 'The primary foot of the player. Possible values: left or right.'
        Height:
          type:
          - integer
          - 'null'
          description: The height of the player in centimeters (cm)
        Weight:
          type:
          - integer
          - 'null'
          description: The player's weight in kilograms (kg)
        Gender:
          type:
          - string
          - 'null'
          description: 'The gender of this player on the team. Possible Values: Male; Female.'
        BirthDate:
          type:
          - string
          - 'null'
          description: The player's date of birth
        BirthCity:
          type:
          - string
          - 'null'
          description: The city in which the player was born
        BirthCountry:
          type:
          - string
          - 'null'
          description: The country in which the player was born
        Nationality:
          type:
          - string
          - 'null'
          description: The nationality of the player
        InjuryStatus:
          type:
          - string
          - 'null'
          description: 'Indicates the player''s injury status. Possible values: Questionable; Out.'
        InjuryBodyPart:
          type:
          - string
          - 'null'
          description: The body part of the player that is injured (Knee; Groin; Calf; Hamstring; etc.)
        InjuryNotes:
          type:
          - string
          - 'null'
          description: Not yet supported; will be null
        InjuryStartDate:
          type:
          - string
          - 'null'
          description: The date that the injury started or was first discovered
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        PhotoUrl:
          type:
          - string
          - 'null'
          description: 'This field is deprecated. Note: Photos are no longer available through this field. Headshots are now delivered through IMAGN. Please see our Headshots products for further information.'
        RotoWirePlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the RotoWire news feed.
        DraftKingsPosition:
          type:
          - string
          - 'null'
          description: The position of the player according to DraftKings
        UsaTodayPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to USA Today headshot data feeds
        UsaTodayHeadshotUrl:
          type:
          - string
          - 'null'
          description: The player's headshot URL as provided by USA Today. License from USA Today is required.
        UsaTodayHeadshotNoBackgroundUrl:
          type:
          - string
          - 'null'
          description: The player's transparent background headshot URL as provided by USA Today. License from USA Today is required.
        UsaTodayHeadshotUpdated:
          type:
          - string
          - 'null'
          description: The last updated timestamp of the player's headshot as provided by USA Today. License from USA Today is required.
        UsaTodayHeadshotNoBackgroundUpdated:
          type:
          - string
          - 'null'
          description: The last updated timestamp of the player's transparent background headshot as provided by USA Today. License from USA Today is required.
    TeamGame:
      properties:
        StatId:
          type: integer
          description: The unique ID of the stat associated with this team
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 4=Offseason, 5=AllStar).
        Season:
          type: integer
          description: The soccer regular season for which these totals apply
        RoundId:
          type:
          - integer
          - 'null'
          description: The unique ID of the round that this team is associated with
        TeamId:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        Name:
          type:
          - string
          - 'null'
          description: The team's full name
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        GlobalTeamId:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        Possession:
          type:
          - number
          - 'null'
          description: Percentage of ball possession by the team in the game
        Corners:
          type:
          - number
          - 'null'
          description: Total number of corner kicks taken by the team in the game
        GameId:
          type:
          - integer
          - 'null'
          description: The unique ID of this game
        OpponentId:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's opponent
        Opponent:
          type:
          - string
          - 'null'
          description: The name of the opponent 
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game (UTC)
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Whether the team is home or away
        IsGameOver:
          type: boolean
          description: Whether the game is over (true/false)
        GlobalGameId:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalOpponentId:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this opponent. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        UpdatedUtc:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (UTC Time)
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total Fan Duel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total Draft Kings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        FantasyPointsMondogoal:
          type:
          - number
          - 'null'
          description: Total Mondogoal fantasy points scored
        Minutes:
          type:
          - number
          - 'null'
          description: Total minutes played
        Goals:
          type:
          - number
          - 'null'
          description: Total goals scored
        Assists:
          type:
          - number
          - 'null'
          description: Total assists scored
        Shots:
          type:
          - number
          - 'null'
          description: Total shots attempted
        ShotsOnGoal:
          type:
          - number
          - 'null'
          description: Total shots on goal attempted
        YellowCards:
          type:
          - number
          - 'null'
          description: Total yellow cards against
        RedCards:
          type:
          - number
          - 'null'
          description: Total red cards against
        YellowRedCards:
          type:
          - number
          - 'null'
          description: Total double yellow cards against (which result in a red card)
        Crosses:
          type:
          - number
          - 'null'
          description: Total passes from a wide area of the field towards the center of the field near the opponent's goal
        TacklesWon:
          type:
          - number
          - 'null'
          description: Total tackles won
        Interceptions:
          type:
          - number
          - 'null'
          description: Total interceptions made
        OwnGoals:
          type:
          - number
          - 'null'
          description: Total goals scored against own team (accidentally)
        Fouls:
          type:
          - number
          - 'null'
          description: Total fouls made
        Fouled:
          type:
          - number
          - 'null'
          description: Total times fouled
        Offsides:
          type:
          - number
          - 'null'
          description: Total offsides against
        Passes:
          type:
          - number
          - 'null'
          description: Total passes attempted
        PassesCompleted:
          type:
          - number
          - 'null'
          description: Total passes completed successfully to teammate
        LastManTackle:
          type:
          - number
          - 'null'
          description: Total tackles made when there is no one else available to stop the opponent from scoring (this can be the goalkeeper)
        CornersWon:
          type:
          - number
          - 'null'
          description: Total corner kicks awarded
        BlockedShots:
          type:
          - number
          - 'null'
          description: Total shots blocked
        Touches:
          type:
          - number
          - 'null'
          description: Total times this player touched the ball
        DefenderCleanSheets:
          type:
          - number
          - 'null'
          description: Total defender clean sheets (awarded when zero goals were allowed to the opponent and the player played at least 60 minutes)
        GoalkeeperSaves:
          type:
          - number
          - 'null'
          description: Total saves made by goalkeeper
        GoalkeeperGoalsAgainst:
          type:
          - number
          - 'null'
          description: Total goals allowed by goalkeeper
        GoalkeeperSingleGoalAgainst:
          type:
          - number
          - 'null'
          description: Total games where this goalkeeper allowed exactly one goal
        GoalkeeperCleanSheets:
          type:
          - number
          - 'null'
          description: Total goalkeeper clean sheets (awarded when zero goals were allowed to the opponent and the player played at least 60 minutes)
        GoalkeeperWins:
          type:
          - number
          - 'null'
          description: Total goalkeeper wins (awarded when zero goals were allowed to the opponent and the player played at least 45 minutes)
        PenaltyKickGoals:
          type:
          - number
          - 'null'
          description: Total penalty kick goals
        PenaltyKickMisses:
          type:
          - number
          - 'null'
          description: Total penalty kick misses
        PenaltyKickSaves:
          type:
          - number
          - 'null'
          description: Total penalty kick saves
        PenaltiesWon:
          type:
          - number
          - 'null'
          description: Total penalties won
        PenaltiesConceded:
          type:
          - number
          - 'null'
          description: 'Total penalties conceded '
        Score:
          type:
          - number
          - 'null'
          description: Goals scored by entire team
        OpponentScore:
          type:
          - number
          - 'null'
          description: Goals allowed to opponent
        Tackles:
          type:
          - number
          - 'null'
          description: Total Tackles
    Unauthorized:
      properties:
        HttpStatusCode:
          type: integer
        Code:
          type: integer
        Description:
          type: string
        Help:
          type: string
    CompetitionDetail:
      properties:
        CurrentSeason:
          $ref: '#/components/schemas/Season'
          description: The current active season for this competition/league
        Teams:
          type: array
          items:
            $ref: '#/components/schemas/TeamDetail'
          description: The list of active teams associated with this competition
        Games:
          type: array
          items:
            $ref: '#/components/schemas/Game'
          description: The complete schedule for the current season of this competition/league
        CompetitionId:
          type: integer
          description: The unique ID of the competition/league
        AreaId:
          type: integer
          description: The unique ID of the area where this competition/league is played
        AreaName:
          type:
          - string
          - 'null'
          description: The display name of the area where this competition/league is played
        Name:
          type:
          - string
          - 'null'
          description: The display name of the competition/league
        Gender:
          type:
          - string
          - 'null'
          description: 'The gender of the players on the team Possible Values: Male; Female'
        Type:
          type:
          - string
          - 'null'
          description: 'The type of this competition/league Possible values: Club; International'
        Format:
          type:
          - string
          - 'null'
          description: 'The format of the competition/league.  Possible values: Domestic League; International Cup'
        Seasons:
          type: array
          items:
            $ref: '#/components/schemas/Season'
          description: The seasons associated with this competition/league
        Key:
          type:
          - string
          - 'null'
          description: The unique string key of the competition/league
    Team:
      properties:
        TeamId:
          type: integer
          description: The unique ID of the team
        AreaId:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's current home arena
        VenueId:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's venue
        Key:
          type:
          - string
          - 'null'
          description: Abbreviation of the team (e.g. LIV; ARS; MNU; etc.)
        Name:
          type:
          - string
          - 'null'
          description: The mascot of the team (e.g. The Reds, The Gunners, etc.)
        FullName:
          type:
          - string
          - 'null'
          description: The full name of the team (e.g. Liverpool Football Club, Arsenal Football Club, etc.)
        Active:
          type: boolean
          description: Whether or not this team is active (true/false)
        AreaName:
          type:
          - string
          - 'null'
          description: The area name of the home team
        VenueName:
          type:
          - string
          - 'null'
          description: The name of the home team's venue
        Gender:
          type:
          - string
          - 'null'
          description: 'The gender of the players on the team. Possible Values: Male; Female'
        Type:
          type:
          - string
          - 'null'
          description: 'The type of this team. Possible values: Club, National'
        Address:
          type:
          - string
          - 'null'
          description: The address of the home team
        City:
          type:
          - string
          - 'null'
          description: The city of the home team
        Zip:
          type:
          - string
          - 'null'
          description: The zip code of the team's home location
        Phone:
          type:
          - string
          - 'null'
          description: The phone number of the home team
        Fax:
          type:
          - string
          - 'null'
          description: The fax number of the home team
        Website:
          type:
          - string
          - 'null'
          description: The website address of the home team
        Email:
          type:
          - string
          - 'null'
          description: The email of the home team
        Founded:
          type:
          - integer
          - 'null'
          description: The calendar year that the team was founded
        ClubColor1:
          type:
          - string
          - 'null'
          description: The primary color of this team's logo/uniform/branding
        ClubColor2:
          type:
          - string
          - 'null'
          description: The secondary color of this team's logo/uniform/branding
        ClubColor3:
          type:
          - string
          - 'null'
          description: The tertiary color of this team's logo/uniform/branding
        Nickname1:
          type:
          - string
          - 'null'
          description: A nickname for this team
        Nickname2:
          type:
          - string
          - 'null'
          description: A nickname for this team
        Nickname3:
          type:
          - string
          - 'null'
          description: A nickname for this team
        WikipediaLogoUrl:
          type:
          - string
          - 'null'
          description: The link to the team's logo hosted on Wikipedia (This is not licensed for public or commercial use)
        WikipediaWordMarkUrl:
          type:
          - string
          - 'null'
          description: The link to the team's wordmark logo hosted on Wikipedia (This is not licensed for public or commercial use)
        GlobalTeamId:
          type: integer
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
    Area:
      properties:
        AreaId:
          type: integer
          description: The unique ID of the area
        CountryCode:
          type:
          - string
          - 'null'
          description: The 3-digit country or continent code where the area is located
        Name:
          type:
          - string
          - 'null'
          description: The display name of the area
        Competitions:
          type: array
          items:
            $ref: '#/components/schemas/Competition'
          description: The competitions that are associated with and/or played in the area
    Membership:
      properties:
        MembershipId:
          type: integer
          description: The unique ID for the membership
        TeamId:
          type: integer
          description: The unique ID of the team
        PlayerId:
          type: integer
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID stays with the player their entire career.'
        PlayerName:
          type:
          - string
          - 'null'
          description: The player's full name
        TeamName:
          type:
          - string
          - 'null'
          description: The full name of the team
        TeamArea:
          type:
          - string
          - 'null'
          description: The area the team is located within their home country
        Active:
          type: boolean
          description: Whether the player's membership is active (true/false)
        StartDate:
          type:
          - string
          - 'null'
          description: The start date of the membership (in UTC)
        EndDate:
          type:
          - string
          - 'null'
          description: The end date of the membership (in UTC)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        Jersey:
          type:
          - integer
          - 'null'
          description: The player's jersey number on this team
    PlayoffAggregateScore:
      properties:
        TeamA_Id:
          type: integer
          description: 'The TeamID of Team A. Note: Team A is determined by the home team in the first leg, and remains set through the life of the record'
        TeamA_AggregateScore:
          type: integer
          description: 'The score, on aggregate, of Team A in the matchup. Note: Team A is determined by the home team in the first leg, and remains set through the life of the record'
        TeamB_Id:
          type: integer
          description: 'The TeamID of Team B. Note: Team B is determined by the away team in the first leg, and remains set through the life of the record'
        TeamB_AggregateScore:
          type: integer
          description: 'The score, on aggregate, of Team B in the matchup. Note: Team B is determined by the away team in the first leg, and remains set through the life of the record'
        WinningTeamId:
          type: integer
          description: The ID of the team that wins the home-and-home matchup
        Created:
          type:
          - string
          - 'null'
          description: Date and time the record was created (in US Eastern Time)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (in US Eastern Time)
    SeasonTeam:
      properties:
        SeasonTeamId:
          type: integer
          description: Unique ID of this season/team combination
        SeasonId:
          type: integer
          description: The unique ID of the season this record is associated with
        TeamId:
          type: integer
          description: The unique ID of the team
        TeamName:
          type:
          - string
          - 'null'
          description: The name of the team associated with this record
        Active:
          type: boolean
          description: Whether this team is actively associated with this season (true/false)
        Gender:
          type:
          - string
          - 'null'
          description: 'The gender of the players on the team. Possible Values: Male; Female'
        Type:
          type:
          - string
          - 'null'
          description: 'The type of season/team. Possible values: Club; National'
        Team:
          $ref: '#/components/schemas/Team'
          description: The details of the team for the given season/team association
    TeamDetail:
      properties:
        Players:
          type: array
          items:
            $ref: '#/components/schemas/Player'
          description: The players who are current on this team's active roster/squad
        TeamId:
          type: integer
          description: The unique ID of the team
        AreaId:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's current home arena
        VenueId:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's venue
        Key:
          type:
          - string
          - 'null'
          description: Abbreviation of the team (e.g. LIV; ARS; MNU; etc.)
        Name:
          type:
          - string
          - 'null'
          description: The mascot of the team (e.g. The Reds, The Gunners, etc.)
        FullName:
          type:
          - string
          - 'null'
          description: The full name of the team (e.g. Liverpool Football Club, Arsenal Football Club, etc.)
        Active:
          type: boolean
          description: Whether or not this team is active (true/false)
        AreaName:
          type:
          - string
          - 'null'
          description: The area name of the home team
        VenueName:
          type:
          - string
          - 'null'
          description: The name of the home team's venue
        Gender:
          type:
          - string
          - 'null'
          description: 'The gender of the players on the team. Possible Values: Male; Female'
        Type:
          type:
          - string
          - 'null'
          description: 'The type of this team. Possible values: Club, National'
        Address:
          type:
          - string
          - 'null'
          description: The address of the home team
        City:
          type:
          - string
          - 'null'
          description: The city of the home team
        Zip:
          type:
          - string
          - 'null'
          description: The zip code of the team's home location
        Phone:
          type:
          - string
          - 'null'
          description: The phone number of the home team
        Fax:
          type:
          - string
          - 'null'
          description: The fax number of the home team
        Website:
          type:
          - string
          - 'null'
          description: The website address of the home team
        Email:
          type:
          - string
          - 'null'
          description: The email of the home team
        Founded:
          type:
          - integer
          - 'null'
          description: The calendar year that the team was founded
        ClubColor1:
          type:
          - string
          - 'null'
          description: The primary color of this team's logo/uniform/branding
        ClubColor2:
          type:
          - string
          - 'null'
          description: The secondary color of this team's logo/uniform/branding
        ClubColor3:
          type:
          - string
          - 'null'
          description: The tertiary color of this team's logo/uniform/branding
        Nickname1:
          type:
          - string
          - 'null'
          description: A nickname for this team
        Nickname2:
          type:
          - string
          - 'null'
          description: A nickname for this team
        Nickname3:
          type:
          - string
          - 'null'
          description: A nickname for this team
        WikipediaLogoUrl:
          type:
          - string
          - 'null'
          description: The link to the team's logo hosted on Wikipedia (This is not licensed for public or commercial use)
        WikipediaWordMarkUrl:
          type:
          - string
          - 'null'
          description: The link to the team's wordmark logo hosted on Wikipedia (This is not licensed for public or commercial use)
        GlobalTeamId:
          type: integer
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
    CanceledMembership:
      properties:
        CanceledMembershipId:
          type: integer
          description: The unique ID of the canceled membership
        MembershipId:
          type: integer
          description: The unique ID of the membership which is being canceled; should be used to find memberships which may be safely deleted.
        TeamId:
          type: integer
          description: The unique ID of the team associated with this canceled membership
        PlayerID:
          type: integer
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID stays with the player their entire career'
        Created:
          type:
          - string
          - 'null'
          description: The date and time when this canceled membership was created
    Round:
      properties:
        RoundId:
          type: integer
          description: The unique ID of the round
        SeasonId:
          type: integer
          description: The unique ID of the season this round is associated with
        Season:
          type: integer
          description: The soccer regular season for which these totals apply
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 4=Offseason, 5=AllStar).
        Name:
          type:
          - string
          - 'null'
          description: 'The display name of the round (examples: Regular Season, Semi-finals, Final, etc)'
        Type:
          type:
          - string
          - 'null'
          description: 'The type of this round. Possible values: Cup; Table'
        StartDate:
          type:
          - string
          - 'null'
          description: The start date of the round
        EndDate:
          type:
          - string
          - 'null'
          description: The end date of the round
        CurrentWeek:
          type:
          - integer
          - 'null'
          description: The current week that this round is in
        CurrentRound:
          type: boolean
          description: Indicates whether or not this round is the current round of the competition/season
        Games:
          type: array
          items:
            $ref: '#/components/schemas/Game'
          description: The games and their details that are apart of this round
        Standings:
          type: array
          items:
            $ref: '#/components/schemas/Standing'
          description: The standings details associated with this round of the competition
        TeamSeasons:
          type: array
          items:
            $ref: '#/components/schemas/TeamSeason'
          description: The team stat records associated with this round
        PlayerSeasons:
          type: array
          items:
            $ref: '#/components/schemas/PlayerSeason'
          description: Player Season stat records associated with this round
    Standing:
      properties:
        StandingId:
          type: integer
          description: The unique ID of the standing
        RoundId:
          type: integer
          description: The unique ID of the round that this team is associated with
        TeamId:
          type: integer
          description: The unique ID of the team
        Name:
          type:
          - string
          - 'null'
          description: The team's full name
        ShortName:
          type:
          - string
          - 'null'
          description: The short name of the team
        Scope:
          type:
          - string
          - 'null'
          description: 'The scope of the standing (possible values: Total, Away, Home)'
        Order:
          type:
          - integer
          - 'null'
          description: The order of the teams in the standing (e.g 1; 2; 3; 4; etc.)
        Games:
          type:
          - integer
          - 'null'
          description: Total number of games played by the team in the season
        Wins:
          type:
          - integer
          - 'null'
          description: Number of wins by the team in the season
        Losses:
          type:
          - integer
          - 'null'
          description: The number of losses for the team
        Draws:
          type:
          - integer
          - 'null'
          description: Number of draws by the team in the season
        GoalsScored:
          type:
          - integer
          - 'null'
          description: Total number of goals scored by the team in the season
        GoalsAgainst:
          type:
          - integer
          - 'null'
          description: Total number of goals against by the team in the season
        GoalsDifferential:
          type:
          - integer
          - 'null'
          description: 'The goal differential of the team in the season. Note: GoalDifferential = GoalsScored - GoalsAgainst'
        Points:
          type:
          - integer
          - 'null'
          description: Total points accumulated by the team
        Group:
          type:
          - string
          - 'null'
          description: The name of the group (when applicable)
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
    PlayerBasic:
      properties:
        PlayerId:
          type: integer
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID stays with the player their entire career.'
        FirstName:
          type:
          - string
          - 'null'
          description: The player's first name
        LastName:
          type:
          - string
          - 'null'
          description: The last name of the player
        CommonName:
          type:
          - string
          - 'null'
          description: The player's common name
        ShortName:
          type:
          - string
          - 'null'
          description: The short name of the player
        Position:
          type:
          - string
          - 'null'
          description: 'The position of the player. Possible values include: A (Attacker), M (Midfielder), D (Defender), GK (Goalkeeper).'
        PositionCategory:
          type:
          - string
          - 'null'
          description: The player's position category
        Jersey:
          type:
          - integer
          - 'null'
          description: The player's jersey number
        Foot:
          type:
          - string
          - 'null'
          description: 'The primary foot of the player. Possible values: left or right.'
        Height:
          type:
          - integer
          - 'null'
          description: The height of the player in centimeters (cm)
        Weight:
          type:
          - integer
          - 'null'
          description: The player's weight in kilograms (kg)
        Gender:
          type:
          - string
          - 'null'
          description: 'The gender of this player on the team. Possible Values: Male; Female.'
        BirthDate:
          type:
          - string
          - 'null'
          description: The player's date of birth
        BirthCity:
          type:
          - string
          - 'null'
          description: The city in which the player was born
        BirthCountry:
          type:
          - string
          - 'null'
          description: The country in which the player was born
        Nationality:
          type:
          - string
          - 'null'
          description: The nationality of the player
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
    Competition:
      properties:
        CompetitionId:
          type: integer
          description: The unique ID of the competition/league
        AreaId:
          type: integer
          description: The unique ID of the area where this competition/league is played
        AreaName:
          type:
          - string
          - 'null'
          description: The display name of the area where this competition/league is played
        Name:
          type:
          - string
          - 'null'
          description: The display name of the competition/league
        Gender:
          type:
          - string
          - 'null'
          description: 'The gender of the players on the team Possible Values: Male; Female'
        Type:
          type:
          - string
          - 'null'
          description: 'The type of this competition/league Possible values: Club; International'
        Format:
          type:
          - string
          - 'null'
          description: 'The format of the competition/league.  Possible values: Domestic League; International Cup'
        Seasons:
          type: array
          items:
            $ref: '#/components/schemas/Season'
          description: The seasons associated with this competition/league
        Key:
          type:
          - string
          - 'null'
          description: The unique string key of the competition/league
    ScoreBasic:
      properties:
        Period:
          type:
          - string
          - 'null'
          description: 'The final period of the game. Possible values: Regular = Game ended in 90 minutes of regular time; ExtraTime = Game ended in extra time / overtime; PenaltyShootout = Game finished in penalty shootout time'
        Clock:
          type:
          - integer
          - 'null'
          description: 'The clock for the game if it is in progress.  Note: if the game hasn''t started or the game is over; then this will be NULL.'
        GameId:
          type: integer
          description: The unique ID of the game
        RoundId:
          type: integer
          description: The unique ID of the round that this game is associated with.
        Season:
          type: integer
          description: The soccer regular season for which these totals apply
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 4=Offseason, 5=AllStar).
        Group:
          type:
          - string
          - 'null'
          description: 'The name of the group in which this game occurs. Note: This is used in tournaments & cups'
        AwayTeamId:
          type:
          - integer
          - 'null'
          description: The unique ID of the away team
        HomeTeamId:
          type:
          - integer
          - 'null'
          description: The unique ID of the home team
        VenueId:
          type:
          - integer
          - 'null'
          description: The unique ID of the venue
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled, InProgress, Break, Final, Awarded, Postponed, Canceled, Suspended. If a game is called off before it starts, the Status is set to Postponed, until a new date/time is scheduled, at which point, the DateTime is updated, and the Status is set back to Scheduled. If a game has already started, and temporarily interrupted, it''s Status is set to Suspended, until it either resumes, or gets postponed and replayed at a later date. If the game is at halftime, then the Status will be Break. Awarded is used in cases where a game is decided on the so called "green table." That means that a game was decided by the Federation/League to one team for a reason. This can include situations like riots, where the opponent team gets 3:0 win awarded as punishment. Awarded is also used when a club withdraws during the season from the competition then all the remaining matches getting awarded 3:0.'
        Week:
          type:
          - integer
          - 'null'
          description: The week during the season/round in which this game occurs
        Winner:
          type:
          - string
          - 'null'
          description: 'The winner of the game. Possible values: AwayTeam; HomeTeam; Draw'
        VenueType:
          type:
          - string
          - 'null'
          description: 'Shows which team has home field advantage. Possible values: Home; Away; Neutral'
        AwayTeamKey:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        AwayTeamName:
          type:
          - string
          - 'null'
          description: The name of the away team
        AwayTeamCountryCode:
          type:
          - string
          - 'null'
          description: The country code of the away team
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: The final score of the away team
        AwayTeamScorePeriod1:
          type:
          - integer
[...]
