openapi: 3.1.0
info:
  title: MLB MLB v3 Headshots NHL v3 RotoBaller Premium News API
  version: '1.0'
  description: MLB API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: NHL v3 RotoBaller Premium News
paths:
  /v3/nhl/news-rotoballer/{format}/RotoBallerPremiumNews:
    get:
      description: RotoBaller's Premium News feed, with the latest updated stories in greater detail.
      operationId: nhl_v3_news_rotoballer_premium_news
      summary: Premium News
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 RotoBaller Premium News
  /v3/nhl/news-rotoballer/{format}/RotoBallerPremiumNewsByDate/{date}:
    get:
      description: RotoBaller's Premium News feed, with the latest updated stories in greater detail called by date.
      operationId: nhl_v3_news_rotoballer_premium_news___by_date
      summary: Premium News - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the news.

          <br>Examples: <code>2021-JAN-06</code>, <code>2021-JAN-31</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 RotoBaller Premium News
components:
  schemas:
    Unauthorized:
      properties:
        HttpStatusCode:
          type: integer
        Code:
          type: integer
        Description:
          type: string
        Help:
          type: string
    News:
      properties:
        NewsID:
          type: integer
          description: The unique ID of the news story
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Title:
          type:
          - string
          - 'null'
          description: The title of the news story
        Content:
          type:
          - string
          - 'null'
          description: The full body content of the story
        Url:
          type:
          - string
          - 'null'
          description: The URL of the full news story
        Source:
          type:
          - string
          - 'null'
          description: The source of the story (RotoBaller, NBCSports.com, etc.)
        TermsOfUse:
          type:
          - string
          - 'null'
          description: The terms of use with using this news item, credit must be given to the originator of the story when specified in the terms of use
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the news story was last updated
        TimeAgo:
          type:
          - string
          - 'null'
          description: A description of how long ago this content was published
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: key
      in: query
