openapi: 3.1.0
info:
  title: MLB MLB v3 Headshots NHL v3 Projections API
  version: '1.0'
  description: MLB API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: NHL v3 Projections
paths:
  /v3/nhl/projections/{format}/PlayerGameProjectionStatsByDate/{date}:
    get:
      description: SportsDataIO's proprietary projections, including DFS salary information and injuries, for fantasy players, called by date.
      operationId: nhl_v3_projections_projected_player_game_stats___by_date
      summary: Projected Player Game Stats - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Projections
  /v3/nhl/projections/{format}/DfsSlatesByDate/{date}:
    get:
      description: Returns DFS Slates which have not yet started, with their player and salary information.
      operationId: nhl_v3_projections_dfs_slates___by_date
      summary: DFS Slates - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DfsSlate'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Projections
  /v3/nhl/projections/{format}/StartingGoaltendersByDate/{date}:
    get:
      description: This endpoint provides the projected and confirmed starting goaltenders for NHL games on a given date.
      operationId: nhl_v3_projections_starting_goaltenders___by_date
      summary: Starting Goaltenders - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2021-OCT-12</code>, <code>2021-DEC-09</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StartingGoaltenders'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Projections
  /v3/nhl/projections/{format}/InjuredPlayers:
    get:
      description: This endpoint provides all currently injured NHL players, along with injury details.
      operationId: nhl_v3_projections_player_details___by_injured
      summary: Player Details - by Injured
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Projections
components:
  schemas:
    Goaltender:
      properties:
        PlayerID:
          type: integer
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        TeamID:
          type: integer
          description: The unique ID of the team
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team the goaltender belongs to
        FirstName:
          type:
          - string
          - 'null'
          description: The first name of the goaltender
        LastName:
          type:
          - string
          - 'null'
          description: The goaltender's last name
        Jersey:
          type:
          - integer
          - 'null'
          description: The goaltender's jersey number
        Confirmed:
          type: boolean
          description: Indicates whether the starting goaltender is projected or confirmed
    ScoringPlay:
      properties:
        ScoringPlayID:
          type: integer
          description: The unique ID of the scoring play
        PeriodID:
          type: integer
          description: The unique ID associated of this period
        Sequence:
          type:
          - integer
          - 'null'
          description: The sequence/order that this scoring play happened
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: 'Number of minutes that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock minutes which are the number of minutes that have already passed in the period.'
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: 'Number of seconds that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock sconds which are the number of minutes that have already passed in the period.'
        ScoredByTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the team that scored the goal
        AllowedByTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the team that allowed the goal
        ScoredByPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who scored the goal
        AssistedByPlayerID1:
          type:
          - integer
          - 'null'
          description: The PlayerID of the FIRST player who assisted on the goal
        AssistedByPlayerID2:
          type:
          - integer
          - 'null'
          description: The PlayerID of the SECOND player who assisted on the goal
        PowerPlay:
          type:
          - boolean
          - 'null'
          description: Whether or not the goal was scored on the power play
        ShortHanded:
          type:
          - boolean
          - 'null'
          description: Whether the goal was scored shorthanded
        EmptyNet:
          type:
          - boolean
          - 'null'
          description: Whether the goal was an empty net goal or not
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: The score of the away team after the conclusion of the scoring play
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: The score of the home team after the conclusion of the scoring play
    Period:
      properties:
        PeriodID:
          type: integer
          description: The unique ID associated of this period
        GameID:
          type: integer
          description: The unique ID of this game tied to this period
        Name:
          type:
          - string
          - 'null'
          description: 'The name of the period (possible values: 1; 2; 3; SO; OT; OT2; OT3; OT4; etc)'
        AwayScore:
          type:
          - integer
          - 'null'
          description: Total goals scored by the away team in a given period
        HomeScore:
          type:
          - integer
          - 'null'
          description: Total goals scored by the home team in the period
        ScoringPlays:
          type: array
          items:
            $ref: '#/components/schemas/ScoringPlay'
          description: The details of the scoring plays that occurred during this period
        Penalties:
          type: array
          items:
            $ref: '#/components/schemas/Penalty'
          description: The details of the penalties that occurred during this period
    StartingGoaltenders:
      properties:
        GameID:
          type: integer
          description: The unique ID of the game tied to the StartingGoaltenders
        Season:
          type: integer
          description: The end year of season (2021-22 would be 2022)
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 5=AllStar; 6=Exhibition).
        Day:
          type:
          - string
          - 'null'
          description: The date of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game in US Eastern Time
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled; InProgress; Final; F/SO; F/OT; Suspended; Postponed; Delayed; Canceled; Forfeit'
        HomeTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the home team tied to these StartingGoaltenders
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        AwayTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the away team as it relates to the starting goaltenders
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        HomeGoaltender:
          $ref: '#/components/schemas/Goaltender'
          description: The information of the home goaltender (PlayerID, TeamID, Team, First & Last Name, Jersey Number, Confirmed)
        AwayGoaltender:
          $ref: '#/components/schemas/Goaltender'
          description: The information of the away goaltender (PlayerID, TeamID, Team, First & Last Name, Jersey Number, Confirmed)
    DfsSlateGame:
      properties:
        SlateGameID:
          type: integer
          description: Unique ID of a SlateGame (assigned by SportsDataIO).
        SlateID:
          type: integer
          description: The SlateID that this SlateGame refers to.
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of the game tied to this SlateGame
        Game:
          $ref: '#/components/schemas/Game'
          description: The details of the game that this SlateGame refers to
        OperatorGameID:
          type:
          - integer
          - 'null'
          description: The unique ID of a SlateGame as assigned by the operator
        RemovedByOperator:
          type:
          - boolean
          - 'null'
          description: Indicates whether this slate was removed/deleted by the operator
    Game:
      properties:
        GameID:
          type: integer
          description: The unique ID of this game
        Season:
          type: integer
          description: The NHL season of the game
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 5=AllStar, 6=Exhibition).
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled, InProgress, Final, F/SO, F/OT, Suspended, Postponed, Delayed, Canceled, Forfeit, NotNecessary'
        Day:
          type:
          - string
          - 'null'
          description: The date of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game in US Eastern Time
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (in US Eastern Time).
        IsClosed:
          type:
          - boolean
          - 'null'
          description: 'Indicates whether the game is over and the final score has been verified and closed out. NOTE: it is recommend for bet resulting to use IsClosed = True rather than simply Final game status'
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        AwayTeamID:
          type: integer
          description: The unique ID of the away team
        HomeTeamID:
          type: integer
          description: The unique ID of the home team
        StadiumID:
          type:
          - integer
          - 'null'
          description: The unique ID of the stadium
        Channel:
          type:
          - string
          - 'null'
          description: The television station broadcasting the game
        Attendance:
          type:
          - integer
          - 'null'
          description: The total number of people who attended the game
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of goals scored by the away team in the game
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of goals scored by the home team in the game
        Period:
          type:
          - string
          - 'null'
          description: 'Indicates the current period of the game. Possible values include: 1; 2; 3; OT; SO; NULL'
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: Number of minutes remaining in the current period
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: 'Number of seconds that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock sconds which are the number of minutes that have already passed in the period.'
        AwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Moneyline from the perspective of the away team
        HomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Moneyline from the perspective of the home team
        PointSpread:
          type:
          - number
          - 'null'
          description: The oddsmaker puck line at game start from the perspective of the HomeTeam (negative numbers indicate the HomeTeam is favored; positive numbers indicate the AwayTeam is favored).
        OverUnder:
          type:
          - number
          - 'null'
          description: The sportsbook's total goals scored line (Over/Under) for the game
        GlobalGameID:
          type: integer
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalAwayTeamID:
          type: integer
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues.
        GlobalHomeTeamID:
          type: integer
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues.
        PointSpreadAwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The payout odds when betting on the away team with the puck line
        PointSpreadHomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The payout odds when betting on the home team with the puck line
        LastPlay:
          type:
          - string
          - 'null'
          description: The description of the most recent play/event of the game. This is for display purposes and does not include corresponding data points.
        Periods:
          type: array
          items:
            $ref: '#/components/schemas/Period'
          description: The details of the periods (including overtime if applicable) for this game.
        GameEndDateTime:
          type:
          - string
          - 'null'
          description: The date and time that the game ended in US Eastern Time
        HomeRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the home team for this game
        AwayRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the away team for a game
        NeutralVenue:
          type:
          - boolean
          - 'null'
          description: Indicates whether this game is played in a neutral venue
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the over
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under
        DateTimeUTC:
          type:
          - string
          - 'null'
          description: The date and time of the game in UTC
        SeriesInfo:
          $ref: '#/components/schemas/Series'
          description: Contains relevant series data for playoff series only - HomeTeamWins, AwayTeamWins, GameNumber, and MaxLength
        RescheduledFromGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the originally scheduled, postponed game, that this game was rescheduled from. This only pertains to games that are scheduled as "make up" games.
        RescheduledGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the game that was rescheduled from this game. This only pertains to postponed games that require rescheduling.
        Referee1ID:
          type:
          - integer
          - 'null'
          description: The unique ID of the main referee of this game
        Referee2ID:
          type:
          - integer
          - 'null'
          description: The unique ID of the secondary referee of this game
        Linesperson1ID:
          type:
          - integer
          - 'null'
          description: The unique ID of the main linesperson of this game
        Linesperson2ID:
          type:
          - integer
          - 'null'
          description: The unique ID of the secondary linesperson of this game
    PlayerGameProjection:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 5=AllStar; 6=Exhibition)
        Season:
          type:
          - integer
          - 'null'
          description: The NHL season of the game
        Name:
          type:
          - string
          - 'null'
          description: The player's full name
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s primary position. Possible values: C; RW; LW; D; or G'
        FantasyDataSalary:
          type:
          - integer
          - 'null'
          description: The player's salary as calculated by SportsDataIO (formerly known as FantasyData). Based on the same salary cap as DraftKings contests ($50,000)
        FanDuelSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for FanDuel daily fantasy contests
        DraftKingsSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for DraftKings daily fantasy contests
        YahooSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for Yahoo daily fantasy contests.
        InjuryStatus:
          type:
          - string
          - 'null'
          description: 'The player''s current injury status; in the form of likelihood that player plays. Possible values: Probable; Questionable; Doubtful; Out'
        InjuryBodyPart:
          type:
          - string
          - 'null'
          description: The body part that is injured for the player (Knee; Groin; Calf; Upper-body; etc.)
        InjuryStartDate:
          type:
          - string
          - 'null'
          description: The day that the injury started or was first discovered
        InjuryNotes:
          type:
          - string
          - 'null'
          description: Brief description of the player's injury and expected availability
        FanDuelPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in FanDuel's daily fantasy sports platform
        DraftKingsPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in DraftKings' daily fantasy sports platform
        YahooPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Yahoo's daily fantasy sports platform.
        OpponentRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent with regards to fantasy points allowed
        OpponentPositionRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent by position with regards to fantasy points allowed
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues
        FantasyDraftSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for FantasyDraft daily fantasy contests
        FantasyDraftPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Fantasy Drafts daily fantasy sports platform.
        EvenStrengthMinutes:
          type:
          - integer
          - 'null'
          description: The number of minutes played at even strength by the player in the game
        EvenStrengthSeconds:
          type:
          - integer
          - 'null'
          description: The number of seconds played at even strength by the player in the game
        PowerPlayMinutes:
          type:
          - integer
          - 'null'
          description: Total minutes played by the player on the power play in the game
        PowerPlaySeconds:
          type:
          - integer
          - 'null'
          description: The number of seconds (remainder after minutes) played on a Power Play
        ShortHandedMinutes:
          type:
          - integer
          - 'null'
          description: The number of minutes played short handed by the player in the game
        ShortHandedSeconds:
          type:
          - integer
          - 'null'
          description: The number of seconds (remainder after minutes) played short handed by the player in the game
        Points:
          type:
          - number
          - 'null'
          description: 'Total points for the player in the game. Note: points are calculated by adding up a player''s goals and assists'
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of this game
        OpponentID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's opponent
        Opponent:
          type:
          - string
          - 'null'
          description: The name of the opponent 
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Whether the team is home or away
        IsGameOver:
          type: boolean
          description: Whether the game is over (true/false)
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalOpponentID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this opponent. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time).
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played.
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        Goals:
          type:
          - number
          - 'null'
          description: Total number of goals scored
        Assists:
          type:
          - number
          - 'null'
          description: Total number of assists
        ShotsOnGoal:
          type:
          - number
          - 'null'
          description: Total number of shots on goal
        PowerPlayGoals:
          type:
          - number
          - 'null'
          description: Total number of power play goals
        ShortHandedGoals:
          type:
          - number
          - 'null'
          description: Total number of short handed goals
        EmptyNetGoals:
          type:
          - number
          - 'null'
          description: Total number of empty net goals
        PowerPlayAssists:
          type:
          - number
          - 'null'
          description: Total number of power play assists
        ShortHandedAssists:
          type:
          - number
          - 'null'
          description: Total number of short handed assists
        HatTricks:
          type:
          - number
          - 'null'
          description: Total number of hat tricks
        ShootoutGoals:
          type:
          - number
          - 'null'
          description: Total number of shootout goals
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        PenaltyMinutes:
          type:
          - number
          - 'null'
          description: Total pentalty minutes
        Blocks:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Hits:
          type:
          - number
          - 'null'
          description: Total hits
        Takeaways:
          type:
          - number
          - 'null'
          description: Total takeaways
        Giveaways:
          type:
          - number
          - 'null'
          description: Total giveaways
        FaceoffsWon:
          type:
          - number
          - 'null'
          description: Total faceoffs won
        FaceoffsLost:
          type:
          - number
          - 'null'
          description: Total faceoffs lost
        Shifts:
          type:
          - number
          - 'null'
          description: Total shifts
        GoaltendingMinutes:
          type:
          - integer
          - 'null'
          description: Total goaltending minutes
        GoaltendingSeconds:
          type:
          - integer
          - 'null'
          description: Total goaltending seconds
        GoaltendingShotsAgainst:
          type:
          - number
          - 'null'
          description: Total goaltending shots against
        GoaltendingGoalsAgainst:
          type:
          - number
          - 'null'
          description: Total goaltending goals against
        GoaltendingSaves:
          type:
          - number
          - 'null'
          description: Total goaltending saves
        GoaltendingWins:
          type:
          - number
          - 'null'
          description: Total goaltending wins
        GoaltendingLosses:
          type:
          - number
          - 'null'
          description: Total goaltendings losses
        GoaltendingShutouts:
          type:
          - number
          - 'null'
          description: Total goaltendings shutouts
        Started:
          type:
          - integer
          - 'null'
          description: Total games started
        BenchPenaltyMinutes:
          type:
          - number
          - 'null'
          description: Total bench pentalty minutes
        GoaltendingOvertimeLosses:
          type:
          - number
          - 'null'
          description: Total goaltending overtime losses
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
    DfsSlate:
      properties:
        SlateID:
          type: integer
          description: Unique ID of a Slate (assigned by SportsDataIO).
        Operator:
          type:
          - string
          - 'null'
          description: 'The name of the operator who is running contests for this slate. (possible values: FanDuel; DraftKings; Yahoo; FantasyDraft; etc.)'
        OperatorSlateID:
          type:
          - integer
          - 'null'
          description: The unique ID of a slate as assigned by the operator
        OperatorName:
          type:
          - string
          - 'null'
          description: 'The name of the slate (assigned by the operator) (possible values: Main; Express; Arcade; Late Night; etc.)'
        OperatorDay:
          type:
          - string
          - 'null'
          description: The day (in EST/EDT) that the slate begins (assigned by the operator)
        OperatorStartTime:
          type:
          - string
          - 'null'
          description: The date & time (in EST/EDT) that the slate begins as assigned by the operator
        NumberOfGames:
          type:
          - integer
          - 'null'
          description: The number of actual games that this slate covers
        IsMultiDaySlate:
          type:
          - boolean
          - 'null'
          description: Whether this slate uses games that take place on different days
        RemovedByOperator:
          type:
          - boolean
          - 'null'
          description: Indicates whether this slate was removed/deleted by the operator
        OperatorGameType:
          type:
          - string
          - 'null'
          description: 'The game type of the slate. NOTE: will often be null as most operators only have one game type'
        DfsSlateGames:
          type: array
          items:
            $ref: '#/components/schemas/DfsSlateGame'
          description: The games that are included in this slate
        DfsSlatePlayers:
          type: array
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          description: The players that are included in this slate
        SlateRosterSlots:
          type: array
          items:
            type:
            - string
            - 'null'
          description: The positions that need to be filled for this particular slate
        SalaryCap:
          type:
          - integer
          - 'null'
          description: The salary cap for the current slate (is null for slates with no salary cap such a Tiers gametypes)
    DfsSlatePlayer:
      properties:
        SlatePlayerID:
          type: integer
          description: Unique ID of a SlatePlayer (assigned by SportsDataIO).
        SlateID:
          type: integer
          description: The SlateID that this SlatePlayer refers to.
        SlateGameID:
          type:
          - integer
          - 'null'
          description: The SlateGameID that this SlatePlayer refers to.
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        PlayerGameProjectionStatID:
          type:
          - integer
          - 'null'
          description: The SportsDataIO StatID that this SlatePlayer refers to. This points to data in the respective sports' projected player game stats feeds.
        OperatorPlayerID:
          type:
          - string
          - 'null'
          description: The unique ID of the player as assigned by the operator
        OperatorSlatePlayerID:
          type:
          - string
          - 'null'
          description: The unique ID of the SlatePlayer as assigned by the operator
        OperatorPlayerName:
          type:
          - string
          - 'null'
          description: The player's name as assigned by the operator
        OperatorPosition:
          type:
          - string
          - 'null'
          description: The player's eligible positions for the contest assigned by the operator
        OperatorSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for the contest as assigned by the operator
        OperatorRosterSlots:
          type: array
          items:
            type:
            - string
            - 'null'
          description: 'The player''s eligible positions to be played in the contest as assigned by the operator. NOTE: This would include UTIL; etc plays for those that are eligible'
        RemovedByOperator:
          type:
          - boolean
          - 'null'
          description: Indicates whether this slate was removed/deleted by the operator
        Team:
          type:
          - string
          - 'null'
          description: The team the player plays for
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
    Series:
      properties:
        HomeTeamWins:
          type: integer
          description: Total wins in the series by the home team
        AwayTeamWins:
          type: integer
          description: Total wins in the series by the away team
        GameNumber:
          type: integer
          description: The number of the game being played in the series
        MaxLength:
          type: integer
          description: The maximum number of games that can be played in a postseason series
    Penalty:
      properties:
        PenaltyID:
          type: integer
          description: The unique ID of this penalty
        PeriodID:
          type: integer
          description: The unique ID of the period during which this penalty occurred
        Sequence:
          type:
          - integer
          - 'null'
          description: The sequence/order that this penalty happened
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: 'Number of minutes that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock minutes which are the number of minutes that have already passed in the period.'
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: 'Number of seconds that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock seconds which are the number of minutes that have already passed in the period.'
        Description:
          type:
          - string
          - 'null'
          description: The description of the penalty
        PenaltyMinutes:
          type:
          - integer
          - 'null'
          description: Total minutes the penalty lasts
        PenalizedTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the team who committed the penalty
        PenalizedPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who committed the penalty
        DrawnByTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the player/team that drew the penalty
        DrawnByPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who drew the penalty
        IsBenchPenalty:
          type:
          - boolean
          - 'null'
          description: Whether or not the penalty is a bench penalty
        BenchPenaltyServedByPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who served the bench penalty
    Unauthorized:
      properties:
        HttpStatusCode:
          type: integer
        Code:
          type: integer
        Description:
          type: string
        Help:
          type: string
    Player:
      properties:
        PlayerID:
          type: integer
          description: '"The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career"'
        FirstName:
          type:
          - string
          - 'null'
          description: The first name of the player
        LastName:
          type:
          - string
          - 'null'
          description: The player's last name
        Status:
          type:
          - string
          - 'null'
          description: The player's current status. Possible values include Active; Inactive; Injured Reserve; Minors; Suspended; Bereavement; Paternity
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team this player is employed by
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s primary position. Possible values: C, RW, LW, D, or G.'
        Jersey:
          type:
          - integer
          - 'null'
          description: The player's jersey number
        Catches:
          type:
          - string
          - 'null'
          description: 'The hand in which the player uses to catch the puck (Right or Left). Note: This field will be null for non-goaltenders'
        Shoots:
          type:
          - string
          - 'null'
          description: The hand the player shoots the puck with (right or left)
        Height:
          type:
          - integer
          - 'null'
          description: The player's height in inches
        Weight:
          type:
          - integer
          - 'null'
          description: The player's weight in pounds (lbs).
        BirthDate:
          type:
          - string
          - 'null'
          description: The player's date of birth
        BirthCity:
          type:
          - string
          - 'null'
          description: The city in which the player was born
        BirthState:
          type:
          - string
          - 'null'
          description: 'The US state in which the player was born. NOTE: If a player was born outside of North America or Australia, this field will be null'
        PhotoUrl:
          type:
          - string
          - 'null'
          description: This field is deprecated. Photos are no longer available through it. Headshots are now delivered through IMAGN. Please see our Headshots products for further information.
        SportRadarPlayerID:
          type:
          - string
          - 'null'
          description: The player's cross reference PlayerID to the SportRadar API.
        RotoworldPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the Rotoworld news feed
        RotoWirePlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the RotoWire news feed
        FantasyAlarmPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the FantasyAlarm news feed
        StatsPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the STATS data feeds
        SportsDirectPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the SportsDirect data feeds, now part of Nielsen GraceNote.
        XmlTeamPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the XML Team data feeds.
        InjuryStatus:
          type:
          - string
          - 'null'
          description: 'The player''s current injury status; in the form of likelihood that player plays. Possible values: Probable; Questionable; Doubtful; Out'
        InjuryBodyPart:
          type:
          - string
          - 'null'
          description: The body part that is injured for the player (Knee; Groin; Calf; Upper-body; etc.)
        InjuryStartDate:
          type:
          - string
          - 'null'
          description: The day that the injury started or was first discovered
        InjuryNotes:
          type:
          - string
          - 'null'
          description: Brief description of the player's injury and expected availability
        FanDuelPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to FanDuel
        DraftKingsPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to DraftKings
        YahooPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to Yahoo Daily Fantasy Sports Contests.
        FanDuelName:
          type:
          - string
          - 'null'
          description: The player's full name in FanDuel's daily fantasy sports platform
        DraftKingsName:
          type:
          - string
          - 'null'
          description: The player's full name in DraftKings' daily fantasy sports platform
        YahooName:
          type:
          - string
          - 'null'
          description: The player's full name in Yahoo's daily fantasy sports platform.
        DepthChartPosition:
          type:
          - string
          - 'null'
          description: The position of the player in the team's depth chart
        DepthChartOrder:
          type:
          - integer
          - 'null'
          description: The order of the player in the team's depth chart
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        FantasyDraftName:
          type:
          - string
          - 'null'
          description: The player's full name in FantasyDraft's daily fantasy sports platform
        FantasyDraftPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to FantasyDraft
        UsaTodayPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to USA Today headshot data feeds.
        UsaTodayHeadshotUrl:
          type:
          - string
          - 'null'
          description: The player's headshot URL as provided by USA Today. License from USA Today is required.
        UsaTodayHeadshotNoBackgroundUrl:
          type:
          - string
          - 'null'
          description: The player's transparent background headshot URL as provided by USA Today. License from USA Today is required.
        UsaTodayHeadshotUpdated:
          type:
          - string
          - 'null'
          description: The last updated date of the player's headshot as provided by USA Today. License from USA Today is required.
        UsaTodayHeadshotNoBackgroundUpdated:
          type:
          - string
          - 'null'
          description: The last updated date of the player's transparent background headshot as provided by USA Today. License from USA Today is required.
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: key
      in: query
