openapi: 3.1.0
info:
  title: MLB MLB v3 Headshots NHL v3 Odds API
  version: '1.0'
  description: MLB API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: NHL v3 Odds
paths:
  /v3/nhl/odds/{format}/GameOddsByDate/{date}:
    get:
      description: Returns full game odds (spread, moneyline, total) for games on a given date. Only returns the most recently seen odds, not inclusive of line movement.
      operationId: nhl_v3_odds_pre_game_odds___by_date
      summary: Pre-Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-11-20</code>, <code>2018-11-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/GameOddsLineMovement/{gameid}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games on a given date. Non-full-game means 1st-half or 1st-quarter, for example, rather than full game. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line.
      operationId: nhl_v3_odds_pre_game_odds_line_movement
      summary: Pre-Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games API.  Valid entries are <code>13096</code> or <code>13110</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/LiveGameOddsByDate/{date}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games on a given date. Only returns the most recently seen odds, not inclusive of line movement. As this is in-game, it will only return results while the game is in progress.
      operationId: nhl_v3_odds_in_game_odds___by_date
      summary: In-Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-11-20</code>, <code>2018-11-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/LiveGameOddsLineMovement/{gameid}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games on a given date. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line.
      operationId: nhl_v3_odds_in_game_odds_line_movement
      summary: In-Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games API.  Valid entries are <code>13096</code> or <code>13110</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/AlternateMarketGameOddsByDate/{date}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games on a given date. Non-full-game means 1st-period or, for example, rather than full game. Only returns the most recently seen odds, not inclusive of line movement.
      operationId: nhl_v3_odds_period_game_odds___by_date
      summary: Period Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-11-20</code>, <code>2018-11-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/AlternateMarketGameOddsLineMovement/{gameid}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games on a given date. Non-full-game means 1st-period, for example, rather than full game. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line.
      operationId: nhl_v3_odds_period_game_odds_line_movement
      summary: Period Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games API.  Valid entries are <code>13096</code> or <code>13110</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/TeamTrends/{team}:
    get:
      description: Describes recent team trends and performance against betting data in recent sets of games.
      operationId: nhl_v3_odds_betting_trends___by_team
      summary: Betting Trends - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'The abbreviation of the requested team. <br> Examples: <code>PHI</code>, <code>MIN</code>, <code>DET</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamTrends'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/MatchupTrends/{team}/{opponent}:
    get:
      description: Returns trends data for a given pairing of teams. Will return data even if the teams are not set to play this season. Intended for use on a specific game, though it will work for other comparisons if applicable.
      operationId: nhl_v3_odds_betting_trends___by_matchup
      summary: Betting Trends - by Matchup
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'The abbreviation of the requested team. <br> Examples: <code>PHI</code>, <code>MIN</code>, <code>DET</code>, etc.'
        required: true
        schema:
          type: string
      - name: opponent
        in: path
        description: 'The abbreviation of the requested opponent. <br> Examples: <code>PHI</code>, <code>MIN</code>, <code>DET</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchupTrends'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingEventsByDate/{date}:
    get:
      description: The list of current BettingEvents for the given date, from which Betting Market data can be gathered via the Betting Markets by Event endpoint, for all available Betting Market types (e.g. Player Props, Team Props.)
      operationId: nhl_v3_odds_betting_events___by_date
      summary: Betting Events - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2020-02-15</code>, <code>2020-02-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarkets/{eventId}:
    get:
      description: Returns the markets of all available types (e.g. Player Props, Team Props) and available outcomes for a given BettingEventID.
      operationId: nhl_v3_odds_betting_markets___by_event
      summary: Betting Markets - by Event
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets). Valid entries include: <code>134</code>, <code>155</code>, etc.'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingEvents/{season}:
    get:
      description: The list of current BettingEvents for the given season, from which Betting Market data can be gathered via the Betting Markets by Event endpoint, for all available Betting Market types (e.g. Player Props, Team Props.)
      operationId: nhl_v3_odds_betting_events___by_season
      summary: Betting Events - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples: <code>2020</code>, <code>2020PRE</code>, <code>2020POST</code>, <code>2020STAR</code>, <code>2021</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarket/{marketId}:
    get:
      description: Returns full line movement for a given BettingMarket. Due to the sheer size of the output and the level of detail, it is intended for historical data purposes and not for the most up-to-the-second lines.
      operationId: nhl_v3_odds_betting_market
      summary: Betting Market
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: 'The MarketId of the desired market for which to pull all outcomes/bets. Valid entries include: <code>421</code>, <code>1041</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarketsByMarketType/{eventId}/{marketTypeID}:
    get:
      description: Returns Markets and available outcomes for a given event and market type requested. A lighter call than by BettingEventID as it only includes markets tagged with the specific MarketType, a full list of which is available for each sport in its Betting Metadata endpoint.
      operationId: nhl_v3_odds_betting_markets___by_market_type
      summary: Betting Markets - by Market Type
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets). Valid entries include: <code>134</code>, <code>155</code>, etc.'
        required: true
        schema:
          type: string
      - name: marketTypeID
        in: path
        description: 'The Market Type ID of the desired MarketTypes to pull. Some common types include:

          <code>1</code> for `Game Lines`

          <code>2</code> for `Player Props`

          <code>3</code> for `Team Props`

          <code>6</code> for `Game Props`'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingFuturesBySeason/{season}:
    get:
      description: Returns available Futures markets for the given season. Does not include line movement.
      operationId: nhl_v3_odds_betting_futures___by_season
      summary: Betting Futures - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season <br>Examples: <code>2020</code>, <code>2021</code>, etc'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarketsByGameID/{gameID}:
    get:
      description: Returns the markets of all available types (e.g. Player Props, Team Props) and available outcomes for a given GameID.
      operationId: nhl_v3_odds_betting_markets___by_game
      summary: Betting Markets - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameID
        in: path
        description: 'The GameID of the desired game for which to pull all betting markets (includes outcomes/bets). Valid entries include: <code>14814</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/Bettingmetadata:
    get:
      description: Returns the list of MarketTypes, BetTypes, PeriodTypes, OutcomeTypes, and ResultTypes to map the IDs to descriptive names. Also includes a list of the MarketType, BetType & PeriodType combinations which we will have resulting for.
      operationId: nhl_v3_odds_betting_metadata
      summary: Betting Metadata
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingEntityMetadataCollection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/ActiveSportsbooks:
    get:
      description: A list of all available sportsbooks with their associated unique IDs.
      operationId: nhl_v3_odds_sportsbooks___by_active
      summary: Sportsbooks - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sportsbook'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingSplitsByMarketId/{marketId}:
    get:
      description: List of Money and Bet Percentage splits for each outcome type available in this market. This specific endpoint will return the movement from this market as well as the most recent.
      operationId: nhl_v3_odds_betting_splits___by_betting_market
      summary: Betting Splits - by Betting Market
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: The MarketId of the desired market for which to pull splits. MarketIds are pulled from the Betting Markets endpoints.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarketSplit'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingSplitsByGameId/{gameId}:
    get:
      description: List of Money and Bet Percentage splits for each market and their respective outcome types available in this game. This specific endpoint will return current splits for each available market and no line movement.
      operationId: nhl_v3_odds_betting_splits___by_game
      summary: Betting Splits - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameId
        in: path
        description: The ID of the game for which you want to receive splits for. GameIds are pulled from the Schedules and Games by Date endpoints.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameBettingSplit'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingPlayerPropsByGameID/{gameId}:
    get:
      description: This works in the same way as Betting Markets by Market Type but is prefiltered to the Player Props type only. Ideal if your application will only ever require Player Props, but if you also want Team Props etc. it is recommended to use the by Market Type endpoint.
      operationId: nhl_v3_odds_betting_player_props___by_game
      summary: Betting Player Props - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameId
        in: path
        description: The unique GameID of the game in question.
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarketResults/{marketId}:
    get:
      description: 'Provide a market ID that supports resulting (i.e. has a ResultType) and this endpoint will return a result: for markets with a ResultType, each line will be graded and it will be determined whether the bet would have won or lost.'
      operationId: nhl_v3_odds_betting_results___by_market
      summary: Betting Results - by Market
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: The MarketId of the desired market for which to pull all outcomes/bets.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarketResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/PreGameOddsByDate/{date}/{sportsbookgroup}:
    get:
      description: Returns the full-game and non-full-game odds (spread, moneyline, total) for games in a given week and season. Only returns the most recently seen odds, not inclusive of line movement. A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_pre_game_and_period_game_odds___by_date__sportsbook_group
      summary: Pre-Game and Period Game Odds - by Date [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-11-20</code>, <code>2018-11-23</code>.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/PreGameOddsLineMovement/{gameid}/{sportsbookgroup}:
    get:
      description: Returns the game odds ( for games on a given date. In this endpoint both full-game and partial-game odds are included. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line. A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_pre_game_and_period_game_odds_line_movement__sportsbook_group
      summary: Pre-Game and Period Game Odds Line Movement [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games API.  Valid entries are <code>13096</code> or <code>13110</code>
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/InGameOddsByDate/{date}/{sportsbookgroup}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games on a given date. Only returns the most recently seen odds, not inclusive of line movement. As this is in-game, it will only return results while the game is in progress. A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_in_game_odds___by_date__sportsbook_group
      summary: In-Game Odds - by Date [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-11-20</code>, <code>2018-11-23</code>.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/InGameLineMovement/{gameid}/{sportsbookgroup}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games on a given date. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line. A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_in_game_odds_line_movement__sportsbook_group
      summary: In-Game Odds Line Movement [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games API.  Valid entries are <code>13096</code> or <code>13110</code>
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingPlayerPropsByGameID/{gameId}/{sportsbookgroup}:
    get:
      description: This works in the same way as Betting Markets by Market Type but is prefiltered to the Player Props type only. Ideal if your application will only ever require Player Props, but if you also want Team Props etc. it is recommended to use the by Market Type endpoint. A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_betting_player_props___by_game__sportsbook_group
      summary: Betting Player Props - by Game [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameId
        in: path
        description: The unique GameID of the game in question.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarketsByMarketType/{eventId}/{marketTypeID}/{sportsbookgroup}:
    get:
      description: Returns Markets and available outcomes for a given event and market type requested. A lighter call than by BettingEventID as it only includes markets tagged with the specific MarketType, a full list of which is available for each sport in its Betting Metadata endpoint. A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_betting_markets___by_market_type__sportsbook_group
      summary: Betting Markets - by Market Type [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets). Valid entries include: <code>134</code>, <code>155</code>, etc.'
        required: true
        schema:
          type: string
      - name: marketTypeID
        in: path
        description: 'The Market Type ID of the desired MarketTypes to pull. Some common types include:

          <code>1</code> for `Game Lines`

          <code>2</code> for `Player Props`

          <code>3</code> for `Team Props`

          <code>6</code> for `Game Props`'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarketsByGameID/{gameID}/{sportsbookgroup}:
    get:
      description: Returns the markets of all available types (e.g. Player Props, Team Props) and available outcomes for a given GameID. A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_betting_markets___by_game__sportsbook_group
      summary: Betting Markets - by Game [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameID
        in: path
        description: 'The GameID of the desired game for which to pull all betting markets (includes outcomes/bets). Valid entries include: <code>14814</code>'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarketsByEvent/{eventId}/{sportsbookgroup}:
    get:
      description: Returns the markets and available outcomes for a given BettingEventID. A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_betting_markets___by_event__sportsbook_group
      summary: Betting Markets - by Event [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets). Valid entries include: <code>134</code>, <code>155</code>, etc.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarket/{marketId}/{sportsbookgroup}:
    get:
      description: Returns full line movement for a given BettingMarket. Due to the sheer size of the output and the level of detail, it is intended for historical data purposes and not for the most up-to-the-second lines. A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_betting_market__sportsbook_group
      summary: Betting Market [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: 'The MarketId of the desired market for which to pull all outcomes/bets. Valid entries include: <code>421</code>, <code>1041</code>, etc.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingResultsByMarket/{marketId}/{sportsbookgroup}:
    get:
      description: Returns all outcomes under this market which have a result type associated. Will return empty list if resulting has not yet processed for the given game. Resulting processes shortly after game closing.
      operationId: nhl_v3_odds_betting_results___by_market__sportsbook_group
      summary: Betting Results - by Market [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: The MarketId of the desired market for which to pull all outcomes/bets.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarketResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingFuturesBySeason/{season}/{sportsbookgroup}:
    get:
      description: Returns available Futures markets for the given season. Does not include line movement. A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_betting_futures___by_season__sportsbook_group
      summary: Betting Futures - by Season [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season <br>Examples: <code>2020</code>, <code>2021</code>, etc'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/InGameLineMovementWithResulting/{gameid}/{sportsbookgroup}:
    get:
      description: 'Returns in-play game odds (spread, moneyline, total) for games on a given date. This also includes Resulting: for markets with a ResultType, each line will be graded and it will be determined whether the bet would have won or lost. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line. A Sportsbook Group must be specified as a URL parameter.'
      operationId: nhl_v3_odds_in_game_odds_line_movement_with_resulting__sportsbook_group
      summary: In-Game Odds Line Movement with Resulting [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games API.  Valid entries are <code>13096</code> or <code>13110</code>
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfoResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/PreGameOddsLineMovementWithResulting/{gameid}/{sportsbookgroup}:
    get:
      description: 'Returns the game odds ( for games on a given date. In this endpoint both full-game and partial-game odds are included. This also includes Resulting: for markets with a ResultType, each line will be graded and it will be determined whether the bet would have won or lost. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line. A Sportsbook Group must be specified as a URL parameter.'
      operationId: nhl_v3_odds_pre_game_and_period_game_odds_line_movement_with_resulting__sportsbook_group
      summary: Pre-Game and Period Game Odds Line Movement with Resulting [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games API.  Valid entries are <code>13096</code> or <code>13110</code>
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfoResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
components:
  schemas:
    BettingEntityMetadataCollection:
      properties:
        BettingBetTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: The list of the bet types that can be found within a market
        BettingMarketTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible market types within a Betting Event (e.g. Game Line, Team Prop, Player Future, etc.)
        BettingPeriodTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible BettingPeriodTypes (e.g. Full Game; Regulation; 1st Period)
        BettingEventTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible BettingEventTypes (e.g. Game, Future)
        BettingOutcomeTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible BettingOutcomeTypes (e.g. Home; Away; Under; Over)
        ResultedMarketMetaData:
          type: array
          items:
            $ref: '#/components/schemas/BettingResultingMetadata'
          description: A list of the combinations of MarketType, BetType, & PeriodType which we willl provide automated resulting for
        BettingResultTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible BettingResultTypes (e.g. Win; Loss; Push; Not Resulted; Incomplete)
    BettingOutcomeResult:
      properties:
        BettingOutcomeID:
          type: integer
          description: The unique ID associated with this specific outcome
        BettingResultTypeID:
          type:
          - integer
          - 'null'
          description: The ID associated with the betting result type of this outcome
        BettingResultType:
          type:
          - string
          - 'null'
          description: The BettingResultType of this outcome
        BettingOutcomeTypeID:
          type:
          - integer
          - 'null'
          description: The ID associated with the betting outcome type
        BettingOutcomeType:
          type:
          - string
          - 'null'
          description: The name of the betting outcome within a betting market (e.g. Home; Away; Under; Over)
        BetValue:
          type:
          - number
          - 'null'
          description: The offered betting line from a sportsbook for a game (i.e. If a team won a game by 2 and the spread was -1.5, the actual value would be 2 and the bet value would be -1.5)
        ActualValue:
          type:
          - number
          - 'null'
          description: The value of the actual result that occured in game (i.e. If a team won a game by 2 and the spread was -1.5, the actual value would be 2 and the bet value would be -1.5)
    Period:
      properties:
        PeriodID:
          type: integer
          description: The unique ID associated of this period
        GameID:
          type: integer
          description: The unique ID of this game tied to this period
        Name:
          type:
          - string
          - 'null'
          description: 'The name of the period (possible values: 1; 2; 3; SO; OT; OT2; OT3; OT4; etc)'
        AwayScore:
          type:
          - integer
          - 'null'
          description: Total goals scored by the away team in a given period
        HomeScore:
          type:
          - integer
          - 'null'
          description: Total goals scored by the home team in the period
        ScoringPlays:
          type: array
          items:
            $ref: '#/components/schemas/ScoringPlay'
          description: The details of the scoring plays that occurred during this period
        Penalties:
          type: array
          items:
            $ref: '#/components/schemas/Penalty'
          description: The details of the penalties that occurred during this period
    MatchupTrends:
      properties:
        UpcomingGame:
          $ref: '#/components/schemas/Game'
          description: Upcoming game between the team and the opponent
        TeamTrends:
          type: array
          items:
            $ref: '#/components/schemas/TeamTrends'
          description: The collection of team trends between each team
        TeamMatchupTrends:
          type: array
          items:
            $ref: '#/components/schemas/TeamGameTrends'
          description: The collection of team game trends against opponent
        OpponentMatchupTrends:
          type: array
          items:
            $ref: '#/components/schemas/TeamGameTrends'
          description: The collection of opponent game trends against a specific team
        PreviousGames:
          type: array
          items:
            $ref: '#/components/schemas/Game'
          description: The collection of last 10 game scores between each team
    Game:
      properties:
        GameID:
          type: integer
          description: The unique ID of this game
        Season:
          type: integer
          description: The NHL season of the game
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 5=AllStar, 6=Exhibition).
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled, InProgress, Final, F/SO, F/OT, Suspended, Postponed, Delayed, Canceled, Forfeit, NotNecessary'
        Day:
          type:
          - string
          - 'null'
          description: The date of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game in US Eastern Time
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (in US Eastern Time).
        IsClosed:
          type:
          - boolean
          - 'null'
          description: 'Indicates whether the game is over and the final score has been verified and closed out. NOTE: it is recommend for bet resulting to use IsClosed = True rather than simply Final game status'
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        AwayTeamID:
          type: integer
          description: The unique ID of the away team
        HomeTeamID:
          type: integer
          description: The unique ID of the home team
        StadiumID:
          type:
          - integer
          - 'null'
          description: The unique ID of the stadium
        Channel:
          type:
          - string
          - 'null'
          description: The television station broadcasting the game
        Attendance:
          type:
          - integer
          - 'null'
          description: The total number of people who attended the game
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of goals scored by the away team in the game
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of goals scored by the home team in the game
        Period:
          type:
          - string
          - 'null'
          description: 'Indicates the current period of the game. Possible values include: 1; 2; 3; OT; SO; NULL'
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: Number of minutes remaining in the current period
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: 'Number of seconds that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock sconds which are the number of minutes that have already passed in the period.'
        AwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Moneyline from the perspective of the away team
        HomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Moneyline from the perspective of the home team
        PointSpread:
          type:
          - number
          - 'null'
          description: The oddsmaker puck line at game start from the perspective of the HomeTeam (negative numbers indicate the HomeTeam is favored; positive numbers indicate the AwayTeam is favored).
        OverUnder:
          type:
          - number
          - 'null'
          description: The sportsbook's total goals scored line (Over/Under) for the game
        GlobalGameID:
          type: integer
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalAwayTeamID:
          type: integer
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues.
        GlobalHomeTeamID:
          type: integer
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues.
        PointSpreadAwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The payout odds when betting on the away team with the puck line
        PointSpreadHomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The payout odds when betting on the home team with the puck line
        LastPlay:
          type:
          - string
          - 'null'
          description: The description of the most recent play/event of the game. This is for display purposes and does not include corresponding data points.
        Periods:
          type: array
          items:
            $ref: '#/components/schemas/Period'
          description: The details of the periods (including overtime if applicable) for this game.
        GameEndDateTime:
          type:
          - string
          - 'null'
          description: The date and time that the game ended in US Eastern Time
        HomeRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the home team for this game
        AwayRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the away team for a game
        NeutralVenue:
          type:
          - boolean
          - 'null'
          description: Indicates whether this game is played in a neutral venue
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the over
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under
        DateTimeUTC:
          type:
          - string
          - 'null'
          description: The date and time of the game in UTC
        SeriesInfo:
          $ref: '#/components/schemas/Series'
          description: Contains relevant series data for playoff series only - HomeTeamWins, AwayTeamWins, GameNumber, and MaxLength
        RescheduledFromGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the originally scheduled, postponed game, that this game was rescheduled from. This only pertains to games that are scheduled as "make up" games.
        RescheduledGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the game that was rescheduled from this game. This only pertains to postponed games that require rescheduling.
        Referee1ID:
          type:
          - integer
          - 'null'
          description: The unique ID of the main referee of this game
        Referee2ID:
          type:
          - integer
          - 'null'
          description: The unique ID of the secondary referee of this game
        Linesperson1ID:
          type:
          - integer
          - 'null'
          description: The unique ID of the main linesperson of this game
        Linesperson2ID:
          type:
          - integer
          - 'null'
          description: The unique ID of the secondary linesperson of this game
    Sportsbook:
      properties:
        SportsbookID:
          type: integer
          description: The unique ID of the sportsbook
        Name:
          type:
          - string
          - 'null'
          description: The name of the sportsbook(s)
    Series:
      properties:
        HomeTeamWins:
          type: integer
          description: Total wins in the series by the home team
        AwayTeamWins:
          type: integer
          description: Total wins in the series by the away team
        GameNumber:
          type: integer
          description: The number of the game being played in the series
        MaxLength:
          type: integer
          description: The maximum number of games that can be played in a postseason series
    Penalty:
      properties:
        PenaltyID:
          type: integer
          description: The unique ID of this penalty
        PeriodID:
          type: integer
          description: The unique ID of the period during which this penalty occurred
        Sequence:
          type:
          - integer
          - 'null'
          description: The sequence/order that this penalty happened
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: 'Number of minutes that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock minutes which are the number of minutes that have already passed in the period.'
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: 'Number of seconds that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock seconds which are the number of minutes that have already passed in the period.'
        Description:
          type:
          - string
          - 'null'
          description: The description of the penalty
        PenaltyMinutes:
          type:
          - integer
          - 'null'
          description: Total minutes the penalty lasts
        PenalizedTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the team who committed the penalty
        PenalizedPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who committed the penalty
        DrawnByTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the player/team that drew the penalty
        DrawnByPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who drew the penalty
        IsBenchPenalty:
          type:
          - boolean
          - 'null'
          description: Whether or not the penalty is a bench penalty
        BenchPenaltyServedByPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who served the bench penalty
    BettingResultingMetadata:
      properties:
        BettingMarketTypeId:
          type: integer
          description: The ID associated with the name of the market type within a market
        BettingBetTypeId:
          type: integer
          description: The ID associated with the name of the bet type within a market
        BettingPeriodTypeId:
          type: integer
          description: The ID associated with the betting period type which we can result
    TeamTrends:
      properties:
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        UpcomingGame:
          $ref: '#/components/schemas/Game'
          description: Upcoming game for this team
        TeamGameTrends:
          type: array
          items:
            $ref: '#/components/schemas/TeamGameTrends'
          description: The collection of Game Trends for this team
    Unauthorized:
      properties:
        HttpStatusCode:
          type: integer
        Code:
          type: integer
        Description:
          type: string
        Help:
          type: string
    TeamGameTrends:
      properties:
        Scope:
          type:
          - string
          - 'null'
          description: The type of Trend (e.g. Last 5 games, Last 10 games, Last 5 home games, etc.)
        TeamID:
          type: integer
          description: The unique ID of the team
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        OpponentID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's opponent
        Opponent:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the opponent team
        Wins:
          type: integer
          description: 'Total number of wins relating to the scope (Examples of Scopes include: Last 3 Games; Last 5 Home Games; Last 10 Games as favorite, etc.)'
        Losses:
          type: integer
          description: 'Total losses by the team relating to the scope (Examples of Scopes include: Last 3 Games; Last 5 Home Games; Last 10 Games as favorite, etc.)'
        Ties:
          type: integer
          description: 'Ties relating to the scope (Examples of Scopes include: Last 3 Games; Last 5 Home Games; Last 10 Games as favorite, etc.)'
        WinsAgainstTheSpread:
          type:
          - integer
          - 'null'
          description: 'Total number of wins against the spread relating to the scope (Examples of Scopes include: Last 3 Games; Last 5 Home Games; Last 10 Games as favorite, etc.)'
        LossesAgainstTheSpread:
          type:
          - integer
          - 'null'
          description: 'Total losses against the puck line by the team relating to the scope (Examples of Scopes include: Last 3 Games; Last 5 Home Games; Last 10 Games as favorite, etc.)'
        PushesAgainstTheSpread:
          type:
          - integer
          - 'null'
          description: 'Pushes against the puck line relating to the scope (Examples of Scopes include: Last 3 Games; Last 5 Home Games; Last 10 Games as favorite, etc.)'
        Overs:
          type:
          - integer
          - 'null'
          description: Amount of times the total score goes over the total goals line
        Unders:
          type:
          - integer
          - 'null'
          description: Amount of times the total score goes under the toal goals line
        OverUnderPushes:
          type:
          - integer
          - 'null'
          description: Amount of times the total score pushes the total goals line
        AverageScore:
          type:
          - number
          - 'null'
          description: 'The average goals per game scored by the team relating to the scope (Examples of Scopes include: Last 3 Games; Last 5 Home Games; Last 10 Games as favorite, etc.)'
        AverageOpponentScore:
          type:
          - number
          - 'null'
          description: 'The average goals per game scored by the opposing teams relating to the scope (Examples of Scopes include: Last 3 Games; Last 5 Home Games; Last 10 Games as favorite, etc.)'
    BettingSplit:
      properties:
        BettingMarketSplitID:
          type: integer
          description: The unique ID of this betting split insatnce
        BettingMarketID:
          type: integer
          description: The unique ID of the betting market
        BettingOutcomeTypeID:
          type:
          - integer
          - 'null'
          description: The ID associated with the betting outcome type
        BettingOutcomeType:
          type:
          - string
          - 'null'
          description: The name of the betting outcome within a betting market (e.g. Home; Away; Under; Over)
        BetPercentage:
          type:
          - integer
          - 'null'
          description: Percentage of bets placed on a specific outcome
        MoneyPercentage:
          type:
          - integer
          - 'null'
          description: The percent of money on this outcome
        Created:
          type:
          - string
          - 'null'
          description: The date and time when this betting split was created in US Eastern Time
        LastSeen:
          type:
          - string
          - 'null'
          description: When this split was last updated
    ScoringPlay:
      properties:
        ScoringPlayID:
          type: integer
          description: The unique ID of the scoring play
        PeriodID:
          type: integer
          description: The unique ID associated of this period
        Sequence:
          type:
          - integer
          - 'null'
          description: The sequence/order that this scoring play happened
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: 'Number of minutes that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock minutes which are the number of minutes that have already passed in the period.'
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: 'Number of seconds that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock sconds which are the number of minutes that have already passed in the period.'
        ScoredByTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the team that scored the goal
        AllowedByTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the team that allowed the goal
        ScoredByPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who scored the goal
        AssistedByPlayerID1:
          type:
          - integer
          - 'null'
          description: The PlayerID of the FIRST player who assisted on the goal
        AssistedByPlayerID2:
          type:
          - integer
          - 'null'
          description: The PlayerID of the SECOND player who assisted on the goal
        PowerPlay:
          type:
          - boolean
          - 'null'
          description: Whether or not the goal was scored on the power play
        ShortHanded:
          type:
          - boolean
          - 'null'
          description: Whether the goal was scored shorthanded
        EmptyNet:
          type:
          - boolean
          - 'null'
          description: Whether the goal was an empty net goal or not
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: The score of the away team after the conclusion of the scoring play
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: The score of the home team after the conclusion of the scoring play
    GameInfoResult:
      properties:
        GameID:
          type: integer
          description: The unique ID of this game
        Season:
          type: integer
          description: The NHL season of the game
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 5=AllStar; 6=Exhibition).
        Day:
          type:
          - string
          - 'null'
          description: The day that the game is scheduled to be played
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game in US Eastern Time
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled, InProgress, Final, F/SO, F/OT, Suspended, Postponed, Delayed, Canceled, Forfeit'
        AwayTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the away team
        HomeTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the home team
        AwayTeamName:
          type:
          - string
          - 'null'
          description: The name of the away team
        HomeTeamName:
          type:
          - string
          - 'null'
          description: The name of the home team
        GlobalGameID:
          type: integer
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalAwayTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues.
        GlobalTeamHomeTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues.
        PregameOdds:
          type: array
          items:
            $ref: '#/components/schemas/GameOddResult'
          description: List of Pregame GameOdds from different sportsbooks with results
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of goals the home team scored in the game (updated after game ends to allow for resolving bets)
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of goals the away team scored in the game (updated after game ends to allow for resolving bets)
        TotalScore:
          type:
          - integer
          - 'null'
          description: Total goals scored in the game (updated after game ends to allow for resolving bets)
        HomeRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the home team for this game
        AwayRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the away team for this game
        AlternateMarketPregameOdds:
          type: array
          items:
            $ref: '#/components/schemas/GameOddResult'
          description: A list of Alternate Market Pregame GameOdds from different sportsbooks (e.g. 1st Period; 2nd Period; etc.)
        Period:
          type:
          - string
          - 'null'
          description: 'Indicates the current period of the game. Possible values include: 1; 2; 3; OT; SO; NULL'
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: 'Number of minutes that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock minutes which are the number of minutes that have already passed in the period.'
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: 'Number of seconds that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock sconds which are the number of minutes that have already passed in the period.'
        Periods:
          type: array
          items:
            $ref: '#/components/schemas/Period'
          description: The details of the periods (including overtime if applicable) for this game
        IsClosed:
          type:
          - boolean
          - 'null'
          description: 'Indicates whether the game is over and the final score has been verified and closed out. Note: it is recommend for bet resulting to use IsClosed = True rather than simply Final game status'
        LiveOdds:
          type: array
          items:
            $ref: '#/components/schemas/GameOddResult'
          description: List of Live Odds from different sportsbooks with results
    ConsensusOutcome:
      properties:
        NumberOfSportsbooks:
          type: integer
          description: The number of sportsbooks odds that went into creating this consensus outcome
        BettingOutcomeID:
          type:
          - integer
          - 'null'
          description: The unique ID associated with this specific outcome
        BettingMarketID:
          type:
          - integer
          - 'null'
          description: The unique ID of the betting market
        SportsBook:
          $ref: '#/components/schemas/Sportsbook'
          description: The sportsbook offering this outcome for betting
        BettingOutcomeTypeID:
          type:
          - integer
          - 'null'
          description: The ID associated with the betting outcome type
        BettingOutcomeType:
          type:
          - string
          - 'null'
          description: The name of the betting outcome within a betting market (e.g. Home; Away; Under; Over)
        PayoutAmerican:
          type:
          - integer
          - 'null'
          description: 'The american odds payout '
        PayoutDecimal:
          type:
          - number
          - 'null'
          description: The decimal odds payout
        Value:
          type:
          - number
          - 'null'
          description: The number associated with the outcome (spread/total/etc)
        Participant:
          type:
          - string
          - 'null'
          description: 'The name of the participant (typically team or player) associated with the outcome. NOTE: This is provided by the sportsbook. In the case of Player odds; we highly recommend using PlayerID as names of players can be inconsistent between sportsbooks'
        IsAvailable:
          type:
          - boolean
          - 'null'
          description: Is this outcome available for betting as of last update
        IsAlternate:
          type:
          - boolean
          - 'null'
          description: Is this an alternate value or the core value
        Created:
          type:
          - string
          - 'null'
          description: The date and time when this betting outcome was created in US Eastern Time.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of the last time this betting outcome was updated (in US Eastern Time)
        Unlisted:
          type:
          - string
          - 'null'
          description: The datetime the outcome was unlisted (no longer available for bets)
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        SportsbookUrl:
          type:
          - string
          - 'null'
          description: The URL for sportsbook event
        IsInPlay:
          type:
          - boolean
          - 'null'
          description: Was this outcome created after the start time of the game (only applies when the betting event is of type game)
        SportsbookMarketID:
          type:
          - string
          - 'null'
          description: The market ID of the given sportsbook when available for deep links
        SportsbookOutcomeID:
          type:
          - string
          - 'null'
          description: The outcome ID of the given sportsbook when available for deep links
    BettingEntityMetadata:
      properties:
        RecordId:
          type: integer
          description: The unique ID of this record. Unique only within the same entity type (i.e. BettingMarketTypeIDs overlap with BettingBetTypeIDs)
        Name:
          type:
          - string
          - 'null'
          description: A text value for the record (e.g. Moneyline; Player Prop; 3rd Quarter)
        Active:
          type:
          - boolean
          - 'null'
          description: Whether or not this market is currently is use
    GameBettingSplit:
      properties:
        GameID:
          type: integer
          description: The unique ID of the game tied to the BettingSplits Turn on screen reader support
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 5=AllStar; 6=Exhibition).
        Season:
          type: integer
          description: The end year of season (2021-22 would be 2022)
        Day:
          type:
          - string
          - 'null'
          description: The date of the game
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        BettingMarketSplits:
          type: array
          items:
            $ref: '#/components/schemas/BettingMarketSplit'
          description: Shows the betting markets that have splits included for them in the game
    GameOdd:
      properties:
        GameOddId:
          type: integer
          description: The unique ID of this odd
        Sportsbook:
          type:
          - string
          - 'null'
          description: The name of the sportsbook
        GameId:
          type: integer
          description: The unique ID of this game
        Created:
          type:
          - string
          - 'null'
          description: The date and time of when these odds were first created; based on US Eatern Time (EST/EDT)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when these odds were last updated (in US Eastern Time)
        HomeMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's moneyline for the home team
        AwayMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's moneyline for the away team
        HomePointSpread:
          type:
          - number
          - 'null'
          description: The sportsbook's point spread for the home team
        AwayPointSpread:
          type:
          - number
          - 'null'
          description: The sportsbook's point spread for the away team
        HomePointSpreadPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's point spread payout for the home team
        AwayPointSpreadPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's point spread payout for the away team
        OverUnder:
          type:
          - number
          - 'null'
          description: The sportsbook's total goals scored over under for the game
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the over
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under
        SportsbookId:
          type:
          - integer
          - 'null'
          description: The unique ID of the sportsbook
        OddType:
          type:
          - string
          - 'null'
          description: 'The market type of the odd (ex: live, pregame, 1st-pd, etc)'
        SportsbookUrl:
          type:
          - string
          - 'null'
          description: The URL for sportsbook event
        Unlisted:
          type:
          - string
          - 'null'
          description: The timestamp when these odds were no longer seen, based on US Eastern Time (EST/EDT)
    BettingOutcome:
      properties:
        BettingOutcomeID:
          type:
          - integer
          - 'null'
          description: The unique ID associated with this specific outcome
        BettingMarketID:
          type:
          - integer
          - 'null'
          description: The unique ID of the betting market
        SportsBook:
          $ref: '#/components/schemas/Sportsbook'
          description: The sportsbook offering this outcome for betting
        BettingOutcomeTypeID:
          type:
          - integer
          - 'null'
          description: The ID associated with the betting outcome type
        BettingOutcomeType:
          type:
          - string
          - 'null'
          description: The name of the betting outcome within a betting market (e.g. Home; Away; Under; Over)
        PayoutAmerican:
          type:
          - integer
          - 'null'
          description: 'The american odds payout '
        PayoutDecimal:
          type:
          - number
          - 'null'
          description: The decimal odds payout
        Value:
          type:
          - number
          - 'null'
          description: The number associated with the outcome (spread/total/etc)
        Participant:
          type:
          - string
          - 'null'
[...]
