openapi: 3.1.0
info:
  title: MLB MLB v3 Headshots NFL v3 Stats API
  version: '1.0'
  description: MLB API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: NFL v3 Stats
paths:
  /v3/nfl/stats/{format}/PlayerGameStatsDelta/{minutes}:
    get:
      description: This method returns all player game stats, but only returns player stats that have changed in the last X minutes as specified in your API call. By definition this is a live endpoint, not final.
      operationId: nfl_v3_stats_player_game_stats_delta
      summary: Player Game Stats Delta
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: minutes
        in: path
        description: "\n          Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:\n          <code>1</code> or <code>2</code>.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/FantasyDefenseByGame/{season}/{week}:
    get:
      description: Returns stats and fantasy points for a given game for the fantasy defense team (not IDP.)
      operationId: nfl_v3_stats_fantasy_defense_game_stats___all
      summary: Fantasy Defense Game Stats - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FantasyDefenseGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/FantasyDefenseBySeason/{season}:
    get:
      description: Returns stats and fantasy points for a given season for the fantasy defense team (not IDP.)
      operationId: nfl_v3_stats_fantasy_defense_season_stats___all
      summary: Fantasy Defense Season Stats - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FantasyDefenseSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/Injuries/{season}/{week}:
    get:
      description: A list of all injured players and a description of their injuries.
      operationId: nfl_v3_stats_injuries___all
      summary: Injuries - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Injury'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/Injuries/{season}/{week}/{team}:
    get:
      description: A list of all injured players on a specified team and a description of their injuries.
      operationId: nfl_v3_stats_injuries___by_team
      summary: Injuries - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Injury'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerGameStatsByTeam/{season}/{week}/{team}:
    get:
      description: Returns the box score statistical record for all involved players across a given team's game in a given week, updated live as the game takes place.
      operationId: nfl_v3_stats_player_game_stats___by_team__live___final
      summary: Player Game Stats - by Team [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerGameStatsByWeekDelta/{season}/{week}/{minutes}:
    get:
      description: This method returns all player scores for a given season and week, but only returns player stats that have changed in the last X minutes as specified in your API call. Ideal for live applications.
      operationId: nfl_v3_stats_player_game_stats_delta___by_week
      summary: Player Game Stats Delta - by Week
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      - name: minutes
        in: path
        description: "Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:<br>\n          <code>1</code> or <code>2</code>.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerSeasonStatsByTeam/{season}/{team}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each individual game record) for a given team's players in a given season.
      operationId: nfl_v3_stats_player_season_stats___by_team
      summary: Player Season Stats - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerGameStatsByWeek/{season}/{week}:
    get:
      description: Returns the box score statistical record for all involved players across a given week, updated live as the game takes place.
      operationId: nfl_v3_stats_player_game_stats___by_week__live___final
      summary: Player Game Stats - by Week [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerSeasonStats/{season}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each individual game record) for all players for a given season.
      operationId: nfl_v3_stats_player_season_stats
      summary: Player Season Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/FantasyDefenseByGameByTeam/{season}/{week}/{team}:
    get:
      description: Returns stats and fantasy points for a given team's game for the fantasy defense team (not IDP.)
      operationId: nfl_v3_stats_fantasy_defense_game_stats___by_team
      summary: Fantasy Defense Game Stats - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FantasyDefenseGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/FantasyDefenseBySeasonByTeam/{season}/{team}:
    get:
      description: Returns stats and fantasy points for a given team and season for the fantasy defense team (not IDP.)
      operationId: nfl_v3_stats_fantasy_defense_season_stats___by_team
      summary: Fantasy Defense Season Stats - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FantasyDefenseSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerSeasonRedZoneStats/{season}:
    get:
      description: Delivers all offensive stats within the red zone (within the 20-yard line of the defensive team) for all players in a given season (i.e. the season total, not each individual game record.)
      operationId: nfl_v3_stats_player_season_red_zone_stats
      summary: Player Season Red Zone Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeasonRedZone'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerSeasonThirdDownStats/{season}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each individual game record) for all players on the third down for a given season.
      operationId: nfl_v3_stats_player_season_third_down_stats
      summary: Player Season Third Down Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeasonThirdDown'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/BoxScoresDeltaV3/{season}/{week}/{playerstoinclude}/{minutes}:
    get:
      description: This method returns all box scores for a given season and week, but only returns player stats that have changed in the last X minutes as specified in your API call. You can also filter by type of player stats to include, such as traditional fantasy players, IDP players or all players. by definition this is a live endpoint, not final.
      operationId: nfl_v3_stats_box_scores_delta___by_week
      summary: Box Scores Delta - by Week
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      - name: playerstoinclude
        in: path
        description: 'The subcategory of players to include in the returned PlayerGame records. Possible values include:<br><br>

          <code>all</code> Returns all players<br>

          <code>fantasy</code> Returns traditional fantasy players (QB, RB, WR, TE, K, DST)<br>

          <code>idp</code> Returns traditional fantasy players and IDP players.'
        required: true
        schema:
          type: string
          enum:
          - all
          - fantasy
          - idp
          default: all
      - name: minutes
        in: path
        description: "Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:<br><code>1</code>,\n <code>2</code>, etc.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScoreV3'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/BoxScoreV3/{season}/{week}/{hometeam}:
    get:
      description: Full statistical information for a specified game, down to the team and player stat level, delivered live during the game, called for a given team's game in a given week and season.
      operationId: nfl_v3_stats_box_score___by_team__live___final
      summary: Box Score - by Team [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      - name: hometeam
        in: path
        description: 'Abbreviation of a team playing in this game. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScoreV3'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/BoxScoreByScoreIDV3/{scoreid}:
    get:
      description: Full statistical information for a specified game, down to the team and player stat level, delivered live during the game, called per individual game.
      operationId: nfl_v3_stats_box_score__live___final
      summary: Box Score [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: scoreid
        in: path
        description: 'The ScoreID of the game. Possible values include: <code>16247</code>, <code>16245</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScoreV3'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerOwnership/{season}/{week}:
    get:
      description: Projected fantasy ownership of all players for a given season.
      operationId: nfl_v3_stats_fantasy_player_ownership_percentages__season_long____by_week
      summary: Fantasy Player Ownership Percentages (Season-Long) - by Week
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerOwnership'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerGameRedZoneStats/{season}/{week}:
    get:
      description: Delivers all offensive stats within the red zone (within the 20-yard line of the defensive team) for all players in a given season or week.
      operationId: nfl_v3_stats_player_game_red_zone_stats
      summary: Player Game Red Zone Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGameRedZone'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/ProBowlers/{season}:
    get:
      description: A list of players involved in the Pro Bowl, by season.
      operationId: nfl_v3_stats_pro_bowlers
      summary: Pro Bowlers
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season

          <br>Examples: <code>2016</code>, <code>2017</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/SimulatedBoxScoresV3/{numberofplays}:
    get:
      description: Gets simulated live box scores of NFL games, covering the Conference Championship games on January 21, 2018.
      operationId: nfl_v3_stats_box_scores_simulation
      summary: Box Scores Simulation
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: numberofplays
        in: path
        description: The number of plays to progress in this NFL live game simulation. Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>, <code>150</code>, <code>200</code>, etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScoreV3'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerGameRedZoneInsideTenStats/{season}/{week}:
    get:
      description: Delivers all offensive stats within the 10-yard line of the defensive team for all players in a given season or week.
      operationId: nfl_v3_stats_player_game_red_zone_stats__inside_ten
      summary: Player Game Red Zone Stats (Inside Ten)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGameRedZone'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerSeasonRedZoneInsideTenStats/{season}:
    get:
      description: Delivers all offensive stats within the 10-yard line of the defensive team for all players in a given season (i.e. the season total, not each individual game record.)
      operationId: nfl_v3_stats_player_season_red_zone_stats__inside_ten
      summary: Player Season Red Zone Stats (Inside Ten)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeasonRedZone'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerGameRedZoneInsideFiveStats/{season}/{week}:
    get:
      description: Delivers all offensive stats within the 5-yard line of the defensive team for all players in a given season or week.
      operationId: nfl_v3_stats_player_game_red_zone_stats__inside_five
      summary: Player Game Red Zone Stats (Inside Five)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGameRedZone'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerSeasonRedZoneInsideFiveStats/{season}:
    get:
      description: Delivers all offensive stats within the 5-yard line of the defensive team for all players in a given season (i.e. the season total, not each individual game record.)
      operationId: nfl_v3_stats_player_season_red_zone_stats__inside_five
      summary: Player Season Red Zone Stats (Inside Five)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeasonRedZone'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerGameStatsBySeason/{season}/{playerid}/{numberofgames}:
    get:
      description: Specify a season, a player, and number of games (either an integer or <code>all</code>) to see all of their box score logs. Refreshed after their most recent game is complete.
      operationId: nfl_v3_stats_player_game_logs___by_season
      summary: Player Game Logs - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: Season to get games from. Example <code>2019POST</code>, <code>2020</code>
        required: true
        schema:
          type: string
      - name: playerid
        in: path
        description: Unique SportsDataIO Player ID. Example:<code>17920</code>.
        required: true
        schema:
          type: string
      - name: numberofgames
        in: path
        description: How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/BoxScoreFinal/{scoreid}:
    get:
      description: Full statistical information for a specified game, down to the team and player stat level, delivered after the game is complete.
      operationId: nfl_v3_stats_box_score__final
      summary: Box Score [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: scoreid
        in: path
        description: 'The ScoreID of the game. Possible values include: <code>16247</code>, <code>16245</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScoreV3'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/BoxScoresFinal/{season}/{week}:
    get:
      description: Full statistical information for a specified game week for each game that took place, down to the team and player stat level, delivered after the game is complete.
      operationId: nfl_v3_stats_box_scores___by_week__final
      summary: Box Scores - by Week [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScoreV3'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/TeamGameStatsFinal/{season}/{week}:
    get:
      description: Returns the box score statistical record team-wide (aggregated from all players) for a given team's game in a given week after the game has concluded.
      operationId: nfl_v3_stats_team_game_stats___by_game__final
      summary: Team Game Stats - by Game [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerGameStatsByWeekFinal/{season}/{week}:
    get:
      description: Returns the box score statistical record for all involved players across all teams' games in a given week after the game has concluded.
      operationId: nfl_v3_stats_player_game_stats___by_week__final
      summary: Player Game Stats - by Week [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/ScoresFinal/{season}:
    get:
      description: Full scores and gameday info, including weather, referee, infotainment odds, as well as all of the quarter scores and full-time score.
      operationId: nfl_v3_stats_games___by_season__final
      summary: Games - by Season [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/PlayerGameStatsByTeamFinal/{season}/{week}/{team}:
    get:
      description: Returns the box score statistical record for all involved players in a given team's game in a given week after the game has concluded.
      operationId: nfl_v3_stats_player_game_stats___by_team__final
      summary: Player Game Stats - by Team [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/BoxScoreByTeamFinal/{season}/{week}/{hometeam}:
    get:
      description: Full statistical information for a given team's game in a specified season and week, down to the team and player stat level, delivered after the game is complete.
      operationId: nfl_v3_stats_box_score___by_team__final
      summary: Box Score - by Team [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      - name: hometeam
        in: path
        description: 'Abbreviation of a team playing in this game. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScoreV3'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
  /v3/nfl/stats/{format}/FantasyGameStatsByWeek/{season}/{week}:
    get:
      description: Returns a simple list of fantasy points and stats for each player for a given week.
      operationId: nfl_v3_stats_fantasy_points___by_week
      summary: Fantasy Points - by Week
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FantasyGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Stats
components:
  schemas:
    PlayerOwnership:
      properties:
        PlayerID:
          type: integer
          description: 'The unique PlayerID of the player as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        Season:
          type: integer
          description: The NFL season of the ownership info
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 4=Offseason, 5=AllStar).
        Week:
          type: integer
          description: 'The NFL week of the game (regular season: 1 to 18; preseason: 0 to 4; postseason: 1 to 4). Note: seasons after 2021 will have only 3 preseason weeks'
        Name:
          type:
          - string
          - 'null'
          description: The player's full name
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s fantasy football position. Possible values: QB; RB; WR; TE; DL; LB; DB; K; P; OL'
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team that the player is on
        TeamID:
          type:
          - integer
          - 'null'
          description: 'The unique ID of the team that the player is on. Note: If the player is a free agent; this field is NULL'
        OwnershipPercentage:
          type:
          - number
          - 'null'
          description: Player's ownership percentage on NFL.com fantasy leagues during this week
        DeltaOwnershipPercentage:
          type:
          - number
          - 'null'
          description: Player's change in ownership percentage on NFL.com fantasy leagues during this week
        StartPercentage:
          type:
          - number
          - 'null'
          description: Player's starting lineup percentage on NFL.com fantasy leagues during this week
        DeltaStartPercentage:
          type:
          - number
          - 'null'
          description: Player's change in starting lineup percentage on NFL.com fantasy leagues during this week
    Score:
      properties:
        GameKey:
          type:
          - string
          - 'null'
          description: 'A 9 digit unique code identifying the game that this record corresponds to. The GameID is composed of Season; SeasonType; Week and HomeTeam. Note: This value will be NULL for bye weeks'
        SeasonType:
          type: integer
          description: The type of season that this game corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 4=Offseason, 5=All-Star).
        Season:
          type: integer
          description: The NFL season of the game
        Week:
          type: integer
          description: 'The NFL week of the game (regular season: 1 to 18; preseason: 0 to 4; postseason: 1 to 4). Note: seasons after 2021 will have only 3 preseason weeks'
        Date:
          type:
          - string
          - 'null'
          description: The date and time of the game (in US Eastern Time)
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key} of the away team
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        AwayScore:
          type:
          - integer
          - 'null'
          description: The final score of the Away Team
        HomeScore:
          type:
          - integer
          - 'null'
          description: The final score of the Home Team
        Channel:
          type:
          - string
          - 'null'
          description: The television station broadcasting the game
        PointSpread:
          type:
          - number
          - 'null'
          description: The oddsmaker point spread at game start from the perspective of the team (negative numbers indicate the HomeTeam is favored; positive numbers indicate the AwayTeam is favored)
        OverUnder:
          type:
          - number
          - 'null'
          description: The total points line (over/under) at game start
        Quarter:
          type:
          - string
          - 'null'
          description: The current quarter of the game (1, 2, 3, 4, HALF, OT, F, F/OT or NULL if game has not yet started)
        TimeRemaining:
          type:
          - string
          - 'null'
          description: The amount of time remaining in the current quarter (e.g. 11:23; 5:34; NULL if game is not in progress or at halftime)
        Possession:
          type:
          - string
          - 'null'
          description: The team that currently has possession of the ball (Ex. PHI; NE; NULL if game is not in progress or at halftime)
        Down:
          type:
          - integer
          - 'null'
          description: The current down in the game (1, 2, 3, 4 or NULL)
        Distance:
          type:
          - string
          - 'null'
          description: The yards to go for a first down (this can be any positive number or "Goal")
        YardLine:
          type:
          - integer
          - 'null'
          description: the yard line of the ball's current position on the field as of the most recently completed play
        YardLineTerritory:
          type:
          - string
          - 'null'
          description: The team's side of the field that the ball is on when the play occurred
        RedZone:
          type:
          - string
          - 'null'
          description: 'The team abbreviation [Key] that currently has the ball in the opponent''s red zone (Ex: "SF"; "BAL" or NULL)'
        AwayScoreQuarter1:
          type:
          - integer
          - 'null'
          description: Points scored by the away team in Quarter 1
        AwayScoreQuarter2:
          type:
          - integer
          - 'null'
          description: Points scored by the away team in Quarter 2
        AwayScoreQuarter3:
          type:
          - integer
          - 'null'
          description: Points scored by the away team in Quarter 3
        AwayScoreQuarter4:
          type:
          - integer
          - 'null'
          description: Points scored by the away team in Quarter 4
        AwayScoreOvertime:
          type:
          - integer
          - 'null'
          description: Points scored by the away team in overtime
        HomeScoreQuarter1:
          type:
          - integer
          - 'null'
          description: Points scored by the home team in Quarter 1
        HomeScoreQuarter2:
          type:
          - integer
          - 'null'
          description: Points scored by the home team in Quarter 2
        HomeScoreQuarter3:
          type:
          - integer
          - 'null'
          description: Points scored by the home team in Quarter 3
        HomeScoreQuarter4:
          type:
          - integer
          - 'null'
          description: Points scored by the home team in Quarter 4
        HomeScoreOvertime:
          type:
          - integer
          - 'null'
          description: Points scored by the home team in overtime
        HasStarted:
          type: boolean
          description: Whether the game has started (true/false)
        IsInProgress:
          type: boolean
          description: Whether the game is currently in progress (true/false)
        IsOver:
          type: boolean
          description: Whether the game is over (true/false)
        Has1stQuarterStarted:
          type: boolean
          description: Whether the 1st quarter has started
        Has2ndQuarterStarted:
          type: boolean
          description: Whether the 2nd quarter has started
        Has3rdQuarterStarted:
          type: boolean
          description: Whether the 3rd quarter has started
        Has4thQuarterStarted:
          type: boolean
          description: Whether the 4th quarter has started
        IsOvertime:
          type: boolean
          description: Whether this game went into overtime
        DownAndDistance:
          type:
          - string
          - 'null'
          description: The description of the down and distance for display purposes
        QuarterDescription:
          type:
          - string
          - 'null'
          description: Description of the current quarter for display purposes
        StadiumID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's current home stadium
        LastUpdated:
          type:
          - string
          - 'null'
          description: The date and time that this game was last updated (in US Eastern Time)
        GeoLat:
          type:
          - number
          - 'null'
          description: The geographic latitude coordinate of the venue where the game is taking place
        GeoLong:
          type:
          - number
          - 'null'
          description: The geographic longitude coordinate of the venue where the game is taking place
        ForecastTempLow:
          type:
          - integer
          - 'null'
          description: The forecasted low temperature on game day at this venue (Fahrenheit)
        ForecastTempHigh:
          type:
          - integer
          - 'null'
          description: The forecasted high temperature on game day at this venue (Fahrenheit)
        ForecastDescription:
          type:
          - string
          - 'null'
          description: The forecast description on game day at this venue.
        ForecastWindChill:
          type:
          - integer
          - 'null'
          description: The forecasted wind chill on game day at this venue.
        ForecastWindSpeed:
          type:
          - integer
          - 'null'
          description: The forecasted wind speed on game day at this venue.
        AwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's moneyline for the away team
        HomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's moneyline for the home team
        Canceled:
          type:
          - boolean
          - 'null'
          description: Indicates whether the game was canceled
        Closed:
          type:
          - boolean
          - 'null'
          description: 'Indicates whether the game is over and the final score has been verified and closed out. Note: it is recommend for bet resulting to use IsClosed = True rather than simply Final game status'
        LastPlay:
          type:
          - string
          - 'null'
          description: 'The description of the most recent play/event of the game. Note: This is for display purposes and does not include corresponding data points'
        Day:
          type:
          - string
          - 'null'
          description: The date of the game (in US Eastern Time)
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game (in US Eastern Time)
        AwayTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the away team
        HomeTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the home team
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues
        GlobalAwayTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues
        GlobalHomeTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues
        PointSpreadAwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The payout on the away team's spread
        PointSpreadHomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The payout on the home team's spread
        ScoreID:
          type: integer
          description: Unique ID of the Score/Game
        StadiumDetails:
          $ref: '#/components/schemas/Stadium'
          description: The details of the stadium where this game is played
        Status:
          type:
          - string
          - 'null'
          description: The status of the game. For a description of possible values, see <a href="https://support.sportsdata.io/hc/en-us/articles/14287629964567-Process-Guide-Game-Status" target="_blank">here.</a> For how suspended and postponed games are handled specifically, see <a href="https://support.sportsdata.io/hc/en-us/articles/4404845580567-Postponed-and-Rescheduled-Games" target="_blank">here</a>.
        GameEndDateTime:
          type:
          - string
          - 'null'
          description: 'The date and time of when the game officially ended. Note: This field is populated after the game and score are finalized'
        HomeRotationNumber:
          type:
          - integer
          - 'null'
          description: Rotation number of home team in this game
        AwayRotationNumber:
          type:
          - integer
          - 'null'
          description: Rotation number of away team in this game
        NeutralVenue:
          type:
          - boolean
          - 'null'
          description: Indicates whether this game is played in a neutral venue
        RefereeID:
          type:
          - integer
          - 'null'
          description: The unique ID of the head referee
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for over the total points line
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under
        HomeTimeouts:
          type:
          - integer
          - 'null'
          description: The number of timeouts remaining for the Home Team
        AwayTimeouts:
          type:
          - integer
          - 'null'
          description: The number of timeouts remaining for the Away Team
        DateTimeUTC:
          type:
          - string
          - 'null'
          description: The date and time of the game (in UTC)
        Attendance:
          type: integer
          description: The total attendance for the game
        IsClosed:
          type:
          - boolean
          - 'null'
          description: Indicates whether the game is over and the final score has been verified and closed out.
    PlayerGame:
      properties:
        GameKey:
          type:
          - string
          - 'null'
          description: 'A 9 digit unique code identifying the game that this record corresponds to. The GameID is composed of Season; SeasonType; Week and HomeTeam.. Note: This value will be NULL for bye weeks'
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The unique PlayerID of the player as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        SeasonType:
          type: integer
          description: The type of season that this player corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=All-Star)
        Season:
          type: integer
          description: The NFL season of the game
        GameDate:
          type:
          - string
          - 'null'
          description: The date and time the game is scheduled to start
        Week:
          type: integer
          description: 'The NFL week of the game (regular season: 1 to 18; preseason: 0 to 4; postseason: 1 to 4). Note: seasons after 2021 will have only 3 preseason weeks'
        Team:
          type:
          - string
          - 'null'
          description: 'The abbreviation [Key] of the team that the player is on. Note: if this player is a free agent; this field is NULL'
        Opponent:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the opponent team
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Whether the team is home or away
        Number:
          type: integer
          description: Player's jersey number
        Name:
          type:
          - string
          - 'null'
          description: Player's full name
        Position:
          type:
          - string
          - 'null'
          description: 'The primary position of the player. Possible Values: C; CB; DB; DE; DL; DT; FB; FS; G; ILB; K; KR; LB; LS; NT; OL; OLB; OT; P; QB; RB; S; SS; T; TE; WR'
        PositionCategory:
          type:
          - string
          - 'null'
          description: The category of the player's position (OFF; DEF; ST)
        Activated:
          type: integer
          description: Whether or not the player was active for the game
        Played:
          type: integer
          description: 'Whether the player played at least one snap in the game Note: Will return "1" if player played at least one snap and "0" if they did not'
        Started:
          type: integer
          description: 'Whether the player started the game (on offensive or defense). Note: Started = 1 / Did Not Start = 0'
        PassingAttempts:
          type: number
          description: Total passes thrown by the player in the game
        PassingCompletions:
          type: number
          description: Total passes completed by the player in the game
        PassingYards:
          type: number
          description: Total passing yards by the player in the game
        PassingCompletionPercentage:
          type: number
          description: The percentage of passes completed by the player in the game
        PassingYardsPerAttempt:
          type: number
          description: Total average passing yards per attempt by the player in the game
        PassingYardsPerCompletion:
          type: number
          description: Total average passing yards per completion by the player in the game
        PassingTouchdowns:
          type: number
          description: Total passing touchdowns by the player in the game
        PassingInterceptions:
          type: number
          description: Total interceptions thrown by the player in the game
        PassingRating:
          type: number
          description: The passer rating of the player in the game
        PassingLong:
          type: number
          description: Total yards of longest completion by the player in the game
        PassingSacks:
          type: number
          description: The total number of times the player was sacked in the game
        PassingSackYards:
          type: number
          description: Total yards lost by the player in the game as a result of being sacked
        RushingAttempts:
          type: number
          description: Total rushing attempts by the player in the game
        RushingYards:
          type: number
          description: Total rushing yards by the player in the game
        RushingYardsPerAttempt:
          type: number
          description: Total rushing yards per attempt by the player in the game
        RushingTouchdowns:
          type: number
          description: Total rushing touchdowns by the player in the game
        RushingLong:
          type: number
          description: The longest rush by the player in the game
        ReceivingTargets:
          type:
          - number
          - 'null'
          description: Total receiving targets by the player in the game
        Receptions:
          type: number
          description: Total receptions by the player in the game
        ReceivingYards:
          type: number
          description: Total receiving yards by the player in the game
        ReceivingYardsPerReception:
          type: number
          description: Average receiving yards per reception by the player in the game
        ReceivingTouchdowns:
          type: number
          description: Total receiving touchdowns by the player in the game
        ReceivingLong:
          type: number
          description: The longest reception by the player in the game
        Fumbles:
          type: number
          description: Total fumbles by the player in the game
        FumblesLost:
          type:
          - number
          - 'null'
          description: Total fumbles lost by the player in the game
        PuntReturns:
          type: number
          description: Total punt returns by the player in the game
        PuntReturnYards:
          type: number
          description: Total punt return yards by the player in the game
        PuntReturnYardsPerAttempt:
          type: number
          description: Total average yards gained per punt return by the player in the game
        PuntReturnTouchdowns:
          type: number
          description: Total punt return touchdowns by the player in the game
        PuntReturnLong:
          type: number
          description: The longest punt return by the player in the game
        KickReturns:
          type: number
          description: Total kickoff returns by the player in the game
        KickReturnYards:
          type: number
          description: Total kickoff return yards by the player in the game
        KickReturnYardsPerAttempt:
          type: number
          description: Average yards gained per kick return by the player in the game
        KickReturnTouchdowns:
          type: number
          description: Total kickoff return touchdowns by the player in the game
        KickReturnLong:
          type: number
          description: Longest kick return by the player in the game
        SoloTackles:
          type: number
          description: Total defensive solo (unassisted) tackles by the player in the game
        AssistedTackles:
          type: number
          description: Total defensive assisted tackles by the player in the game
        TacklesForLoss:
          type:
          - number
          - 'null'
          description: 'Total tackles for loss by the player in the game. Note: these are tackles behind the line of scrimmage for loss of yards (including sacks)'
        Sacks:
          type: number
          description: Total defensive sacks by the player in the game
        SackYards:
          type: number
          description: Total defensive sacks yards by the player in the game
        QuarterbackHits:
          type:
          - number
          - 'null'
          description: 'Total quarterback hits by the player in the game. Note: This is a defensive stat that includes sacks'
        PassesDefended:
          type: number
          description: Total passes defended by the player in the game
        FumblesForced:
          type: number
          description: Total fumbles forced on defense by the player in the game
        FumblesRecovered:
          type: number
          description: Total defensive fumble recoveries by the player in the game
        FumbleReturnYards:
          type: number
          description: Total fumble return yards by the player in the game
        FumbleReturnTouchdowns:
          type: number
          description: Total fumble return touchdowns by the player in the game
        Interceptions:
          type: number
          description: Total defensive interceptions by the player in the game
        InterceptionReturnYards:
          type: number
          description: Total defensive interception return yards by the player in the game
        InterceptionReturnTouchdowns:
          type: number
          description: Total defensive interception return touchdowns by the player in the game
        BlockedKicks:
          type: number
          description: 'Total blocked kicks by the player in the game. Note: BlockedKicks include Field Goals and Punts but NOT Extra Points'
        SpecialTeamsSoloTackles:
          type: number
          description: This field is deprecated
        SpecialTeamsAssistedTackles:
          type: number
          description: This field is deprecated
        MiscSoloTackles:
          type: number
          description: This field is deprecated
        MiscAssistedTackles:
          type: number
          description: This field is deprecated
        Punts:
          type: number
          description: Total number of punts by the player in the game
        PuntYards:
          type: number
          description: Total punt yards by the player in the game
        PuntAverage:
          type: number
          description: The average number of yards per punt by the player in the game
        FieldGoalsAttempted:
          type: number
          description: Total field goals attempted by the player in the game
        FieldGoalsMade:
          type: number
          description: Total field goals made by the player in game
        FieldGoalsLongestMade:
          type: number
          description: Longest field goal made by the player in the game
        ExtraPointsMade:
          type: number
          description: Total extra points made by the player in the game
        TwoPointConversionPasses:
          type: number
          description: Total successful two point conversion passes by the player in the game
        TwoPointConversionRuns:
          type: number
          description: Total successful two point conversion rushes by the player in the game
        TwoPointConversionReceptions:
          type: number
          description: Total successful two point conversion receptions by the player in the game
        FantasyPoints:
          type: number
          description: Fantasy points scored based on basic fantasy scoring system by the player in the game
        FantasyPointsPPR:
          type: number
          description: This field is expected to be NULL
        ReceptionPercentage:
          type: number
          description: Total percentage of receiving targets that were receptions by the player in the game
        ReceivingYardsPerTarget:
          type: number
          description: Average receiving yards per target by the player in the game
        Tackles:
          type: number
          description: Total tackles (solo & assisted) by the player in the game
        OffensiveTouchdowns:
          type: number
          description: Total offensive touchdowns scored by the player in the game
        DefensiveTouchdowns:
          type: number
          description: Total defensive touchdowns scored by the player in the game
        SpecialTeamsTouchdowns:
          type: number
          description: Total special teams touchdowns scored by the player in the game
        Touchdowns:
          type: number
          description: Total touchdowns scored by the player in the game (excludes passing touchdowns)
        FantasyPosition:
          type:
          - string
          - 'null'
          description: 'The player''s fantasy football position. Possible values: QB; RB; WR; TE; DL; LB; DB; K; P; OL'
        FieldGoalPercentage:
          type: number
          description: Total field goal attempts made by the player in the game
        PlayerGameID:
          type: integer
          description: Unique ID of PlayerGame record (subject to change, although it very rarely does).  For a static ID, use a combination of GameKey and PlayerID.
        FumblesOwnRecoveries:
          type:
          - number
          - 'null'
          description: 'Total own fumble recoveries by the player in the game. Note: this fumble doesn''t result in a turnover - the fumbling team recovers the fumble'
        FumblesOutOfBounds:
          type:
          - number
          - 'null'
          description: This field is deprecated
        KickReturnFairCatches:
          type:
          - number
          - 'null'
          description: This field is deprecated
        PuntReturnFairCatches:
          type:
          - number
          - 'null'
          description: This field is deprecated
        PuntTouchbacks:
          type:
          - number
          - 'null'
          description: Total punts that resulted in touchbacks by the player in the game
        PuntInside20:
          type:
          - number
          - 'null'
          description: Total punts downed inside the 20 yard line by the player in the game
        PuntNetAverage:
          type:
          - number
          - 'null'
          description: The average net yards per punt by the player in the game
        ExtraPointsAttempted:
          type:
          - number
          - 'null'
          description: Total extra point kicks attempted by the player in the game
        BlockedKickReturnTouchdowns:
          type:
          - number
          - 'null'
          description: Total blocked kick recovery return touchdowns for the player in the game
        FieldGoalReturnTouchdowns:
          type:
          - number
          - 'null'
          description: 'Total field goal return touchdowns by the player in the game. Note: This field excludes blocked field goals'
        Safeties:
          type:
          - number
          - 'null'
          description: Total defensive safeties scored by the player in the game
        FieldGoalsHadBlocked:
          type:
          - number
          - 'null'
          description: Total field goals by the player that were blocked in the game
        PuntsHadBlocked:
          type:
          - number
          - 'null'
          description: Total punts by the player that were blocked in the game
        ExtraPointsHadBlocked:
          type:
          - number
          - 'null'
          description: Total extra point kick attempts by the player that were blocked in the game
        PuntLong:
          type:
          - number
          - 'null'
          description: The longest punt by the player in the game
        BlockedKickReturnYards:
          type:
          - number
          - 'null'
          description: Total blocked kick recovery return yards for the player in the game
        FieldGoalReturnYards:
          type:
          - number
          - 'null'
          description: 'Total field goal return yards by the player in the game. Note: This field excludes blocked field goals'
        PuntNetYards:
          type:
          - number
          - 'null'
          description: The net yards of the punts by the player in the game
        SpecialTeamsFumblesForced:
          type:
          - number
          - 'null'
          description: This field is deprecated
        SpecialTeamsFumblesRecovered:
          type:
          - number
          - 'null'
          description: This field is deprecated
        MiscFumblesForced:
          type:
          - number
          - 'null'
          description: This field is deprecated
        MiscFumblesRecovered:
          type:
          - number
          - 'null'
          description: This field is deprecated
        ShortName:
          type:
          - string
          - 'null'
          description: The first initial and last name of the player (J. Doe)
        PlayingSurface:
          type:
          - string
          - 'null'
          description: The playing surface of the stadium
        IsGameOver:
          type:
          - boolean
          - 'null'
          description: Whether the game is over (true/false)
        SafetiesAllowed:
          type:
          - number
          - 'null'
          description: This field is deprecated
        Stadium:
          type:
          - string
          - 'null'
          description: Stadium of the event
        Temperature:
          type:
          - integer
          - 'null'
          description: Temperature at game start (Fahrenheit)
        Humidity:
          type:
          - integer
          - 'null'
          description: The humidity percentage at the start of the game
        WindSpeed:
          type:
          - integer
          - 'null'
          description: The wind speed at the start of the game (in MPH)
        FanDuelSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for FanDuel daily fantasy contests.
        DraftKingsSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for DraftKings daily fantasy contests.
        FantasyDataSalary:
          type:
          - integer
          - 'null'
          description: The player's salary as calculated by SportsDataIO (formerly known as FantasyData).  Based on the same salary cap as DraftKings contests ($50,000).
        OffensiveSnapsPlayed:
          type:
          - integer
          - 'null'
          description: 'Total snaps this player played on offense in the game. Note: Snap counts are available the morning after the game.'
        DefensiveSnapsPlayed:
          type:
          - integer
          - 'null'
          description: 'Total snaps this player played on defense in the game. Note: Snap counts are available the morning after the game.'
        SpecialTeamsSnapsPlayed:
          type:
          - integer
          - 'null'
          description: 'Total snaps this player played on special teams in the game. Note: Snap counts are available the morning after the game.'
        OffensiveTeamSnaps:
          type:
          - integer
          - 'null'
          description: 'Total offensive snaps this player''s team played in the game. Note: Snap counts are available the morning after the game.'
        DefensiveTeamSnaps:
          type:
          - integer
          - 'null'
          description: 'Total defensive snaps this player''s team played in the game. Note: Snap counts are available the morning after the game.'
        SpecialTeamsTeamSnaps:
          type:
          - integer
          - 'null'
          description: 'Total special teams snaps this player''s team played in the game. Note: Snap counts are available the morning after the game.'
        VictivSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for Victiv daily fantasy contests.
        TwoPointConversionReturns:
          type:
          - number
          - 'null'
          description: Total successful two point conversion returns by the player in the game
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Fantasy points based on FanDuel's scoring system by the player in the game
        FieldGoalsMade0to19:
          type:
          - number
          - 'null'
          description: Total field goals of 0 to 19 yards made by the player in game
        FieldGoalsMade20to29:
          type:
          - number
          - 'null'
          description: Total field goals of 20 to 29 yards made by the player in game
        FieldGoalsMade30to39:
          type:
          - number
          - 'null'
          description: Total field goals of 30 to 39 yards made by the player in game
        FieldGoalsMade40to49:
          type:
          - number
          - 'null'
          description: Total field goals of 40 to 49 yards made by the player in game
        FieldGoalsMade50Plus:
          type:
          - number
          - 'null'
          description: Total field goals of 50+ yards made by the player in game
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Fantasy points based on DraftKings' scoring system by the player in the game
        YahooSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for Yahoo daily fantasy contests
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Fantasy points based on Yahoo's daily fantasy scoring system by the player in the game
        InjuryStatus:
          type:
          - string
          - 'null'
          description: The player's current injury status; in the form of likelihood that player plays (Probable; Questionable; Doubtful; Out)
        InjuryBodyPart:
          type:
          - string
          - 'null'
          description: The body part that is injured for the player (Knee; Groin; Calf; Hamstring; etc.)
        InjuryStartDate:
          type:
          - string
          - 'null'
          description: The day that the player's injury started or was first discovered
        InjuryNotes:
          type:
          - string
          - 'null'
          description: A brief description of the player's injury and expected availability
        FanDuelPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in FanDuel's daily fantasy sports platform.
        DraftKingsPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in DraftKings' daily fantasy sports platform.
        YahooPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Yahoo's daily fantasy sports platform
        OpponentRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent with regards to fantasy points allowed.
        OpponentPositionRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent by position with regards to fantasy points allowed.
        InjuryPractice:
          type:
          - string
          - 'null'
          description: This field is deprecated
        InjuryPracticeDescription:
          type:
          - string
          - 'null'
          description: This field is deprecated
        DeclaredInactive:
          type: boolean
          description: 'Whether the player has been declared inactive. This value is updated in the hours leading up to game start time; as teams announce their inactive players.  Note: This is only updated for offensive skill position players (QB; RB; WR; TE)'
        FantasyDraftSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for FantasyDraft daily fantasy contests.
        FantasyDraftPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in FantasyDraft's daily fantasy sports platform.
        TeamID:
          type:
          - integer
          - 'null'
          description: 'The unique ID of the team that the player is on. Note: if the player is a free agent; this field is NULL'
        OpponentID:
          type:
          - integer
          - 'null'
          description: The unique ID of this opponent team
        Day:
          type:
          - string
          - 'null'
          description: The date of the game (in US Eastern Time)
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game (in US Eastern Time)
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues
        GlobalOpponentID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this opposing team. This value is guaranteed to be unique across all sports/leagues.
        ScoreID:
          type: integer
          description: Unique ID of the score/game
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: This field is no longer in use and will return null.
        ScoringDetails:
          type: array
          items:
            $ref: '#/components/schemas/ScoringDetail'
          description: The details of the scoring plays this player recorded in the game
        OffensiveFumbleRecoveryTouchdowns:
          type:
          - number
          - 'null'
          description: This field is deprecated
        SnapCountsConfirmed:
          type:
          - boolean
          - 'null'
          description: 'Whether snap count fields are confirmed (true/false). Note: This takes place the morning after the game.'
        Updated:
          type:
          - string
          - 'null'
          description: 'Time of last update (in US Eastern time). Note: this does not indicate that stats changed.'
    FantasyDefenseSeason:
      properties:
        SeasonType:
          type: integer
          description: The type of season that this team corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=All-Star)
        Season:
          type: integer
          description: The NFL regular season for which these totals apply
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        PointsAllowed:
          type: number
          description: Total points allowed by the team during the season
        TouchdownsScored:
          type: number
          description: Total defensive and special teams touchdowns scored by the team in the season
        SoloTackles:
          type: number
          description: Total defensive solo (unassisted) tackles by the team in the season
        AssistedTackles:
          type: number
          description: Total defensive assisted tackles by the team in the season
        Sacks:
          type: number
          description: Total defensive sacks by the team in the season
        SackYards:
          type: number
          description: Total defensive sack yards by the team in the season
        PassesDefended:
          type: number
          description: Total passes defended by the team in the season
        FumblesForced:
          type: number
          description: Total fumbles forced on defense by the team in the season
        FumblesRecovered:
          type: number
          description: Total defensive fumble recoveries by the team in the season
        FumbleReturnYards:
          type: number
          description: Total fumble return yards by the team in the season
        FumbleReturnTouchdowns:
          type: number
          description: Total fumble return touchdowns by the team in the season
        Interceptions:
          type: number
          description: Total defensive interceptions by the team in the season
        InterceptionReturnYards:
          type: number
          description: Total defensive interception return yards by the team in the season
        InterceptionReturnTouchdowns:
          type: number
          description: Total defensive interception return touchdowns by the team in the season
        BlockedKicks:
          type: number
          description: 'Total blocked kicks by the team in the season. Note: BlockedKicks include Field Goals and Punts but NOT Extra Points'
[...]
