openapi: 3.1.0
info:
  title: MLB MLB v3 Headshots NBA v3 Odds API
  version: '1.0'
  description: MLB API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: NBA v3 Odds
paths:
  /v3/nba/odds/{format}/GameOddsByDate/{date}:
    get:
      description: Returns full game odds (spread, moneyline, total) for games on a given date. Only returns the most recently seen odds, not inclusive of line movement.
      operationId: nba_v3_odds_pre_game_odds___by_date
      summary: Pre-Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-06-20</code>, <code>2018-06-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/GameOddsLineMovement/{gameid}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games on a given date. Non-full-game means 1st-half or 1st-quarter, for example, rather than full game. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line.
      operationId: nba_v3_odds_pre_game_odds_line_movement
      summary: Pre-Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NBA game.  GameIDs can be found in the Games API.  Valid entries are <code>12780</code> or <code>12781</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/LiveGameOddsByDate/{date}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games on a given date. Only returns the most recently seen odds, not inclusive of line movement. As this is in-game, it will only return results while the game is in progress.
      operationId: nba_v3_odds_in_game_odds___by_date
      summary: In-Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-06-20</code>, <code>2018-06-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/LiveGameOddsLineMovement/{gameid}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games on a given date. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line.
      operationId: nba_v3_odds_in_game_odds_line_movement
      summary: In-Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NBA game.  GameIDs can be found in the Games API.  Valid entries are <code>12780</code> or <code>12781</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/AlternateMarketGameOddsByDate/{date}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games on a given date. Non-full-game means 1st-half or 1st-quarter, for example, rather than full game. Only returns the most recently seen odds, not inclusive of line movement.
      operationId: nba_v3_odds_period_game_odds___by_date
      summary: Period Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-06-20</code>, <code>2018-06-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/AlternateMarketGameOddsLineMovement/{gameid}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games on a given date. Non-full-game means 1st-half or 1st-quarter, for example, rather than full game. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line.
      operationId: nba_v3_odds_period_game_odds_line_movement
      summary: Period Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NBA game.  GameIDs can be found in the Games API.  Valid entries are <code>12780</code> or <code>12781</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingEventsByDate/{date}:
    get:
      description: The list of current BettingEvents for the given date. Events in this include market information but no outcomes will be included here. Intended to allow both visibility to Events in order to match up Events -> Games via the included GameID (where applicable) as well as provide a list of MarketIDs which are included in the given event.
      operationId: nba_v3_odds_betting_events___by_date
      summary: Betting Events - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2020-02-15</code>, <code>2020-02-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingEvents/{season}:
    get:
      description: Returns the full list of BetttingEvents for the given season. Intended for those who need to tie BettingEventIDs to GameIDs.
      operationId: nba_v3_odds_betting_events___by_season
      summary: Betting Events - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples: <code>2020</code>, <code>2020PRE</code>, <code>2020POST</code>, <code>2020STAR</code>, <code>2021</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingMarkets/{eventId}:
    get:
      description: Returns the markets of all available types (e.g. Player Props, Team Props) and available outcomes for a given BettingEventID.
      operationId: nba_v3_odds_betting_markets___by_event
      summary: Betting Markets - by Event
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets). Valid entries include: <code>134</code>, <code>155</code>, etc.'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingMarket/{marketId}:
    get:
      description: Returns full line movement for a given BettingMarket. Due to the sheer size of the output and the level of detail, it is intended for historical data purposes and not for the most up-to-the-second lines.
      operationId: nba_v3_odds_betting_market
      summary: Betting Market
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: 'The MarketId of the desired market for which to pull all outcomes/bets. Valid entries include: <code>421</code>, <code>1041</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingFuturesBySeason/{season}:
    get:
      description: Returns available Futures outcomes for the given season. Does not include line movement.
      operationId: nba_v3_odds_betting_futures___by_season
      summary: Betting Futures - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season <br>Examples: <code>2020</code>, <code>2021</code>, etc'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingMarketsByMarketType/{eventId}/{marketTypeID}:
    get:
      description: Returns Markets and available outcomes for a given event and market type requested. A lighter call than by BettingEventID as it only includes markets tagged with the specific MarketType, a full list of which is available for each sport in its Betting Metadata endpoint.
      operationId: nba_v3_odds_betting_markets___by_market_type
      summary: Betting Markets - by Market Type
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets). Valid entries include: <code>134</code>, <code>155</code>, etc.'
        required: true
        schema:
          type: string
      - name: marketTypeID
        in: path
        description: 'The Market Type ID of the desired MarketTypes to pull. Some common types include:

          <code>1</code> for `Game Lines`

          <code>2</code> for `Player Props`

          <code>3</code> for `Team Props`

          <code>6</code> for `Game Props`'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingMarketsByGameID/{gameID}:
    get:
      description: Returns the markets of all available types (e.g. Player Props, Team Props) and available outcomes for a given GameID.
      operationId: nba_v3_odds_betting_markets___by_game
      summary: Betting Markets - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameID
        in: path
        description: 'The GameID of the desired game for which to pull all betting markets (includes outcomes/bets). Valid entries include: <code>14814</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/TeamTrends/{team}:
    get:
      description: Describes recent team trends and performance against betting data in recent sets of games.
      operationId: nba_v3_odds_betting_trends___by_team
      summary: Betting Trends - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'The abbreviation of the requested team. <br> Examples: <code>PHI</code>, <code>MIN</code>, <code>DET</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamTrends'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/MatchupTrends/{team}/{opponent}:
    get:
      description: Returns trends data for a given pairing of teams. Will return data even if the teams are not set to play this season. Intended for use on a specific game, though it will work for other comparisons if applicable.
      operationId: nba_v3_odds_betting_trends___by_matchup
      summary: Betting Trends - by Matchup
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'The abbreviation of the requested team. <br> Examples: <code>PHI</code>, <code>MIN</code>, <code>DET</code>, etc.'
        required: true
        schema:
          type: string
      - name: opponent
        in: path
        description: 'The abbreviation of the requested opponent. <br> Examples: <code>PHI</code>, <code>MIN</code>, <code>DET</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchupTrends'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingMetadata:
    get:
      description: Returns the list of MarketTypes, BetTypes, PeriodTypes, OutcomeTypes, and ResultTypes to map the IDs to descriptive names. Also includes a list of the MarketType, BetType & PeriodType combinations which we will have resulting for.
      operationId: nba_v3_odds_betting_metadata
      summary: Betting Metadata
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingEntityMetadataCollection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/ActiveSportsbooks:
    get:
      description: A list of all available sportsbooks with their associated unique IDs.
      operationId: nba_v3_odds_sportsbooks___by_active
      summary: Sportsbooks - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sportsbook'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingMarketResults/{marketId}:
    get:
      description: 'Provide a market ID that supports resulting (i.e. has a ResultType) and this endpoint will return a result: for markets with a ResultType, each line will be graded and it will be determined whether the bet would have won or lost.'
      operationId: nba_v3_odds_betting_results___by_market
      summary: Betting Results - by Market
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: 'The MarketId of the desired market for which to pull all outcomes/bets. Valid entries include: <code>406451</code>, <code>404168</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarketResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingSplitsByMarketId/{marketId}:
    get:
      description: List of Money and Bet Percentage splits for each outcome type available in this market. This specific endpoint will return the movement from this market as well as the most recent.
      operationId: nba_v3_odds_betting_splits___by_betting_market
      summary: Betting Splits - by Betting Market
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: The MarketId of the desired market for which to pull splits. MarketIds are pulled from the Betting Markets endpoints.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarketSplit'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingSplitsByGameId/{gameId}:
    get:
      description: List of Money and Bet Percentage splits for each market and their respective outcome types available in this game. This specific endpoint will return current splits for each available market and no line movement.
      operationId: nba_v3_odds_betting_splits___by_game
      summary: Betting Splits - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameId
        in: path
        description: The ID of the game for which you want to receive splits for. GameIds are pulled from the Schedules and Games by Date endpoints.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameBettingSplit'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingPlayerPropsByGameID/{gameId}:
    get:
      description: This works in the same way as Betting Markets by Market Type but is prefiltered to the Player Props type only. Ideal if your application will only ever require Player Props, but if you also want Team Props etc. it is recommended to use the by Market Type endpoint.
      operationId: nba_v3_odds_betting_player_props___by_game
      summary: Betting Player Props - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameId
        in: path
        description: The unique GameID of the game in question.
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/PreGameOddsByDate/{date}/{sportsbookgroup}:
    get:
      description: Returns the full-game and non-full-game odds (spread, moneyline, total) for games in a given week and season. Only returns the most recently seen odds, not inclusive of line movement. A Sportsbook Group must be specified as a URL parameter.
      operationId: nba_v3_odds_pre_game_and_period_game_odds___by_date__sportsbook_group
      summary: Pre-Game and Period Game Odds - by Date [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-06-20</code>, <code>2018-06-23</code>.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/PreGameOddsLineMovement/{gameid}/{sportsbookgroup}:
    get:
      description: Returns the game odds ( for games on a given date. In this endpoint both full-game and partial-game odds are included. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line. A Sportsbook Group must be specified as a URL parameter.
      operationId: nba_v3_odds_pre_game_and_period_game_odds_line_movement__sportsbook_group
      summary: Pre-Game and Period Game Odds Line Movement [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NBA game.  GameIDs can be found in the Games API.  Valid entries are <code>12780</code> or <code>12781</code>
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/InGameOddsByDate/{date}/{sportsbookgroup}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games on a given date. Only returns the most recently seen odds, not inclusive of line movement. As this is in-game, it will only return results while the game is in progress. A Sportsbook Group must be specified as a URL parameter.
      operationId: nba_v3_odds_in_game_odds___by_date__sportsbook_group
      summary: In-Game Odds - by Date [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-06-20</code>, <code>2018-06-23</code>.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/InGameLineMovement/{gameid}/{sportsbookgroup}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games on a given date. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line. A Sportsbook Group must be specified as a URL parameter.
      operationId: nba_v3_odds_in_game_odds_line_movement__sportsbook_group
      summary: In-Game Odds Line Movement [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NBA game.  GameIDs can be found in the Games API.  Valid entries are <code>12780</code> or <code>12781</code>
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingPlayerPropsByGameID/{gameId}/{sportsbookgroup}:
    get:
      description: This works in the same way as Betting Markets by Market Type but is prefiltered to the Player Props type only. Ideal if your application will only ever require Player Props, but if you also want Team Props etc. it is recommended to use the by Market Type endpoint. A Sportsbook Group must be specified as a URL parameter.
      operationId: nba_v3_odds_betting_player_props___by_game__sportsbook_group
      summary: Betting Player Props - by Game [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameId
        in: path
        description: The unique GameID of the game in question.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingMarketsByMarketType/{eventId}/{marketTypeID}/{sportsbookgroup}:
    get:
      description: Returns Markets and available outcomes for a given event and market type requested. A lighter call than by BettingEventID as it only includes markets tagged with the specific MarketType, a full list of which is available for each sport in its Betting Metadata endpoint. A Sportsbook Group must be specified as a URL parameter.
      operationId: nba_v3_odds_betting_markets___by_market_type__sportsbook_group
      summary: Betting Markets - by Market Type [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets). Valid entries include: <code>134</code>, <code>155</code>, etc.'
        required: true
        schema:
          type: string
      - name: marketTypeID
        in: path
        description: 'The Market Type ID of the desired MarketTypes to pull. Some common types include:

          <code>1</code> for `Game Lines`

          <code>2</code> for `Player Props`

          <code>3</code> for `Team Props`

          <code>6</code> for `Game Props`'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingMarketsByGameID/{gameID}/{sportsbookgroup}:
    get:
      description: Returns the markets of all available types (e.g. Player Props, Team Props) and available outcomes for a given GameID. A Sportsbook Group must be specified as a URL parameter.
      operationId: nba_v3_odds_betting_markets___by_game__sportsbook_group
      summary: Betting Markets - by Game [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameID
        in: path
        description: 'The GameID of the desired game for which to pull all betting markets (includes outcomes/bets). Valid entries include: <code>14814</code>'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingMarketsByEvent/{eventId}/{sportsbookgroup}:
    get:
      description: Returns the markets and available outcomes for a given BettingEventID.
      operationId: nba_v3_odds_betting_markets___by_event__sportsbook_group
      summary: Betting Markets - by Event [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets). Valid entries include: <code>134</code>, <code>155</code>, etc.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingMarket/{marketId}/{sportsbookgroup}:
    get:
      description: Returns full line movement for a given BettingMarket. Due to the sheer size of the output and the level of detail, it is intended for historical data purposes and not for the most up-to-the-second lines. A Sportsbook Group must be specified as a URL parameter.
      operationId: nba_v3_odds_betting_market__sportsbook_group
      summary: Betting Market [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: 'The MarketId of the desired market for which to pull all outcomes/bets. Valid entries include: <code>421</code>, <code>1041</code>, etc.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingResultsByMarket/{marketId}/{sportsbookgroup}:
    get:
      description: 'Provide a market ID that supports resulting (i.e. has a ResultType) and this endpoint will return a result: for markets with a ResultType, each line will be graded and it will be determined whether the bet would have won or lost. A Sportsbook Group must be specified as a URL parameter.'
      operationId: nba_v3_odds_betting_results___by_market__sportsbook_group
      summary: Betting Results - by Market [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: 'The MarketId of the desired market for which to pull all outcomes/bets. Valid entries include: <code>406451</code>, <code>404168</code>, etc.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarketResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/BettingFuturesBySeason/{season}/{sportsbookgroup}:
    get:
      description: Returns available Futures markets for the given season. Does not include line movement. A Sportsbook Group must be specified as a URL parameter.
      operationId: nba_v3_odds_betting_futures___by_season__sportsbook_group
      summary: Betting Futures - by Season [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season <br>Examples: <code>2020</code>, <code>2021</code>, etc'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/InGameLineMovementWithResulting/{gameid}/{sportsbookgroup}:
    get:
      description: 'Returns in-play game odds (spread, moneyline, total) for games on a given date. This also includes Resulting: for markets with a ResultType, each line will be graded and it will be determined whether the bet would have won or lost. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line. A Sportsbook Group must be specified as a URL parameter.'
      operationId: nba_v3_odds_in_game_odds_line_movement_with_resulting__sportsbook_group
      summary: In-Game Odds Line Movement with Resulting [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NBA game.  GameIDs can be found in the Games API.  Valid entries are <code>12780</code> or <code>12781</code>
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfoResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
  /v3/nba/odds/{format}/PreGameOddsLineMovementWithResulting/{gameid}/{sportsbookgroup}:
    get:
      description: 'Returns the game odds ( for games on a given date. In this endpoint both full-game and partial-game odds are included. This also includes Resulting: for markets with a ResultType, each line will be graded and it will be determined whether the bet would have won or lost. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line. A Sportsbook Group must be specified as a URL parameter.'
      operationId: nba_v3_odds_pre_game_and_period_game_odds_line_movement_with_resulting__sportsbook_group
      summary: Pre-Game and Period Game Odds Line Movement with Resulting [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NBA game.  GameIDs can be found in the Games API.  Valid entries are <code>12780</code> or <code>12781</code>
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfoResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Odds
components:
  schemas:
    BettingEntityMetadataCollection:
      properties:
        BettingBetTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: The list of the bet types that can be found within a market
        BettingMarketTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible Market Types within a Betting Event (e.g. Game Line, Team prop, Player Future, etc.)
        BettingPeriodTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible BettingPeriodTypes (e.g. Full Game; Regulation Time; 1st Half)
        BettingEventTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible BettingEventTypes (e.g. Game; Future)
        BettingOutcomeTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible BettingOutcomeTypes (e.g. Home; Away; Under; Over)
        ResultedMarketMetaData:
          type: array
          items:
            $ref: '#/components/schemas/BettingResultingMetadata'
          description: A list of the combinations of MarketType; BetType; & PeriodType which we willl provide automated resulting for
        BettingResultTypes:
          type: array
          items:
            $ref: '#/components/schemas/BettingEntityMetadata'
          description: A list of the possible BettingResultTypes (e.g. Win; Loss; Push; Not Resulted; Incomplete)
    BettingOutcomeResult:
      properties:
        BettingOutcomeID:
          type: integer
          description: The unique ID associated with this specific outcome
        BettingResultTypeID:
          type:
          - integer
          - 'null'
          description: The BettingResultType of this outcome
        BettingResultType:
          type:
          - string
          - 'null'
          description: The string identifier of the BettingResultType of this outcome (e.g. Won, Lost, Push, Not Resulted, Incomplete)
        BettingOutcomeTypeID:
          type:
          - integer
          - 'null'
          description: The BettingOutcomeTypeID of this outcome
        BettingOutcomeType:
          type:
          - string
          - 'null'
          description: The name of outcome type (e.g. Home; Away; Under; Over)
        BetValue:
          type:
          - number
          - 'null'
          description: The offered betting line from a sportsbook for a game (i.e. If a team won a game by 5 and the spread was -6.5, the actual value would be 5 and the bet value would be -6.5)
        ActualValue:
          type:
          - number
          - 'null'
          description: The value of the actual result that occurred in game (i.e. If a team won a game by 5 and the spread was -6.5, the actual value would be 5 and the bet value would be -6.5)
    MatchupTrends:
      properties:
        UpcomingGame:
          $ref: '#/components/schemas/Game'
          description: Next scheduled game for the team with a specified opposing team
        TeamTrends:
          type: array
          items:
            $ref: '#/components/schemas/TeamTrends'
          description: The collection of team trends between each team
        TeamMatchupTrends:
          type: array
          items:
            $ref: '#/components/schemas/TeamGameTrends'
          description: The collection of team game trends against opponent
        OpponentMatchupTrends:
          type: array
          items:
            $ref: '#/components/schemas/TeamGameTrends'
          description: The collection of opponent game trends against team
        PreviousGames:
          type: array
          items:
            $ref: '#/components/schemas/Game'
          description: The collection of last 10 game scores between each team
    Game:
      properties:
        GameID:
          type: integer
          description: The unique ID of this game
        Season:
          type: integer
          description: The NBA season of the game
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition)
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled, InProgress, Final, F/OT, Suspended, Postponed, Delayed, Canceled, Forfeit, NotNecessary'
        Day:
          type:
          - string
          - 'null'
          description: The date of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        AwayTeamID:
          type: integer
          description: The unique ID of the away team
        HomeTeamID:
          type: integer
          description: The unique ID of the home team
        StadiumID:
          type:
          - integer
          - 'null'
          description: The unique ID of the stadium
        Channel:
          type:
          - string
          - 'null'
          description: The television station broadcasting the game
        Attendance:
          type:
          - integer
          - 'null'
          description: The total number of people in attendance at the game
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of points the away team scored in the game
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of points the home team scored in this game
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when this game was last updated (in US Eastern Time)
        Quarter:
          type:
          - string
          - 'null'
          description: 'The current quarter in the game. Possible values include: 1, 2, 3, 4, Half, OT, NULL'
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: The number of minutes remaining in the quarter
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: The number of seconds remaining in the quarter
        PointSpread:
          type:
          - number
          - 'null'
          description: The oddsmaker Point Spread at game start from the perspective of the HomeTeam (negative numbers indicate the HomeTeam is favored; positive numbers indicate the AwayTeam is favored)
        OverUnder:
          type:
          - number
          - 'null'
          description: The sportsbook's total points scored over under for the game
        AwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Money line from the perspective of the away team
        HomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Money line from the perspective of the home team
        GlobalGameID:
          type: integer
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalAwayTeamID:
          type: integer
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues.
        GlobalHomeTeamID:
          type: integer
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues.
        PointSpreadAwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The money line payout odds when betting on the away team with the point spread.
        PointSpreadHomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The money line payout odds when betting on the away team with the point spread.
        LastPlay:
          type:
          - string
          - 'null'
          description: The description of the most recent play/event of the game. This is for display purposes and does not include corresponding data points.
        IsClosed:
          type: boolean
          description: 'Indicates whether the game is over and the final score has been verified and closed out. Note: it is recommend for bet resulting to use IsClosed = True rather than simply Final game status'
        Quarters:
          type: array
          items:
            $ref: '#/components/schemas/Quarter'
          description: The details of the quarters (including overtime periods) for this game.
        GameEndDateTime:
          type:
          - string
          - 'null'
          description: The date and time that the game ended (in US Eastern Time)
        HomeRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the home team for this game
        AwayRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the away team for this game
        NeutralVenue:
          type:
          - boolean
          - 'null'
          description: Indicates whether this game is played in a neutral venue
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the over on the total points line
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under on the total points line
        CrewChiefID:
          type:
          - integer
          - 'null'
          description: Unique ID of officiating Crew Chief
        UmpireID:
          type:
          - integer
          - 'null'
          description: Unique ID of officiating Umpire referee
        RefereeID:
          type:
          - integer
          - 'null'
          description: Unique ID of officiating referee
        AlternateID:
          type:
          - integer
          - 'null'
          description: Unique ID of officiating Alternate referee
        DateTimeUTC:
          type:
          - string
          - 'null'
          description: The date and time of the game in UTC
        SeriesInfo:
          $ref: '#/components/schemas/Series'
          description: Contains relevant series data for playoff series only - HomeTeamWins, AwayTeamWins, GameNumber, and MaxLength
        InseasonTournament:
          type:
          - boolean
          - 'null'
          description: A flag to indicate this game is part of the inseason NBA tournament (can be considered a part of regular season still) - a null would also indicate false
        RescheduledFromGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the originally scheduled, postponed game, that this game was rescheduled from. This only pertains to games that are scheduled as "make up" games.
        RescheduledGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the game that was rescheduled from this game. This only pertains to postponed games that require rescheduling.
    Sportsbook:
      properties:
        SportsbookID:
          type: integer
          description: The unique identifier of the sportsbook
        Name:
          type:
          - string
          - 'null'
          description: The name of the sportsbooks
    Series:
      properties:
        HomeTeamWins:
          type: integer
          description: Total number of wins by the home team in the series
        AwayTeamWins:
          type: integer
          description: Total wins in the series by the away team
        GameNumber:
          type: integer
          description: The game number in the series
        MaxLength:
          type: integer
          description: The maximum number of games that can be played in a series
    BettingResultingMetadata:
      properties:
        BettingMarketTypeId:
          type: integer
          description: The unique ID that distinguishes the different types of Market Types
        BettingBetTypeId:
          type: integer
          description: The ID associated with the name of the bet type within a market
        BettingPeriodTypeId:
          type: integer
          description: The BettingPeriodTypeID of this type of market which we can result
    TeamTrends:
      properties:
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        UpcomingGame:
          $ref: '#/components/schemas/Game'
          description: Next scheduled game for the team
        TeamGameTrends:
          type: array
          items:
            $ref: '#/components/schemas/TeamGameTrends'
          description: The collection of Game Trends for this team
    Unauthorized:
      properties:
        HttpStatusCode:
          type: integer
        Code:
          type: integer
        Description:
          type: string
        Help:
          type: string
    TeamGameTrends:
      properties:
        Scope:
          type:
          - string
          - 'null'
          description: The type of Trend (e.g. Last 5 games; Last 10 games; Last 5 home games; etc.)
        TeamID:
          type: integer
          description: The unique ID of the team
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        OpponentID:
          type:
          - integer
          - 'null'
          description: The TeamID of the opponent team
        Opponent:
          type:
          - string
          - 'null'
          description: Abbreviation [Key] of the opponent team (e.g. LAL; PHI; BOS; CHI; etc.)
        Wins:
          type: integer
          description: 'The total number of wins by the team relating to the scope. Examples of scopes include: Last 3 Games, Last 5 Home Games, Last 10 Games as Favorite, etc.'
        Losses:
          type: integer
          description: 'The total number of losses by the team relating to the scope. Examples of scopes include: Last 3 Games, Last 5 Home Games, Last 10 Games as Favorite, etc..'
        Ties:
          type: integer
          description: 'The total number of ties by the team relating to the scope. Examples of scopes include: Last 3 Games, Last 5 Home Games, Last 10 Games as Favorite, etc.'
        WinsAgainstTheSpread:
          type:
          - integer
          - 'null'
          description: 'How many games the given team has covered the spread in relating to the scope of the search. Examples of scopes include: Last 3 Games, Last 5 Home Games, Last 10 Games as Favorite, etc.'
        LossesAgainstTheSpread:
          type:
          - integer
          - 'null'
          description: 'The total number of losses against the point spread by the team relating to the scope. Examples of scopes include: Last 3 Games, Last 5 Home Games, Last 10 Games as Favorite, etc.'
        PushesAgainstTheSpread:
          type:
          - integer
          - 'null'
          description: 'Pushes against the spread relating to the scope. Examples of scopes include: Last 3 Games, Last 5 Home Games, Last 10 Games as Favorite, etc.'
        Overs:
          type:
          - integer
          - 'null'
          description: Amount of times the total score goes over the total points line
        Unders:
          type:
          - integer
          - 'null'
          description: Amount of times the total score goes under the total points line
        OverUnderPushes:
          type:
          - integer
          - 'null'
          description: Amount of times the total score pushes the total points line
        AverageScore:
          type:
          - number
          - 'null'
          description: The average points per game scored by the given team over a certain scope (Last 3 Games, Last 5 Games, Last 10 Games, etc.)
        AverageOpponentScore:
          type:
          - number
          - 'null'
          description: The average points per game scored by the opposing teams of a given team over a certain scope (Last 3 Games, Last 5 Games, Last 10 Games, etc.)
    BettingSplit:
      properties:
        BettingMarketSplitID:
          type: integer
          description: The unique ID assciated with the betting split
        BettingMarketID:
          type: integer
          description: The unique ID associated with the betting market
        BettingOutcomeTypeID:
          type:
          - integer
          - 'null'
          description: The BettingOutcomeTypeID of this outcome
        BettingOutcomeType:
          type:
          - string
          - 'null'
          description: The name of outcome type (e.g. Home; Away; Under; Over)
        BetPercentage:
          type:
          - integer
          - 'null'
          description: Percentage of bets placed on a specific outcome
        MoneyPercentage:
          type:
          - integer
          - 'null'
          description: Percent of Money on this Outcome
        Created:
          type:
          - string
          - 'null'
          description: The date and time when this betting split was first seen (in US Eastern Time)
        LastSeen:
          type:
          - string
          - 'null'
          description: When this split was last updated
    GameInfoResult:
      properties:
        GameID:
          type: integer
          description: The unique ID of the game.
        Season:
          type: integer
          description: The NBA season of the game
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition)
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled, InProgress, Final, F/OT, Suspended, Postponed, Delayed, Canceled, Forfeit'
        AwayTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the away team
        HomeTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the home team
        AwayTeamName:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        HomeTeamName:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        GlobalGameID:
          type: integer
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalAwayTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues.
        GlobalHomeTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues.
        PregameOdds:
          type: array
          items:
            $ref: '#/components/schemas/GameOddResult'
          description: List of Pregame GameOdds from different sportsbooks with results
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: Total points scored by the home team in the game (updated after the game ends to allow for resolving bets)
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of points the away team scored in the game (updated after game ends to allow for resolving bets)
        TotalScore:
          type:
          - integer
          - 'null'
          description: The total amount of points scored in the game by both teams. Updated after the game ends to allow for resulting bets
        HomeRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the home team for this game
        AwayRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the away team for this game
        AlternateMarketPregameOdds:
          type: array
          items:
            $ref: '#/components/schemas/GameOddResult'
          description: A list of Alternate Market Pregame GameOdds from different sportsbooks (such as 1st-half; 1st-qtr; etc)
        Quarter:
          type:
          - string
          - 'null'
          description: 'The current quarter in the game. Possible values include: 1, 2, 3, 4, Half, OT, NULL'
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: The number of minutes remaining in the quarter
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: The number of seconds remaining in the quarter
        Quarters:
          type: array
          items:
            $ref: '#/components/schemas/Quarter'
          description: The details of the quarters (including overtime periods) for this game.
        IsClosed:
          type: boolean
          description: 'Indicates whether the game is over and the final score has been verified and closed out. Note: it is recommend for bet resulting to use IsClosed = True rather than simply Final game status'
        LiveOdds:
          type: array
          items:
            $ref: '#/components/schemas/GameOddResult'
          description: List of Live Odds from different sportsbooks with results
    Quarter:
      properties:
        QuarterID:
          type: integer
          description: Unique identifier for each Quarter.
        GameID:
          type: integer
          description: The unique ID of the game associated with this quarter
        Number:
          type: integer
          description: The Number (Order) of the Quarter in the scope of the Game.
        Name:
          type:
          - string
          - 'null'
          description: 'The Name of the Quarter (possible values: 1, 2, 3, 4, OT, OT2, OT3, etc)'
        AwayScore:
          type:
          - integer
          - 'null'
          description: The total points scored by the away team in the given period only
        HomeScore:
          type:
          - integer
          - 'null'
          description: The total points scored by the home team in the given period only
    ConsensusOutcome:
      properties:
        NumberOfSportsbooks:
          type: integer
          description: The number of sportsbooks odds that went into creating this consensus outcome
        BettingOutcomeID:
          type:
          - integer
          - 'null'
          description: The unique ID associated with this specific outcome
        BettingMarketID:
          type:
          - integer
          - 'null'
          description: The unique ID associated with the betting market
        SportsBook:
          $ref: '#/components/schemas/Sportsbook'
          description: The sportsbook offering this outcome for betting
        BettingOutcomeTypeID:
          type:
          - integer
          - 'null'
          description: The BettingOutcomeTypeID of this outcome
        BettingOutcomeType:
          type:
          - string
          - 'null'
          description: The name of outcome type (e.g. Home; Away; Under; Over)
        PayoutAmerican:
          type:
          - integer
          - 'null'
          description: 'The american odds payout '
        PayoutDecimal:
          type:
          - number
          - 'null'
          description: The decimal odds payout
        Value:
          type:
          - number
          - 'null'
          description: The number associated with the outcome of a market (e.g. the spread, game total, etc.)
        Participant:
          type:
          - string
          - 'null'
          description: 'The name of the participant (typically team or player) associated with the outcome. NOTE: this is provided by the sportsbook. In the case of Player odds, we highly recommend using PlayerID as names of players can be inconsistent between sportsbooks.'
        IsAvailable:
          type:
          - boolean
          - 'null'
          description: Indicates whether a BettingOutcome is available for betting or not
        IsAlternate:
          type:
          - boolean
          - 'null'
          description: Is this an alternate value or the core value
        Created:
          type:
          - string
          - 'null'
          description: The date and time when this betting outcome was created (in US Eastern Time)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of the last time this betting outcome was updated (in US Eastern Time)
        Unlisted:
          type:
          - string
          - 'null'
          description: The timestamp of when these odds were first made unavailable to be bet on any further (in US Eastern Time)
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team tied to this outcome (if applicable)
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO (where applicable). Note: this ID will stay with the player throughout their entire career'
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team (where applicable). This value is guaranteed to be unique across all sports/leagues.
        SportsbookUrl:
          type:
          - string
          - 'null'
          description: The URL for sportsbook event
        IsInPlay:
          type:
          - boolean
          - 'null'
          description: Was this outcome created after the start time of the game (only applies when the betting event is of type game)
        SportsbookMarketID:
          type:
          - string
          - 'null'
          description: The market ID on the given sportsbook for deeplinking (when available)
        SportsbookOutcomeID:
          type:
          - string
          - 'null'
          description: The outcome ID on the given sportsbook for deeplinking (when available)
    BettingEntityMetadata:
      properties:
        RecordId:
          type: integer
          description: The ID of the record. Unique only within the same entity type (i.e. BettingMarketType IDs overlap with BettingBetType IDs)
        Name:
          type:
          - string
          - 'null'
          description: A text value for the record (e.g. Moneyline; Player Prop; 3rd Quarter)
        Active:
          type:
          - boolean
          - 'null'
          description: 'Whether or not this market is currently is use. Note: Active = True & Inactive = False'
    GameBettingSplit:
      properties:
        GameID:
          type: integer
          description: The unique ID of the game associated with this GameBettingSplit
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition)
        Season:
          type: integer
          description: The NBA season of the game
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        BettingMarketSplits:
          type: array
          items:
            $ref: '#/components/schemas/BettingMarketSplit'
          description: Shows the BettingMarketSplits included in a given game
    GameOdd:
      properties:
        GameOddId:
          type: integer
          description: The unique ID of this odd
        Sportsbook:
          type:
          - string
          - 'null'
          description: Name of sportsbook
        GameId:
          type: integer
          description: The unique ID of the game associated with this GameOdd
        Created:
          type:
          - string
          - 'null'
          description: The timestamp of when these odds were first created (in US Eastern Time)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when these odds were last updated (US Eastern Time). If these are the latest odds for this game; and they have not been updated within the last few minutes; then it indicates that there were problems connecting to the sportsbook
        HomeMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's money line for the home team
        AwayMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's money line for the away team
        HomePointSpread:
          type:
          - number
          - 'null'
          description: The sportsbook's point spread for the home team
        AwayPointSpread:
          type:
          - number
          - 'null'
          description: The sportsbook's point spread for the away team
        HomePointSpreadPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's point spread payout for the home team
        AwayPointSpreadPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's point spread payout for the away team
        OverUnder:
          type:
          - number
          - 'null'
          description: The sportsbook's total points scored over under for the game
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the over
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under
        SportsbookId:
          type:
          - integer
          - 'null'
          description: Unique ID of the Sportsbook
        OddType:
          type:
          - string
          - 'null'
          description: 'The market type of the odd (ex: live, pregame, 1st-half, 2nd-quarter)'
        SportsbookUrl:
          type:
          - string
          - 'null'
          description: The URL for sportsbook event
        Unlisted:
          type:
          - string
          - 'null'
          description: The timestamp of when these odds were first made unavailable to be bet on any further (in US Eastern Time)
    BettingOutcome:
      properties:
        BettingOutcomeID:
          type:
          - integer
          - 'null'
          description: The unique ID associated with this specific outcome
        BettingMarketID:
          type:
          - integer
          - 'null'
          description: The unique ID associated with the betting market
        SportsBook:
          $ref: '#/components/schemas/Sportsbook'
          description: The sportsbook offering this outcome for betting
        BettingOutcomeTypeID:
          type:
          - integer
          - 'null'
          description: The BettingOutcomeTypeID of this outcome
        BettingOutcomeType:
          type:
          - string
          - 'null'
          description: The name of outcome type (e.g. Home; Away; Under; Over)
        PayoutAmerican:
          type:
          - integer
          - 'null'
          description: 'The american odds payout '
        PayoutDecimal:
          type:
          - number
          - 'null'
          description: The decimal odds payout
        Value:
          type:
          - number
          - 'null'
          description: The number associated with the outcome of a market (e.g. the spread, game total, etc.)
        Participant:
          type:
          - string
          - 'null'
          description: 'The name of the participant (typically team or player) associated with the outcome. NOTE: this is provided by the sportsbook. In the case of Player odds, we highly recommend using PlayerID as names of players can be inconsistent between sportsbooks.'
        IsAvailable:
          type:
          - boolean
          - 'null'
          description: Indicates whether a BettingOutcome is available for betting or not
        IsAlternate:
          type:
          - boolean
          - 'null'
          description: Is this an alternate value or the core value
        Created:
          type:
          - string
          - 'null'
          description: The date and time when this betting outcome was created (in US Eastern Time)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of the last time this betting outcome was updated (in US Eastern Time)
        Unlisted:
          type:
          - string
          - 'null'
          description: The timestamp of when these odds were first made unavailable to be bet on any further (in US Eastern Time)
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team tied to this outcome (if applicable)
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO (where applicable). Note: this ID will stay with the player throughout their entire career'
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team (where applicable). This value is guaranteed to be unique across all sports/leagues.
        SportsbookUrl:
          type:
          - string
          - 'null'
          description: The URL for sportsbook event
        IsInPlay:
          type:
          - boolean
          - 'null'
          description: Was this outcome created after the start time of the game (only applies when the betting event is of type game)
        SportsbookMarketID:
          type:
          - string
          - 'null'
          description: The market ID on the given sportsbook for deeplinking (when available)
        SportsbookOutcomeID:
          type:
          - string
          - 'null'
          description: The outcome ID on the given sportsbook for deeplinking (when available)
    BettingEvent:
      properties:
        BettingEventID:
          type: integer
          description: The unique ID associated with the betting event
        Name:
          type:
          - string
          - 'null'
          description: The name of this betting event
        Season:
          type:
          - integer
          - 'null'
          description: The NBA season of the BettingEvent
        BettingEventTypeID:
          type: integer
          description: The ID associated with the type of betting event
        BettingEventType:
          type:
          - string
          - 'null'
          description: Indicates the type of betting event - Game or Future
        StartDate:
          type:
          - string
          - 'null'
          description: The furthest forward time any sportsbook has an event or market set to start for this betting event
        Created:
          type:
          - string
          - 'null'
          description: The date and time when this betting event was created (in US Eastern Time)
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of the last time this betting event was updated (in US Eastern Time)
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of the game associated with this BettingEvent
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: The GlobalGameID of the game tied to this event
        GameStatus:
          type:
          - string
          - 'null'
          description: The status of the game in tied to this event
        Quarter:
          type:
          - string
          - 'null'
          description: 'The current quarter in the game tied to this betting event. Possible values include: 1; 2; 3; 4; Half; OT; NULL'
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team tied to the event
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        AwayTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the away team tied to the event
        HomeTeamID:
          type:
          - integer
          - 'null'
[...]
