openapi: 3.1.0
info:
  title: NHL API
  version: '1.0'
  description: NHL API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
paths:
  /v3/nhl/scores/{format}/Players:
    get:
      description: Full player bio and details, including injury notes, for all active
        players.
      operationId: nhl_v3_scores_player_details___by_active
      summary: Player Details - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/teams:
    get:
      description: 'Full team information: team name and city, conference and division,
        and colors. Also contains basic fantasy info such as IDs as well as full stadium
        data. This endpoint returns the teams currently active in the league.'
      operationId: nhl_v3_scores_team_profiles___by_active
      summary: Team Profiles - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: nhl_v3_scores_are_games_in_progress
      summary: Are Games In Progress
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/FreeAgents:
    get:
      description: Full player bio and details, including injury notes, for all available
        free agents unattached to a team.
      operationId: nhl_v3_scores_player_details___by_free_agents
      summary: Player Details - by Free Agents
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/GamesByDate/{date}:
    get:
      description: Full scores and gameday info delivered live and post-game. Live
        data includes half and score info. Gameday info includes TV channel etc
      operationId: nhl_v3_scores_games___by_date__live___final
      summary: Games - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/Games/{season}:
    get:
      description: Home and away teams, date and time, season type and week etc. are
        included. Also includes gameday information. This includes full stadium information
        (capacity, lat/long, surface etc.), top-line betting information (spread,
        moneyline, total), weather conditions, and broadcast information.
      operationId: nhl_v3_scores_schedules
      summary: Schedules
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples:
          <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,
          <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/News:
    get:
      description: Basic RotoBaller news feed, with limited stories available.
      operationId: nhl_v3_scores_news
      summary: News
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/NewsByDate/{date}:
    get:
      description: Basic RotoBaller news feed, with limited stories available, called
        by date.
      operationId: nhl_v3_scores_news___by_date
      summary: News - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the news.\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/NewsByPlayerID/{playerid}:
    get:
      description: Basic RotoBaller news feed, with limited stories available, called
        by player.
      operationId: nhl_v3_scores_news___by_player
      summary: News - by Player
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: playerid
        in: path
        description: "Unique FantasyData Player ID.\n Example:<code>10000507</code>.\n\
          \ "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/Players/{team}:
    get:
      description: Full player bio and details, including injury notes, for all players
        on a given team.
      operationId: nhl_v3_scores_players_details___by_team
      summary: Players Details - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: "The abbreviation of the requested team.\n <br>Examples: <code>SF</code>,\
          \ <code>NYY</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/Stadiums:
    get:
      description: Returns all stadiums in the league with capacity, surface, latitude/longitude,
        city and state (and where applicable country.)
      operationId: nhl_v3_scores_stadiums
      summary: Stadiums
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Stadium'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/TeamGameStatsByDate/{date}:
    get:
      description: Returns the box score statistical record team-wide (aggregated
        from all players) for all games on a given date, both live and post-game.
      operationId: nhl_v3_scores_team_game_stats___by_date__live___final
      summary: Team Game Stats - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/TeamSeasonStats/{season}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each
        individual game record) for all teams (aggregated from all players) for a
        given season.
      operationId: nhl_v3_scores_team_season_stats
      summary: Team Season Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n\
          \ "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/CurrentSeason:
    get:
      description: Year of the current season. This value changes at the start of
        the new league year. For leagues that run over two years, this is the year
        the season starts, not ends.
      operationId: nhl_v3_scores_season___current
      summary: Season - Current
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/Standings/{season}:
    get:
      description: Includes regular season standings in division and conference, from
        which postseason seeding can be derived.
      operationId: nhl_v3_scores_standings
      summary: Standings
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n\
          \ "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Standing'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/AllTeams:
    get:
      description: 'Full team information: team name and city, conference and division,
        and colors. Also contains basic fantasy info such as IDs as well as full stadium
        data. This endpoint returns all teams regardless of current active status.'
      operationId: nhl_v3_scores_team_profiles___all
      summary: Team Profiles - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Game-by-game log of total team statistics for a given season, split
        up by game (not aggregated into season totals.)
      operationId: nhl_v3_scores_team_game_logs___by_season
      summary: Team Game Logs - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: Season to get games from. Example <code>2019POST</code>, <code>2020</code>
        required: true
        schema:
          type: string
      - name: teamid
        in: path
        description: Unique ID of team.  Example <code> 8 </code>
        required: true
        schema:
          type: string
      - name: numberofgames
        in: path
        description: How many games to return. Example <code>all</code>, <code>10</code>,
          <code>25</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/SchedulesBasic/{season}:
    get:
      description: A lightweight schedule endpoint without gameday information. Home
        and away teams, the date and time of the game, and season type, week etc.
        are included. Ideal for the most basic information required to build a schedule.
      operationId: nhl_v3_scores_schedules__basic
      summary: Schedules (Basic)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples:
          <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,
          <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/ScoresBasic/{date}:
    get:
      description: This endpoint simply delivers period, clock, period score and total
        score live; no gameday info is included.
      operationId: nhl_v3_scores_games__basic____by_date__live___final
      summary: Games (Basic) - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/PlayersBasic/{team}:
    get:
      description: Roster information for a given team. Player profiles include basic
        biographical information, position, college, and current team (if attached
        to a team.) Specify a team tricode parameter to receive all players currently
        on that team.
      operationId: nhl_v3_scores_players_profiles___by_team
      summary: Players Profiles - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: "The abbreviation of the requested team.\n <br>Examples: <code>SF</code>,\
          \ <code>NYY</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/PlayersByActive:
    get:
      description: Full player bio and details, including injury notes, for all active
        players.
      operationId: nhl_v3_scores_player_details___by_active2
      summary: Player Details - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/PlayersByFreeAgents:
    get:
      description: Full player bio and details, including injury notes, for all available
        free agents unattached to a team.
      operationId: nhl_v3_scores_player_details___by_free_agents2
      summary: Player Details - by Free Agents
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/GoalieDepthCharts:
    get:
      description: Returns the full list of NHL Goalies by Team organized into Depth
        Charts.
      operationId: nhl_v3_scores_depth_charts___goalies
      summary: Depth Charts - Goalies
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGoalieDepthChart'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/TransactionsByDate/{date}:
    get:
      description: Transactions, such as injuries and assignments and trades, are
        organized here by date.
      operationId: nhl_v3_scores_transactions
      summary: Transactions
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the news.\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/teams/{season}:
    get:
      description: 'Full team information: team name and city, conference and division,
        and colors. Also contains basic fantasy info such as IDs as well as full stadium
        data. This endpoint returns the active teams for a given season.'
      operationId: nhl_v3_scores_team_profiles___by_season
      summary: Team Profiles - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/GamesByDateFinal/{date}:
    get:
      description: Full scores and gameday info, including weather, referee, infotainment
        odds, as well as all of the period scores and full-time score, delivered as
        the game ends.
      operationId: nhl_v3_scores_games___by_date__final
      summary: Games - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/ScoresBasicFinal/{date}:
    get:
      description: A slimmed-down score endpoint, giving just the period scores and
        final score, for simple applications.
      operationId: nhl_v3_scores_games__basic____by_date__final
      summary: Games (Basic) - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/scores/{format}/Referees:
    get:
      description: Returns the full list of NHL Referees.
      operationId: nhl_v3_scores_referees
      summary: Referees
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Referee'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Scores
  /v3/nhl/projections/{format}/PlayerGameProjectionStatsByDate/{date}:
    get:
      description: SportsDataIO's proprietary projections, including DFS salary information
        and injuries, for fantasy players, called by date.
      operationId: nhl_v3_projections_projected_player_game_stats___by_date
      summary: Projected Player Game Stats - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Projections
  /v3/nhl/projections/{format}/DfsSlatesByDate/{date}:
    get:
      description: Returns DFS Slates which have not yet started, with their player
        and salary information.
      operationId: nhl_v3_projections_dfs_slates___by_date
      summary: DFS Slates - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DfsSlate'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Projections
  /v3/nhl/projections/{format}/StartingGoaltendersByDate/{date}:
    get:
      description: This endpoint provides the projected and confirmed starting goaltenders
        for NHL games on a given date.
      operationId: nhl_v3_projections_starting_goaltenders___by_date
      summary: Starting Goaltenders - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2021-OCT-12</code>, <code>2021-DEC-09</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StartingGoaltenders'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Projections
  /v3/nhl/projections/{format}/InjuredPlayers:
    get:
      description: This endpoint provides all currently injured NHL players, along
        with injury details.
      operationId: nhl_v3_projections_player_details___by_injured
      summary: Player Details - by Injured
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Projections
  /v3/nhl/odds/{format}/GameOddsByDate/{date}:
    get:
      description: Returns full game odds (spread, moneyline, total) for games on
        a given date. Only returns the most recently seen odds, not inclusive of line
        movement.
      operationId: nhl_v3_odds_pre_game_odds___by_date
      summary: Pre-Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-11-20</code>,
          <code>2018-11-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/GameOddsLineMovement/{gameid}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games
        on a given date. Non-full-game means 1st-half or 1st-quarter, for example,
        rather than full game. Returns the full line movement for the given game.
        This endpoint has a longer cache as it is meant for historical data/line movement
        rather than the most up to the second line.
      operationId: nhl_v3_odds_pre_game_odds_line_movement
      summary: Pre-Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games
          API.  Valid entries are <code>13096</code> or <code>13110</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/LiveGameOddsByDate/{date}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games
        on a given date. Only returns the most recently seen odds, not inclusive of
        line movement. As this is in-game, it will only return results while the game
        is in progress.
      operationId: nhl_v3_odds_in_game_odds___by_date
      summary: In-Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-11-20</code>,
          <code>2018-11-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/LiveGameOddsLineMovement/{gameid}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games
        on a given date. Returns the full line movement for the given game. This endpoint
        has a longer cache as it is meant for historical data/line movement rather
        than the most up to the second line.
      operationId: nhl_v3_odds_in_game_odds_line_movement
      summary: In-Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games
          API.  Valid entries are <code>13096</code> or <code>13110</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/AlternateMarketGameOddsByDate/{date}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games
        on a given date. Non-full-game means 1st-period or, for example, rather than
        full game. Only returns the most recently seen odds, not inclusive of line
        movement.
      operationId: nhl_v3_odds_period_game_odds___by_date
      summary: Period Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-11-20</code>,
          <code>2018-11-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/AlternateMarketGameOddsLineMovement/{gameid}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games
        on a given date. Non-full-game means 1st-period, for example, rather than
        full game. Returns the full line movement for the given game. This endpoint
        has a longer cache as it is meant for historical data/line movement rather
        than the most up to the second line.
      operationId: nhl_v3_odds_period_game_odds_line_movement
      summary: Period Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games
          API.  Valid entries are <code>13096</code> or <code>13110</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/TeamTrends/{team}:
    get:
      description: Describes recent team trends and performance against betting data
        in recent sets of games.
      operationId: nhl_v3_odds_betting_trends___by_team
      summary: Betting Trends - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'The abbreviation of the requested team. <br> Examples: <code>PHI</code>,
          <code>MIN</code>, <code>DET</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamTrends'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/MatchupTrends/{team}/{opponent}:
    get:
      description: Returns trends data for a given pairing of teams. Will return data
        even if the teams are not set to play this season. Intended for use on a specific
        game, though it will work for other comparisons if applicable.
      operationId: nhl_v3_odds_betting_trends___by_matchup
      summary: Betting Trends - by Matchup
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'The abbreviation of the requested team. <br> Examples: <code>PHI</code>,
          <code>MIN</code>, <code>DET</code>, etc.'
        required: true
        schema:
          type: string
      - name: opponent
        in: path
        description: 'The abbreviation of the requested opponent. <br> Examples: <code>PHI</code>,
          <code>MIN</code>, <code>DET</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchupTrends'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingEventsByDate/{date}:
    get:
      description: The list of current BettingEvents for the given date, from which
        Betting Market data can be gathered via the Betting Markets by Event endpoint,
        for all available Betting Market types (e.g. Player Props, Team Props.)
      operationId: nhl_v3_odds_betting_events___by_date
      summary: Betting Events - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2020-02-15</code>,
          <code>2020-02-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarkets/{eventId}:
    get:
      description: Returns the markets of all available types (e.g. Player Props,
        Team Props) and available outcomes for a given BettingEventID.
      operationId: nhl_v3_odds_betting_markets___by_event
      summary: Betting Markets - by Event
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all
          betting markets (includes outcomes/bets). Valid entries include: <code>134</code>,
          <code>155</code>, etc.'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records
          to return in the payload. By default, this endpoint only returns available
          outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the
          default parameter of <code>available</code> is much faster and provides
          the best performance. Passing unlisted will return unlisted odds, but these
          are cached for much longer and may be several minutes old. For best performance,
          the default parameter is highly recommended. <br><br>Possible values include:
          <br><br><code>available</code> - excludes any betting outcomes that have
          been removed/unlisted by the respective sportsbook. This is more lightweight
          and delivers odds much faster than using unlisted. <br><br><code>unlisted</code>
          - includes the most recently available betting outcome per sportsbook, for
          each listed market, even those outcomes are expired/unlisted or otherwise
          unavailable from the respective sportsbook. This is a far heavier payload,
          and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingEvents/{season}:
    get:
      description: The list of current BettingEvents for the given season, from which
        Betting Market data can be gathered via the Betting Markets by Event endpoint,
        for all available Betting Market types (e.g. Player Props, Team Props.)
      operationId: nhl_v3_odds_betting_events___by_season
      summary: Betting Events - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples:
          <code>2020</code>, <code>2020PRE</code>, <code>2020POST</code>, <code>2020STAR</code>,
          <code>2021</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarket/{marketId}:
    get:
      description: Returns full line movement for a given BettingMarket. Due to the
        sheer size of the output and the level of detail, it is intended for historical
        data purposes and not for the most up-to-the-second lines.
      operationId: nhl_v3_odds_betting_market
      summary: Betting Market
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: 'The MarketId of the desired market for which to pull all outcomes/bets.
          Valid entries include: <code>421</code>, <code>1041</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarketsByMarketType/{eventId}/{marketTypeID}:
    get:
      description: Returns Markets and available outcomes for a given event and market
        type requested. A lighter call than by BettingEventID as it only includes
        markets tagged with the specific MarketType, a full list of which is available
        for each sport in its Betting Metadata endpoint.
      operationId: nhl_v3_odds_betting_markets___by_market_type
      summary: Betting Markets - by Market Type
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all
          betting markets (includes outcomes/bets). Valid entries include: <code>134</code>,
          <code>155</code>, etc.'
        required: true
        schema:
          type: string
      - name: marketTypeID
        in: path
        description: 'The Market Type ID of the desired MarketTypes to pull. Some
          common types include:

          <code>1</code> for `Game Lines`

          <code>2</code> for `Player Props`

          <code>3</code> for `Team Props`

          <code>6</code> for `Game Props`'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records
          to return in the payload. By default, this endpoint only returns available
          outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the
          default parameter of <code>available</code> is much faster and provides
          the best performance. Passing unlisted will return unlisted odds, but these
          are cached for much longer and may be several minutes old. For best performance,
          the default parameter is highly recommended. <br><br>Possible values include:
          <br><br><code>available</code> - excludes any betting outcomes that have
          been removed/unlisted by the respective sportsbook. This is more lightweight
          and delivers odds much faster than using unlisted. <br><br><code>unlisted</code>
          - includes the most recently available betting outcome per sportsbook, for
          each listed market, even those outcomes are expired/unlisted or otherwise
          unavailable from the respective sportsbook. This is a far heavier payload,
          and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingFuturesBySeason/{season}:
    get:
      description: Returns available Futures markets for the given season. Does not
        include line movement.
      operationId: nhl_v3_odds_betting_futures___by_season
      summary: Betting Futures - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season <br>Examples: <code>2020</code>, <code>2021</code>,
          etc'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarketsByGameID/{gameID}:
    get:
      description: Returns the markets of all available types (e.g. Player Props,
        Team Props) and available outcomes for a given GameID.
      operationId: nhl_v3_odds_betting_markets___by_game
      summary: Betting Markets - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameID
        in: path
        description: 'The GameID of the desired game for which to pull all betting
          markets (includes outcomes/bets). Valid entries include: <code>14814</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records
          to return in the payload. By default, this endpoint only returns available
          outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the
          default parameter of <code>available</code> is much faster and provides
          the best performance. Passing unlisted will return unlisted odds, but these
          are cached for much longer and may be several minutes old. For best performance,
          the default parameter is highly recommended. <br><br>Possible values include:
          <br><br><code>available</code> - excludes any betting outcomes that have
          been removed/unlisted by the respective sportsbook. This is more lightweight
          and delivers odds much faster than using unlisted. <br><br><code>unlisted</code>
          - includes the most recently available betting outcome per sportsbook, for
          each listed market, even those outcomes are expired/unlisted or otherwise
          unavailable from the respective sportsbook. This is a far heavier payload,
          and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/Bettingmetadata:
    get:
      description: Returns the list of MarketTypes, BetTypes, PeriodTypes, OutcomeTypes,
        and ResultTypes to map the IDs to descriptive names. Also includes a list
        of the MarketType, BetType & PeriodType combinations which we will have resulting
        for.
      operationId: nhl_v3_odds_betting_metadata
      summary: Betting Metadata
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingEntityMetadataCollection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/ActiveSportsbooks:
    get:
      description: A list of all available sportsbooks with their associated unique
        IDs.
      operationId: nhl_v3_odds_sportsbooks___by_active
      summary: Sportsbooks - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sportsbook'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingSplitsByMarketId/{marketId}:
    get:
      description: List of Money and Bet Percentage splits for each outcome type available
        in this market. This specific endpoint will return the movement from this
        market as well as the most recent.
      operationId: nhl_v3_odds_betting_splits___by_betting_market
      summary: Betting Splits - by Betting Market
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: The MarketId of the desired market for which to pull splits.
          MarketIds are pulled from the Betting Markets endpoints.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarketSplit'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingSplitsByGameId/{gameId}:
    get:
      description: List of Money and Bet Percentage splits for each market and their
        respective outcome types available in this game. This specific endpoint will
        return current splits for each available market and no line movement.
      operationId: nhl_v3_odds_betting_splits___by_game
      summary: Betting Splits - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameId
        in: path
        description: The ID of the game for which you want to receive splits for.
          GameIds are pulled from the Schedules and Games by Date endpoints.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameBettingSplit'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingPlayerPropsByGameID/{gameId}:
    get:
      description: This works in the same way as Betting Markets by Market Type but
        is prefiltered to the Player Props type only. Ideal if your application will
        only ever require Player Props, but if you also want Team Props etc. it is
        recommended to use the by Market Type endpoint.
      operationId: nhl_v3_odds_betting_player_props___by_game
      summary: Betting Player Props - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameId
        in: path
        description: The unique GameID of the game in question.
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records
          to return in the payload. By default, this endpoint only returns available
          outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the
          default parameter of <code>available</code> is much faster and provides
          the best performance. Passing unlisted will return unlisted odds, but these
          are cached for much longer and may be several minutes old. For best performance,
          the default parameter is highly recommended. <br><br>Possible values include:
          <br><br><code>available</code> - excludes any betting outcomes that have
          been removed/unlisted by the respective sportsbook. This is more lightweight
          and delivers odds much faster than using unlisted. <br><br><code>unlisted</code>
          - includes the most recently available betting outcome per sportsbook, for
          each listed market, even those outcomes are expired/unlisted or otherwise
          unavailable from the respective sportsbook. This is a far heavier payload,
          and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarketResults/{marketId}:
    get:
      description: 'Provide a market ID that supports resulting (i.e. has a ResultType)
        and this endpoint will return a result: for markets with a ResultType, each
        line will be graded and it will be determined whether the bet would have won
        or lost.'
      operationId: nhl_v3_odds_betting_results___by_market
      summary: Betting Results - by Market
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: The MarketId of the desired market for which to pull all outcomes/bets.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarketResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/PreGameOddsByDate/{date}/{sportsbookgroup}:
    get:
      description: Returns the full-game and non-full-game odds (spread, moneyline,
        total) for games in a given week and season. Only returns the most recently
        seen odds, not inclusive of line movement. A Sportsbook Group must be specified
        as a URL parameter.
      operationId: nhl_v3_odds_pre_game_and_period_game_odds___by_date__sportsbook_group
      summary: Pre-Game and Period Game Odds - by Date [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-11-20</code>,
          <code>2018-11-23</code>.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/PreGameOddsLineMovement/{gameid}/{sportsbookgroup}:
    get:
      description: Returns the game odds ( for games on a given date. In this endpoint
        both full-game and partial-game odds are included. Returns the full line movement
        for the given game. This endpoint has a longer cache as it is meant for historical
        data/line movement rather than the most up to the second line. A Sportsbook
        Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_pre_game_and_period_game_odds_line_movement__sportsbook_group
      summary: Pre-Game and Period Game Odds Line Movement [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games
          API.  Valid entries are <code>13096</code> or <code>13110</code>
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/InGameOddsByDate/{date}/{sportsbookgroup}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games
        on a given date. Only returns the most recently seen odds, not inclusive of
        line movement. As this is in-game, it will only return results while the game
        is in progress. A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_in_game_odds___by_date__sportsbook_group
      summary: In-Game Odds - by Date [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-11-20</code>,
          <code>2018-11-23</code>.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/InGameLineMovement/{gameid}/{sportsbookgroup}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games
        on a given date. Returns the full line movement for the given game. This endpoint
        has a longer cache as it is meant for historical data/line movement rather
        than the most up to the second line. A Sportsbook Group must be specified
        as a URL parameter.
      operationId: nhl_v3_odds_in_game_odds_line_movement__sportsbook_group
      summary: In-Game Odds Line Movement [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games
          API.  Valid entries are <code>13096</code> or <code>13110</code>
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingPlayerPropsByGameID/{gameId}/{sportsbookgroup}:
    get:
      description: This works in the same way as Betting Markets by Market Type but
        is prefiltered to the Player Props type only. Ideal if your application will
        only ever require Player Props, but if you also want Team Props etc. it is
        recommended to use the by Market Type endpoint. A Sportsbook Group must be
        specified as a URL parameter.
      operationId: nhl_v3_odds_betting_player_props___by_game__sportsbook_group
      summary: Betting Player Props - by Game [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameId
        in: path
        description: The unique GameID of the game in question.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records
          to return in the payload. By default, this endpoint only returns available
          outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the
          default parameter of <code>available</code> is much faster and provides
          the best performance. Passing unlisted will return unlisted odds, but these
          are cached for much longer and may be several minutes old. For best performance,
          the default parameter is highly recommended. <br><br>Possible values include:
          <br><br><code>available</code> - excludes any betting outcomes that have
          been removed/unlisted by the respective sportsbook. This is more lightweight
          and delivers odds much faster than using unlisted. <br><br><code>unlisted</code>
          - includes the most recently available betting outcome per sportsbook, for
          each listed market, even those outcomes are expired/unlisted or otherwise
          unavailable from the respective sportsbook. This is a far heavier payload,
          and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarketsByMarketType/{eventId}/{marketTypeID}/{sportsbookgroup}:
    get:
      description: Returns Markets and available outcomes for a given event and market
        type requested. A lighter call than by BettingEventID as it only includes
        markets tagged with the specific MarketType, a full list of which is available
        for each sport in its Betting Metadata endpoint. A Sportsbook Group must be
        specified as a URL parameter.
      operationId: nhl_v3_odds_betting_markets___by_market_type__sportsbook_group
      summary: Betting Markets - by Market Type [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all
          betting markets (includes outcomes/bets). Valid entries include: <code>134</code>,
          <code>155</code>, etc.'
        required: true
        schema:
          type: string
      - name: marketTypeID
        in: path
        description: 'The Market Type ID of the desired MarketTypes to pull. Some
          common types include:

          <code>1</code> for `Game Lines`

          <code>2</code> for `Player Props`

          <code>3</code> for `Team Props`

          <code>6</code> for `Game Props`'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records
          to return in the payload. By default, this endpoint only returns available
          outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the
          default parameter of <code>available</code> is much faster and provides
          the best performance. Passing unlisted will return unlisted odds, but these
          are cached for much longer and may be several minutes old. For best performance,
          the default parameter is highly recommended. <br><br>Possible values include:
          <br><br><code>available</code> - excludes any betting outcomes that have
          been removed/unlisted by the respective sportsbook. This is more lightweight
          and delivers odds much faster than using unlisted. <br><br><code>unlisted</code>
          - includes the most recently available betting outcome per sportsbook, for
          each listed market, even those outcomes are expired/unlisted or otherwise
          unavailable from the respective sportsbook. This is a far heavier payload,
          and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarketsByGameID/{gameID}/{sportsbookgroup}:
    get:
      description: Returns the markets of all available types (e.g. Player Props,
        Team Props) and available outcomes for a given GameID. A Sportsbook Group
        must be specified as a URL parameter.
      operationId: nhl_v3_odds_betting_markets___by_game__sportsbook_group
      summary: Betting Markets - by Game [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameID
        in: path
        description: 'The GameID of the desired game for which to pull all betting
          markets (includes outcomes/bets). Valid entries include: <code>14814</code>'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records
          to return in the payload. By default, this endpoint only returns available
          outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the
          default parameter of <code>available</code> is much faster and provides
          the best performance. Passing unlisted will return unlisted odds, but these
          are cached for much longer and may be several minutes old. For best performance,
          the default parameter is highly recommended. <br><br>Possible values include:
          <br><br><code>available</code> - excludes any betting outcomes that have
          been removed/unlisted by the respective sportsbook. This is more lightweight
          and delivers odds much faster than using unlisted. <br><br><code>unlisted</code>
          - includes the most recently available betting outcome per sportsbook, for
          each listed market, even those outcomes are expired/unlisted or otherwise
          unavailable from the respective sportsbook. This is a far heavier payload,
          and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarketsByEvent/{eventId}/{sportsbookgroup}:
    get:
      description: Returns the markets and available outcomes for a given BettingEventID.
        A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_betting_markets___by_event__sportsbook_group
      summary: Betting Markets - by Event [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all
          betting markets (includes outcomes/bets). Valid entries include: <code>134</code>,
          <code>155</code>, etc.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: 'This parameter indicates which <code>BettingOutcome</code> records
          to return in the payload. By default, this endpoint only returns available
          outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the
          default parameter of <code>available</code> is much faster and provides
          the best performance. Passing unlisted will return unlisted odds, but these
          are cached for much longer and may be several minutes old. For best performance,
          the default parameter is highly recommended. <br><br>Possible values include:
          <br><br><code>available</code> - excludes any betting outcomes that have
          been removed/unlisted by the respective sportsbook. This is more lightweight
          and delivers odds much faster than using unlisted. <br><br><code>unlisted</code>
          - includes the most recently available betting outcome per sportsbook, for
          each listed market, even those outcomes are expired/unlisted or otherwise
          unavailable from the respective sportsbook. This is a far heavier payload,
          and it''s cached for much longer than available. <br><br>'
        schema:
          type: string
          enum:
          - available
          - unlisted
          default: available
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingMarket/{marketId}/{sportsbookgroup}:
    get:
      description: Returns full line movement for a given BettingMarket. Due to the
        sheer size of the output and the level of detail, it is intended for historical
        data purposes and not for the most up-to-the-second lines. A Sportsbook Group
        must be specified as a URL parameter.
      operationId: nhl_v3_odds_betting_market__sportsbook_group
      summary: Betting Market [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: 'The MarketId of the desired market for which to pull all outcomes/bets.
          Valid entries include: <code>421</code>, <code>1041</code>, etc.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingResultsByMarket/{marketId}/{sportsbookgroup}:
    get:
      description: Returns all outcomes under this market which have a result type
        associated. Will return empty list if resulting has not yet processed for
        the given game. Resulting processes shortly after game closing.
      operationId: nhl_v3_odds_betting_results___by_market__sportsbook_group
      summary: Betting Results - by Market [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: marketId
        in: path
        description: The MarketId of the desired market for which to pull all outcomes/bets.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarketResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/BettingFuturesBySeason/{season}/{sportsbookgroup}:
    get:
      description: Returns available Futures markets for the given season. Does not
        include line movement. A Sportsbook Group must be specified as a URL parameter.
      operationId: nhl_v3_odds_betting_futures___by_season__sportsbook_group
      summary: Betting Futures - by Season [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season <br>Examples: <code>2020</code>, <code>2021</code>,
          etc'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Odds
  /v3/nhl/odds/{format}/InGameLineMovementWithResulting/{gameid}/{sportsbookgroup}:
    get:
      description: 'Returns in-play game odds (spread, moneyline, total) for games
        on a given date. This also includes Resulting: for markets with a ResultType,
        each line will be graded and it will be determined whether the bet would have
        won or lost. Returns the full line movement for the given game. This endpoint
        has a longer cache as it is meant for historical data/line movement rather
        than the most up to the second line. A Sportsbook Group must be specified
        as a URL parameter.'
      operationId: nhl_v3_odds_in_game_odds_line_movement_with_resulting__sportsbook_group
      summary: In-Game Odds Line Movement with Resulting [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
[...]
