openapi: 3.1.0
info:
  title: MLB MLB v3 Headshots NBA v3 Stats API
  version: '1.0'
  description: MLB API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: NBA v3 Stats
paths:
  /v3/nba/stats/{format}/BoxScore/{gameid}:
    get:
      description: Full statistical information for a specified game, down to the team and player stat level, delivered live during the game, called per individual game.
      operationId: nba_v3_stats_box_score__live___final
      summary: Box Score [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NBA game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code>, <code>16905</code>, etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/BoxScores/{date}:
    get:
      description: Full statistical information for a specified game, down to the team and player stat level, delivered live during the games, called for all games on a given date.
      operationId: nba_v3_stats_box_scores___by_date__live___final
      summary: Box Scores - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/BoxScoresDelta/{date}/{minutes}:
    get:
      description: This method returns all box scores for a given date, but only returns player stats that have changed in the last X minutes as specified in your API call. By definition this is a live endpoint, not final.
      operationId: nba_v3_stats_box_scores_delta___by_date
      summary: Box Scores Delta - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.'
        required: true
        schema:
          type: string
      - name: minutes
        in: path
        description: 'Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:

          <code>1</code> or <code>2</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/PlayerGameStatsByDate/{date}:
    get:
      description: Returns the box score statistical record for all involved players across a given date, updated live as the game takes place.
      operationId: nba_v3_stats_player_game_stats___by_date__live___final
      summary: Player Game Stats - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/PlayerSeasonStats/{season}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each individual game record) for all players for a given season.
      operationId: nba_v3_stats_player_season_stats
      summary: Player Season Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.

          <br>Examples: <code>2015</code>, <code>2016</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/PlayerSeasonStatsByTeam/{season}/{team}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each individual game record) for a given team's players in a given season.
      operationId: nba_v3_stats_player_season_stats___by_team
      summary: Player Season Stats - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.

          <br>Examples: <code>2015</code>, <code>2016</code>.

          '
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'The abbreviation of the requested team.

          <br>Examples: <code>MIA</code>, <code>PHI</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/TeamStatsAllowedByPosition/{season}:
    get:
      description: For each team, deliveres a season total of statistical records for their opponents' positions (e.g. all field goals made against this team by Centers.)
      operationId: nba_v3_stats_team_stats_allowed___by_position
      summary: Team Stats Allowed - by Position
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.

          <br>Examples: <code>2015</code>, <code>2016</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/AllStars/{season}:
    get:
      description: A list of players selected for the All-Star Game for a given season.
      operationId: nba_v3_stats_all_stars
      summary: All-Stars
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.

          <br>Examples: <code>2015</code>, <code>2016</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/PlayerGameStatsBySeason/{season}/{playerid}/{numberofgames}:
    get:
      description: Specify a season, a player, and number of games (either an integer or <code>all</code>) to see all of their box score logs. Refreshed after their most recent game is complete.
      operationId: nba_v3_stats_player_game_logs___by_season
      summary: Player Game Logs - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: Season to get games from. Example <code>2019POST</code>, <code>2020</code>
        required: true
        schema:
          type: string
      - name: playerid
        in: path
        description: 'Unique SportsDataIO Player ID.

          Example:<code>20000571</code>.'
        required: true
        schema:
          type: string
      - name: numberofgames
        in: path
        description: How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/TeamGameStatsByDateFinal/{date}:
    get:
      description: Returns the box score statistical record team-wide (aggregated from all players) for a games on a given date, delivered as each game concludes.
      operationId: nba_v3_stats_team_game_stats___by_date__final
      summary: Team Game Stats - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/PlayerGameStatsByDateFinal/{date}:
    get:
      description: Returns the box score statistical record for all involved players across all teams' games on a given date after each game has concluded.
      operationId: nba_v3_stats_player_game_stats___by_date__final
      summary: Player Game Stats - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/BoxScoreFinal/{gameid}:
    get:
      description: Full statistical information for a specified game, down to the team and player stat level, delivered after the game is complete.
      operationId: nba_v3_stats_box_score__final
      summary: Box Score [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NBA game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code>, <code>16905</code>, etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/BoxScoresFinal/{date}:
    get:
      description: Full statistical information for a specified date for each game that took place, down to the team and player stat level, delivered after the game is complete.
      operationId: nba_v3_stats_box_scores___by_date__final
      summary: Box Scores - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
  /v3/nba/stats/{format}/FantasyGameStatsByDate/{date}:
    get:
      description: A simple list of fantasy points scored for all players who took part in games on a given date.
      operationId: nba_v3_stats_fantasy_points___by_date
      summary: Fantasy Points - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FantasyGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NBA v3 Stats
components:
  schemas:
    PlayerGame:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition)
        Season:
          type:
          - integer
          - 'null'
          description: The NBA season of the game
        Name:
          type:
          - string
          - 'null'
          description: The name of the player
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the player's team
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s position associated with the given game or season. Possible values: C, F, FC, G, GF, PF, PG, SF, SG'
        Started:
          type:
          - integer
          - 'null'
          description: 'Indicates whether or not the player started the game Note: this will be one or zero for single game feeds'
        FanDuelSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for FanDuel daily fantasy contests.
        DraftKingsSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for DraftKings daily fantasy contests.
        FantasyDataSalary:
          type:
          - integer
          - 'null'
          description: The player's salary as calculated by SportsDataIO (formerly known as FantasyData).  Based on the same salary cap as DraftKings contests ($50,000).
        YahooSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for Yahoo daily fantasy contests.
        InjuryStatus:
          type:
          - string
          - 'null'
          description: 'The player''s current injury status; in the form of likelihood that player plays. Possible values: Probable; Questionable; Doubtful; Out'
        InjuryBodyPart:
          type:
          - string
          - 'null'
          description: The body part that is injured (Knee, Groin, Calf, Hamstring, etc.)
        InjuryStartDate:
          type:
          - string
          - 'null'
          description: The day that the injury started or was first discovered.
        InjuryNotes:
          type:
          - string
          - 'null'
          description: Brief description of the player's injury and expected availability.
        FanDuelPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in FanDuel's daily fantasy sports platform.
        DraftKingsPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in DraftKings' daily fantasy sports platform.
        YahooPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Yahoo's daily fantasy sports platform.
        OpponentRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent with regards to fantasy points allowed.
        OpponentPositionRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent by position with regards to fantasy points allowed.
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        FantasyDraftSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for Fantasy Draft's daily fantasy contests.
        FantasyDraftPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Fantasy Draft's daily fantasy sports platform.
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of this game
        OpponentID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's opponent
        Opponent:
          type:
          - string
          - 'null'
          description: The name of the opponent 
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Whether the team is home or away
        IsGameOver:
          type: boolean
          description: Whether the game is over (true/false)
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalOpponentID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this opponent. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        FieldGoalsMade:
          type:
          - number
          - 'null'
          description: Total number of field goals made
        FieldGoalsAttempted:
          type:
          - number
          - 'null'
          description: Total number of field goals attempted
        FieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total field goal percentage
        EffectiveFieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total effective field goals percentage
        TwoPointersMade:
          type:
          - number
          - 'null'
          description: Total two pointers made
        TwoPointersAttempted:
          type:
          - number
          - 'null'
          description: Total two pointers attempted
        TwoPointersPercentage:
          type:
          - number
          - 'null'
          description: Total two pointers percentage
        ThreePointersMade:
          type:
          - number
          - 'null'
          description: Total three pointers made
        ThreePointersAttempted:
          type:
          - number
          - 'null'
          description: Total three pointers attempted
        ThreePointersPercentage:
          type:
          - number
          - 'null'
          description: Total three pointers percentage
        FreeThrowsMade:
          type:
          - number
          - 'null'
          description: Total free throws made
        FreeThrowsAttempted:
          type:
          - number
          - 'null'
          description: Total free throws attempted
        FreeThrowsPercentage:
          type:
          - number
          - 'null'
          description: Total free throws percentage
        OffensiveRebounds:
          type:
          - number
          - 'null'
          description: Total offensive rebounds
        DefensiveRebounds:
          type:
          - number
          - 'null'
          description: Total defensive rebounds
        Rebounds:
          type:
          - number
          - 'null'
          description: Total rebounds
        OffensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total offensive rebounds percentage
        DefensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total defensive rebounds percentage
        TotalReboundsPercentage:
          type:
          - number
          - 'null'
          description: The player/team total rebounds percentage
        Assists:
          type:
          - number
          - 'null'
          description: Total assists
        Steals:
          type:
          - number
          - 'null'
          description: Total steals
        BlockedShots:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Turnovers:
          type:
          - number
          - 'null'
          description: Total turnovers
        PersonalFouls:
          type:
          - number
          - 'null'
          description: Total personal fouls
        Points:
          type:
          - number
          - 'null'
          description: Total points scored
        TrueShootingAttempts:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting attempts as defined here: http://www.basketball-reference.com/about/glossary.html'
        TrueShootingPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        PlayerEfficiencyRating:
          type:
          - number
          - 'null'
          description: 'The player''s linear weight efficiency rating as defined here: http://bleacherreport.com/articles/113144-cracking-the-code-how-to-calculate-hollingers-per-without-all-the-mess'
        AssistsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s assist percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        StealsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s steal percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        BlocksPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s block percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        TurnOversPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s turnover percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        UsageRatePercentage:
          type:
          - number
          - 'null'
          description: 'The player''s usage rate percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        DoubleDoubles:
          type:
          - number
          - 'null'
          description: Total double-doubles scored
        TripleDoubles:
          type:
          - number
          - 'null'
          description: Total triple-doubles scored
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
        IsClosed:
          type: boolean
          description: Indicates whether the game is over and the stats for this player have been verified and closed out.
        LineupConfirmed:
          type:
          - boolean
          - 'null'
          description: Indicates whether starting lineup is confirmed
        LineupStatus:
          type:
          - string
          - 'null'
          description: Indicates whether player is starting, active, or inactive
    OpponentSeason:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition).
        Season:
          type:
          - integer
          - 'null'
          description: The NBA season that these totals apply for
        Name:
          type:
          - string
          - 'null'
          description: The name of the team
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Wins:
          type:
          - integer
          - 'null'
          description: Total number of team wins on the season
        Losses:
          type:
          - integer
          - 'null'
          description: Total number of team losses on the season
        OpponentPosition:
          type:
          - string
          - 'null'
          description: This field is expected to be NULL
        Possessions:
          type:
          - number
          - 'null'
          description: Total number of estimated possessions by the team in the season
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        FieldGoalsMade:
          type:
          - number
          - 'null'
          description: Total number of field goals made
        FieldGoalsAttempted:
          type:
          - number
          - 'null'
          description: Total number of field goals attempted
        FieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total field goal percentage
        EffectiveFieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total effective field goals percentage
        TwoPointersMade:
          type:
          - number
          - 'null'
          description: Total two pointers made
        TwoPointersAttempted:
          type:
          - number
          - 'null'
          description: Total two pointers attempted
        TwoPointersPercentage:
          type:
          - number
          - 'null'
          description: Total two pointers percentage
        ThreePointersMade:
          type:
          - number
          - 'null'
          description: Total three pointers made
        ThreePointersAttempted:
          type:
          - number
          - 'null'
          description: Total three pointers attempted
        ThreePointersPercentage:
          type:
          - number
          - 'null'
          description: Total three pointers percentage
        FreeThrowsMade:
          type:
          - number
          - 'null'
          description: Total free throws made
        FreeThrowsAttempted:
          type:
          - number
          - 'null'
          description: Total free throws attempted
        FreeThrowsPercentage:
          type:
          - number
          - 'null'
          description: Total free throws percentage
        OffensiveRebounds:
          type:
          - number
          - 'null'
          description: Total offensive rebounds
        DefensiveRebounds:
          type:
          - number
          - 'null'
          description: Total defensive rebounds
        Rebounds:
          type:
          - number
          - 'null'
          description: Total rebounds
        OffensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total offensive rebounds percentage
        DefensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total defensive rebounds percentage
        TotalReboundsPercentage:
          type:
          - number
          - 'null'
          description: The player/team total rebounds percentage
        Assists:
          type:
          - number
          - 'null'
          description: Total assists
        Steals:
          type:
          - number
          - 'null'
          description: Total steals
        BlockedShots:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Turnovers:
          type:
          - number
          - 'null'
          description: Total turnovers
        PersonalFouls:
          type:
          - number
          - 'null'
          description: Total personal fouls
        Points:
          type:
          - number
          - 'null'
          description: Total points scored
        TrueShootingAttempts:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting attempts as defined here: http://www.basketball-reference.com/about/glossary.html'
        TrueShootingPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        PlayerEfficiencyRating:
          type:
          - number
          - 'null'
          description: 'The player''s linear weight efficiency rating as defined here: http://bleacherreport.com/articles/113144-cracking-the-code-how-to-calculate-hollingers-per-without-all-the-mess'
        AssistsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s assist percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        StealsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s steal percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        BlocksPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s block percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        TurnOversPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s turnover percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        UsageRatePercentage:
          type:
          - number
          - 'null'
          description: 'The player''s usage rate percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        DoubleDoubles:
          type:
          - number
          - 'null'
          description: Total double-doubles scored
        TripleDoubles:
          type:
          - number
          - 'null'
          description: Total triple-doubles scored
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
        IsClosed:
          type: boolean
          description: Indicates whether the game is over and the stats for this player have been verified and closed out.
        LineupConfirmed:
          type:
          - boolean
          - 'null'
          description: Indicates whether starting lineup is confirmed
        LineupStatus:
          type:
          - string
          - 'null'
          description: Indicates whether player is starting, active, or inactive
    Game:
      properties:
        GameID:
          type: integer
          description: The unique ID of this game
        Season:
          type: integer
          description: The NBA season of the game
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition)
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled, InProgress, Final, F/OT, Suspended, Postponed, Delayed, Canceled, Forfeit, NotNecessary'
        Day:
          type:
          - string
          - 'null'
          description: The date of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        AwayTeamID:
          type: integer
          description: The unique ID of the away team
        HomeTeamID:
          type: integer
          description: The unique ID of the home team
        StadiumID:
          type:
          - integer
          - 'null'
          description: The unique ID of the stadium
        Channel:
          type:
          - string
          - 'null'
          description: The television station broadcasting the game
        Attendance:
          type:
          - integer
          - 'null'
          description: The total number of people in attendance at the game
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of points the away team scored in the game
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of points the home team scored in this game
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when this game was last updated (in US Eastern Time)
        Quarter:
          type:
          - string
          - 'null'
          description: 'The current quarter in the game. Possible values include: 1, 2, 3, 4, Half, OT, NULL'
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: The number of minutes remaining in the quarter
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: The number of seconds remaining in the quarter
        PointSpread:
          type:
          - number
          - 'null'
          description: The oddsmaker Point Spread at game start from the perspective of the HomeTeam (negative numbers indicate the HomeTeam is favored; positive numbers indicate the AwayTeam is favored)
        OverUnder:
          type:
          - number
          - 'null'
          description: The sportsbook's total points scored over under for the game
        AwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Money line from the perspective of the away team
        HomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Money line from the perspective of the home team
        GlobalGameID:
          type: integer
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalAwayTeamID:
          type: integer
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues.
        GlobalHomeTeamID:
          type: integer
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues.
        PointSpreadAwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The money line payout odds when betting on the away team with the point spread.
        PointSpreadHomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The money line payout odds when betting on the away team with the point spread.
        LastPlay:
          type:
          - string
          - 'null'
          description: The description of the most recent play/event of the game. This is for display purposes and does not include corresponding data points.
        IsClosed:
          type: boolean
          description: 'Indicates whether the game is over and the final score has been verified and closed out. Note: it is recommend for bet resulting to use IsClosed = True rather than simply Final game status'
        Quarters:
          type: array
          items:
            $ref: '#/components/schemas/Quarter'
          description: The details of the quarters (including overtime periods) for this game.
        GameEndDateTime:
          type:
          - string
          - 'null'
          description: The date and time that the game ended (in US Eastern Time)
        HomeRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the home team for this game
        AwayRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the away team for this game
        NeutralVenue:
          type:
          - boolean
          - 'null'
          description: Indicates whether this game is played in a neutral venue
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the over on the total points line
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under on the total points line
        CrewChiefID:
          type:
          - integer
          - 'null'
          description: Unique ID of officiating Crew Chief
        UmpireID:
          type:
          - integer
          - 'null'
          description: Unique ID of officiating Umpire referee
        RefereeID:
          type:
          - integer
          - 'null'
          description: Unique ID of officiating referee
        AlternateID:
          type:
          - integer
          - 'null'
          description: Unique ID of officiating Alternate referee
        DateTimeUTC:
          type:
          - string
          - 'null'
          description: The date and time of the game in UTC
        SeriesInfo:
          $ref: '#/components/schemas/Series'
          description: Contains relevant series data for playoff series only - HomeTeamWins, AwayTeamWins, GameNumber, and MaxLength
        InseasonTournament:
          type:
          - boolean
          - 'null'
          description: A flag to indicate this game is part of the inseason NBA tournament (can be considered a part of regular season still) - a null would also indicate false
        RescheduledFromGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the originally scheduled, postponed game, that this game was rescheduled from. This only pertains to games that are scheduled as "make up" games.
        RescheduledGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the game that was rescheduled from this game. This only pertains to postponed games that require rescheduling.
    BoxScore:
      properties:
        Game:
          $ref: '#/components/schemas/Game'
          description: The details of the game associated with this box score
        Quarters:
          type: array
          items:
            $ref: '#/components/schemas/Quarter'
          description: The details of the quarters associated with this box score
        TeamGames:
          type: array
          items:
            $ref: '#/components/schemas/TeamGame'
          description: The team game stats associated with this box score
        PlayerGames:
          type: array
          items:
            $ref: '#/components/schemas/PlayerGame'
          description: The player game stats associated with this box score
    TeamSeason:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition).
        Season:
          type:
          - integer
          - 'null'
          description: The NBA season that these totals apply for
        Name:
          type:
          - string
          - 'null'
          description: The name of the team
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Wins:
          type:
          - integer
          - 'null'
          description: Total number of team wins on the season
        Losses:
          type:
          - integer
          - 'null'
          description: Total number of team losses on the season
        OpponentPosition:
          type:
          - string
          - 'null'
          description: This field is expected to be NULL
        Possessions:
          type:
          - number
          - 'null'
          description: Total number of estimated possessions by the team in the season
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        OpponentStat:
          $ref: '#/components/schemas/OpponentSeason'
          description: The aggregated season stats for this team's opponents
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        FieldGoalsMade:
          type:
          - number
          - 'null'
          description: Total number of field goals made
        FieldGoalsAttempted:
          type:
          - number
          - 'null'
          description: Total number of field goals attempted
        FieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total field goal percentage
        EffectiveFieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total effective field goals percentage
        TwoPointersMade:
          type:
          - number
          - 'null'
          description: Total two pointers made
        TwoPointersAttempted:
          type:
          - number
          - 'null'
          description: Total two pointers attempted
        TwoPointersPercentage:
          type:
          - number
          - 'null'
          description: Total two pointers percentage
        ThreePointersMade:
          type:
          - number
          - 'null'
          description: Total three pointers made
        ThreePointersAttempted:
          type:
          - number
          - 'null'
          description: Total three pointers attempted
        ThreePointersPercentage:
          type:
          - number
          - 'null'
          description: Total three pointers percentage
        FreeThrowsMade:
          type:
          - number
          - 'null'
          description: Total free throws made
        FreeThrowsAttempted:
          type:
          - number
          - 'null'
          description: Total free throws attempted
        FreeThrowsPercentage:
          type:
          - number
          - 'null'
          description: Total free throws percentage
        OffensiveRebounds:
          type:
          - number
          - 'null'
          description: Total offensive rebounds
        DefensiveRebounds:
          type:
          - number
          - 'null'
          description: Total defensive rebounds
        Rebounds:
          type:
          - number
          - 'null'
          description: Total rebounds
        OffensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total offensive rebounds percentage
        DefensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total defensive rebounds percentage
        TotalReboundsPercentage:
          type:
          - number
          - 'null'
          description: The player/team total rebounds percentage
        Assists:
          type:
          - number
          - 'null'
          description: Total assists
        Steals:
          type:
          - number
          - 'null'
          description: Total steals
        BlockedShots:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Turnovers:
          type:
          - number
          - 'null'
          description: Total turnovers
        PersonalFouls:
          type:
          - number
          - 'null'
          description: Total personal fouls
        Points:
          type:
          - number
          - 'null'
          description: Total points scored
        TrueShootingAttempts:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting attempts as defined here: http://www.basketball-reference.com/about/glossary.html'
        TrueShootingPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        PlayerEfficiencyRating:
          type:
          - number
          - 'null'
          description: 'The player''s linear weight efficiency rating as defined here: http://bleacherreport.com/articles/113144-cracking-the-code-how-to-calculate-hollingers-per-without-all-the-mess'
        AssistsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s assist percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        StealsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s steal percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        BlocksPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s block percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        TurnOversPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s turnover percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        UsageRatePercentage:
          type:
          - number
          - 'null'
          description: 'The player''s usage rate percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        DoubleDoubles:
          type:
          - number
          - 'null'
          description: Total double-doubles scored
        TripleDoubles:
          type:
          - number
          - 'null'
          description: Total triple-doubles scored
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
        IsClosed:
          type: boolean
          description: Indicates whether the game is over and the stats for this player have been verified and closed out.
        LineupConfirmed:
          type:
          - boolean
          - 'null'
          description: Indicates whether starting lineup is confirmed
        LineupStatus:
          type:
          - string
          - 'null'
          description: Indicates whether player is starting, active, or inactive
    PlayerSeason:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the player's team
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition).
        Season:
          type:
          - integer
          - 'null'
          description: The NBA season in which these totals apply
        Name:
          type:
          - string
          - 'null'
          description: The name of the player
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the player's team
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s position associated with the given game or season. Possible values: PG; SG; SF; PF; C'
        Started:
          type:
          - integer
          - 'null'
          description: Indicates how many games the player has started in the season
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        FieldGoalsMade:
          type:
          - number
          - 'null'
          description: Total number of field goals made
        FieldGoalsAttempted:
          type:
          - number
          - 'null'
          description: Total number of field goals attempted
        FieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total field goal percentage
        EffectiveFieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total effective field goals percentage
        TwoPointersMade:
          type:
          - number
          - 'null'
          description: Total two pointers made
        TwoPointersAttempted:
          type:
          - number
          - 'null'
          description: Total two pointers attempted
        TwoPointersPercentage:
          type:
          - number
          - 'null'
          description: Total two pointers percentage
        ThreePointersMade:
          type:
          - number
          - 'null'
          description: Total three pointers made
        ThreePointersAttempted:
          type:
          - number
          - 'null'
          description: Total three pointers attempted
        ThreePointersPercentage:
          type:
          - number
          - 'null'
          description: Total three pointers percentage
        FreeThrowsMade:
          type:
          - number
          - 'null'
          description: Total free throws made
        FreeThrowsAttempted:
          type:
          - number
          - 'null'
          description: Total free throws attempted
        FreeThrowsPercentage:
          type:
          - number
          - 'null'
          description: Total free throws percentage
        OffensiveRebounds:
          type:
          - number
          - 'null'
          description: Total offensive rebounds
        DefensiveRebounds:
          type:
          - number
          - 'null'
          description: Total defensive rebounds
        Rebounds:
          type:
          - number
          - 'null'
          description: Total rebounds
        OffensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total offensive rebounds percentage
        DefensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total defensive rebounds percentage
        TotalReboundsPercentage:
          type:
          - number
          - 'null'
          description: The player/team total rebounds percentage
        Assists:
          type:
          - number
          - 'null'
          description: Total assists
        Steals:
          type:
          - number
          - 'null'
          description: Total steals
        BlockedShots:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Turnovers:
          type:
          - number
          - 'null'
          description: Total turnovers
        PersonalFouls:
          type:
          - number
          - 'null'
          description: Total personal fouls
        Points:
          type:
          - number
          - 'null'
          description: Total points scored
        TrueShootingAttempts:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting attempts as defined here: http://www.basketball-reference.com/about/glossary.html'
        TrueShootingPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        PlayerEfficiencyRating:
          type:
          - number
          - 'null'
          description: 'The player''s linear weight efficiency rating as defined here: http://bleacherreport.com/articles/113144-cracking-the-code-how-to-calculate-hollingers-per-without-all-the-mess'
        AssistsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s assist percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        StealsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s steal percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        BlocksPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s block percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        TurnOversPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s turnover percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        UsageRatePercentage:
          type:
          - number
          - 'null'
          description: 'The player''s usage rate percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        DoubleDoubles:
          type:
          - number
          - 'null'
          description: Total double-doubles scored
        TripleDoubles:
          type:
          - number
          - 'null'
          description: Total triple-doubles scored
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
        IsClosed:
          type: boolean
          description: Indicates whether the game is over and the stats for this player have been verified and closed out.
        LineupConfirmed:
          type:
          - boolean
          - 'null'
          description: Indicates whether starting lineup is confirmed
        LineupStatus:
          type:
          - string
          - 'null'
          description: Indicates whether player is starting, active, or inactive
    Quarter:
      properties:
        QuarterID:
          type: integer
          description: Unique identifier for each Quarter.
        GameID:
          type: integer
          description: The unique ID of the game associated with this quarter
        Number:
          type: integer
          description: The Number (Order) of the Quarter in the scope of the Game.
        Name:
          type:
          - string
          - 'null'
          description: 'The Name of the Quarter (possible values: 1, 2, 3, 4, OT, OT2, OT3, etc)'
        AwayScore:
          type:
          - integer
          - 'null'
          description: The total points scored by the away team in the given period only
        HomeScore:
          type:
          - integer
          - 'null'
          description: The total points scored by the home team in the given period only
    FantasyGame:
      properties:
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of this game
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition)
        Season:
          type:
          - integer
          - 'null'
          description: The NBA season of the game
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game (in US Eastern Time)
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Opponent:
          type:
          - string
          - 'null'
          description: Abbreviation [Key] of the opponent team (e.g. LAL; PHI; BOS; CHI; etc.)
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Whether the team is home or away
        Jersey:
          type:
          - integer
          - 'null'
          description: The player's jersey number
        Name:
          type:
          - string
          - 'null'
          description: The player's full name
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s primary position. Possible values: PG; SG; SF; PF; C'
        PositionCategory:
          type:
          - string
          - 'null'
          description: 'The player''s position category. Possible values: C, F, G'
        Games:
          type:
          - integer
          - 'null'
          description: 'The number of games played by the player in the game Note: this will be one or zero for single game feeds'
        Started:
          type:
          - integer
          - 'null'
          description: 'Indicates whether or not the player started the game Note: this will be one or zero for single game feeds'
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points by the player in the game
        IsGameOver:
          type: boolean
          description: Whether the game is over (true/false)
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FandDuelPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in FanDuel's daily fantasy sports platform.
        DraftKingsPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in DraftKings' daily fantasy sports platform.
        YahooPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Yahoo's daily fantasy sports platform.
        OpponentRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent with regards to fantasy points allowed.
        OpponentPositionRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent by position with regards to fantasy points allowed.
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when this game was last updated (in US Eastern Time)
    PlayerInfo:
      properties:
        PlayerID:
          type: integer
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        Name:
          type:
          - string
          - 'null'
          description: The player's full name
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the player's team
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the player's team
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s primary position. Possible values: C; PF; PG; SF; SG'
    Series:
      properties:
        HomeTeamWins:
          type: integer
          description: Total number of wins by the home team in the series
        AwayTeamWins:
          type: integer
          description: Total wins in the series by the away team
        GameNumber:
          type: integer
          description: The game number in the series
        MaxLength:
          type: integer
          description: The maximum number of games that can be played in a series
    TeamGame:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=AllStar; 6=Exhibition)
        Season:
          type:
          - integer
          - 'null'
          description: The NBA season of the game
        Name:
          type:
          - string
          - 'null'
          description: Team's name
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Wins:
          type:
          - integer
          - 'null'
          description: Total number of team wins
        Losses:
          type:
          - integer
          - 'null'
          description: Total number of team losses
        Possessions:
          type:
          - number
          - 'null'
          description: Total number of estimated possessions by the team in the game
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of this game
        OpponentID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's opponent
        Opponent:
          type:
          - string
          - 'null'
          description: The name of the opponent 
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Whether the team is home or away
        IsGameOver:
          type: boolean
          description: Whether the game is over (true/false)
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalOpponentID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this opponent. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time)
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        FieldGoalsMade:
          type:
          - number
          - 'null'
          description: Total number of field goals made
        FieldGoalsAttempted:
          type:
          - number
          - 'null'
          description: Total number of field goals attempted
        FieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total field goal percentage
        EffectiveFieldGoalsPercentage:
          type:
          - number
          - 'null'
          description: Total effective field goals percentage
        TwoPointersMade:
          type:
          - number
          - 'null'
          description: Total two pointers made
        TwoPointersAttempted:
          type:
          - number
          - 'null'
          description: Total two pointers attempted
        TwoPointersPercentage:
          type:
          - number
          - 'null'
          description: Total two pointers percentage
        ThreePointersMade:
          type:
          - number
          - 'null'
          description: Total three pointers made
        ThreePointersAttempted:
          type:
          - number
          - 'null'
          description: Total three pointers attempted
        ThreePointersPercentage:
          type:
          - number
          - 'null'
          description: Total three pointers percentage
        FreeThrowsMade:
          type:
          - number
          - 'null'
          description: Total free throws made
        FreeThrowsAttempted:
          type:
          - number
          - 'null'
          description: Total free throws attempted
        FreeThrowsPercentage:
          type:
          - number
          - 'null'
          description: Total free throws percentage
        OffensiveRebounds:
          type:
          - number
          - 'null'
          description: Total offensive rebounds
        DefensiveRebounds:
          type:
          - number
          - 'null'
          description: Total defensive rebounds
        Rebounds:
          type:
          - number
          - 'null'
          description: Total rebounds
        OffensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total offensive rebounds percentage
        DefensiveReboundsPercentage:
          type:
          - number
          - 'null'
          description: Total defensive rebounds percentage
        TotalReboundsPercentage:
          type:
          - number
          - 'null'
          description: The player/team total rebounds percentage
        Assists:
          type:
          - number
          - 'null'
          description: Total assists
        Steals:
          type:
          - number
          - 'null'
          description: Total steals
        BlockedShots:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Turnovers:
          type:
          - number
          - 'null'
          description: Total turnovers
        PersonalFouls:
          type:
          - number
          - 'null'
          description: Total personal fouls
        Points:
          type:
          - number
          - 'null'
          description: Total points scored
        TrueShootingAttempts:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting attempts as defined here: http://www.basketball-reference.com/about/glossary.html'
        TrueShootingPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s true shooting percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        PlayerEfficiencyRating:
          type:
          - number
          - 'null'
          description: 'The player''s linear weight efficiency rating as defined here: http://bleacherreport.com/articles/113144-cracking-the-code-how-to-calculate-hollingers-per-without-all-the-mess'
        AssistsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s assist percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        StealsPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s steal percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        BlocksPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s block percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        TurnOversPercentage:
          type:
          - number
          - 'null'
          description: 'The player''s turnover percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        UsageRatePercentage:
          type:
          - number
          - 'null'
          description: 'The player''s usage rate percentage as defined here: http://www.basketball-reference.com/about/glossary.html'
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        DoubleDoubles:
          type:
          - number
          - 'null'
          description: Total double-doubles scored
        TripleDoubles:
          type:
          - number
          - 'null'
          description: Total triple-doubles scored
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
        IsClosed:
          type: boolean
          description: Indicates whether the game is over and the stats for this player have been verified and closed out.
        LineupConfirmed:
          type:
          - boolean
          - 'null'
          description: Indicates whether starting lineup is confirmed
        LineupStatus:
          type:
          - string
          - 'null'
          description: Indicates whether player is starting, active, or inactive
    Unauthorized:
      properties:
        HttpStatusCode:
          type: integer
        Code:
          type: integer
        Description:
          type: string
        Help:
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: key
      in: query
