openapi: 3.1.0
info:
  title: MLB MLB v3 Headshots NHL v3 Stats API
  version: '1.0'
  description: MLB API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: NHL v3 Stats
paths:
  /v3/nhl/stats/{format}/BoxScore/{gameid}:
    get:
      description: Full statistical information for a specified game, down to the team and player stat level, delivered live during the game, called per individual game.
      operationId: nhl_v3_stats_box_score__live___final
      summary: Box Score [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code> or <code>16905</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/BoxScores/{date}:
    get:
      description: Full statistical information for a specified game, down to the team and player stat level, delivered live during the games, called for all games on a given date.
      operationId: nhl_v3_stats_box_scores___by_date__live___final
      summary: Box Scores - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2017-OCT-31</code>, <code>2018-FEB-15</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/BoxScoresDelta/{date}/{minutes}:
    get:
      description: This method returns all box scores for a given date, but only returns player stats that have changed in the last X minutes as specified in your API call. By definition this is a live endpoint, not final.
      operationId: nhl_v3_stats_box_scores_delta___by_date
      summary: Box Scores Delta - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2017-OCT-31</code>, <code>2018-FEB-15</code>.\n "
        required: true
        schema:
          type: string
      - name: minutes
        in: path
        description: "Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:\n <code>1</code> or <code>2</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/PlayerGameStatsByDate/{date}:
    get:
      description: Returns the box score statistical record for all involved players across a given date, updated live as the game takes place.
      operationId: nhl_v3_stats_player_game_stats___by_date__live___final
      summary: Player Game Stats - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2017-OCT-31</code>, <code>2018-FEB-15</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/PlayerSeasonStats/{season}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each individual game record) for all players for a given season.
      operationId: nhl_v3_stats_player_season_stats
      summary: Player Season Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/PlayerSeasonStatsByTeam/{season}/{team}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each individual game record) for a given team's players in a given season.
      operationId: nhl_v3_stats_player_season_stats___by_team
      summary: Player Season Stats - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n "
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: "The abbreviation of the requested team.\n <br>Examples: <code>SF</code>, <code>NYY</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/TeamStatsAllowedByPosition/{season}:
    get:
      description: Aggregated season stats allowed by each team against a given position (e.g. C, LW.)
      operationId: nhl_v3_stats_team_stats_allowed___by_position
      summary: Team Stats Allowed - by Position
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/LinesBySeason/{season}:
    get:
      description: The line combinations - groups of skaters that play together - ordered and given by season.
      operationId: nhl_v3_stats_line_combinations___by_season
      summary: Line Combinations - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamLine'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/PlayerGameStatsBySeason/{season}/{playerid}/{numberofgames}:
    get:
      description: Specify a season, a player, and number of games (either an integer or <code>all</code>) to see all of their box score logs. Refreshed after their most recent game is complete.
      operationId: nhl_v3_stats_player_game_logs___by_season
      summary: Player Game Logs - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: Season to get games from. Example <code>2019POST</code>, <code>2020</code>
        required: true
        schema:
          type: string
      - name: playerid
        in: path
        description: 'Unique SportsDataIO Player ID.

          Example:<code>30000651</code>.'
        required: true
        schema:
          type: string
      - name: numberofgames
        in: path
        description: How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/BoxScoreFinal/{gameid}:
    get:
      description: Full statistical information for a specified game, down to the team and player stat level, delivered after the game is complete.
      operationId: nhl_v3_stats_box_score__final
      summary: Box Score [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: gameid
        in: path
        description: The GameID of an NHL game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code> or <code>16905</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/BoxScoresFinal/{date}:
    get:
      description: Full statistical information for a specified date for each game that took place, down to the team and player stat level, delivered after the game is complete.
      operationId: nhl_v3_stats_box_scores___by_date__final
      summary: Box Scores - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2017-OCT-31</code>, <code>2018-FEB-15</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/TeamGameStatsByDateFinal/{date}:
    get:
      description: Returns the box score statistical record team-wide (aggregated from all players) for a given team's game in a given week after the game has concluded.
      operationId: nhl_v3_stats_team_game_stats___by_date__final
      summary: Team Game Stats - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/PlayerGameStatsByDateFinal/{date}:
    get:
      description: Returns the box score statistical record for all involved players across all teams' games on a given date after each game has concluded.
      operationId: nhl_v3_stats_player_game_stats___by_date__final
      summary: Player Game Stats - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2017-OCT-31</code>, <code>2018-FEB-15</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
  /v3/nhl/stats/{format}/FantasyGameStatsByDate/{date}:
    get:
      description: Simple fantasy points awarded to each player who took part in a game on a given date.
      operationId: nhl_v3_stats_fantasy_points___by_date
      summary: Fantasy Points - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: "The date of the game(s).\n <br>Examples: <code>2017-OCT-31</code>, <code>2018-FEB-15</code>.\n "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FantasyGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NHL v3 Stats
components:
  schemas:
    ScoringPlay:
      properties:
        ScoringPlayID:
          type: integer
          description: The unique ID of the scoring play
        PeriodID:
          type: integer
          description: The unique ID associated of this period
        Sequence:
          type:
          - integer
          - 'null'
          description: The sequence/order that this scoring play happened
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: 'Number of minutes that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock minutes which are the number of minutes that have already passed in the period.'
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: 'Number of seconds that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock sconds which are the number of minutes that have already passed in the period.'
        ScoredByTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the team that scored the goal
        AllowedByTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the team that allowed the goal
        ScoredByPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who scored the goal
        AssistedByPlayerID1:
          type:
          - integer
          - 'null'
          description: The PlayerID of the FIRST player who assisted on the goal
        AssistedByPlayerID2:
          type:
          - integer
          - 'null'
          description: The PlayerID of the SECOND player who assisted on the goal
        PowerPlay:
          type:
          - boolean
          - 'null'
          description: Whether or not the goal was scored on the power play
        ShortHanded:
          type:
          - boolean
          - 'null'
          description: Whether the goal was scored shorthanded
        EmptyNet:
          type:
          - boolean
          - 'null'
          description: Whether the goal was an empty net goal or not
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: The score of the away team after the conclusion of the scoring play
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: The score of the home team after the conclusion of the scoring play
    Period:
      properties:
        PeriodID:
          type: integer
          description: The unique ID associated of this period
        GameID:
          type: integer
          description: The unique ID of this game tied to this period
        Name:
          type:
          - string
          - 'null'
          description: 'The name of the period (possible values: 1; 2; 3; SO; OT; OT2; OT3; OT4; etc)'
        AwayScore:
          type:
          - integer
          - 'null'
          description: Total goals scored by the away team in a given period
        HomeScore:
          type:
          - integer
          - 'null'
          description: Total goals scored by the home team in the period
        ScoringPlays:
          type: array
          items:
            $ref: '#/components/schemas/ScoringPlay'
          description: The details of the scoring plays that occurred during this period
        Penalties:
          type: array
          items:
            $ref: '#/components/schemas/Penalty'
          description: The details of the penalties that occurred during this period
    PlayerGame:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 5=AllStar; 6=Exhibition)
        Season:
          type:
          - integer
          - 'null'
          description: The NHL season of the game
        Name:
          type:
          - string
          - 'null'
          description: The player's full name
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s primary position. Possible values: C; RW; LW; D; or G'
        FantasyDataSalary:
          type:
          - integer
          - 'null'
          description: The player's salary as calculated by SportsDataIO (formerly known as FantasyData). Based on the same salary cap as DraftKings contests ($50,000)
        FanDuelSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for FanDuel daily fantasy contests
        DraftKingsSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for DraftKings daily fantasy contests
        YahooSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for Yahoo daily fantasy contests.
        InjuryStatus:
          type:
          - string
          - 'null'
          description: 'The player''s current injury status; in the form of likelihood that player plays. Possible values: Probable; Questionable; Doubtful; Out'
        InjuryBodyPart:
          type:
          - string
          - 'null'
          description: The body part that is injured for the player (Knee; Groin; Calf; Upper-body; etc.)
        InjuryStartDate:
          type:
          - string
          - 'null'
          description: The day that the injury started or was first discovered
        InjuryNotes:
          type:
          - string
          - 'null'
          description: Brief description of the player's injury and expected availability
        FanDuelPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in FanDuel's daily fantasy sports platform
        DraftKingsPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in DraftKings' daily fantasy sports platform
        YahooPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Yahoo's daily fantasy sports platform.
        OpponentRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent with regards to fantasy points allowed
        OpponentPositionRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent by position with regards to fantasy points allowed
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues
        FantasyDraftSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for FantasyDraft daily fantasy contests
        FantasyDraftPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Fantasy Drafts daily fantasy sports platform.
        EvenStrengthMinutes:
          type:
          - integer
          - 'null'
          description: The number of minutes played at even strength by the player in the game
        EvenStrengthSeconds:
          type:
          - integer
          - 'null'
          description: The number of seconds played at even strength by the player in the game
        PowerPlayMinutes:
          type:
          - integer
          - 'null'
          description: Total minutes played by the player on the power play in the game
        PowerPlaySeconds:
          type:
          - integer
          - 'null'
          description: The number of seconds (remainder after minutes) played on a Power Play
        ShortHandedMinutes:
          type:
          - integer
          - 'null'
          description: The number of minutes played short handed by the player in the game
        ShortHandedSeconds:
          type:
          - integer
          - 'null'
          description: The number of seconds (remainder after minutes) played short handed by the player in the game
        Points:
          type:
          - number
          - 'null'
          description: 'Total points for the player in the game. Note: points are calculated by adding up a player''s goals and assists'
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of this game
        OpponentID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's opponent
        Opponent:
          type:
          - string
          - 'null'
          description: The name of the opponent 
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Whether the team is home or away
        IsGameOver:
          type: boolean
          description: Whether the game is over (true/false)
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalOpponentID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this opponent. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time).
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played.
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        Goals:
          type:
          - number
          - 'null'
          description: Total number of goals scored
        Assists:
          type:
          - number
          - 'null'
          description: Total number of assists
        ShotsOnGoal:
          type:
          - number
          - 'null'
          description: Total number of shots on goal
        PowerPlayGoals:
          type:
          - number
          - 'null'
          description: Total number of power play goals
        ShortHandedGoals:
          type:
          - number
          - 'null'
          description: Total number of short handed goals
        EmptyNetGoals:
          type:
          - number
          - 'null'
          description: Total number of empty net goals
        PowerPlayAssists:
          type:
          - number
          - 'null'
          description: Total number of power play assists
        ShortHandedAssists:
          type:
          - number
          - 'null'
          description: Total number of short handed assists
        HatTricks:
          type:
          - number
          - 'null'
          description: Total number of hat tricks
        ShootoutGoals:
          type:
          - number
          - 'null'
          description: Total number of shootout goals
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        PenaltyMinutes:
          type:
          - number
          - 'null'
          description: Total pentalty minutes
        Blocks:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Hits:
          type:
          - number
          - 'null'
          description: Total hits
        Takeaways:
          type:
          - number
          - 'null'
          description: Total takeaways
        Giveaways:
          type:
          - number
          - 'null'
          description: Total giveaways
        FaceoffsWon:
          type:
          - number
          - 'null'
          description: Total faceoffs won
        FaceoffsLost:
          type:
          - number
          - 'null'
          description: Total faceoffs lost
        Shifts:
          type:
          - number
          - 'null'
          description: Total shifts
        GoaltendingMinutes:
          type:
          - integer
          - 'null'
          description: Total goaltending minutes
        GoaltendingSeconds:
          type:
          - integer
          - 'null'
          description: Total goaltending seconds
        GoaltendingShotsAgainst:
          type:
          - number
          - 'null'
          description: Total goaltending shots against
        GoaltendingGoalsAgainst:
          type:
          - number
          - 'null'
          description: Total goaltending goals against
        GoaltendingSaves:
          type:
          - number
          - 'null'
          description: Total goaltending saves
        GoaltendingWins:
          type:
          - number
          - 'null'
          description: Total goaltending wins
        GoaltendingLosses:
          type:
          - number
          - 'null'
          description: Total goaltendings losses
        GoaltendingShutouts:
          type:
          - number
          - 'null'
          description: Total goaltendings shutouts
        Started:
          type:
          - integer
          - 'null'
          description: Total games started
        BenchPenaltyMinutes:
          type:
          - number
          - 'null'
          description: Total bench pentalty minutes
        GoaltendingOvertimeLosses:
          type:
          - number
          - 'null'
          description: Total goaltending overtime losses
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
    TeamGame:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 5=AllStar; 6=Exhibition)
        Season:
          type:
          - integer
          - 'null'
          description: The NHL season of the game
        Name:
          type:
          - string
          - 'null'
          description: The team's full name (ex. Minnesota Wild; New York Islanders)
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Wins:
          type:
          - integer
          - 'null'
          description: 'Total number of wins by the team in the game. NOTE: this will be one for single game feeds'
        Losses:
          type:
          - integer
          - 'null'
          description: 'Total losses for the team in the game. NOTE: this will be a maximum of one for single game feeds'
        OvertimeLosses:
          type:
          - integer
          - 'null'
          description: Total overtime losses by the team in the game
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of this game
        OpponentID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's opponent
        Opponent:
          type:
          - string
          - 'null'
          description: The name of the opponent 
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Whether the team is home or away
        IsGameOver:
          type: boolean
          description: Whether the game is over (true/false)
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalOpponentID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this opponent. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time).
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played.
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        Goals:
          type:
          - number
          - 'null'
          description: Total number of goals scored
        Assists:
          type:
          - number
          - 'null'
          description: Total number of assists
        ShotsOnGoal:
          type:
          - number
          - 'null'
          description: Total number of shots on goal
        PowerPlayGoals:
          type:
          - number
          - 'null'
          description: Total number of power play goals
        ShortHandedGoals:
          type:
          - number
          - 'null'
          description: Total number of short handed goals
        EmptyNetGoals:
          type:
          - number
          - 'null'
          description: Total number of empty net goals
        PowerPlayAssists:
          type:
          - number
          - 'null'
          description: Total number of power play assists
        ShortHandedAssists:
          type:
          - number
          - 'null'
          description: Total number of short handed assists
        HatTricks:
          type:
          - number
          - 'null'
          description: Total number of hat tricks
        ShootoutGoals:
          type:
          - number
          - 'null'
          description: Total number of shootout goals
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        PenaltyMinutes:
          type:
          - number
          - 'null'
          description: Total pentalty minutes
        Blocks:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Hits:
          type:
          - number
          - 'null'
          description: Total hits
        Takeaways:
          type:
          - number
          - 'null'
          description: Total takeaways
        Giveaways:
          type:
          - number
          - 'null'
          description: Total giveaways
        FaceoffsWon:
          type:
          - number
          - 'null'
          description: Total faceoffs won
        FaceoffsLost:
          type:
          - number
          - 'null'
          description: Total faceoffs lost
        Shifts:
          type:
          - number
          - 'null'
          description: Total shifts
        GoaltendingMinutes:
          type:
          - integer
          - 'null'
          description: Total goaltending minutes
        GoaltendingSeconds:
          type:
          - integer
          - 'null'
          description: Total goaltending seconds
        GoaltendingShotsAgainst:
          type:
          - number
          - 'null'
          description: Total goaltending shots against
        GoaltendingGoalsAgainst:
          type:
          - number
          - 'null'
          description: Total goaltending goals against
        GoaltendingSaves:
          type:
          - number
          - 'null'
          description: Total goaltending saves
        GoaltendingWins:
          type:
          - number
          - 'null'
          description: Total goaltending wins
        GoaltendingLosses:
          type:
          - number
          - 'null'
          description: Total goaltendings losses
        GoaltendingShutouts:
          type:
          - number
          - 'null'
          description: Total goaltendings shutouts
        Started:
          type:
          - integer
          - 'null'
          description: Total games started
        BenchPenaltyMinutes:
          type:
          - number
          - 'null'
          description: Total bench pentalty minutes
        GoaltendingOvertimeLosses:
          type:
          - number
          - 'null'
          description: Total goaltending overtime losses
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
    OpponentSeason:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 5=AllStar; 6=Exhibition)
        Season:
          type:
          - integer
          - 'null'
          description: The NHL regular season for which these totals apply
        Name:
          type:
          - string
          - 'null'
          description: The team's full name (ex. Minnesota Wild; New York Islanders)
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Wins:
          type:
          - integer
          - 'null'
          description: Total number of wins by the team in the season
        Losses:
          type:
          - integer
          - 'null'
          description: Total losses for the team in the season
        OvertimeLosses:
          type:
          - integer
          - 'null'
          description: Total overtime losses by the team in the season
        OpponentPosition:
          type:
          - string
          - 'null'
          description: Indicates which position is included in opponent stats that are aggregated together
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time).
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played.
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        Goals:
          type:
          - number
          - 'null'
          description: Total number of goals scored
        Assists:
          type:
          - number
          - 'null'
          description: Total number of assists
        ShotsOnGoal:
          type:
          - number
          - 'null'
          description: Total number of shots on goal
        PowerPlayGoals:
          type:
          - number
          - 'null'
          description: Total number of power play goals
        ShortHandedGoals:
          type:
          - number
          - 'null'
          description: Total number of short handed goals
        EmptyNetGoals:
          type:
          - number
          - 'null'
          description: Total number of empty net goals
        PowerPlayAssists:
          type:
          - number
          - 'null'
          description: Total number of power play assists
        ShortHandedAssists:
          type:
          - number
          - 'null'
          description: Total number of short handed assists
        HatTricks:
          type:
          - number
          - 'null'
          description: Total number of hat tricks
        ShootoutGoals:
          type:
          - number
          - 'null'
          description: Total number of shootout goals
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        PenaltyMinutes:
          type:
          - number
          - 'null'
          description: Total pentalty minutes
        Blocks:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Hits:
          type:
          - number
          - 'null'
          description: Total hits
        Takeaways:
          type:
          - number
          - 'null'
          description: Total takeaways
        Giveaways:
          type:
          - number
          - 'null'
          description: Total giveaways
        FaceoffsWon:
          type:
          - number
          - 'null'
          description: Total faceoffs won
        FaceoffsLost:
          type:
          - number
          - 'null'
          description: Total faceoffs lost
        Shifts:
          type:
          - number
          - 'null'
          description: Total shifts
        GoaltendingMinutes:
          type:
          - integer
          - 'null'
          description: Total goaltending minutes
        GoaltendingSeconds:
          type:
          - integer
          - 'null'
          description: Total goaltending seconds
        GoaltendingShotsAgainst:
          type:
          - number
          - 'null'
          description: Total goaltending shots against
        GoaltendingGoalsAgainst:
          type:
          - number
          - 'null'
          description: Total goaltending goals against
        GoaltendingSaves:
          type:
          - number
          - 'null'
          description: Total goaltending saves
        GoaltendingWins:
          type:
          - number
          - 'null'
          description: Total goaltending wins
        GoaltendingLosses:
          type:
          - number
          - 'null'
          description: Total goaltendings losses
        GoaltendingShutouts:
          type:
          - number
          - 'null'
          description: Total goaltendings shutouts
        Started:
          type:
          - integer
          - 'null'
          description: Total games started
        BenchPenaltyMinutes:
          type:
          - number
          - 'null'
          description: Total bench pentalty minutes
        GoaltendingOvertimeLosses:
          type:
          - number
          - 'null'
          description: Total goaltending overtime losses
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
    Game:
      properties:
        GameID:
          type: integer
          description: The unique ID of this game
        Season:
          type: integer
          description: The NHL season of the game
        SeasonType:
          type: integer
          description: The type of season that this record corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 5=AllStar, 6=Exhibition).
        Status:
          type:
          - string
          - 'null'
          description: 'Indicates the game''s status. Possible values include: Scheduled, InProgress, Final, F/SO, F/OT, Suspended, Postponed, Delayed, Canceled, Forfeit, NotNecessary'
        Day:
          type:
          - string
          - 'null'
          description: The date of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game in US Eastern Time
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (in US Eastern Time).
        IsClosed:
          type:
          - boolean
          - 'null'
          description: 'Indicates whether the game is over and the final score has been verified and closed out. NOTE: it is recommend for bet resulting to use IsClosed = True rather than simply Final game status'
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the away team
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        AwayTeamID:
          type: integer
          description: The unique ID of the away team
        HomeTeamID:
          type: integer
          description: The unique ID of the home team
        StadiumID:
          type:
          - integer
          - 'null'
          description: The unique ID of the stadium
        Channel:
          type:
          - string
          - 'null'
          description: The television station broadcasting the game
        Attendance:
          type:
          - integer
          - 'null'
          description: The total number of people who attended the game
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of goals scored by the away team in the game
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: Total number of goals scored by the home team in the game
        Period:
          type:
          - string
          - 'null'
          description: 'Indicates the current period of the game. Possible values include: 1; 2; 3; OT; SO; NULL'
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: Number of minutes remaining in the current period
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: 'Number of seconds that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock sconds which are the number of minutes that have already passed in the period.'
        AwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Moneyline from the perspective of the away team
        HomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: Moneyline from the perspective of the home team
        PointSpread:
          type:
          - number
          - 'null'
          description: The oddsmaker puck line at game start from the perspective of the HomeTeam (negative numbers indicate the HomeTeam is favored; positive numbers indicate the AwayTeam is favored).
        OverUnder:
          type:
          - number
          - 'null'
          description: The sportsbook's total goals scored line (Over/Under) for the game
        GlobalGameID:
          type: integer
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        GlobalAwayTeamID:
          type: integer
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues.
        GlobalHomeTeamID:
          type: integer
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues.
        PointSpreadAwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The payout odds when betting on the away team with the puck line
        PointSpreadHomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The payout odds when betting on the home team with the puck line
        LastPlay:
          type:
          - string
          - 'null'
          description: The description of the most recent play/event of the game. This is for display purposes and does not include corresponding data points.
        Periods:
          type: array
          items:
            $ref: '#/components/schemas/Period'
          description: The details of the periods (including overtime if applicable) for this game.
        GameEndDateTime:
          type:
          - string
          - 'null'
          description: The date and time that the game ended in US Eastern Time
        HomeRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the home team for this game
        AwayRotationNumber:
          type:
          - integer
          - 'null'
          description: The rotation number of the away team for a game
        NeutralVenue:
          type:
          - boolean
          - 'null'
          description: Indicates whether this game is played in a neutral venue
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the over
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under
        DateTimeUTC:
          type:
          - string
          - 'null'
          description: The date and time of the game in UTC
        SeriesInfo:
          $ref: '#/components/schemas/Series'
          description: Contains relevant series data for playoff series only - HomeTeamWins, AwayTeamWins, GameNumber, and MaxLength
        RescheduledFromGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the originally scheduled, postponed game, that this game was rescheduled from. This only pertains to games that are scheduled as "make up" games.
        RescheduledGameID:
          type:
          - integer
          - 'null'
          description: The GameID of the game that was rescheduled from this game. This only pertains to postponed games that require rescheduling.
        Referee1ID:
          type:
          - integer
          - 'null'
          description: The unique ID of the main referee of this game
        Referee2ID:
          type:
          - integer
          - 'null'
          description: The unique ID of the secondary referee of this game
        Linesperson1ID:
          type:
          - integer
          - 'null'
          description: The unique ID of the main linesperson of this game
        Linesperson2ID:
          type:
          - integer
          - 'null'
          description: The unique ID of the secondary linesperson of this game
    Play:
      properties:
        PlayID:
          type: integer
          description: The unique ID of the play
        PeriodID:
          type: integer
          description: The unique ID of the period during which this play occurred
        PeriodName:
          type:
          - string
          - 'null'
          description: The name of the period that this play occurred in
        Sequence:
          type: integer
          description: The order in which this play happened over the course of the game
        ClockMinutes:
          type:
          - integer
          - 'null'
          description: The number of minutes passed in the period when this play completed
        ClockSeconds:
          type:
          - integer
          - 'null'
          description: The number of seconds passed in the period when this play completed
        AwayTeamScore:
          type:
          - integer
          - 'null'
          description: The score of the away team after the play ended
        HomeTeamScore:
          type:
          - integer
          - 'null'
          description: The score of the home team after the play ended
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team associated with this play
        OpponentID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's opponent associated with this play
        Opponent:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the opponent team
        Category:
          type:
          - string
          - 'null'
          description: 'The category of the play. Possible values: Block; Faceoff; Goal; Hit; Penalty; Period; Shootout; Shot; Stoppage; Turnover'
        Type:
          type:
          - string
          - 'null'
          description: 'The type of the play. Possible values: AwayTeamTimeout, Block, Boarding, Charging, CheckToTheHead, Clipping, ClosingHandOnThePuck, CrossChecking, DelayOfGame, Elbowing, Faceoff, Fighting, GameMisconduct, Giveaway, Goal, GoalieStopped, HandPass, HighSticking, HighStickOnPuck, Hit, Holding, HoldingTheStick, HomeTeamTimeout, Hooking, Icing, IllegalEquipment, Interference, Kneeing, MinorPenalty, Misconduct, NetOffPost, ObjectsOnIce, Offside, Period, PeriodEnd, PlayerEquipment, PlayerInjury, PowerPlayGoal, PuckFrozen, PuckInBench, PuckInCrowd, PuckInNetting, Referee, RinkRepair, Roughing, ShootoutGoal, ShootoutMiss, ShootoutSave, ShotMissed, ShotOnGoal, Slashing, Stoppage, Takeaway, TooManyMen, Tripping, TvTimeout, Unsportsmanlike, VideoReview'
        Description:
          type:
          - string
          - 'null'
          description: 'The description of the play (example: Sidney Crosby won faceoff against Aaron Ekblad)'
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the play was last updated (in US Eastern Time)
        Created:
          type:
          - string
          - 'null'
          description: The database generated timestamp of when this play was first created; based on US Eatern Time (EST/EDT)
        FirstAssistedByPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who got the first assist on this play (if applicable)
        SecondAssistedByPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who got the second assist on this play (if applicable)
        PowerPlayTeamID:
          type:
          - integer
          - 'null'
          description: The unique TeamID of the team on the power play this play (if any)
        PowerPlayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team on the power play this play (if any)
        OpposingPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player involved in the play on the opposing team
    BoxScore:
      properties:
        Game:
          $ref: '#/components/schemas/Game'
          description: The details of the game associated with this box score
        Periods:
          type: array
          items:
            $ref: '#/components/schemas/Period'
          description: The details of the periods associated with this box score
        TeamGames:
          type: array
          items:
            $ref: '#/components/schemas/TeamGame'
          description: The team game stats associated with this box score
        PlayerGames:
          type: array
          items:
            $ref: '#/components/schemas/PlayerGame'
          description: The player game stats associated with this box score
        ShootoutPlays:
          type: array
          items:
            $ref: '#/components/schemas/Play'
          description: The details of any shootout plays associated with this box score
    TeamSeason:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 5=AllStar; 6=Exhibition)
        Season:
          type:
          - integer
          - 'null'
          description: The NHL regular season for which these totals apply
        Name:
          type:
          - string
          - 'null'
          description: The team's full name (ex. Minnesota Wild; New York Islanders)
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Wins:
          type:
          - integer
          - 'null'
          description: Total number of wins by the team in the season
        Losses:
          type:
          - integer
          - 'null'
          description: Total losses for the team in the season
        OvertimeLosses:
          type:
          - integer
          - 'null'
          description: Total overtime losses by the team in the season
        OpponentPosition:
          type:
          - string
          - 'null'
          description: Indicates which position is included in opponent stats that are aggregated together
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues
        OpponentStat:
          $ref: '#/components/schemas/OpponentSeason'
          description: The aggregated season stats for this team's opponents
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time).
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played.
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        Goals:
          type:
          - number
          - 'null'
          description: Total number of goals scored
        Assists:
          type:
          - number
          - 'null'
          description: Total number of assists
        ShotsOnGoal:
          type:
          - number
          - 'null'
          description: Total number of shots on goal
        PowerPlayGoals:
          type:
          - number
          - 'null'
          description: Total number of power play goals
        ShortHandedGoals:
          type:
          - number
          - 'null'
          description: Total number of short handed goals
        EmptyNetGoals:
          type:
          - number
          - 'null'
          description: Total number of empty net goals
        PowerPlayAssists:
          type:
          - number
          - 'null'
          description: Total number of power play assists
        ShortHandedAssists:
          type:
          - number
          - 'null'
          description: Total number of short handed assists
        HatTricks:
          type:
          - number
          - 'null'
          description: Total number of hat tricks
        ShootoutGoals:
          type:
          - number
          - 'null'
          description: Total number of shootout goals
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        PenaltyMinutes:
          type:
          - number
          - 'null'
          description: Total pentalty minutes
        Blocks:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Hits:
          type:
          - number
          - 'null'
          description: Total hits
        Takeaways:
          type:
          - number
          - 'null'
          description: Total takeaways
        Giveaways:
          type:
          - number
          - 'null'
          description: Total giveaways
        FaceoffsWon:
          type:
          - number
          - 'null'
          description: Total faceoffs won
        FaceoffsLost:
          type:
          - number
          - 'null'
          description: Total faceoffs lost
        Shifts:
          type:
          - number
          - 'null'
          description: Total shifts
        GoaltendingMinutes:
          type:
          - integer
          - 'null'
          description: Total goaltending minutes
        GoaltendingSeconds:
          type:
          - integer
          - 'null'
          description: Total goaltending seconds
        GoaltendingShotsAgainst:
          type:
          - number
          - 'null'
          description: Total goaltending shots against
        GoaltendingGoalsAgainst:
          type:
          - number
          - 'null'
          description: Total goaltending goals against
        GoaltendingSaves:
          type:
          - number
          - 'null'
          description: Total goaltending saves
        GoaltendingWins:
          type:
          - number
          - 'null'
          description: Total goaltending wins
        GoaltendingLosses:
          type:
          - number
          - 'null'
          description: Total goaltendings losses
        GoaltendingShutouts:
          type:
          - number
          - 'null'
          description: Total goaltendings shutouts
        Started:
          type:
          - integer
          - 'null'
          description: Total games started
        BenchPenaltyMinutes:
          type:
          - number
          - 'null'
          description: Total bench pentalty minutes
        GoaltendingOvertimeLosses:
          type:
          - number
          - 'null'
          description: Total goaltending overtime losses
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
    PlayerSeason:
      properties:
        StatID:
          type: integer
          description: The unique ID of the stat
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 5=AllStar; 6=Exhibition)
        Season:
          type:
          - integer
          - 'null'
          description: The NHL regular season for which these totals apply
        Name:
          type:
          - string
          - 'null'
          description: The player's full name
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s primary position. Possible values: C; RW; LW; D; or G'
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (US Eastern Time).
        Games:
          type:
          - integer
          - 'null'
          description: The number of games played.
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points scored
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points scored
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points scored
        Minutes:
          type:
          - integer
          - 'null'
          description: Total number of minutes played
        Seconds:
          type:
          - integer
          - 'null'
          description: Total number of seconds played
        Goals:
          type:
          - number
          - 'null'
          description: Total number of goals scored
        Assists:
          type:
          - number
          - 'null'
          description: Total number of assists
        ShotsOnGoal:
          type:
          - number
          - 'null'
          description: Total number of shots on goal
        PowerPlayGoals:
          type:
          - number
          - 'null'
          description: Total number of power play goals
        ShortHandedGoals:
          type:
          - number
          - 'null'
          description: Total number of short handed goals
        EmptyNetGoals:
          type:
          - number
          - 'null'
          description: Total number of empty net goals
        PowerPlayAssists:
          type:
          - number
          - 'null'
          description: Total number of power play assists
        ShortHandedAssists:
          type:
          - number
          - 'null'
          description: Total number of short handed assists
        HatTricks:
          type:
          - number
          - 'null'
          description: Total number of hat tricks
        ShootoutGoals:
          type:
          - number
          - 'null'
          description: Total number of shootout goals
        PlusMinus:
          type:
          - number
          - 'null'
          description: Total plus minus
        PenaltyMinutes:
          type:
          - number
          - 'null'
          description: Total pentalty minutes
        Blocks:
          type:
          - number
          - 'null'
          description: Total blocked shots
        Hits:
          type:
          - number
          - 'null'
          description: Total hits
        Takeaways:
          type:
          - number
          - 'null'
          description: Total takeaways
        Giveaways:
          type:
          - number
          - 'null'
          description: Total giveaways
        FaceoffsWon:
          type:
          - number
          - 'null'
          description: Total faceoffs won
        FaceoffsLost:
          type:
          - number
          - 'null'
          description: Total faceoffs lost
        Shifts:
          type:
          - number
          - 'null'
          description: Total shifts
        GoaltendingMinutes:
          type:
          - integer
          - 'null'
          description: Total goaltending minutes
        GoaltendingSeconds:
          type:
          - integer
          - 'null'
          description: Total goaltending seconds
        GoaltendingShotsAgainst:
          type:
          - number
          - 'null'
          description: Total goaltending shots against
        GoaltendingGoalsAgainst:
          type:
          - number
          - 'null'
          description: Total goaltending goals against
        GoaltendingSaves:
          type:
          - number
          - 'null'
          description: Total goaltending saves
        GoaltendingWins:
          type:
          - number
          - 'null'
          description: Total goaltending wins
        GoaltendingLosses:
          type:
          - number
          - 'null'
          description: Total goaltendings losses
        GoaltendingShutouts:
          type:
          - number
          - 'null'
          description: Total goaltendings shutouts
        Started:
          type:
          - integer
          - 'null'
          description: Total games started
        BenchPenaltyMinutes:
          type:
          - number
          - 'null'
          description: Total bench pentalty minutes
        GoaltendingOvertimeLosses:
          type:
          - number
          - 'null'
          description: Total goaltending overtime losses
        FantasyPointsFantasyDraft:
          type:
          - number
          - 'null'
          description: Total FantasyDraft daily fantasy points scored
    FantasyGame:
      properties:
        GameID:
          type:
          - integer
          - 'null'
          description: The unique ID of this game
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        SeasonType:
          type:
          - integer
          - 'null'
          description: The type of season that this record corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 5=AllStar; 6=Exhibition).
        Season:
          type:
          - integer
          - 'null'
          description: The NHL season of the game
        Day:
          type:
          - string
          - 'null'
          description: The day of the game
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game in US Eastern Time
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team this player is employed by
        Opponent:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the opponent team
        HomeOrAway:
          type:
          - string
          - 'null'
          description: Indicates whether the team is home or away
        Jersey:
          type:
          - integer
          - 'null'
          description: The player's jersey number
        Name:
          type:
          - string
          - 'null'
          description: The player's full name
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s primary position. Possible values: C; RW; LW; D; or G.'
        Games:
          type:
          - integer
          - 'null'
          description: 'Total games played by the player in the game. NOTE: this will be 1 or 0 for single game feeds'
        Started:
          type:
          - integer
          - 'null'
          description: 'Indicates whether or not the player started the game Note: this will be one or zero for single game feeds'
        FantasyPoints:
          type:
          - number
          - 'null'
          description: Total fantasy points by the player in the game
        IsGameOver:
          type: boolean
          description: Whether the game is over (returns true/false)
        FantasyPointsFanDuel:
          type:
          - number
          - 'null'
          description: Total FanDuel daily fantasy points by the player in the game
        FantasyPointsYahoo:
          type:
          - number
          - 'null'
          description: Total Yahoo daily fantasy points by the player in the game
        FantasyPointsDraftKings:
          type:
          - number
          - 'null'
          description: Total DraftKings daily fantasy points by the player in the game
        FanDuelPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in FanDuel's daily fantasy sports platform
        DraftKingsPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in DraftKings' daily fantasy sports platform
        YahooPosition:
          type:
          - string
          - 'null'
          description: The player's eligible position in Yahoo's daily fantasy sports platform.
        OpponentRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent with regards to fantasy points allowed
        OpponentPositionRank:
          type:
          - integer
          - 'null'
          description: The ranking of the player's opponent by position with regards to fantasy points allowed
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues.
        Updated:
          type:
          - string
          - 'null'
          description: The timestamp of when the record was last updated (in US Eastern Time)
    Series:
      properties:
        HomeTeamWins:
          type: integer
          description: Total wins in the series by the home team
        AwayTeamWins:
          type: integer
          description: Total wins in the series by the away team
        GameNumber:
          type: integer
          description: The number of the game being played in the series
        MaxLength:
          type: integer
          description: The maximum number of games that can be played in a postseason series
    Penalty:
      properties:
        PenaltyID:
          type: integer
          description: The unique ID of this penalty
        PeriodID:
          type: integer
          description: The unique ID of the period during which this penalty occurred
        Sequence:
          type:
          - integer
          - 'null'
          description: The sequence/order that this penalty happened
        TimeRemainingMinutes:
          type:
          - integer
          - 'null'
          description: 'Number of minutes that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock minutes which are the number of minutes that have already passed in the period.'
        TimeRemainingSeconds:
          type:
          - integer
          - 'null'
          description: 'Number of seconds that have passed in the current period.  NOTE: this field name might be misleading as it actually represents the game clock seconds which are the number of minutes that have already passed in the period.'
        Description:
          type:
          - string
          - 'null'
          description: The description of the penalty
        PenaltyMinutes:
          type:
          - integer
          - 'null'
          description: Total minutes the penalty lasts
        PenalizedTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the team who committed the penalty
        PenalizedPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who committed the penalty
        DrawnByTeamID:
          type:
          - integer
          - 'null'
          description: The TeamID of the player/team that drew the penalty
        DrawnByPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who drew the penalty
        IsBenchPenalty:
          type:
          - boolean
          - 'null'
          description: Whether or not the penalty is a bench penalty
        BenchPenaltyServedByPlayerID:
          type:
          - integer
          - 'null'
          description: The PlayerID of the player who served the bench penalty
    TeamLine:
      properties:
        TeamID:
          type: integer
          description: The unique ID of the team
        Key:
          type:
          - string
          - 'null'
          description: '"The abbreviation [Key] of the team associated with this market (Ex. BOS, EDM, LAK)"'
        FullName:
          type:
          - string
          - 'null'
          description: The team's full name (ex. Minnesota Wild; New York Islanders)
        EvenStrengthLines:
          type: array
          items:
            $ref: '#/components/schemas/PlayerLine'
          description: The even strength lines for this team
        PowerPlayLines:
          type: array
          items:
            $ref: '#/components/schemas/PlayerLine'
          description: The power play lines for a given team
        ShortHandedLines:
          type: array
          items:
            $ref: '#/components/schemas/PlayerLine'
          description: The short-handed/penalty-kill lines for this team
    Unauthorized:
      properties:
        HttpStatusCode:
          type: integer
        Code:
          type: integer
        Description:
          type: string
        Help:
          type: string
    PlayerLine:
      properties:
        LineNumber:
          type: integer
          description: The line the player is on (e.g. 1, 2, 3, or 4)
        Position:
          type:
          - string
          - 'null'
          description: 'The player''s primary position. Possible values: C; RW; LW; D; or G'
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The player''s unique PlayerID as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career'
        Name:
          type:
          - string
          - 'null'
          description: The full name of the player on the line
        Shoots:
          type:
          - string
          - 'null'
          description: The hand the player shoots the puck with (right or left)
        LineType:
          type:
          - string
          - 'null'
          description: The type of line the player is on (e.g. EvenStrength (EV); PowerPlay (PP); ShortHanded (SH))
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: key
      in: query
