openapi: 3.1.0
info:
  title: SOCCER API
  version: '1.0'
  description: SOCCER API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
paths:
  /v4/soccer/scores/{format}/GamesByDate/{competition}/{date}:
    get:
      description: Full scores and gameday info delivered live and post-game. Live
        data includes half and score info. Gameday info includes weather, TV channel
        etc
      operationId: soccer_v4_scores_games___by_date__live___final
      summary: Games - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/Areas:
    get:
      description: A list of countries, continents etc. for finding their respective
        competitions.
      operationId: soccer_v4_scores_areas__countries
      summary: Areas (Countries)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Area'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/Competitions:
    get:
      description: A list of all competitions (leagues, cups etc.) and their associated
        countries or areas.
      operationId: soccer_v4_scores_competitions__leagues
      summary: Competitions (Leagues)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Competition'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/Teams/{competition}:
    get:
      description: 'Full team information: team name and city, conference and division,
        and colors. Also contains basic fantasy info such as IDs as well as full stadium
        data. This endpoint returns the teams ever associated with a competition;
        use Team Profiles - by Season for just the current ones.'
      operationId: soccer_v4_scores_team_profiles___by_competition
      summary: Team Profiles - by Competition
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/Venues:
    get:
      description: Stadium information from across the world
      operationId: soccer_v4_scores_venues
      summary: Venues
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Venue'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/SeasonTeams/{competition}/{seasonid}:
    get:
      description: 'Full team information: team name and city, conference and division,
        and colors. Also contains basic fantasy info such as IDs as well as full stadium
        data. This endpoint returns the teams currently associated with a competition''s
        active season; use Team Profiles - by Competition for all-time (e.g. teams
        since relegated from the EPL.)'
      operationId: soccer_v4_scores_team_profiles___by_season
      summary: Team Profiles - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: seasonid
        in: path
        description: "Unique FantasyData Season ID. SeasonIDs can be found in the\
          \ Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>,\
          \ <code>2</code>, <code>3</code>, etc"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SeasonTeam'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/Schedule/{competition}/{season}:
    get:
      description: Home and away teams, date and time, season type and week etc. are
        included. Also includes gameday information. This includes full stadium information
        (capacity, lat/long, surface etc.), top-line betting information (spread,
        moneyline, total), weather conditions, and broadcast information.
      operationId: soccer_v4_scores_schedules
      summary: Schedules
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>,
          etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Round'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/PlayersByTeam/{competition}/{teamid}:
    get:
      description: Full player bio and details, including injury notes, for all available
        players by team.
      operationId: soccer_v4_scores_player_details___by_team
      summary: Player Details - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: teamid
        in: path
        description: "Unique FantasyData Team ID. \nExample:<code>516</code>."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/TeamSeasonStats/{competition}/{season}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each
        individual game record) for all teams (aggregated from all players) for a
        given season.
      operationId: soccer_v4_scores_team_season_stats
      summary: Team Season Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>,
          etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Round'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/TeamGameStatsByDate/{competition}/{date}:
    get:
      description: Returns the box score statistical record team-wide (aggregated
        from all players) for all games on a given date within a competition, both
        live and post-game.
      operationId: soccer_v4_scores_team_game_stats___by_date__live___final
      summary: Team Game Stats - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/Standings/{competition}/{season}:
    get:
      description: Includes regular season standings in a given league or tournament
        and season.
      operationId: soccer_v4_scores_standings
      summary: Standings
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>,
          etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Round'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/CompetitionDetails/{competition}:
    get:
      description: Full scores and gameday info delivered live and post-game. Live
        data includes half and score info, delivered by competition.
      operationId: soccer_v4_scores_games___by_competition__live___final
      summary: Games - by Competition [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/HistoricalMembershipsByTeam/{competition}/{teamid}:
    get:
      description: Historical memberships of a team, i.e. players who were once on
        the roster but have since left.
      operationId: soccer_v4_scores_memberships_historical___by_team
      summary: Memberships Historical - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: teamid
        in: path
        description: "Unique FantasyData Team ID. \nExample:<code>516</code>."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Membership'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/ActiveMemberships/{competition}:
    get:
      description: Players currently active on teams within a specified competition.
      operationId: soccer_v4_scores_memberships___by_active
      summary: Memberships - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Membership'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/RecentlyChangedMemberships/{competition}/{days}:
    get:
      description: A list of all recently changed memberships (e.g. player transfers,
        releases) for a given competition, called by number of days ago.
      operationId: soccer_v4_scores_memberships___by_recently_changed
      summary: Memberships - by Recently Changed
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: days
        in: path
        description: 'The number of days since memberships were updated. For example,
          if you pass <code>3</code>, you''ll receive all memberships that have been
          updated in the past 3 days. Valid entries are: <code>1</code>, <code>2</code>
          ... <code>30</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Membership'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/CanceledMemberships:
    get:
      description: Memberships (players' membership of a team) that have since been
        revoked by our system.
      operationId: soccer_v4_scores_memberships___by_canceled
      summary: Memberships - by Canceled
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanceledMembership'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/SchedulesBasic/{competition}/{season}:
    get:
      description: A lightweight schedule endpoint without gameday information. Home
        and away teams, the date and time of the game, and season type, week etc.
        are included. Ideal for the most basic information required to build a schedule.
      operationId: soccer_v4_scores_schedules__basic
      summary: Schedules (Basic)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>,
          etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/ScoresBasic/{competition}/{date}:
    get:
      description: Full scores and gameday info delivered live and post-game, called
        by date and competition.
      operationId: soccer_v4_scores_games__basic____by_date__live___final
      summary: Games (Basic) - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/PlayersByTeamBasic/{competition}/{teamid}:
    get:
      description: Roster information for a given team. Player profiles include basic
        biographical information, position, etc. Specify a TeamId parameter to receive
        all players currently on that team.
      operationId: soccer_v4_scores_player_profiles___by_team
      summary: Player Profiles - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: teamid
        in: path
        description: "Unique FantasyData Team ID. \nExample:<code>516</code>."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/GamesByDateFinal/{competition}/{date}:
    get:
      description: Full scores and gameday info, as well as half and full-time score,
        delivered post-game.
      operationId: soccer_v4_scores_games___by_date__final
      summary: Games - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/scores/{format}/ScoresBasicFinal/{competition}/{date}:
    get:
      description: The most top-line full-time information, ideal for basic applications,
        called by competition and date, delivered post-game.
      operationId: soccer_v4_scores_games__basic____by_date__final
      summary: Games (Basic) - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Scores
  /v4/soccer/headshots/{format}/Headshots:
    get:
      description: USA Today/IMAGN cropped action headshots for all active MLS players
        only, delivered shortly after the season starts.
      operationId: soccer_v4_headshots_headshots
      summary: Headshots
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Headshot'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Headshots
  /v4/soccer/projections/{format}/PlayerGameProjectionStatsByDate/{competition}/{date}:
    get:
      description: SportsDataIO's proprietary projections, including DFS salary information
        and injuries, for fantasy players, called by date.
      operationId: soccer_v4_projections_projected_player_game_stats___by_date
      summary: Projected Player Game Stats - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Projections
  /v4/soccer/projections/{format}/DfsSlatesByDate/{competition}/{date}:
    get:
      description: Returns DFS Slates which have not yet started, with their player
        and salary information.
      operationId: soccer_v4_projections_dfs_slates___by_date
      summary: DFS Slates - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2020-02-18</code>

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DfsSlate'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Projections
  /v4/soccer/projections/{format}/UpcomingDfsSlatesByCompetition/{competition}:
    get:
      description: Returns upcoming DFS Slates which have not yet started, with their
        player and salary information, by competition.
      operationId: soccer_v4_projections_upcoming_dfs_slates___by_competition
      summary: Upcoming DFS Slates - by Competition
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DfsSlate'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Projections
  /v4/soccer/projections/{format}/InjuredPlayers/{competition}:
    get:
      description: This endpoint provides all currently injured soccer players by
        competition, along with injury details.
      operationId: soccer_v4_projections_player_details___by_injured
      summary: Player Details - by Injured
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Projections
  /v4/soccer/stats/{format}/BoxScoresByDate/{competition}/{date}:
    get:
      description: Full statistical information for a specified game, down to the
        team and player stat level, delivered live during the games, called for all
        games on a given date within a competition.
      operationId: soccer_v4_stats_box_scores___by_date__live___final
      summary: Box Scores - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Stats
  /v4/soccer/stats/{format}/BoxScoresDeltaByDate/{competition}/{date}/{minutes}:
    get:
      description: This method returns all box scores for a given date in a given
        competition, but only returns player stats that have changed in the last X
        minutes as specified in your API call. By definition this is a live endpoint,
        not final.
      operationId: soccer_v4_stats_box_scores_delta___by_date
      summary: Box Scores Delta - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      - name: minutes
        in: path
        description: 'Only returns player statistics that have changed in the last
          X minutes.  You specify how many minutes in time to go back. Valid entries
          are:

          <code>1</code>, <code>2</code> ... <code>all</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Stats
  /v4/soccer/stats/{format}/BoxScore/{competition}/{gameid}:
    get:
      description: Full statistical information for a specified game, down to the
        team and player stat level, delivered live during the game, called per individual
        game.
      operationId: soccer_v4_stats_box_score__live___final
      summary: Box Score [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games
          API.  Valid entries are <code>702</code>, <code>1274</code>, etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Stats
  /v4/soccer/stats/{format}/PlayerGameStatsByDate/{competition}/{date}:
    get:
      description: Returns the box score statistical record for all involved players
        across all teams' games on a given date in a given competition, both live
        and after each game has concluded.
      operationId: soccer_v4_stats_player_game_stats___by_date__live___final
      summary: Player Game Stats - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Stats
  /v4/soccer/stats/{format}/PlayerSeasonStats/{competition}/{season}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each
        individual game record) for all players for a given season.
      operationId: soccer_v4_stats_player_season_stats
      summary: Player Season Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>,
          etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Round'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Stats
  /v4/soccer/stats/{format}/BoxScoreFinal/{competition}/{gameid}:
    get:
      description: Full statistical information for a specified game, down to the
        team and player stat level, delivered after the game is complete.
      operationId: soccer_v4_stats_box_score__final
      summary: Box Score [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games
          API.  Valid entries are <code>702</code>, <code>1274</code>, etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Stats
  /v4/soccer/stats/{format}/BoxScoresFinal/{competition}/{date}:
    get:
      description: Full statistical information for a specified date for each game
        that took place, down to the team and player stat level, delivered after the
        game is complete.
      operationId: soccer_v4_stats_box_scores___by_date__final
      summary: Box Scores - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoxScore'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Stats
  /v4/soccer/stats/{format}/LineupsByDate/{competition}/{date}:
    get:
      description: Projected and confirmed starting XIs and substitute benches for
        a given competition on a given date.
      operationId: soccer_v4_stats_lineups___by_date
      summary: Lineups - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGameBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Stats
  /v4/soccer/stats/{format}/PlayerGameStatsByDateFinal/{competition}/{date}:
    get:
      description: Returns the box score statistical record for all involved players
        across all teams' games for a given competition on a given date after each
        game has concluded.
      operationId: soccer_v4_stats_player_game_stats___by_date__final
      summary: Player Game Stats - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Stats
  /v4/soccer/stats/{format}/TeamGameStatsByDateFinal/{competition}/{date}:
    get:
      description: Returns the box score statistical record team-wide (aggregated
        from all players) for a games in a given competition on a given date, updated
        as each game has concluded.
      operationId: soccer_v4_stats_team_game_stats___by_date__final
      summary: Team Game Stats - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Stats
  /v4/soccer/stats/{format}/FantasyGameStatsByDate/{competition}/{date}:
    get:
      description: A simple list of fantasy points awarded to players who took part
        in a given competition's games on a given date.
      operationId: soccer_v4_stats_fantasy_points___by_date
      summary: Fantasy Points - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s).

          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FantasyGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Stats
  /v4/soccer/odds/{format}/GameOddsLineMovement/{competition}/{gameid}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games
        on a given date. Non-full-game means 1st-half or 1st-quarter, for example,
        rather than full game. Returns the full line movement for the given game within
        a competition. This endpoint has a longer cache as it is meant for historical
        data/line movement rather than the most up to the second line.
      operationId: soccer_v4_odds_pre_game_odds_line_movement
      summary: Pre-Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14060</code>, <code>14061</code>, etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/LiveGameOddsLineMovement/{competition}/{gameid}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for a given
        game in a given competition. Returns the full line movement for the given
        game. This endpoint has a longer cache as it is meant for historical data/line
        movement rather than the most up to the second line.
      operationId: soccer_v4_odds_in_game_odds_line_movement
      summary: In-Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14060</code>, <code>14061</code>, etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/GameOddsByDate/{competition}/{date}:
    get:
      description: Returns full game odds (spread, moneyline, total) for games from
        a given competition on a given date. Only returns the most recently seen odds,
        not inclusive of line movement.
      operationId: soccer_v4_odds_pre_game_odds___by_date
      summary: Pre-Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: "The date of the game(s). \n<br>Examples: <code>2017-02-27</code>,\
          \ <code>2017-09-01</code>."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/ActiveSportsbooks:
    get:
      description: A list of all available sportsbooks with their associated unique
        IDs.
      operationId: soccer_v4_odds_sportsbooks___by_active
      summary: Sportsbooks - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sportsbook'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingEventsBySeason/{competition}/{season}:
    get:
      description: The list of current BettingEvents for the given season within a
        given competition, from which Betting Market data can be gathered via the
        Betting Markets by Event endpoint, for all available Betting Market types
        (e.g. Player Props, Team Props.)
      operationId: soccer_v4_odds_betting_events___by_season
      summary: Betting Events - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>,
          etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingFuturesBySeason/{competition}/{season}:
    get:
      description: Returns available Futures markets for the given season and a given
        competition. Does not include line movement.
      operationId: soccer_v4_odds_betting_futures___by_season
      summary: Betting Futures - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>,
          etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMarket/{competition}/{marketId}:
    get:
      description: Returns full line movement for a given BettingMarket. Due to the
        sheer size of the output and the level of detail, it is intended for historical
        data purposes and not for the most up-to-the-second lines.
      operationId: soccer_v4_odds_betting_market
      summary: Betting Market
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: marketId
        in: path
        description: The MarketId of the desired market for which to pull all outcomes/bets.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMarkets/{competition}/{eventId}:
    get:
      description: Returns the markets of all available types (e.g. Player Props,
        Team Props) and available outcomes for a given BettingEventID within a given
        competition.
      operationId: soccer_v4_odds_betting_markets___by_event
      summary: Betting Markets - by Event
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: 'The EventId of the desired event/game for which to pull all
          betting markets (includes outcomes/bets).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMarketsByGameID/{competition}/{gameid}:
    get:
      description: Returns the markets of all available types (e.g. Player Props,
        Team Props) and available outcomes for a given GameID within a given competition.
      operationId: soccer_v4_odds_betting_markets___by_game
      summary: Betting Markets - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of the desired game for which to pull all betting
          markets (includes outcomes/bets).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMarketsByMarketType/{competition}/{eventId}/{marketTypeID}:
    get:
      description: Returns Markets and available outcomes for a given event (within
        a competition) and market type requested. A lighter call than by BettingEventID
        as it only includes markets tagged with the specific MarketType, a full list
        of which is available for each sport in its Betting Metadata endpoint.
      operationId: soccer_v4_odds_betting_markets___by_market_type
      summary: Betting Markets - by Market Type
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: The EventId of the desired event/game for which to pull all betting
          markets (includes outcomes/bets).
        required: true
        schema:
          type: string
      - name: marketTypeID
        in: path
        description: 'The Market Type ID of the desired MarketTypes to pull. Some
          common types include: <code>1</code> for Game Lines, <code>2</code> for
          Player Props, <code>3</code> for Team Props, <code>6</code> for Game Props'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingMetadata:
    get:
      description: Returns the list of MarketTypes, BetTypes, PeriodTypes, OutcomeTypes,
        and ResultTypes to map the IDs to descriptive names. Also includes a list
        of the MarketType, BetType & PeriodType combinations which we will have resulting
        for.
      operationId: soccer_v4_odds_betting_metadata
      summary: Betting Metadata
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingEntityMetadataCollection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingEventsByDate/{competition}/{date}:
    get:
      description: The list of current BettingEvents for the given date and competition,
        from which Betting Market data can be gathered via the Betting Markets by
        Event endpoint, for all available Betting Market types (e.g. Player Props,
        Team Props.)
      operationId: soccer_v4_odds_betting_events___by_date
      summary: Betting Events - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-11-20</code>,
          <code>2018-11-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/BettingPlayerPropsByGameID/{competition}/{gameId}:
    get:
      description: This works in the same way as Betting Markets by Market Type but
        is prefiltered to the Player Props type only. Ideal if your application will
        only ever require Player Props, but if you also want Team Props etc. it is
        recommended to use the by Market Type endpoint.
      operationId: soccer_v4_odds_betting_player_props___by_game
      summary: Betting Player Props - by Game
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameId
        in: path
        description: The unique GameID of the game in question.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingMarket'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/AlternateMarketGameOddsLineMovement/{competition}/{gameid}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games
        on a given date. Non-full-game means 1st-half or 1st-quarter, for example,
        rather than full game. Returns the full line movement for the given game within
        a competition. This endpoint has a longer cache as it is meant for historical
        data/line movement rather than the most up to the second line.
      operationId: soccer_v4_odds_period_game_odds_line_movement
      summary: Period Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games
          API.  Valid entries are <code>41323</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/LiveGameOddsByDate/{competition}/{date}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games
        on a given date in a given competition. Only returns the most recently seen
        odds, not inclusive of line movement. As this is in-game, it will only return
        results while the game is in progress.
      operationId: soccer_v4_odds_in_game_odds___by_date
      summary: In-Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-06-20</code>,
          <code>2018-06-23</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/AlternateMarketGameOddsByDate/{competition}/{date}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games
        on a given date in a given competition. Non-full-game means 1st-half or 1st-quarter,
        for example, rather than full game. Only returns the most recently seen odds,
        not inclusive of line movement.
      operationId: soccer_v4_odds_period_game_odds___by_date
      summary: Period Game Odds - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: "The date of the game(s). \n<br>Examples: <code>2017-02-27</code>,\
          \ <code>2017-09-01</code>."
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/PreGameOddsByDate/{competition}/{date}/{sportsbookgroup}:
    get:
      description: Returns the full-game and non-full-game odds (spread, moneyline,
        total) for games on a given date for a given competition. Only returns the
        most recently seen odds, not inclusive of line movement. A Sportsbook Group
        must be specified as a URL parameter.
      operationId: soccer_v4_odds_pre_game_and_period_game_odds___by_date__sportsbook_group
      summary: Pre-Game and Period Game Odds - by Date [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: "The date of the game(s). \n<br>Examples: <code>2017-02-27</code>,\
          \ <code>2017-09-01</code>."
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/InGameOddsByDate/{competition}/{date}/{sportsbookgroup}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games
        on a given date and competition. Only returns the most recently seen odds,
        not inclusive of line movement. As this is in-game, it will only return results
        while the game is in progress. A Sportsbook Group must be specified as a URL
        parameter.
      operationId: soccer_v4_odds_in_game_odds___by_date__sportsbook_group
      summary: In-Game Odds - by Date [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2018-06-20</code>,
          <code>2018-06-23</code>.'
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/PreGameOddsLineMovement/{competition}/{gameid}/{sportsbookgroup}:
    get:
      description: Returns the game odds for a given game in a given competition.
        In this endpoint both full-game and partial-game odds are included. Returns
        the full line movement for the given game. This endpoint has a longer cache
        as it is meant for historical data/line movement rather than the most up to
        the second line. A Sportsbook Group must be specified as a URL parameter.
      operationId: soccer_v4_odds_pre_game_and_period_game_odds_line_movement__sportsbook_group
      summary: Pre-Game and Period Game Odds Line Movement [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14060</code>, <code>14061</code>, etc.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/InGameOddsLineMovement/{competition}/{gameid}/{sportsbookgroup}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for a given
        game and competition. Returns the full line movement for the given game. This
        endpoint has a longer cache as it is meant for historical data/line movement
        rather than the most up to the second line. A Sportsbook Group must be specified
        as a URL parameter.
      operationId: soccer_v4_odds_in_game_odds_line_movement__sportsbook_group
      summary: In-Game Odds Line Movement [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14060</code>, <code>14061</code>, etc.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/PreGameOddsLineMovementWithResulting/{competition}/{gameid}/{sportsbookgroup}:
    get:
      description: 'Returns the game odds for a given game and competition. In this
        endpoint both full-game and partial-game odds are included. This also includes
        Resulting: for markets with a ResultType, each line will be graded and it
        will be determined whether the bet would have won or lost. Returns the full
        line movement for the given game. This endpoint has a longer cache as it is
        meant for historical data/line movement rather than the most up to the second
        line. A Sportsbook Group must be specified as a URL parameter.'
      operationId: soccer_v4_odds_pre_game_and_period_game_odds_line_movement_with_resulting__sportsbook_group
      summary: Pre-Game and Period Game Odds Line Movement with Resulting [Sportsbook
        Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14060</code>, <code>14061</code>, etc.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfoResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - Soccer v4 Odds
  /v4/soccer/odds/{format}/InGameOddsLineMovementWithResulting/{competition}/{gameid}/{sportsbookgroup}:
    get:
      description: 'Returns in-play game odds (spread, moneyline, total) for a given
        game in a competition. This also includes Resulting: for markets with a ResultType,
        each line will be graded and it will be determined whether the bet would have
        won or lost. Returns the full line movement for the given game. This endpoint
        has a longer cache as it is meant for historical data/line movement rather
        than the most up to the second line. A Sportsbook Group must be specified
        as a URL parameter.'
      operationId: soccer_v4_odds_in_game_odds_line_movement_with_resulting__sportsbook_group
      summary: In-Game Odds Line Movement with Resulting [Sportsbook Group]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: competition
        in: path
        description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        required: true
        schema:
          type: string
      - name: gameid
        in: path
        description: The GameID of a Soccer game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14060</code>, <code>14061</code>, etc.
        required: true
        schema:
          type: string
      - name: sportsbookgroup
        in: path
        description: 'The name of the Sportsbook grouping.

          <br>Examples: <code>G1100</code>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
[...]
