openapi: 3.1.0
info:
  title: MLB MLB v3 Headshots NFL v3 Scores API
  version: '1.0'
  description: MLB API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: NFL v3 Scores
paths:
  /v3/nfl/scores/{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.
      operationId: nfl_v3_scores_are_games_in_progress
      summary: Are Games In Progress
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Teams:
    get:
      description: 'Full team information: team name and city, conference and division, colors, coaching and scheme info. Also contains basic fantasy info such as IDs as well as full stadium data. This endpoint returns the teams currently active in the league.'
      operationId: nfl_v3_scores_team_profiles___by_active
      summary: Team Profiles - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Byes/{season}:
    get:
      description: Get bye weeks for the teams during a specified NFL season.
      operationId: nfl_v3_scores_bye_weeks
      summary: Bye Weeks
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bye'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/CurrentSeason:
    get:
      description: Year of the current NFL season. This value changes at the start of the new NFL league year. NFL seasons run across two calendar years; the league year is the one in which it starts, not ends (that is, a season starting in 2023 and ending in 2024 will have the league year of 2023.)
      operationId: nfl_v3_scores_season___current
      summary: Season - Current
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - integer
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/CurrentWeek:
    get:
      description: Number of the current week of the NFL season. This value usually changes on Tuesday nights or Wednesday mornings at midnight ET but in the rare case of a rescheduled or overseas game with a non-standard gameday this could change.
      operationId: nfl_v3_scores_week___current
      summary: Week - Current
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - integer
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Scores/{season}:
    get:
      description: Full scores and gameday info delivered live and post-game. Live data includes down and distance, as well as game clock. Gameday info includes referee, weather, TV channel etc.
      operationId: nfl_v3_scores_games___by_season__live___final
      summary: Games - by Season [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/LastCompletedSeason:
    get:
      description: Year of the most recently completed NFL season. This value changes immediately after the Super Bowl. NFL seasons run across two calendar years; the league year is the one in which it starts, not ends (that is, a season starting in 2023 and ending in 2024 will have the league year of 2023.)
      operationId: nfl_v3_scores_season___last_completed
      summary: Season - Last Completed
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - integer
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/LastCompletedWeek:
    get:
      description: Number of the last completed week of the NFL season. This value usually changes on Tuesday nights or Wednesday mornings at midnight ET but in the rare case of a rescheduled or overseas game with a non-standard gameday this could change.
      operationId: nfl_v3_scores_week___last_completed
      summary: Week - Last Completed
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - integer
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/News:
    get:
      description: Basic RotoBaller news feed, with limited stories available - usually 0-1 stories per day. Ideal for test purposes.
      operationId: nfl_v3_scores_news
      summary: News
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/NewsByPlayerID/{playerid}:
    get:
      description: Basic RotoBaller news feed, with limited stories available - usually 0-1 stories per day. Ideal for test purposes.
      operationId: nfl_v3_scores_news___by_player
      summary: News - by Player
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: playerid
        in: path
        description: Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>14257</code>.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/NewsByTeam/{team}:
    get:
      description: Basic RotoBaller news feed, with limited stories available - usually 0-1 stories per day. Ideal for test purposes.
      operationId: nfl_v3_scores_news___by_team
      summary: News - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Schedules/{season}:
    get:
      description: Home and away teams, date and time, season type and week etc. are included. Also includes gameday information. This includes full stadium information (capacity, lat/long, surface etc.), top-line betting information (spread, moneyline, total), weather conditions, and broadcast information.
      operationId: nfl_v3_scores_schedules
      summary: Schedules
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Schedule'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/ScoresByWeek/{season}/{week}:
    get:
      description: Full scores and gameday info delivered live and post-game. Live data includes down and distance, as well as game clock. Gameday info includes referee, weather, TV channel etc.
      operationId: nfl_v3_scores_games___by_week__live___final
      summary: Games - by Week [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Stadiums:
    get:
      description: Returns all stadiums in the NFL with capacity, surface, latitude/longitude, city and state (and, where applicable, country.)
      operationId: nfl_v3_scores_stadiums
      summary: Stadiums
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Stadium'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Standings/{season}:
    get:
      description: Includes regular season standings in division and conference, from which postseason seeding can be derived.
      operationId: nfl_v3_scores_standings
      summary: Standings
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Standing'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Teams/{season}:
    get:
      description: 'Full team information: team name and city, conference and division, colors, coaching and scheme info. Also contains basic fantasy info such as IDs as well as full stadium data. This endpoint returns the active teams for a given season.'
      operationId: nfl_v3_scores_team_profiles___by_season
      summary: Team Profiles - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Timeframes/{type}:
    get:
      description: Timeframes for the NFL refer to current weeks, season status etc.
      operationId: nfl_v3_scores_timeframes
      summary: Timeframes
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: type
        in: path
        description: The type of timeframes to return.  Valid entries are <code>current</code> or <code>upcoming</code> or <code>completed</code> or <code>recent</code> or <code>all</code>.
        required: true
        schema:
          type: string
          enum:
          - current
          - upcoming
          - completed
          - recent
          - all
          default: current
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Timeframe'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/UpcomingSeason:
    get:
      description: Year of the current NFL season, if we are in the mid-season. If we are in the off-season, then year of the next upcoming season. This value changes immediately after the Super Bowl. NFL seasons run across two calendar years; the league year is the one in which it starts, not ends (that is, a season starting in 2023 and ending in 2024 will have the league year of 2023.)
      operationId: nfl_v3_scores_season___upcoming
      summary: Season - Upcoming
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - integer
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/UpcomingWeek:
    get:
      description: Number of the next upcoming week of the NFL season. This value usually changes on Tuesday nights or Wednesday mornings at midnight ET but in the rare case of a rescheduled or overseas game with a non-standard gameday this could change.
      operationId: nfl_v3_scores_week___upcoming
      summary: Week - Upcoming
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - integer
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/TeamGameStats/{season}/{week}:
    get:
      description: Returns the box score statistical record team-wide (aggregated from all players) for a given team's game in a given week, during the game and with final stats after it ends.
      operationId: nfl_v3_scores_team_game_stats__live___final
      summary: Team Game Stats [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/TeamSeasonStats/{season}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each individual game record) for all teams (aggregated from all players) for a given season.
      operationId: nfl_v3_scores_team_season_stats
      summary: Team Season Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/AllTeams:
    get:
      description: 'Full team information: team name and city, conference and division, colors, coaching and scheme info. Also contains basic fantasy info such as IDs as well as full stadium data. This endpoint returns all teams regardless of current active status.'
      operationId: nfl_v3_scores_team_profiles___all
      summary: Team Profiles - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/NewsByDate/{date}:
    get:
      description: Basic RotoBaller news feed, with limited stories available - usually 0-1 stories per day. Ideal for test purposes.
      operationId: nfl_v3_scores_news___by_date
      summary: News - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the news.

          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/SimulatedScores/{numberofplays}:
    get:
      description: Gets simulated live scores of NFL games, covering the Conference Championship games on January 21, 2018.
      operationId: nfl_v3_scores_scores_by_week_simulation
      summary: Scores by Week Simulation
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: numberofplays
        in: path
        description: The number of plays to progress in this NFL live game simulation. Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>, <code>150</code>, <code>200</code>, etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Players:
    get:
      description: Full player bio and details, including injury notes, for all NFL players in our database.
      operationId: nfl_v3_scores_player_details___all
      summary: Player Details - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/FreeAgents:
    get:
      description: Full player bio and details, including injury notes, for all available NFL free agents unattached to a team.
      operationId: nfl_v3_scores_player_details___by_free_agents
      summary: Player Details - by Free Agents
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Players/{team}:
    get:
      description: Full player bio and details, including injury notes, for all available NFL players by team.
      operationId: nfl_v3_scores_player_details___by_team
      summary: Player Details - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Rookies/{season}:
    get:
      description: Full player bio and details, including injury notes, for all available NFL players by a specified draft year.
      operationId: nfl_v3_scores_player_details___by_rookie_draft_year
      summary: Player Details - by Rookie Draft Year
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.<br>Examples: <code>2018</code>, <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Referees:
    get:
      description: Returns referees with name, numbers, position (e.g. FJ for Field Judge), college, and years of experience.
      operationId: nfl_v3_scores_referees
      summary: Referees
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Referee'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/ScoresByDate/{date}:
    get:
      description: Full scores and gameday info delivered live and post-game. Live data includes down and distance, as well as game clock. Gameday info includes referee, weather, TV channel etc.
      operationId: nfl_v3_scores_games___by_date__live___final
      summary: Games - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the games.<br>Examples: <code>2021-SEP-12</code>, <code>2021-NOV-28</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Specify a season, a player, and number of games (either an integer or <code>all</code>) to see all of their box score logs. Refreshed after their most recent game is complete.
      operationId: nfl_v3_scores_player_game_logs___by_season
      summary: Player Game Logs - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Season to get games from. Example <code>2019POST</code>, <code>2020</code>        '
        required: true
        schema:
          type: string
      - name: teamid
        in: path
        description: Unique ID of team.  Example <code> 8 </code>
        required: true
        schema:
          type: string
      - name: numberofgames
        in: path
        description: How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/DepthCharts:
    get:
      description: Depth charts for all active players NFL teams split by offensive, defensive, and special teams position groupings.
      operationId: nfl_v3_scores_depth_charts___by_active
      summary: Depth Charts - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamDepthChart'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/SchedulesBasic/{season}:
    get:
      description: A lightweight schedule endpoint without gameday information. Home and away teams, the date and time of the game, and season type, week etc. are included. Ideal for the most basic information required to build a schedule.
      operationId: nfl_v3_scores_schedules__basic
      summary: Schedules (Basic)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/ScoresBasic/{season}/{week}:
    get:
      description: This endpoint simply delivers the game clock and quarter and total scores live; no down and distance and no gameday info such as weather.
      operationId: nfl_v3_scores_games__basic____by_week__live___final
      summary: Games (Basic) - by Week [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/TeamsBasic:
    get:
      description: The most basic top-line team information, such as team name and city, conference and division, stadium ID, coach info, and team colors. Returns all teams regardless of current active status.
      operationId: nfl_v3_scores_team_profiles__basic____all
      summary: Team Profiles (Basic) - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/PlayersBasic/{team}:
    get:
      description: Roster information for a given team. Player profiles include basic biographical information, position, college, and current team (if attached to a team.) Specify a team tricode parameter to receive all players currently on that team.
      operationId: nfl_v3_scores_player_profiles___by_team
      summary: Player Profiles - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/PlayersByAvailable:
    get:
      description: Player profiles include basic biographical information, position, college, and current team (if attached to a team.) This returns all players.
      operationId: nfl_v3_scores_player_profiles___all
      summary: Player Profiles - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/PlayersByFreeAgents:
    get:
      description: Player profiles include basic biographical information, position, college, and current team (if attached to a team.) This returns all free agents not currently attached to a team.
      operationId: nfl_v3_scores_player_profiles___by_free_agent
      summary: Player Profiles - by Free Agent
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/PlayersByRookieDraftYear/{season}:
    get:
      description: Player profiles include basic biographical information, position, college, and current team (if attached to a team.) Specify a year parameter to receive all player profiles from that rookie draft year.
      operationId: nfl_v3_scores_player_profiles___by_rookie_draft_year
      summary: Player Profiles - by Rookie Draft Year
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.<br>Examples: <code>2018</code>, <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/TransactionsByDate/{date}:
    get:
      description: Includes a list of transactions for a given date, with type (e.g. trade, injury listing, assignment) and a brief note.
      operationId: nfl_v3_scores_transactions___by_date
      summary: Transactions - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the news.

          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/ScoresByWeekFinal/{season}/{week}:
    get:
      description: Full scores and gameday info, including weather, referee, infotainment odds, as well as all of the quarter scores and full-time score.
      operationId: nfl_v3_scores_games___by_week__final
      summary: Games - by Week [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/ScoresByDateFinal/{date}:
    get:
      description: Full scores and gameday info, including weather, referee, infotainment odds, as well as all of the quarter scores and full-time score.
      operationId: nfl_v3_scores_games___by_date__final
      summary: Games - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the games.<br>Examples: <code>2021-SEP-12</code>, <code>2021-NOV-28</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/ScoresBasicFinal/{season}/{week}:
    get:
      description: A slimmed-down score endpoint, giving just the quarter scores and final score, for simple applications.
      operationId: nfl_v3_scores_games__basic____by_week__final
      summary: Games (Basic) - by Week [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n        "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/DepthChartsAll:
    get:
      description: Depth charts for all players in all NFL teams split by offensive, defensive, and special teams position groupings.
      operationId: nfl_v3_scores_depth_charts___all
      summary: Depth Charts - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamDepthChart'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/DepthChartsByWeek/{season}/{week}:
    get:
      description: Depth charts for active players by week in all NFL teams split by offensive, defensive, and special teams position groupings.
      operationId: nfl_v3_scores_depth_charts___by_week
      summary: Depth Charts - by Week
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.         \n"
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.          Example: <code>1</code>        \n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamDepthChartWeekly'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
components:
  schemas:
    Score:
      properties:
        GameKey:
          type:
          - string
          - 'null'
          description: 'A 9 digit unique code identifying the game that this record corresponds to. The GameID is composed of Season; SeasonType; Week and HomeTeam. Note: This value will be NULL for bye weeks'
        SeasonType:
          type: integer
          description: The type of season that this game corresponds to (1=Regular Season, 2=Preseason, 3=Postseason, 4=Offseason, 5=All-Star).
        Season:
          type: integer
          description: The NFL season of the game
        Week:
          type: integer
          description: 'The NFL week of the game (regular season: 1 to 18; preseason: 0 to 4; postseason: 1 to 4). Note: seasons after 2021 will have only 3 preseason weeks'
        Date:
          type:
          - string
          - 'null'
          description: The date and time of the game (in US Eastern Time)
        AwayTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key} of the away team
        HomeTeam:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the home team
        AwayScore:
          type:
          - integer
          - 'null'
          description: The final score of the Away Team
        HomeScore:
          type:
          - integer
          - 'null'
          description: The final score of the Home Team
        Channel:
          type:
          - string
          - 'null'
          description: The television station broadcasting the game
        PointSpread:
          type:
          - number
          - 'null'
          description: The oddsmaker point spread at game start from the perspective of the team (negative numbers indicate the HomeTeam is favored; positive numbers indicate the AwayTeam is favored)
        OverUnder:
          type:
          - number
          - 'null'
          description: The total points line (over/under) at game start
        Quarter:
          type:
          - string
          - 'null'
          description: The current quarter of the game (1, 2, 3, 4, HALF, OT, F, F/OT or NULL if game has not yet started)
        TimeRemaining:
          type:
          - string
          - 'null'
          description: The amount of time remaining in the current quarter (e.g. 11:23; 5:34; NULL if game is not in progress or at halftime)
        Possession:
          type:
          - string
          - 'null'
          description: The team that currently has possession of the ball (Ex. PHI; NE; NULL if game is not in progress or at halftime)
        Down:
          type:
          - integer
          - 'null'
          description: The current down in the game (1, 2, 3, 4 or NULL)
        Distance:
          type:
          - string
          - 'null'
          description: The yards to go for a first down (this can be any positive number or "Goal")
        YardLine:
          type:
          - integer
          - 'null'
          description: the yard line of the ball's current position on the field as of the most recently completed play
        YardLineTerritory:
          type:
          - string
          - 'null'
          description: The team's side of the field that the ball is on when the play occurred
        RedZone:
          type:
          - string
          - 'null'
          description: 'The team abbreviation [Key] that currently has the ball in the opponent''s red zone (Ex: "SF"; "BAL" or NULL)'
        AwayScoreQuarter1:
          type:
          - integer
          - 'null'
          description: Points scored by the away team in Quarter 1
        AwayScoreQuarter2:
          type:
          - integer
          - 'null'
          description: Points scored by the away team in Quarter 2
        AwayScoreQuarter3:
          type:
          - integer
          - 'null'
          description: Points scored by the away team in Quarter 3
        AwayScoreQuarter4:
          type:
          - integer
          - 'null'
          description: Points scored by the away team in Quarter 4
        AwayScoreOvertime:
          type:
          - integer
          - 'null'
          description: Points scored by the away team in overtime
        HomeScoreQuarter1:
          type:
          - integer
          - 'null'
          description: Points scored by the home team in Quarter 1
        HomeScoreQuarter2:
          type:
          - integer
          - 'null'
          description: Points scored by the home team in Quarter 2
        HomeScoreQuarter3:
          type:
          - integer
          - 'null'
          description: Points scored by the home team in Quarter 3
        HomeScoreQuarter4:
          type:
          - integer
          - 'null'
          description: Points scored by the home team in Quarter 4
        HomeScoreOvertime:
          type:
          - integer
          - 'null'
          description: Points scored by the home team in overtime
        HasStarted:
          type: boolean
          description: Whether the game has started (true/false)
        IsInProgress:
          type: boolean
          description: Whether the game is currently in progress (true/false)
        IsOver:
          type: boolean
          description: Whether the game is over (true/false)
        Has1stQuarterStarted:
          type: boolean
          description: Whether the 1st quarter has started
        Has2ndQuarterStarted:
          type: boolean
          description: Whether the 2nd quarter has started
        Has3rdQuarterStarted:
          type: boolean
          description: Whether the 3rd quarter has started
        Has4thQuarterStarted:
          type: boolean
          description: Whether the 4th quarter has started
        IsOvertime:
          type: boolean
          description: Whether this game went into overtime
        DownAndDistance:
          type:
          - string
          - 'null'
          description: The description of the down and distance for display purposes
        QuarterDescription:
          type:
          - string
          - 'null'
          description: Description of the current quarter for display purposes
        StadiumID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team's current home stadium
        LastUpdated:
          type:
          - string
          - 'null'
          description: The date and time that this game was last updated (in US Eastern Time)
        GeoLat:
          type:
          - number
          - 'null'
          description: The geographic latitude coordinate of the venue where the game is taking place
        GeoLong:
          type:
          - number
          - 'null'
          description: The geographic longitude coordinate of the venue where the game is taking place
        ForecastTempLow:
          type:
          - integer
          - 'null'
          description: The forecasted low temperature on game day at this venue (Fahrenheit)
        ForecastTempHigh:
          type:
          - integer
          - 'null'
          description: The forecasted high temperature on game day at this venue (Fahrenheit)
        ForecastDescription:
          type:
          - string
          - 'null'
          description: The forecast description on game day at this venue.
        ForecastWindChill:
          type:
          - integer
          - 'null'
          description: The forecasted wind chill on game day at this venue.
        ForecastWindSpeed:
          type:
          - integer
          - 'null'
          description: The forecasted wind speed on game day at this venue.
        AwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's moneyline for the away team
        HomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The sportsbook's moneyline for the home team
        Canceled:
          type:
          - boolean
          - 'null'
          description: Indicates whether the game was canceled
        Closed:
          type:
          - boolean
          - 'null'
          description: 'Indicates whether the game is over and the final score has been verified and closed out. Note: it is recommend for bet resulting to use IsClosed = True rather than simply Final game status'
        LastPlay:
          type:
          - string
          - 'null'
          description: 'The description of the most recent play/event of the game. Note: This is for display purposes and does not include corresponding data points'
        Day:
          type:
          - string
          - 'null'
          description: The date of the game (in US Eastern Time)
        DateTime:
          type:
          - string
          - 'null'
          description: The date and time of the game (in US Eastern Time)
        AwayTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the away team
        HomeTeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the home team
        GlobalGameID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this game. This value is guaranteed to be unique across all sports/leagues
        GlobalAwayTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the away team. This value is guaranteed to be unique across all sports/leagues
        GlobalHomeTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for the home team. This value is guaranteed to be unique across all sports/leagues
        PointSpreadAwayTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The payout on the away team's spread
        PointSpreadHomeTeamMoneyLine:
          type:
          - integer
          - 'null'
          description: The payout on the home team's spread
        ScoreID:
          type: integer
          description: Unique ID of the Score/Game
        StadiumDetails:
          $ref: '#/components/schemas/Stadium'
          description: The details of the stadium where this game is played
        Status:
          type:
          - string
          - 'null'
          description: The status of the game. For a description of possible values, see <a href="https://support.sportsdata.io/hc/en-us/articles/14287629964567-Process-Guide-Game-Status" target="_blank">here.</a> For how suspended and postponed games are handled specifically, see <a href="https://support.sportsdata.io/hc/en-us/articles/4404845580567-Postponed-and-Rescheduled-Games" target="_blank">here</a>.
        GameEndDateTime:
          type:
          - string
          - 'null'
          description: 'The date and time of when the game officially ended. Note: This field is populated after the game and score are finalized'
        HomeRotationNumber:
          type:
          - integer
          - 'null'
          description: Rotation number of home team in this game
        AwayRotationNumber:
          type:
          - integer
          - 'null'
          description: Rotation number of away team in this game
        NeutralVenue:
          type:
          - boolean
          - 'null'
          description: Indicates whether this game is played in a neutral venue
        RefereeID:
          type:
          - integer
          - 'null'
          description: The unique ID of the head referee
        OverPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for over the total points line
        UnderPayout:
          type:
          - integer
          - 'null'
          description: The sportsbook's payout for the under
        HomeTimeouts:
          type:
          - integer
          - 'null'
          description: The number of timeouts remaining for the Home Team
        AwayTimeouts:
          type:
          - integer
          - 'null'
          description: The number of timeouts remaining for the Away Team
        DateTimeUTC:
          type:
          - string
          - 'null'
          description: The date and time of the game (in UTC)
        Attendance:
          type: integer
          description: The total attendance for the game
        IsClosed:
          type:
          - boolean
          - 'null'
          description: Indicates whether the game is over and the final score has been verified and closed out.
    TeamDepthChartWeekly:
      properties:
        TeamID:
          type: integer
          description: Unique ID of Team
        Offense:
          type: array
          items:
            $ref: '#/components/schemas/DepthChartWeekly'
          description: List of Offensive Depth Charts for Team
        Defense:
          type: array
          items:
            $ref: '#/components/schemas/DepthChartWeekly'
          description: List of Defensive Depth Charts for Team
        SpecialTeams:
          type: array
          items:
            $ref: '#/components/schemas/DepthChartWeekly'
          description: List of Special Teams Depth Charts for Team
    PlayerDetail:
      properties:
        PlayerSeason:
          $ref: '#/components/schemas/PlayerSeason'
          description: This field is expected to be NULL
        LatestNews:
          type: array
          items:
            $ref: '#/components/schemas/News'
          description: The latest news associated with this player
        PlayerID:
          type: integer
          description: 'The unique PlayerID of the player as assigned by SportsDataIO. Note: this ID will stay with the player throughout their entire career.'
        Team:
          type:
          - string
          - 'null'
          description: 'The abbreviation [Key] of the team that the player is on. Note: If this player is a free agent; this field is NULL.'
        Number:
          type:
          - integer
          - 'null'
          description: Player's jersey number
        FirstName:
          type:
          - string
          - 'null'
          description: Player's first name
        LastName:
          type:
          - string
          - 'null'
          description: Player's last name
        Position:
          type:
          - string
          - 'null'
          description: 'The primary position of the player. Possible Values: C; CB; DB; DE; DL; DT; FB; FS; G; ILB; K; KR; LB; LS; NT; OL; OLB; OT; P; QB; RB; S; SS; T; TE; WR.'
        Status:
          type:
          - string
          - 'null'
          description: The player's current status.  Possible values include Active, Inactive, Injured Reserve, Physically Unable to Perform, Practice Squad, Suspended, Non Football Injury, Non-Football Illness, Commissioner Exempt List, Exempt/Left Team, Paternity, Bereavement, Reserve/COVID-19, and Voluntary Opt Out. Inactive indicates that this player is a free agent.  Active indicates that this player is on his team's active roster.
        Height:
          type:
          - string
          - 'null'
          description: Height in feet, inches
        Weight:
          type:
          - integer
          - 'null'
          description: Player's weight in pounds
        BirthDate:
          type:
          - string
          - 'null'
          description: Player's date of birth
        College:
          type:
          - string
          - 'null'
          description: College team the player played for prior to turning professional
        Experience:
          type:
          - integer
          - 'null'
          description: 'Number of years experience.  Note: This number is incremented every year; in the Spring; when we load the rookies following the NFL Draft. Rookies will have Experience = 0; while second year players will have Experience = 2.'
        FantasyPosition:
          type:
          - string
          - 'null'
          description: 'The player''s fantasy football position. Possible values: QB; RB; WR; TE; DL; LB; DB; K; P; OL.'
        Active:
          type:
          - boolean
          - 'null'
          description: Whether or not the player is on the active roster of the NFL team (True/False)
        PositionCategory:
          type:
          - string
          - 'null'
          description: The category of the player's position (OFF; DEF; ST)
        Name:
          type:
          - string
          - 'null'
          description: Player's full name
        Age:
          type:
          - integer
          - 'null'
          description: The player's current age
        ExperienceString:
          type:
          - string
          - 'null'
          description: The player's experience converted to a string
        BirthDateString:
          type:
          - string
          - 'null'
          description: The player's date of birth converted to a string
        PhotoUrl:
          type:
          - string
          - 'null'
          description: 'This field is deprecated. Note: Headshots are now delivered through IMAGN. Please see our Headshots products for further information.'
        ByeWeek:
          type:
          - integer
          - 'null'
          description: The week the player is on bye for the upcoming or current season
        UpcomingGameOpponent:
          type:
          - string
          - 'null'
          description: The opposing team the player is playing against in the upcoming week
        UpcomingGameWeek:
          type: integer
          description: The week of the player's upcoming game (this will be the upcoming week unless the player is on Bye that week, which would bump it to the next week)
        ShortName:
          type:
          - string
          - 'null'
          description: The first initial and last name of the player (J. Doe)
        AverageDraftPosition:
          type:
          - number
          - 'null'
          description: The average draft position of the player in re-draft leagues
        DepthPositionCategory:
          type:
          - string
          - 'null'
          description: The category (Offense, Defense or Special Teams) of the players DepthPositionCategory (OFF, DEF, ST)
        DepthPosition:
          type:
          - string
          - 'null'
          description: The position this player is listed at on his team's depth chart (e.g. QB; LWR; RDE; LILB, K)
        DepthOrder:
          type:
          - integer
          - 'null'
          description: The order this player is at his position (1 = Starter; 2 = Backup; 3 = 3rd String; 4 = 4th String; 5 = 5th String)
        DepthDisplayOrder:
          type:
          - integer
          - 'null'
          description: The display order of the positions (for display purposes)
        CurrentTeam:
          type:
          - string
          - 'null'
          description: The team who currently employs this player. This value is null when this player is unemployed (for example a free agent or retired player).
        CollegeDraftTeam:
          type:
          - string
          - 'null'
          description: 'The team who drafted this player. Note: If this player was an Undrafted Free Agent; then it''s the team who first signed him as a rookie.'
        CollegeDraftYear:
          type:
          - integer
          - 'null'
          description: The year this player entered the NFL as a rookie
        CollegeDraftRound:
          type:
          - integer
          - 'null'
          description: The round this player was drafted in
        CollegeDraftPick:
          type:
          - integer
          - 'null'
          description: The overall pick in the draft this player was selected
        IsUndraftedFreeAgent:
          type: boolean
          description: Whether this player was an undrafted free agent. This value is True if the player was not drafted.
        HeightFeet:
          type:
          - integer
          - 'null'
          description: The feet component of a player's height (if player is 6'3", then this value would be 6)
        HeightInches:
          type:
          - integer
          - 'null'
          description: The inches component of a player's height (if player is 6'3", then this value would be 3)
        UpcomingOpponentRank:
          type:
          - integer
          - 'null'
          description: The player's upcoming opponent's rank in fantasy points allowed
        UpcomingOpponentPositionRank:
          type:
          - integer
          - 'null'
          description: The player's upcoming opponent's rank in fantasy points allowed to his fantasy position
        CurrentStatus:
          type:
          - string
          - 'null'
          description: The player's current status.  Possible values include Active, Inactive, Injured Reserve, Physically Unable to Perform, Practice Squad, Suspended, Non Football Injury, Non-Football Illness, Commissioner Exempt List, Exempt/Left Team, Paternity, Bereavement, Reserve/COVID-19, and Voluntary Opt Out. Inactive indicates that this player is a free agent.  Active indicates that this player is on his team's active roster.  Can also include injury status.
        UpcomingSalary:
          type:
          - integer
          - 'null'
          description: The player's salary for the upcoming week in accordance with a $50,000 salary cap. This is used for daily fantasy sports salary cap contests. Salaries represent those published by DraftKings. When DraftKings doesn't publish a salary for a given game; the most recent DraftKings salary is used. We recommend using our new DFS endpoints instead.
        FantasyAlarmPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the FantasyAlarm news feed
        SportRadarPlayerID:
          type:
          - string
          - 'null'
          description: The player's cross reference PlayerID to the SportRadar API
        RotoworldPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the Rotoworld news feed
        RotoWirePlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the RotoWire news feed
        StatsPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the STATS data feeds
        SportsDirectPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to the SportsDirect data feeds, now part of Nielsen GraceNote
        XmlTeamPlayerID:
          type:
          - integer
          - 'null'
          description: The player's unique PlayerID for cross reference use with XML Team data feeds
        FanDuelPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to FanDuel
        DraftKingsPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to DraftKings
        YahooPlayerID:
          type:
          - integer
          - 'null'
          description: The player's unique PlayerID for cross reference use with Yahoo
        InjuryStatus:
          type:
          - string
          - 'null'
          description: The player's current injury status, in the form of likelihood that player plays (Probable, Questionable, Doubtful, Out)
        InjuryBodyPart:
          type:
          - string
          - 'null'
          description: The body part that is injured for the player (Knee; Groin; Calf; Hamstring; etc.)
        InjuryStartDate:
          type:
          - string
          - 'null'
          description: The day that the player's injury started or was first discovered
        InjuryNotes:
          type:
          - string
          - 'null'
          description: A brief description of the player's injury and expected availability
        FanDuelName:
          type:
          - string
          - 'null'
          description: The player's full name in FanDuel's daily fantasy sports platform
        DraftKingsName:
          type:
          - string
          - 'null'
          description: The player's full name in DraftKings' daily fantasy sports platform
        YahooName:
          type:
          - string
          - 'null'
          description: The player's name in Yahoo's daily fantasy sports platform
        FantasyPositionDepthOrder:
          type:
          - integer
          - 'null'
          description: The order this player is at his team's FantasyPosition
        InjuryPractice:
          type:
          - string
          - 'null'
          description: This field is deprecated
        InjuryPracticeDescription:
          type:
          - string
          - 'null'
          description: This field is deprecated
        DeclaredInactive:
          type: boolean
          description: 'Whether the player has been declared inactive. This value is updated in the hours leading up to game start time; as teams announce their inactive players.  Note: This is only updated for offensive skill position players (QB; RB; WR; TE).'
        UpcomingFanDuelSalary:
          type:
          - integer
          - 'null'
          description: 'The player''s FanDuel salary for the upcoming week. Note: We recommend using our new DFS endpoints instead.'
        UpcomingDraftKingsSalary:
          type:
          - integer
          - 'null'
          description: 'The player''s DraftKings salary for the upcoming week. Note: We recommend using our new DFS endpoints instead.'
        UpcomingYahooSalary:
          type:
          - integer
          - 'null'
          description: The player's Yahoo salary for the upcoming week. We recommend using our new DFS endpoints instead.
        TeamID:
          type:
          - integer
          - 'null'
          description: 'The unique ID of the team that the player is on. Note: If the player is a free agent; this field is NULL'
        GlobalTeamID:
          type:
          - integer
          - 'null'
          description: A globally unique ID for this team. This value is guaranteed to be unique across all sports/leagues.
        FantasyDraftPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to FantasyDraft
        FantasyDraftName:
          type:
          - string
          - 'null'
          description: The player's full name in FantasyDraft's daily fantasy sports platform
        UsaTodayPlayerID:
          type:
          - integer
          - 'null'
          description: The player's cross reference PlayerID to USA Today headshot data feeds
        UsaTodayHeadshotUrl:
          type:
          - string
          - 'null'
          description: The player's headshot URL as provided by USA Today. License from USA Today is required.
        UsaTodayHeadshotNoBackgroundUrl:
          type:
          - string
          - 'null'
          description: The player's transparent background headshot URL as provided by USA Today. License from USA Today is required.
        UsaTodayHeadshotUpdated:
          type:
          - string
          - 'null'
          description: The last updated date of the player's headshot as provided by USA Today. License from USA Today is required.
        UsaTodayHeadshotNoBackgroundUpdated:
          type:
          - string
          - 'null'
          description: The last updated date of the player's transparent background headshot as provided by USA Today. License from USA Today is required.
    News:
      properties:
        NewsID:
          type: integer
          description: Unique ID of news story
        Source:
          type:
          - string
          - 'null'
          description: The source of the story (RotoBaller, NBCSports.com, etc.)
        Updated:
          type:
          - string
          - 'null'
          description: The date/time that the content was published (in US Eastern time)
        TimeAgo:
          type:
          - string
          - 'null'
          description: A description of how long ago this content was published
        Title:
          type:
          - string
          - 'null'
          description: The brief title of the news (typically less than 100 characters)
        Content:
          type:
          - string
          - 'null'
          description: The full body content of the story
        Url:
          type:
          - string
          - 'null'
          description: The url of the full story
        TermsOfUse:
          type:
          - string
          - 'null'
          description: The terms of use with using this news item, credit must be given to the originator of the story when specified in the terms of use
        Author:
          type:
          - string
          - 'null'
          description: The author of the content
        Categories:
          type:
          - string
          - 'null'
          description: 'Comma delimited meta tags describing the categories of this content. Possible tags include: Top Headlines, Breaking News, Injury, Sit/Start, Waiver Wire, Risers, Fallers, Lineups, Transactions, Free Agents, Prospects/Rookies, Game Recap, Matchup Outlook, NFL Draft'
        PlayerID:
          type:
          - integer
          - 'null'
          description: 'The unique PlayerID as assigned by SportsDataIO of the player tied to this news story. Note: this ID will stay with the player throughout their entire career'
        TeamID:
          type:
          - integer
          - 'null'
          description: The unique ID of the team that relates to this story
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team that relates to the story
        PlayerID2:
          type:
          - integer
          - 'null'
          description: 'The unique PlayerID as assigned by SportsDataIO of the second player tied to this news story. Note: this ID will stay with the player throughout their entire career'
        TeamID2:
          type:
          - integer
          - 'null'
          description: The unique ID of the second team that relates to this story
        Team2:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the second team that relates to the story
        OriginalSource:
          type:
          - string
          - 'null'
          description: The original source who broke this news (before it was picked up by the publisher of this blurb)
        OriginalSourceUrl:
          type:
          - string
          - 'null'
          description: The URL of the original source who broke this news blurb
    DepthChartWeekly:
      properties:
        DepthChartWeeklyID:
          type: integer
          description: Unique ID of Depth Chart Weekly Record
        TeamID:
          type: integer
          description: Unique ID of Team
        PlayerID:
          type:
          - integer
          - 'null'
          description: Unique ID of Player
        Name:
          type:
          - string
          - 'null'
          description: Player Name
        PositionCategory:
          type:
          - string
          - 'null'
          description: Player Position Category (OFF, DEF, ST)
        Position:
          type:
          - string
          - 'null'
          description: Player Position
        DepthOrder:
          type:
          - integer
          - 'null'
          description: Depth Chart Order
        Updated:
          type:
          - string
          - 'null'
          description: Date and Time Last Updated
    TeamSeason:
      properties:
        SeasonType:
          type: integer
          description: The type of season that this team corresponds to (1=Regular Season; 2=Preseason; 3=Postseason; 4=Offseason; 5=All-Star)
        Season:
          type: integer
          description: The NFL regular season for which these totals apply
        Team:
          type:
          - string
          - 'null'
          description: The abbreviation [Key] of the team
        Score:
          type: integer
          description: Total points scored by the team in the season
        OpponentScore:
          type: integer
          description: Total points scored by opponent teams in the season
        TotalScore:
          type: integer
          description: The total points scored and allowed by the team in the season
        Temperature:
          type:
          - integer
          - 'null'
          description: Temperature at game start (Fahrenheit)
        Humidity:
          type:
          - integer
          - 'null'
          description: The humidity percentage at the start of the game
        WindSpeed:
          type:
          - integer
          - 'null'
          description: The wind speed at the start of the game (in MPH)
        OverUnder:
          type:
          - number
          - 'null'
          description: The average total points line (over/under) for the team in the season
        PointSpread:
          type:
          - number
          - 'null'
          description: The average point spread from the perspecive of the team for the season (negative numbers indicate the HomeTeam is favored; positive numbers indicate the AwayTeam is favored)
        ScoreQuarter1:
          type:
          - integer
          - 'null'
          description: Points scored during Quarter 1 for the team in the season
        ScoreQuarter2:
          type:
          - integer
          - 'null'
          description: Points scored during Quarter 2 for the team in the season
        ScoreQuarter3:
          type:
          - integer
          - 'null'
          description: Points scored during Quarter 3 for the team in the season
        ScoreQuarter4:
          type:
          - integer
          - 'null'
          description: Points scored during Quarter 4 for the team in the season
        ScoreOvertime:
          type: integer
          description: Points scored during overtime for the team in the season
        TimeOfPossession:
          type:
          - string
          - 'null'
          description: Total average time of possession by the team in the season
        FirstDowns:
          type:
          - integer
          - 'null'
          description: Total first downs by the team in the season
        FirstDownsByRushing:
          type:
          - integer
          - 'null'
          description: Total rushing first downs by the team in the season
        FirstDownsByPassing:
          type:
          - integer
          - 'null'
          description: Total passing first downs team in the season
        FirstDownsByPenalty:
          type:
          - integer
          - 'null'
          description: Total first downs by opponent's penalty by the team in the season
        OffensivePlays:
          type: integer
          description: Number of offensive plays run by the season in the game
        OffensiveYards:
          type: integer
          description: Total offensive yards gained by the team in the season
        OffensiveYardsPerPlay:
          type: number
          description: Average yards gained per offensive play by the team in the season
        Touchdowns:
          type:
          - integer
          - 'null'
          description: Total touchdowns scored by the team in the season
        RushingAttempts:
          type:
          - integer
          - 'null'
          description: Total rushing attempts by the team in the season
        RushingYards:
          type:
          - integer
          - 'null'
          description: Total rushing yards by the team in the season
        RushingYardsPerAttempt:
          type: number
          description: Total rushing yards per attempt by the team in the season
        RushingTouchdowns:
          type:
          - integer
          - 'null'
          description: Total rushing touchdowns by the team in the season
        PassingAttempts:
          type:
          - integer
          - 'null'
          description: Total passes thrown by the team in the season
        PassingCompletions:
          type:
          - integer
          - 'null'
          description: Total passes completed by the team in the season
        PassingYards:
          type:
          - integer
          - 'null'
          description: Total passing yards by the team in the season
        PassingTouchdowns:
          type:
          - integer
          - 'null'
          description: Total passing touchdowns by the team in the season
        PassingInterceptions:
          type:
          - integer
          - 'null'
          description: Total interceptions thrown by the team in the season
        PassingYardsPerAttempt:
          type: number
          description: Total average passing yards per attempt by the team in the season
        PassingYardsPerCompletion:
          type: number
          description: Total average passing yards per completion by the team in the season
        CompletionPercentage:
          type: number
          description: Percentage of passes that were completed by the team in the season
        PasserRating:
          type:
          - number
          - 'null'
          description: The team's passer rating in the season
        ThirdDownAttempts:
          type:
          - integer
          - 'null'
          description: Total third down attempts by the team in the season
        ThirdDownConversions:
          type:
          - integer
          - 'null'
          description: Total third down conversions by the team in the season
        ThirdDownPercentage:
          type:
          - number
          - 'null'
          description: Total percentage of third downs converted by the team in the season
        FourthDownAttempts:
          type:
          - integer
          - 'null'
          description: Total fourth down attempts by the team in the season
        FourthDownConversions:
          type:
          - integer
          - 'null'
          description: Total fourth down conversions by the team in the season
        FourthDownPercentage:
          type:
          - number
          - 'null'
          description: Percentage of fourth downs converted by the team in the season
        RedZoneAttempts:
          type:
          - integer
          - 'null'
          description: Total red zone opportunities by the team in the season
        RedZoneConversions:
          type:
          - integer
          - 'null'
          description: Total red zone opportunities converted into touchdowns by the team in the season
        GoalToGoAttempts:
          type:
          - integer
          - 'null'
          description: This field is deprecated
        GoalToGoConversions:
          type:
          - integer
          - 'null'
          description: This field is deprecated
        ReturnYards:
          type:
          - integer
          - 'null'
          description: Total punt and defensive return yards by the team in the season
        Penalties:
          type:
          - integer
          - 'null'
          description: Total penalties committed by the team in the season
        PenaltyYards:
          type:
          - integer
          - 'null'
          description: Total penalty yards enforced against the team
        Fumbles:
          type:
          - integer
          - 'null'
          description: Total fumbles by the team in the season
        FumblesLost:
          type:
          - integer
          - 'null'
          description: Total fumbles lost by the team in the season
        TimesSacked:
          type:
          - integer
          - 'null'
          description: Total number of sacks allowed by the team in the season
        TimesSackedYards:
          type:
          - integer
          - 'null'
          description: Total sack yards allowed by the team in the season
        QuarterbackHits:
          type:
          - integer
          - 'null'
          description: 'Total quarterback hits by the team in the season. Note: This is a defensive stat that includes sacks'
        TacklesForLoss:
          type:
          - integer
          - 'null'
          description: 'Total tackles for loss by the team in the season. Note: These are tackles behind the line of scrimmage for loss of yards (including sacks)'
        Safeties:
          type:
          - integer
          - 'null'
          description: Total defensive safeties scored by the team in the season
        Punts:
          type:
          - integer
          - 'null'
          description: Total number of punts by the team in the game
        PuntYards:
          type:
          - integer
          - 'null'
          description: Total punt yards by the team in the season
        PuntAverage:
          type: number
          description: The average number of yards per punt by the team in the season
        Giveaways:
          type: integer
          description: Total number of giveaways by the team in the season
        Takeaways:
          type: integer
          description: Total takeaways by the team in the season
        TurnoverDifferential:
          type: integer
          description: Total turnover differential (takeaways minus giveaways) by the team in the season
[...]
