openapi: 3.1.0
info:
  title: NFL API
  version: '1.0'
  description: NFL API - OpenAPI 3.1 Specification
servers:
- url: https://api.sportsdata.io
  description: Production server
paths:
  /v3/nfl/scores/{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: nfl_v3_scores_are_games_in_progress
      summary: Are Games In Progress
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Teams:
    get:
      description: 'Full team information: team name and city, conference and division,
        colors, coaching and scheme info. Also contains basic fantasy info such as
        IDs as well as full stadium data. This endpoint returns the teams currently
        active in the league.'
      operationId: nfl_v3_scores_team_profiles___by_active
      summary: Team Profiles - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Byes/{season}:
    get:
      description: Get bye weeks for the teams during a specified NFL season.
      operationId: nfl_v3_scores_bye_weeks
      summary: Bye Weeks
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bye'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/CurrentSeason:
    get:
      description: Year of the current NFL season. This value changes at the start
        of the new NFL league year. NFL seasons run across two calendar years; the
        league year is the one in which it starts, not ends (that is, a season starting
        in 2023 and ending in 2024 will have the league year of 2023.)
      operationId: nfl_v3_scores_season___current
      summary: Season - Current
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - integer
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/CurrentWeek:
    get:
      description: Number of the current week of the NFL season. This value usually
        changes on Tuesday nights or Wednesday mornings at midnight ET but in the
        rare case of a rescheduled or overseas game with a non-standard gameday this
        could change.
      operationId: nfl_v3_scores_week___current
      summary: Week - Current
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - integer
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Scores/{season}:
    get:
      description: Full scores and gameday info delivered live and post-game. Live
        data includes down and distance, as well as game clock. Gameday info includes
        referee, weather, TV channel etc.
      operationId: nfl_v3_scores_games___by_season__live___final
      summary: Games - by Season [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples:
          <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,
          <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/LastCompletedSeason:
    get:
      description: Year of the most recently completed NFL season. This value changes
        immediately after the Super Bowl. NFL seasons run across two calendar years;
        the league year is the one in which it starts, not ends (that is, a season
        starting in 2023 and ending in 2024 will have the league year of 2023.)
      operationId: nfl_v3_scores_season___last_completed
      summary: Season - Last Completed
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - integer
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/LastCompletedWeek:
    get:
      description: Number of the last completed week of the NFL season. This value
        usually changes on Tuesday nights or Wednesday mornings at midnight ET but
        in the rare case of a rescheduled or overseas game with a non-standard gameday
        this could change.
      operationId: nfl_v3_scores_week___last_completed
      summary: Week - Last Completed
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - integer
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/News:
    get:
      description: Basic RotoBaller news feed, with limited stories available - usually
        0-1 stories per day. Ideal for test purposes.
      operationId: nfl_v3_scores_news
      summary: News
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/NewsByPlayerID/{playerid}:
    get:
      description: Basic RotoBaller news feed, with limited stories available - usually
        0-1 stories per day. Ideal for test purposes.
      operationId: nfl_v3_scores_news___by_player
      summary: News - by Player
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: playerid
        in: path
        description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>14257</code>.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/NewsByTeam/{team}:
    get:
      description: Basic RotoBaller news feed, with limited stories available - usually
        0-1 stories per day. Ideal for test purposes.
      operationId: nfl_v3_scores_news___by_team
      summary: News - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Schedules/{season}:
    get:
      description: Home and away teams, date and time, season type and week etc. are
        included. Also includes gameday information. This includes full stadium information
        (capacity, lat/long, surface etc.), top-line betting information (spread,
        moneyline, total), weather conditions, and broadcast information.
      operationId: nfl_v3_scores_schedules
      summary: Schedules
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples:
          <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,
          <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Schedule'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/ScoresByWeek/{season}/{week}:
    get:
      description: Full scores and gameday info delivered live and post-game. Live
        data includes down and distance, as well as game clock. Gameday info includes
        referee, weather, TV channel etc.
      operationId: nfl_v3_scores_games___by_week__live___final
      summary: Games - by Week [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Stadiums:
    get:
      description: Returns all stadiums in the NFL with capacity, surface, latitude/longitude,
        city and state (and, where applicable, country.)
      operationId: nfl_v3_scores_stadiums
      summary: Stadiums
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Stadium'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Standings/{season}:
    get:
      description: Includes regular season standings in division and conference, from
        which postseason seeding can be derived.
      operationId: nfl_v3_scores_standings
      summary: Standings
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Standing'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Teams/{season}:
    get:
      description: 'Full team information: team name and city, conference and division,
        colors, coaching and scheme info. Also contains basic fantasy info such as
        IDs as well as full stadium data. This endpoint returns the active teams for
        a given season.'
      operationId: nfl_v3_scores_team_profiles___by_season
      summary: Team Profiles - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Timeframes/{type}:
    get:
      description: Timeframes for the NFL refer to current weeks, season status etc.
      operationId: nfl_v3_scores_timeframes
      summary: Timeframes
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: type
        in: path
        description: The type of timeframes to return.  Valid entries are <code>current</code>
          or <code>upcoming</code> or <code>completed</code> or <code>recent</code>
          or <code>all</code>.
        required: true
        schema:
          type: string
          enum:
          - current
          - upcoming
          - completed
          - recent
          - all
          default: current
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Timeframe'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/UpcomingSeason:
    get:
      description: Year of the current NFL season, if we are in the mid-season. If
        we are in the off-season, then year of the next upcoming season. This value
        changes immediately after the Super Bowl. NFL seasons run across two calendar
        years; the league year is the one in which it starts, not ends (that is, a
        season starting in 2023 and ending in 2024 will have the league year of 2023.)
      operationId: nfl_v3_scores_season___upcoming
      summary: Season - Upcoming
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - integer
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/UpcomingWeek:
    get:
      description: Number of the next upcoming week of the NFL season. This value
        usually changes on Tuesday nights or Wednesday mornings at midnight ET but
        in the rare case of a rescheduled or overseas game with a non-standard gameday
        this could change.
      operationId: nfl_v3_scores_week___upcoming
      summary: Week - Upcoming
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - integer
                - 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/TeamGameStats/{season}/{week}:
    get:
      description: Returns the box score statistical record team-wide (aggregated
        from all players) for a given team's game in a given week, during the game
        and with final stats after it ends.
      operationId: nfl_v3_scores_team_game_stats__live___final
      summary: Team Game Stats [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/TeamSeasonStats/{season}:
    get:
      description: Returns all season-long stats (i.e. the season total, not each
        individual game record) for all teams (aggregated from all players) for a
        given season.
      operationId: nfl_v3_scores_team_season_stats
      summary: Team Season Stats
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamSeason'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/AllTeams:
    get:
      description: 'Full team information: team name and city, conference and division,
        colors, coaching and scheme info. Also contains basic fantasy info such as
        IDs as well as full stadium data. This endpoint returns all teams regardless
        of current active status.'
      operationId: nfl_v3_scores_team_profiles___all
      summary: Team Profiles - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/NewsByDate/{date}:
    get:
      description: Basic RotoBaller news feed, with limited stories available - usually
        0-1 stories per day. Ideal for test purposes.
      operationId: nfl_v3_scores_news___by_date
      summary: News - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the news.

          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/SimulatedScores/{numberofplays}:
    get:
      description: Gets simulated live scores of NFL games, covering the Conference
        Championship games on January 21, 2018.
      operationId: nfl_v3_scores_scores_by_week_simulation
      summary: Scores by Week Simulation
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: numberofplays
        in: path
        description: The number of plays to progress in this NFL live game simulation.
          Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>,
          <code>150</code>, <code>200</code>, etc.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Players:
    get:
      description: Full player bio and details, including injury notes, for all NFL
        players in our database.
      operationId: nfl_v3_scores_player_details___all
      summary: Player Details - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/FreeAgents:
    get:
      description: Full player bio and details, including injury notes, for all available
        NFL free agents unattached to a team.
      operationId: nfl_v3_scores_player_details___by_free_agents
      summary: Player Details - by Free Agents
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Players/{team}:
    get:
      description: Full player bio and details, including injury notes, for all available
        NFL players by team.
      operationId: nfl_v3_scores_player_details___by_team
      summary: Player Details - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Rookies/{season}:
    get:
      description: Full player bio and details, including injury notes, for all available
        NFL players by a specified draft year.
      operationId: nfl_v3_scores_player_details___by_rookie_draft_year
      summary: Player Details - by Rookie Draft Year
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.<br>Examples: <code>2018</code>, <code>2019</code>,
          etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/Referees:
    get:
      description: Returns referees with name, numbers, position (e.g. FJ for Field
        Judge), college, and years of experience.
      operationId: nfl_v3_scores_referees
      summary: Referees
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Referee'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/ScoresByDate/{date}:
    get:
      description: Full scores and gameday info delivered live and post-game. Live
        data includes down and distance, as well as game clock. Gameday info includes
        referee, weather, TV channel etc.
      operationId: nfl_v3_scores_games___by_date__live___final
      summary: Games - by Date [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the games.<br>Examples: <code>2021-SEP-12</code>,
          <code>2021-NOV-28</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Specify a season, a player, and number of games (either an integer
        or <code>all</code>) to see all of their box score logs. Refreshed after their
        most recent game is complete.
      operationId: nfl_v3_scores_player_game_logs___by_season
      summary: Player Game Logs - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Season to get games from. Example <code>2019POST</code>, <code>2020</code>        '
        required: true
        schema:
          type: string
      - name: teamid
        in: path
        description: Unique ID of team.  Example <code> 8 </code>
        required: true
        schema:
          type: string
      - name: numberofgames
        in: path
        description: How many games to return. Example <code>all</code>, <code>10</code>,
          <code>25</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGame'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/DepthCharts:
    get:
      description: Depth charts for all active players NFL teams split by offensive,
        defensive, and special teams position groupings.
      operationId: nfl_v3_scores_depth_charts___by_active
      summary: Depth Charts - by Active
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamDepthChart'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/SchedulesBasic/{season}:
    get:
      description: A lightweight schedule endpoint without gameday information. Home
        and away teams, the date and time of the game, and season type, week etc.
        are included. Ideal for the most basic information required to build a schedule.
      operationId: nfl_v3_scores_schedules__basic
      summary: Schedules (Basic)
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season (with optional season type).<br>Examples:
          <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,
          <code>2019</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/ScoresBasic/{season}/{week}:
    get:
      description: This endpoint simply delivers the game clock and quarter and total
        scores live; no down and distance and no gameday info such as weather.
      operationId: nfl_v3_scores_games__basic____by_week__live___final
      summary: Games (Basic) - by Week [Live & Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/TeamsBasic:
    get:
      description: The most basic top-line team information, such as team name and
        city, conference and division, stadium ID, coach info, and team colors. Returns
        all teams regardless of current active status.
      operationId: nfl_v3_scores_team_profiles__basic____all
      summary: Team Profiles (Basic) - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/PlayersBasic/{team}:
    get:
      description: Roster information for a given team. Player profiles include basic
        biographical information, position, college, and current team (if attached
        to a team.) Specify a team tricode parameter to receive all players currently
        on that team.
      operationId: nfl_v3_scores_player_profiles___by_team
      summary: Player Profiles - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/PlayersByAvailable:
    get:
      description: Player profiles include basic biographical information, position,
        college, and current team (if attached to a team.) This returns all players.
      operationId: nfl_v3_scores_player_profiles___all
      summary: Player Profiles - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/PlayersByFreeAgents:
    get:
      description: Player profiles include basic biographical information, position,
        college, and current team (if attached to a team.) This returns all free agents
        not currently attached to a team.
      operationId: nfl_v3_scores_player_profiles___by_free_agent
      summary: Player Profiles - by Free Agent
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/PlayersByRookieDraftYear/{season}:
    get:
      description: Player profiles include basic biographical information, position,
        college, and current team (if attached to a team.) Specify a year parameter
        to receive all player profiles from that rookie draft year.
      operationId: nfl_v3_scores_player_profiles___by_rookie_draft_year
      summary: Player Profiles - by Rookie Draft Year
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season.<br>Examples: <code>2018</code>, <code>2019</code>,
          etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/TransactionsByDate/{date}:
    get:
      description: Includes a list of transactions for a given date, with type (e.g.
        trade, injury listing, assignment) and a brief note.
      operationId: nfl_v3_scores_transactions___by_date
      summary: Transactions - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the news.

          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/ScoresByWeekFinal/{season}/{week}:
    get:
      description: Full scores and gameday info, including weather, referee, infotainment
        odds, as well as all of the quarter scores and full-time score.
      operationId: nfl_v3_scores_games___by_week__final
      summary: Games - by Week [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/ScoresByDateFinal/{date}:
    get:
      description: Full scores and gameday info, including weather, referee, infotainment
        odds, as well as all of the quarter scores and full-time score.
      operationId: nfl_v3_scores_games___by_date__final
      summary: Games - by Date [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the games.<br>Examples: <code>2021-SEP-12</code>,
          <code>2021-NOV-28</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/ScoresBasicFinal/{season}/{week}:
    get:
      description: A slimmed-down score endpoint, giving just the quarter scores and
        final score, for simple applications.
      operationId: nfl_v3_scores_games__basic____by_week__final
      summary: Games (Basic) - by Week [Final]
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScoreBasic'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/DepthChartsAll:
    get:
      description: Depth charts for all players in all NFL teams split by offensive,
        defensive, and special teams position groupings.
      operationId: nfl_v3_scores_depth_charts___all
      summary: Depth Charts - All
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamDepthChart'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/scores/{format}/DepthChartsByWeek/{season}/{week}:
    get:
      description: Depth charts for active players by week in all NFL teams split
        by offensive, defensive, and special teams position groupings.
      operationId: nfl_v3_scores_depth_charts___by_week
      summary: Depth Charts - by Week
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.   \
          \      \n"
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.         \
          \ Example: <code>1</code>        \n"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamDepthChartWeekly'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Scores
  /v3/nfl/projections/{format}/FantasyDefenseProjectionsBySeason/{season}:
    get:
      description: SportsDataIO's proprietary projections, including average draft
        position, for all fantasy defense teams for the season. Does not contain Individual
        Defensive Players (IDP), which have their own endpoint.
      operationId: nfl_v3_projections_projected_fantasy_defense_season_stats_with_adp
      summary: Projected Fantasy Defense Season Stats With ADP
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FantasyDefenseSeasonProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/projections/{format}/FantasyDefenseProjectionsByGame/{season}/{week}:
    get:
      description: SportsDataIO's proprietary projections, including DFS salary information,
        for all fantasy defense teams. Called by season and week. Does not contain
        Individual Defensive Players (IDP), which have their own endpoint.
      operationId: nfl_v3_projections_projected_fantasy_defense_game_stats_with_dfs_salaries
      summary: Projected Fantasy Defense Game Stats With DFS Salaries
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FantasyDefenseGameProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/projections/{format}/PlayerGameProjectionStatsByTeam/{season}/{week}/{team}:
    get:
      description: SportsDataIO's proprietary projections, including DFS salary information
        and injuries, for fantasy players, for a given game, called by team.
      operationId: nfl_v3_projections_projected_player_game_stats___by_team
      summary: Projected Player Game Stats - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/projections/{format}/PlayerSeasonProjectionStats/{season}:
    get:
      description: SportsDataIO's proprietary projections on a season-long basis,
        including Average Draft Position (ADP), for fantasy players, for a given season.
      operationId: nfl_v3_projections_projected_player_season_stats_with_adp
      summary: Projected Player Season Stats With ADP
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeasonProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/projections/{format}/PlayerSeasonProjectionStatsByTeam/{season}/{team}:
    get:
      description: SportsDataIO's proprietary projections on a season-long basis,
        including ADP, for fantasy players, for a given season and team.
      operationId: nfl_v3_projections_projected_player_season_stats_with_adp___by_team
      summary: Projected Player Season Stats With ADP - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerSeasonProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/projections/{format}/PlayerGameProjectionStatsByWeek/{season}/{week}:
    get:
      description: SportsDataIO's proprietary projections, including DFS salary information
        and injuries, for fantasy players, called by week.
      operationId: nfl_v3_projections_projected_player_game_stats___by_week
      summary: Projected Player Game Stats - by Week
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/projections/{format}/DfsSlatesByDate/{date}:
    get:
      description: Returns DFS slates, including eligible games, positions, captain
        mode, players and salaries, for a given date.
      operationId: nfl_v3_projections_dfs_slates___by_date
      summary: DFS Slates - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the slates.

          <br>Examples: <code>2017-SEP-25</code>, <code>2017-10-31</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DfsSlate'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/projections/{format}/DfsSlatesByWeek/{season}/{week}:
    get:
      description: Returns DFS slates, including eligible games, positions, captain
        mode, players and salaries, for a given week.
      operationId: nfl_v3_projections_dfs_slates___by_week
      summary: DFS Slates - by Week
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>"
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DfsSlate'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/projections/{format}/IdpPlayerGameProjectionStatsByWeek/{season}/{week}:
    get:
      description: Individual Defensive Player (IDP stats, including DFS salary information
        and injuries, for fantasy players, called by week.
      operationId: nfl_v3_projections_idp_projected_player_game_stats___by_week
      summary: IDP Projected Player Game Stats - by Week
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/projections/{format}/IdpPlayerGameProjectionStatsByTeam/{season}/{week}/{team}:
    get:
      description: Individual Defensive Player (IDP stats, including DFS salary information
        and injuries, for fantasy players, called by team.
      operationId: nfl_v3_projections_idp_projected_player_game_stats___by_team
      summary: IDP Projected Player Game Stats - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: "Week of the season. Valid values are as follows: Preseason 0\
          \ to 4, Regular Season 1 to 17, Postseason 1 to 4.\n          Example: <code>1</code>\n\
          \        "
        required: true
        schema:
          type: string
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/projections/{format}/UpcomingDfsSlateOwnershipProjections:
    get:
      description: Returns DFS Slates which have not yet started for which we have
        DFS Ownership projections.
      operationId: nfl_v3_projections_dfs_slate_ownership_projections___upcoming
      summary: DFS Slate Ownership Projections - Upcoming
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DfsSlateWithOwnershipProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/projections/{format}/DfsSlateOwnershipProjectionsBySlateID/{slateId}:
    get:
      description: Slate Ownership Projections for a specific slate. Projections are
        for Guaranteed Prize Pool (GPP) format ownership. Will return an empty list
        if the slate is not yet projected or not a slate we have projections for.
      operationId: nfl_v3_projections_dfs_slate_ownership_projections___by_slate
      summary: DFS Slate Ownership Projections - by Slate
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: slateId
        in: path
        description: SlateID of the DFS Slate you wish to get ownership projections
          for. Will have an empty SlateOwnershipProjections if this slate was not
          projected
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DfsSlateWithOwnershipProjection'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/projections/{format}/InjuredPlayers:
    get:
      description: This endpoint provides all currently injured NFL players, along
        with injury details.
      operationId: nfl_v3_projections_player_details___by_injured
      summary: Player Details - by Injured
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Projections
  /v3/nfl/news-rotoballer/{format}/RotoBallerPremiumNews:
    get:
      description: RotoBaller's Premium News feed, with the latest updated stories
        in greater detail.
      operationId: nfl_v3_news_rotoballer_premium_news
      summary: Premium News
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 RotoBaller Premium News
  /v3/nfl/news-rotoballer/{format}/RotoBallerPremiumNewsByDate/{date}:
    get:
      description: RotoBaller's Premium News feed, with the latest updated stories
        in greater detail called by date.
      operationId: nfl_v3_news_rotoballer_premium_news___by_date
      summary: Premium News - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the news.

          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 RotoBaller Premium News
  /v3/nfl/news-rotoballer/{format}/RotoBallerPremiumNewsByTeam/{team}:
    get:
      description: RotoBaller's Premium News feed, with the latest updated stories
        in greater detail called by team.
      operationId: nfl_v3_news_rotoballer_premium_news___by_team
      summary: Premium News - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/News'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 RotoBaller Premium News
  /v3/nfl/odds/{format}/GameOddsByWeek/{season}/{week}:
    get:
      description: Returns the full-game core odds for games in a given week & season.
        This means moneyline, spread, and total. Only returns the most recently seen
        odds, not-including line movement.
      operationId: nfl_v3_odds_pre_game_odds___by_week
      summary: Pre-Game Odds - by Week
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season, with optional season type. <br>Examples:
          <code>2018</code>, <code>2018POST</code>, etc.'
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: 'The week of the scores (games). <br>Examples: <code>1</code>,
          <code>2</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Odds
  /v3/nfl/odds/{format}/GameOddsLineMovement/{scoreid}:
    get:
      description: Returns the full-game core odds for a given ScoreID. This means
        moneyline, spread, and total. Only returns the most recently seen odds, not-including
        line movement. This endpoint has a longer cache as it is meant for historical
        data/line movement rather than the most up to the second line.
      operationId: nfl_v3_odds_pre_game_odds_line_movement
      summary: Pre-Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: scoreid
        in: path
        description: The ScoreID of an NFL score (game).  ScoreIDs can be found in
          the Scores API.  Valid entries are <code>16654</code> or <code>16667</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Odds
  /v3/nfl/odds/{format}/LiveGameOddsByWeek/{season}/{week}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games
        in a given week and season. Only returns the most recently seen odds, not
        inclusive of line movement. As this is in-game, it will only return results
        while the game is in progress.
      operationId: nfl_v3_odds_in_game_odds___by_week
      summary: In-Game Odds - by Week
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season, with optional season type. <br>Examples:
          <code>2018</code>, <code>2018POST</code>, etc.'
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: 'The week of the scores (games). <br>Examples: <code>1</code>,
          <code>2</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Odds
  /v3/nfl/odds/{format}/LiveGameOddsLineMovement/{scoreid}:
    get:
      description: Returns in-play game odds (spread, moneyline, total) for games
        in a given week and season. Returns the full line movement for the given game.
        This endpoint has a longer cache as it is meant for historical data/line movement
        rather than the most up to the second line.
      operationId: nfl_v3_odds_in_game_odds_line_movement
      summary: In-Game Odds Line Movement
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: scoreid
        in: path
        description: The ScoreID of an NFL score (game).  ScoreIDs can be found in
          the Scores API.  Valid entries are <code>16654</code> or <code>16667</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Odds
  /v3/nfl/odds/{format}/AlternateMarketGameOddsByWeek/{season}/{week}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games
        in a given week and season. Non-full-game means 1st-half or 1st-quarter, for
        example, rather than full game. Only returns the most recently seen odds,
        not inclusive of line movement.
      operationId: nfl_v3_odds_period_game_odds___by_week
      summary: Period Game Odds - by Week
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season, with optional season type. <br>Examples:
          <code>2018</code>, <code>2018POST</code>, etc.'
        required: true
        schema:
          type: string
      - name: week
        in: path
        description: 'The week of the scores (games). <br>Examples: <code>1</code>,
          <code>2</code>, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Odds
  /v3/nfl/odds/{format}/AlternateMarketGameOddsLineMovement/{scoreid}:
    get:
      description: Returns the non-full-game odds (spread, moneyline, total) for games
        in a given week and season. Non-full-game means 1st-half or 1st-quarter, for
        example, rather than full game. Only returns the most recently seen odds,
        not inclusive of line movement.
      operationId: nfl_v3_odds_period_game_odds_line_movement
      summary: 'Period Game Odds Line Movement '
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: scoreid
        in: path
        description: The ScoreID of an NFL score (game).  ScoreIDs can be found in
          the Scores API.  Valid entries are <code>16654</code> or <code>16667</code>
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Odds
  /v3/nfl/odds/{format}/TeamTrends/{team}:
    get:
      description: Describes recent team trends and performance against betting data
        in recent sets of games.
      operationId: nfl_v3_odds_betting_trends___by_team
      summary: Betting Trends - by Team
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'Abbreviation of a team. Example: <code>PHI</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamTrends'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Odds
  /v3/nfl/odds/{format}/MatchupTrends/{team}/{opponent}:
    get:
      description: Returns trends data for a given pairing of teams. Will return data
        even if the teams are not set to play this season. Intended for use on a specific
        game, though it will work for other comparisons if applicable.
      operationId: nfl_v3_odds_betting_trends___by_matchup
      summary: Betting Trends - by Matchup
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: team
        in: path
        description: 'Abbreviation of a team. Example: <code>PHI</code>.'
        required: true
        schema:
          type: string
      - name: opponent
        in: path
        description: 'Abbreviation of an opponent. Example: <code>NE</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchupTrends'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Odds
  /v3/nfl/odds/{format}/BettingEventsByDate/{date}:
    get:
      description: The list of current BettingEvents for the given date, from which
        Betting Market data can be gathered via the Betting Markets by Event endpoint,
        for all available Betting Market types (e.g. Player Props, Team Props.)
      operationId: nfl_v3_odds_betting_events___by_date
      summary: Betting Events - by Date
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: date
        in: path
        description: 'The date of the game(s). <br>Examples: <code>2020-09-10</code>,
          <code>2020-09-13</code>.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Odds
  /v3/nfl/odds/{format}/BettingEvents/{season}:
    get:
      description: The list of current BettingEvents for the given season, from which
        Betting Market data can be gathered via the Betting Markets by Event endpoint,
        for all available Betting Market types (e.g. Player Props, Team Props.)
      operationId: nfl_v3_odds_betting_events___by_season
      summary: Betting Events - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
        description: 'Year of the season<br>Examples: <code>2020</code>, <code>2021</code>,
          etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BettingEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
      tags:
      - NFL v3 Odds
  /v3/nfl/odds/{format}/BettingFuturesBySeason/{season}:
    get:
      description: Returns available Futures markets for the given season. Does not
        include line movement.
      operationId: nfl_v3_odds_betting_futures___by_season
      summary: Betting Futures - by Season
      parameters:
      - name: format
        in: path
        description: Desired response format. Valid entries are <code>JSON</code>
          or <code>XML</code>.
        required: true
        schema:
          type: string
          enum:
          - JSON
          - XML
          default: JSON
      - name: season
        in: path
[...]
